template(name='session_edit_button')
    if currentUser
        unless is_editing
            .edit_this.ui.small.button(title="Edit #{tags}" class=button_classes)
                i.pencil.icon
                |edit
        else
            .save_doc.ui.green.button(class=button_classes)
                i.check.icon
                |save


template(name='detect')
    .ui.icon.big.button.detect_fields(title='detect fields')
        i.dna.icon
        //- |Detect Fields


template(name='session_edit_icon')
    if currentUser
        unless is_editing
            i.pencil.link.icon.edit_this(title=tags class=button_classes)
        else
            .save_doc.ui.icon.button(class=button_classes title='save')
                i.green.check.icon

template(name='edit_button')
    a.ui.icon.compact.button(href="/m/#{model}/#{_id}/edit" title='edit')
        i.pencil.icon
        
