template(name='home')
    .ui.stackable.padded.grid
        .sixteen.wide.column.scrolling
            .ui.stackable.four.column.grid 
                .column
                    +latest_activity
                .column
                    +latest_posts
                .column
                    +groups_small
                .column
                    +poll_widget
                .column
                    +checkin_widget
                .column
                    +public_notes_widget
                .column
                    +food_widget
                .column
                    +inbox_widget
                .column
                    +rental_widget
                .column
                    +product_widget
                .column
                    +services_widget
                .column
                    +recent_users
        .sixteen.wide.column
            +ad_block
            
template(name='recent_users')
    a.ui.center.aligned.header(href="/users")
        +i name='groups' cl='ui avatar image'
        |users
    .ui.selection.animated.list
        each dashboard_users
            a.item(href="/user/#{username}") #{username}
                img.ui.avatar.image(src=user.profile.profilePic title=name)
                |#{title}
            
template(name='rental_widget')
    a.ui.center.aligned.header.zoomer(href="/rentals")
        +i name='clock' cl='ui avatar image'
        | rentals
    .ui.selection.animated.list.smallscroll
        each top_rentals
            a.item(href="/rental/#{_id}/")
                img.ui.avatar.image(src="{{c.url image_id width=200 height=200 gravity='face' crop='fill'}}")
                |#{title}

template(name='inbox_widget')
    a.ui.center.aligned.header.zoomer(href="/inbox" title='go to inbox')
        +i name='inbox' cl='ui avatar image'
        |inbox
    .ui.selection.animated.list.smallscroll
        each my_messages
            a.item(href="/message/#{_id}/")
                img.ui.avatar.image(src="{{c.url image_id width=200 height=200 gravity='face' crop='fill'}}")
                |!{body}
    +compose_message_icon

template(name='food_widget')
    a.ui.center.aligned.header.zoomer(href="/food")
        +i name='food' cl='ui avatar image'
        |food
    .ui.selection.animated.list.smallscroll
        each top_food
            a.item(href="/food/#{_id}/")
                img.ui.avatar.image(src="{{c.url image_id width=200 height=200 gravity='face' crop='fill'}}")
                |#{title}



template(name='public_notes_widget')
    // .ui.segment.zoomer
    a.ui.center.aligned.header(href="/chat")
        +i name='pencil' cl='ui avatar image'
        |public notes
    .ui.fluid.icon.input
        i.plus.icon
        input.add_note(type='input' placeholder='add note')
    .ui.list.smallscroll
        each public_note_docs
            .item
                |#{body}
                small #{when}



template(name='ad_block')
    with ad_doc 
        .ui.header #{title}
    .ui.grey.header 
        |advertise
            
            
            
template(name='product_widget')
    // .ui.segment
    a.ui.center.aligned.header.zoomer(href="/products")
        +i name='shop' cl='ui avatar image'
        | products
    .ui.selection.animated.list.smallscroll
        each top_products
            a.item(href="/product/#{_id}/")
                img.ui.avatar.image(src="{{c.url image width=200 height=200 gravity='face' crop='fill'}}")
                |#{title}



template(name='services_widget')
    a.ui.center.aligned.header(href="/services")
        +i name='work' cl='ui avatar image'
        | services
    .ui.selection.animated.list
        each top_services
            a.item(href="/service/#{_id}/")
                img.ui.avatar.image(src="{{c.url image width=200 height=200 gravity='face' crop='fill'}}")
                |#{title}

template(name='checkin_widget')            
    a.ui.center.aligned.header(href="/checkins")
        +i name='checkin' cl='ui avatar image'
        |checkins
    .ui.header #{current_checkins_count} currently checked in
    if checked_in
        .ui.inline.header checked in
        .ui.button.checkout
            |checkout
    else 
        .ui.button.checkin
            |checkin

            
            
template(name='poll_widget')
    a.ui.center.aligned.header(href="/polls")
        +i name='poll' cl='ui avatar image'
        |polls
    with latest_poll
        +take_poll

template(name='latest_posts')            
    a.ui.center.aligned.header(href="/posts")
        +i name='blog' cl='ui avatar image'
        |latest posts
    .ui.selection.animated.list.smallscroll
        each latest_post_docs
            a.item(href="/post/#{_id}") 
                .content
                    .header #{title}
                    .meta
                        |#{when}
                        |#{_author_username}
            
            
template(name='take_poll')
    with current_poll
        .ui.header #{title}
        each option
            .ui.big.button 
                |#{title}


template(name='compose_message_icon')
    i.plus.circular.link.icon.zoomer.new_message