template(name='facet_staff_select')
    if facet_doc
        with facet_doc
            if is_editing
                .ui.label select staff
                .ui.labeled.fluid.input
                    input#staff(type='text' value=staff)
            else
                div(class=doc_classes)
                    |#{staff}
            if is_admin
                +session_edit_icon
    else
        if is_admin
            .ui.header no doc found
            .create_doc.ui.button
                i.plus.icon
                |create doc with #{template_tags}

template(name='inline_doc')
    if inline_doc
        with inline_doc
            if is_editing
                .ui.form
                    .field
                        label edit
                        textarea#body(rows='3') #{body}
            else
                if body
                    div(class=doc_classes)
                        |{{nl2br body}}
            if is_staff
                +session_edit_icon
    else
        if is_admin
            .ui.header no doc found
            .create_doc.ui.inline.button
                i.plus.icon
                |create #{slug} doc
