template(name='nav')
    // https://fomantic-ui.com/elements/icon.html#/icon
    // #topnav.topnav.ui.attached.borderless.big.menu.hscroll(style="background-color:#{currentUser.theme_color_main}")
    #topnav.topnav.ui.attached.borderless.menu.hscroll(class=darkmode_class)
        // if is_loading
        //     .icon.item
        //         i.big.loading.grey.refresh.icon.cancel
        // else 
        a.icon.item.toggle_leftbar
            i.large.bars.grey.icon
        a.header.icon.item.zoomer(href='/' class="{{isActivePath '/'}}" title='goldrun')
            +ibig name='one-ring'
            // i.large.home.icon
            unless currentUser.hide_menu_labels
                span.mobile.hidden goldrun
        +top_nav_item key='users' icon='groups' label='users'
        
        a.icon.item.zoomer(href='/search' class="{{isActivePath '/search'}}" title='search')
            +i name='search'
        .right.menu
            if currentUser
                a.icon.item(href="/add")
                    +i name='plus'
                if currentUser.is_admin
                    +i name='shield'
                a.icon.item(href="/mail/inbox")
                    +i name='inbox'
                a.item.toggle_topbar.mobile.hidden(title='alerts')
                    +i name='notification'
                a.item(href="/user/#{currentUser.username}" class=user_nav_button_class title='profile')
                    if currentUser.image_id
                        img.ui.avatar.image(src="{{c.url currentUser.image_id width=200 height=200 gravity='face' crop='fill'}}")
                    else
                        i.user.icon
                    strong #{currentUser.name}
                    strong #{currentUser.points}p
                a.icon.item.toggle_rightbar.no_blink
                    // .ui.avatar.image
                    //     if currentUser.image_id
                    //         img.ui.mini.inline.image(src="{{c.url currentUser.image_id width=200 height=200 gravity='face' crop='fill'}}")
                    //     else
                    //         i.user.big.icon
                    // strong.mobile.hidden #{currentUser.name}
                    i.bars.large.grey.icon
            unless subs_ready
                .icon.item
                    i.yin.yang.large.loading.icon
            unless currentUser
                a.item(href="/register" title='register')
                    +i name='plus'
                    span.mobile.hidden register            
                a.item(href='/login' title='login') 
                    // i.sign.in.big.icon
                    +i name='internal'
                    span.mobile.hidden login
    .ui.attached.borderless.small.menu.hscroll(class=darkmode_class)
        +top_nav_item key='events' icon='calendar' label='events'
        +top_nav_item key='posts' icon='blog' label='posts'
        +top_nav_item key='groups' icon='campfire' label='groups'
        +top_nav_item key='transfers' icon='exchange' label='transfers'
        +top_nav_item key='requests' icon='megaphone' label='requests'
        +top_nav_item key='products' icon='shop' label='products'
        +top_nav_item key='services' icon='service' label='services'
        // +top_nav_item key='rentals' icon='clock' label='rentals'
        // +top_nav_item key='reviews' icon='megaphone' label='reviews'
        // +top_nav_item key='tasks' icon='tasks' label='tasks'
            
                
template(name='top_nav_item')
    a.icon.item.zoomer.fly_right(href="/#{key}" class="{{isActiveRoute key}}" title=key)
        // i.large.users.icon
        +i name=icon
        unless currentUser.hide_menu_labels
            .mobile.hidden #{label} 


                

template(name='my_latest_activity')
    .ui.grey.header 
        i.grey.rss.icon
        |your activity
    .ui.list
        each my_latest_activity
            .item 
                img.ui.avatar.image(src="{{c.url author.kiosk_photo width=200 height=200 gravity='face' crop='fill'}}")
                |#{text} #{body}
                small #{when}


template(name='topbar')
    .ui.fluid.attached.segment.topbar.top.sidebar(class=darkmode_class)
        .ui.middle.aligned.divided.list
        .ui.list
            each recent_alerts
                +recent_alert
        a.ui.basic.button.item.close_topbar(href="/inbox")
            i.inbox.icon
            |inbox
        
template(name='recent_alert')        
    .item.alert
        .right.floated.content
            i.eye.link.icon.mark_read(title='mark read')
        img.ui.avatar.image(src="{{c.url author.image_id height=200 width=200 gravity='face' crop='fill'}}")
        .content
            .header
                |#{description} 
            .description #{author.name} #{when}
            
            
            
template(name='rightbar')
    .ui.right.sidebar.vertical.small.menu.rightbar
        with currentUser
            +right_nav_item route=null label='dashboard' icon='dashboard'
            a.item.toggle_rightbar.no_blink(href="/user/#{currentUser.username}" class="{{isActiveRoute 'user_layout'}}")
                img.ui.avatar.compact.image(src="{{c.url currentUser.image_id height=200 width=200 gravity='face' crop='fill'}}")
                |#{currentUser.name}
            // a.item.toggle_rightbar(href="/user/#{username}" class="{{isActiveRoute regex='user_dashboard'}}")
            //     +i name='dashboard' cl='ui avatar image'
            //     // i.dashboard.icon
            //     |dashboard
            a.item.zoomer.toggle_darkmode.toggle_rightbar
                if darkmode
                    +i name='checkmark'
                else
                    +i name='light'
                |dark mode
            +right_nav_item route='points' label='points' icon='coins'
            +right_nav_item route='orders' label='orders' icon='check'
            +right_nav_item route='subscriptions' label='subscriptions' icon='check'
            +right_nav_item route='social' label='social' icon='friends'
            +right_nav_item route='cart' label='cart' icon='shopping-cart'
            // .ui.divider
            +right_nav_item route='edit' label='account' icon='settings'
            a.item.logout
                if is_logging_out
                    i.refresh.loading.large.icon
                else
                    +i name='exit-sign' cl='ui avatar image'
                    // i.sign.out.icon
                |logout
        else 
            a.item.toggle_rightbar(href="/login" class="{{isActiveRoute 'login'}}")
                +i name='internal' cl='ui avatar image'
                |login
            a.item.toggle_rightbar(href="/register" class="{{isActiveRoute 'register'}}")
                +i name='plus' cl='ui avatar image'
                |register



template(name='right_nav_item')
    a.item.toggle_rightbar.zoomer(href="/user/#{currentUser.username}/#{route}" class="{{isActiveRoute regex='user_dashboard'}}")
        +i name=icon cl='ui avatar image'
        // i.dashboard.icon
        |#{label}


template(name='leftbar')
    .ui.left.sidebar.ui.vertical.small.menu
        +leftbar_item key='chat' icon='chat'
        +leftbar_item key='products' icon='shop'
        +leftbar_item key='transfers' icon='exchange'
        +leftbar_item key='orders' icon='order-history'
        +leftbar_item key='posts' icon='blog'
        +leftbar_item key='groups' icon='campfire'
        +leftbar_item key='requests' icon='hand-holding-heart'
        +leftbar_item key='services' icon='wrench'
        +leftbar_item key='rentals' icon='clock'
        +leftbar_item key='users' icon='groups'
            
template(name='leftbar_item')    
    a.item.zoomer.fly_right.toggle_leftbar(href="/#{key}")
        // i.large.inbox.icon
        +i name=icon
        span #{key}
                
                
template(name='footer')
    .ui.fluid.segment.stackable.grid
        .two.column.row
            .column
                if currentUser.admin
                    with currentUser
                        +boolean_edit key='admin_mode' label='admin mode'
                if in_dev
                    .ui.header 
                        i.blog.icon
                        |docs
                    each all_docs 
                        .ui.label #{title} #{model}
            if in_dev
                .column
                    .ui.header 
                        i.users.icon
                        |users
                    each all_users
                        a.ui.label.fly_down(href="/user/#{username}") #{username}