template(name='nav')
    // https://fomantic-ui.com/elements/icon.html#/icon
    // #topnav.topnav.ui.attached.borderless.big.menu.hscroll(style="background-color:#{currentUser.theme_color_main}")
    #topnav.topnav.ui.attached.borderless.menu.hscroll
        // if is_loading
        //     .icon.item
        //         i.big.loading.grey.refresh.icon.cancel
        // else 
        a.icon.item.toggle_leftbar
            i.large.bars.icon
        a.header.icon.item.zoomer(href='/' class="{{isActivePath '/'}}" title='goldrun')
            +i name='one-ring'
            // i.large.home.icon
            // span.mobile.hidden goldrun
        a.icon.item.fly_right(href="/groups" class="{{isActiveRoute 'groups'}}" title='groups')
            // i.large.users.icon
            +i name='campfire'
            // .mobile.hidden groups
        a.icon.item.fly_right(href="/posts" class="{{isActiveRoute 'posts'}}" title='posts')
            // i.large.users.icon
            +i name='blog'
            // .mobile.hidden groups
        a.icon.item.fly_right(href="/users" class="{{isActiveRoute 'users'}}" title='users')
            // i.large.users.icon
            +i name='groups'
            // .mobile.hidden people
        a.icon.item.fly_right(href="/events" class="{{isActiveRoute 'events'}}" title='events')
            // i.large.calendar.icon
            +i name='calendar'
            // span.mobile.hidden events
        a.icon.item.fly_right.mobile.hidden(href="/products" class="{{isActiveRoute 'products'}}" title='products')
            // i.large.calendar.icon
            +i name='shop'
            // span products
        // .ui.icon.transparent.input.mobile.hidden
        //     i.search.icon
        //     input.global_search(type='text' placeholder='...')
        // .item     
        //     each search_results
        //         .ui.label #{this}
        .right.menu
            if currentUser
                a.icon.item(href="/add")
                    +i name='plus'
                if currentUser.is_admin
                    +i name='shield'
                a.icon.item(href="/inbox")
                    // i.large.inbox.icon
                    +i name='inbox'
                a.item.toggle_topbar.mobile.hidden(title='alerts')
                    // i.wallet.icon
                    // .ui.avatar.image.bell
                    +i name='notification'
                a.item(href="/user/#{currentUser.username}" class=user_nav_button_class title='profile')
                    if currentUser.image_id
                        img.ui.avatar.image(src="{{c.url currentUser.image_id width=200 height=200 gravity='face' crop='fill'}}")
                    else
                        i.user.icon
                    strong #{currentUser.name}
                    strong #{currentUser.points}p
                a.icon.item.toggle_rightbar.no_blink
                    // .ui.avatar.image
                    //     if currentUser.image_id
                    //         img.ui.mini.inline.image(src="{{c.url currentUser.image_id width=200 height=200 gravity='face' crop='fill'}}")
                    //     else
                    //         i.user.large.icon
                    // strong.mobile.hidden #{currentUser.name}
                    i.bars.large.grey.icon
            unless subs_ready
                .icon.item
                    i.yin.yang.large.loading.icon
            unless currentUser
                a.item(href="/register" title='register')
                    +i name='plus'
                    span.mobile.hidden register            
                a.item(href='/login' title='login') 
                    // i.sign.in.large.icon
                    +i name='internal'
                    span.mobile.hidden login
        
                

template(name='my_latest_activity')
    .ui.grey.header 
        i.grey.rss.icon
        |your activity
    .ui.list
        each my_latest_activity
            .item 
                img.ui.avatar.image(src="{{c.url author.kiosk_photo width=200 height=200 gravity='face' crop='fill'}}")
                |#{text} #{body}
                small #{when}


template(name='topbar')
    .ui.fluid.attached.segment.topbar.top.sidebar
        .ui.middle.aligned.divided.list
        .ui.list
            each recent_alerts
                +recent_alert
        a.ui.basic.button.item.close_topbar(href="/inbox")
            i.inbox.icon
            |inbox
        
template(name='recent_alert')        
    .item.alert
        .right.floated.content
            i.eye.link.icon.mark_read(title='mark read')
        img.ui.avatar.image(src="{{c.url author.image_id height=200 width=200 gravity='face' crop='fill'}}")
        .content
            .header
                |#{description} 
            .description #{author.name} #{when}
            
            
            
template(name='rightbar')
    .ui.right.sidebar.vertical.small.menu.rightbar
        a.item.toggle_rightbar.no_blink(href="/user/#{currentUser.username}" class="{{isActiveRoute 'user_layout'}}")
            img.ui.avatar.compact.image(src="{{c.url currentUser.image_id height=200 width=200 gravity='face' crop='fill'}}")
            |#{currentUser.name}
        with currentUser
            a.item.toggle_rightbar(href="/user/#{username}" class="{{isActiveRoute regex='user_dashboard'}}")
                +i name='dashboard' cl='ui avatar image'
                // i.dashboard.icon
                |dashboard
            a.item.toggle_rightbar(href="/user/#{username}/credit" class="{{isActiveRoute regex='user_credit'}}")
                +i name='money' cl='ui avatar image'
                // i.coins.icon
                |credit
            a.item.toggle_rightbar(href="/user/#{username}/orders" class="{{isActiveRoute 'user_orders'}}")
                +i name='check' cl='ui avatar image'
                |orders
            a.item.toggle_rightbar(href="/user/#{username}/subscriptions" class="{{isActiveRoute 'user_subscriptions'}}")
                +i name='clock' cl='ui avatar image'
                |subscriptions
            // a.item.toggle_rightbar(href="/user/#{username}/pantry" class="{{isActiveRoute 'user_pantry'}}")
            //     +i name='cupboard' cl='ui avatar image'
            //     |pantry
            a.item.toggle_rightbar(href="/user/#{username}/friends" class="{{isActiveRoute 'user_friends'}}")
                +i name='friends' cl='ui avatar image'
                |friends
            a.item.toggle_rightbar(href="/user/#{username}/cart" class="{{isActiveRoute 'user_cart'}}")
                +i name='shopping-cart' cl='ui avatar image'
                |cart
            a.item.toggle_rightbar(href="/work" class="{{isActiveRoute 'work'}}")
                +i name='trust' cl='ui avatar image'
                |work
            a.item.toggle_rightbar(href="/user/#{username}/trips" class="{{isActiveRoute 'user_trips'}}")
                +i name='bicycle' cl='ui avatar image'
                |trips
            // .ui.divider
            a.item.toggle_rightbar.no_blink(href="/user/#{currentUser.username}/edit" title='edit your account')
                +i name='settings' cl='ui avatar image'
                |settings
        else 
            a.item.logout
                if is_logging_out
                    i.refresh.loading.icon
                else
                    +i name='exit-sign' cl='ui avatar image'
                    // i.sign.out.icon
                |logout



template(name='leftbar')
    .ui.left.sidebar.ui.vertical.small.menu
        a.item.zoomer.fly_right.toggle_leftbar(href="/chat")
            // i.large.inbox.icon
            +i name='chat'
            span chat 
        a.zoomer.item.fly_right.toggle_leftbar(href="/tasks" class="{{isActiveRoute 'tasks'}}" title='tasks')
            // i.large.users.icon
            +i name='task'
            span tasks 
        a.zoomer.item.fly_right.toggle_leftbar(href="/products" class="{{isActiveRoute 'products'}}" title='products')
            // i.large.users.icon
            +i name='shop'
            span products 
        a.icon.item.zoomer.fly_right.toggle_leftbar(href="/transfers" class="{{isActiveRoute 'transfers'}}" title='transfers')
            // i.large.users.icon
            +i name='exchange'
            span transfers 
        a.icon.item.zoomer.fly_right.toggle_leftbar(href="/orders" class="{{isActiveRoute 'orders'}}" title='orders')
            // i.large.users.icon
            +i name='order-history'
            span orders 
        a.zoomer.item.fly_right.toggle_leftbar(href="/posts" class="{{isActiveRoute 'posts'}}" title='posts')
            // i.large.users.icon
            +i name='blog'
            span posts 
        a.zoomer.item.fly_right.toggle_leftbar(href="/groups" class="{{isActiveRoute 'groups'}}" title='groups')
            // i.large.fire.icon
            +i name='campfire'
            span groups
        a.zoomer.item.fly_right.toggle_leftbar(href="/requests" class="{{isActiveRoute 'requests'}}" title='requests')
            // i.large.fire.icon
            +i name='hand-holding-heart'
            span requests
        a.zoomer.item.fly_right.toggle_leftbar(href="/services" class="{{isActiveRoute 'services'}}" title='services')
            // i.large.fire.icon
            +i name='wrench'
            span services
        a.zoomer.item.fly_right.toggle_leftbar(href="/buildings" class="{{isActiveRoute 'buildings'}}" title='buildings')
            // i.large.exchange.icon
            +i name='apartment'
            span buildings
        a.zoomer.item.fly_right.toggle_leftbar(href="/rentals" class="{{isActiveRoute 'rentals'}}" title='rentals')
            // i.large.exchange.icon
            +i name='clock'
            span rentals
        a.zoomer.item.fly_right.toggle_leftbar(href="/units" class="{{isActiveRoute 'units'}}" title='units')
            // i.large.exchange.icon
            +i name='room'
            span units
        a.item.toggle_leftbar.no_blink(href="/users" class="{{isActiveRoute '/users'}}")
            +i name='groups'
            | users
            
                
                
template(name='footer')
    .ui.fluid.segment.stackable.grid
        .three.column.row
            .column
                a.ui.header(href="/") 
                    +i name='one-ring'
                    |goldrun community
                if currentUser.admin
                    with currentUser
                        +boolean_edit key='admin_mode' label='admin mode'
            .column
                .ui.dividing.header 
                    |Customer Care
                .ui.link.large.animated.list
                    if currentUser
                        a.item.zoomer(href="/user/#{currentUser.username}/" class="{{isActiveRoute 'transfers'}}" ) 
                            |My Account
                    else    
                        a.item.zoomer(href="/login" class="{{isActiveRoute 'transfers'}}" ) 
                            |My Account
                    a.item.zoomer(href="/privacy" class="{{isActiveRoute 'privacy'}}" ) Privacy Policy
                    a.item.zoomer(href="/terms" class="{{isActiveRoute 'terms'}}" ) Terms & Conditions
                    a.item.zoomer(href="/faqs" class="{{isActiveRoute 'faqs'}}" ) FAQs
                    // a.item.zoomer(href="https://trello.com/invite/b/0g5gAYUv/f138e7f3cdd7d8997d895818eca500b2/website" target='_window') Trello Board
            .column
                .ui.dividing.header
                    |Company Information
                .ui.link.large.animated.list
                    a.item.zoomer(href="/contact" class="{{isActiveRoute 'contact'}}" ) Contact Us
                    a.item.zoomer(href="/about" class="{{isActiveRoute 'about'}}" ) About Us
                    a.item.zoomer(href="/testimonials" class="{{isActiveRoute 'testimonials'}}" ) Testimonials
                    a.item.zoomer(href="/corporate_services" class="{{isActiveRoute 'corporate_services'}}" ) Corporate Services
                    a.item.zoomer(href="/organizations" class="{{isActiveRoute 'organizations'}}" ) Organizations
                