template(name='nav')
    // https://fomantic-ui.com/elements/icon.html#/icon
    // #topnav.topnav.ui.attached.borderless.big.menu.hscroll(style="background-color:#{currentUser.theme_color_main}")
    #topnav.topnav.ui.attached.borderless.big.five.item.menu.hscroll(class=darkmode_class)
        // if is_loading
        //     .icon.item
        //         i.big.loading.grey.refresh.icon.cancel
        // else 
        // a.icon.item.toggle_leftbar
        //     i.large.bars.grey.icon
        +top_nav_item key='docs' icon='cube' label='docs'
        +top_nav_item key='users' icon='groups' label='users'
        // a.icon.item.zoomer(href='/search' class="{{isActivePath '/search'}}" title='search')
        //     +i name='search'
        //     span.mobile.hidden
        //         unless currentUser.hide_menu_labels
        //             |search
        if currentUser
            a.icon.item(href="/mail/inbox")
                +i name='inbox'
            a.item(href="/user/#{currentUser.username}" class=user_nav_button_class title='profile')
                if currentUser.image_id
                    img.ui.avatar.image(src="{{c.url currentUser.image_id width=200 height=200 gravity='face' crop='fill'}}")
                else
                    i.user.icon
                strong #{currentUser.username}
                |&nbsp;
                small (#{currentUser.points}p)
            // a.icon.item.toggle_rightbar.no_blink
            //     // .ui.avatar.image
            //     //     if currentUser.image_id
            //     //         img.ui.mini.inline.image(src="{{c.url currentUser.image_id width=200 height=200 gravity='face' crop='fill'}}")
            //     //     else
            //     //         i.user.big.icon
            //     // strong.mobile.hidden #{currentUser.name}
            //     i.bars.large.grey.icon
        unless subs_ready
            .icon.item
                i.yin.yang.large.loading.icon
        unless currentUser
            a.item(href="/register" title='register')
                +i name='plus'
                span.mobile.hidden register            
            a.item(href='/login' title='login') 
                // i.sign.in.big.icon
                +i name='internal'
                span.mobile.hidden login
        
                
template(name='top_nav_item')
    a.item.zoomer.fly_right(href="/#{key}" class="{{isActiveRoute key}}" title=key)
        // i.large.users.icon
        +i name=icon
        |#{label}


                


                
template(name='footer')
    .ui.fluid.segment.stackable.grid
        .two.column.row
            .column
                if currentUser.admin
                    with currentUser
                        +boolean_edit key='admin_mode' label='admin mode'
                if in_dev
                    .ui.header 
                        i.blog.icon
                        |docs
                    each all_docs 
                        .ui.label #{title} #{model}
                            +print_this
            if in_dev
                .column
                    .ui.header 
                        |results
                    each result_docs 
                        .ui.label #{name} #{count}
                    .ui.header 
                        i.users.icon
                        |users
                    each all_users
                        a.ui.label.fly_down(href="/user/#{username}") #{username}