template(name='footer')
    .ui.fluid.inverted.segment.stackable.grid.alpha
        .two.column.row
            .column
                // .ui.accordion
                //     .title.zoomer
                //         .ui.small.inline.header 
                //             |goldrun is community supported and will never sell your info
                //         // i.dropdown.grey.icon
                //     .content
                //         img.ui.image(src="{{c.url 'dao_venmo'}}")
                // +music
                if currentUser.admin
                    with currentUser
                        +boolean_edit key='admin_mode' label='admin mode' icon='shield'
                        
                if currentUser.admin_mode
                    .ui.inline.header 
                        i.blog.icon
                        | #{all_docs.count}
                        |docs
                    each all_docs 
                        .ui.basic.image.inverted.black.label 
                            img.ui.image(src="{{c.url image_id width=300 height=300 gravity='face' crop='fill'}}")
                            |#{title}
                            +model_label
                            +print_this
                            |#{when}
            if currentUser.admin_mode
                .column
                    .ui.inline.header 
                        i.chess.icon
                        |#{result_docs.count}
                        |results
                    each result_docs 
                        .ui.basic.inverted.black.label #{name}: #{count} [#{model}]
                    .ui.inline.header 
                        i.users.icon
                        |#{all_users.count}
                        |users
                    each all_users
                        .ui.basic.inverted.label 
                            a(href="/user/#{username}") 
                                img.ui.avatar.image(src="{{c.url image_id width=300 height=300 gravity='face' crop='fill'}}")
                                |#{username}
                                
                            +print_this
                            
                            
template(name='nav')
    // #topnav.topnav.ui.attached.borderless.big.four.item.menu.hscroll(class=darkmode_class)
        https://fomantic-ui.com/elements/icon.html#/icon
    // #topnav.topnav.ui.attached.borderless.big.menu.hscroll(style="background-color:#{currentUser.theme_color_main}")
    #topnav.topnav.ui.attached.borderless.inverted.menu.hscroll
        if is_connected
            if currentUser
                a.fly_up.zoomer.item.tada(href="/user/#{currentUser.username}" class=user_nav_button_class title='profile' class="{{isActiveRoute 'profile'}}" )
                    if currentUser.image_id
                        img.ui.avatar.image(src="{{c.url currentUser.image_id width=300 height=300 gravity='face' crop='fill'}}")
                    else
                        i.user.icon
                    strong #{currentUser.username}
                    |&nbsp;
                    .ui.large.basic.black.inverted.label(title='points') #{currentUser.points}p
                a.icon.item.zoomer.fly_down.add_doc(title='add doc')
                    // +i name='plus'
                    i.large.plus.green.invert.icon
                // a.icon.item(href="/mail/inbox")
                if unread_count
                    a.item(href="/user/#{currentUser.username}/inbox" title='unread messages')
                        +i name='inbox'
                        // i.envelope.icon
                        strong #{unread_count}
        unless subs_ready
            .icon.item
                i.yin.yang.large.loading.icon
        unless currentUser
            // a.item(href="/register" title='register')
            //     +i name='plus'
            //     span.mobile.hidden register            
            a.item(href='/login' title='login' class="{{isActiveRoute 'login'}}" ) 
                i.sign.in.large.icon
                // +i name='internal'
                // span.mobile.hidden login
        unless is_connected
            .item
                i.yin.yang.big.loading.icon
                +i name='disconnected'
                |reconecting...
                i.large.circular.refresh.link.icon.zoomer.reconnect(title='reconnect now')
        if is_connected
            a.item.zoomer.fly_right.clear_search(href="/users" class="{{isActiveRoute 'users'}}" title=users)
                +i name='groups'
                // i.large.users.icon
                unless currentUser.hide_labels
                    |users
            a.item.zoomer.fly_right.clear_search(href="/reddit" class="{{isActiveRoute 'reddit'}}" title='reddit')
                +i name='reddit'
                // i.large.music.icon
                unless currentUser.hide_labels
                    |reddit
            +nav_item key='post' icon='blog'
            a.item.zoomer.fly_right.clear_search(href="/music" class="{{isActiveRoute 'music'}}" title='music')
                +i name='music'
                unless currentUser.hide_labels
                    |music
            a.item.zoomer.fly_right.clear_search(href="/groups" class="{{isActiveRoute 'groups'}}" title='groups')
                +i name='campfire'
                // i.large.music.icon
                unless currentUser.hide_labels
                    |groups
            +nav_item key='event' icon='calendar'
            +nav_item key='product' icon='shopping-cart'
            +nav_item key='transfer' icon='exchange'
            +nav_item key='service' icon='wrench'
            +nav_item key='rental' icon='clock'
            +nav_item key='task' icon='tasks'
            // +nav_item key='checkin' icon='checkmark'
            +nav_item key='log' icon='code'
            


template(name='nav_item')
    a.item.zoomer.fly_right.clear_search.go_route.tada(href="/m/#{key}" class="{{nav_item_class key}}" title=key)
        +i name=icon
        // i.large.icon(class=icon)
        unless currentUser.hide_labels
            |#{key}
