template(name='nav')
    #topnav.topnav.ui.attached.borderless.large.inverted.menu.hscroll
        if is_loading
            .icon.item
                i.big.spinning.grey.yin.yang.icon.cancel
        else 
            a.item.zoomer(href='/' class="{{isActivePath '/'}}" title='food')
                +i name='home' cl='ui avatar image'
                // |gold run
            a.icon.item.zoomer(href='/search' class="{{isActivePath '/search'}}" title='search')
                +i name='search' cl='ui inline mini image'
            a.icon.disabled.item.zoomer(href='/stats' class="{{isActivePath '/stats'}}" title='stats')
                +i name='line-chart' cl='ui inline mini image'
            
        .right.menu
            // if is_admin
            //     a.item(href='/tasks' class="{{isActivePath '/tasks'}}" title='tasks')
            //         +i name='tasks' cl='ui inline mini image'
            //     a.item(href='/m/model' class="{{isActivePath '/m/model'}}" title='delta')
            //         +i name='database' cl='ui inline mini image'
            if currentUser
                a.icon.disabled.item(href="/mail" class="{{isActivePath '/mail'}}")
                    i.mail.icon
                a.icon.disabled.item(href="/alerts" class="{{isActivePath '/alerts'}}")
                    i.bell.outline.icon
                a.item(href="/user/#{currentUser.username}/credit" class="{{isActiveRoute regex='user_credit'}}" title='your credits')
                    | {{fixed currentUser.credit}}c
                a.item(href="/user/#{currentUser.username}" class=user_nav_button_class title=user_nav_button_title)
                    if currentUser.image_id
                        img.ui.avatar.image(src="{{c.url currentUser.image_id width=100 height=100 gravity='face' crop='fill'}}")
                    else
                        i.user.icon
                    span.mobile.hidden #{currentUser.username}
                        //- |${{int currentUser.credit}}
                //- else
                //-     a#logout.ui.mobile.hidden.icon.item(href='#' title='log out')
                //-         i.sign.out.icon
            else
                unless currentUser
                    a.item(href='/login' title='enter') 
                        //- i.sign.in.icon
                        +i name='internal'
                        //- |login
    .ui.attached.small.borderless.inverted.menu.hscroll
        a.icon.item.zoomer(href='/food' class="{{isActivePath '/food'}}" title='food')
            +i name='food' cl='ui avatar image'
        a.icon.item.zoomer(href='/events' class="{{isActivePath '/events'}}" title='events')
            +i name='calendar' cl='ui avatar image'
        // a.icon.item.zoomer(href='/chat' class="{{isActivePath '/chat'}}" title='chat')
        //     +i name='chat' cl='ui avatar image'
        a.item.zoomer(href='/buildings' class="{{isActivePath '/buildings'}}" title='buildings')
            +i name='apartment' cl='ui avatar image'
        a.item.zoomer(href='/units' class="{{isActivePath '/units'}}" title='units')
            +i name='room' cl='ui avatar image'
        a.item.zoomer(href='/products' class="{{isActivePath '/products'}}" title='shop')
            +i name='shop' cl='ui avatar image'
        a.item.zoomer(href='/posts' class="{{isActivePath '/posts'}}" title='shop')
            +i name='blog' cl='ui avatar image'
        a.item.zoomer(href='/services' class="{{isActivePath '/services'}}" title='services')
            +i name='wrench' cl='ui avatar image'
        a.item.zoomer(href='/rentals' class="{{isActivePath '/rentals'}}")
            +i name='clock' cl='ui avatar image'
        a.item.zoomer(href='/groups' class="{{isActivePath '/groups'}}")
            +i name='group' cl='ui avatar image'
        a.item.zoomer(href='/rides' class="{{isActivePath '/rides'}}")
            +i name='car' cl='ui avatar image'
        a.item(href='/users' class="{{isActivePath '/users'}}" title='users')
           +i name='groups' cl='ui avatar image'
        a.item(href='/tasks' class="{{isActivePath '/tasks'}}" title='tasks')
           +i name='tasks' cl='ui avatar image'


template(name='my_latest_activity')
    .ui.grey.header 
        i.grey.rss.icon
        |your activity
    .ui.list
        each my_latest_activity
            .item 
                img.ui.avatar.image(src="{{c.url author.kiosk_photo width=200 height=200 gravity='face' crop='fill'}}")
                |#{text} #{body}
                small #{when}


template(name='latest_activity')
    .ui.header 
        +i name='order-history'
        | activity
    .ui.list
        each latest_activity
            .item 
                img.ui.avatar.image(src="{{c.url author.image_id width=200 height=200 gravity='face' crop='fill'}}")
                |#{text} #{body} 
                .ui.label(title='log type') #{log_type}
                small #{when}
