template(name='nav')
    #topnav.topnav.ui.attached.borderless.menu
        if is_loading
            .icon.item
                i.big.spinning.grey.yin.yang.icon.cancel
        else 
            a.item(href='/' class="{{isActivePath '/'}}" title='food')
                +i name='home' classes='ui inline mini image'
            //- if is_admin
                //- .mobile.hidden
                //-     |&nbsp;
                //-     | home
            a.item(href='/food' class="{{isActivePath '/food'}}" title='food')
                +i name='food' classes='ui inline mini image'
                .mobile.hidden
                    |&nbsp;
                    | food
            a.item(href='/products' class="{{isActivePath '/products'}}" title='shop')
                +i name='shop' classes='ui inline mini image'
                .mobile.hidden
                    |&nbsp;
                    | shop
            a.item(href='/services' class="{{isActivePath '/services'}}" title='services')
                +i name='wrench' classes='ui inline mini image'
                .mobile.hidden
                    |&nbsp;
                    | services
            a.item(href='/rentals' class="{{isActivePath '/rentals'}}")
                +i name='clock' classes='ui inline mini image'
                .mobile.hidden
                    |&nbsp;
                    | rentals
            //- a.item(href='/events' class="{{isActivePath '/events'}}")
            //-     +i name='calendar' classes='ui inline mini image'
            //-     .mobile.hidden
            //-         |&nbsp;
            //-         | events
            //- a.item(href='/users' class="{{isActivePath '/users'}}" title='users')
            //-     +i name='groups' classes='ui inline mini image'
            //-     .mobile.hidden
            //-         |&nbsp;
            //-         | users
        .right.menu
            if is_admin
                a.item(href='/tasks' class="{{isActivePath '/tasks'}}" title='tasks')
                    +i name='tasks' classes='ui inline mini image'
                a.item(href='/m/model' class="{{isActivePath '/m/model'}}" title='delta')
                    +i name='database' classes='ui inline mini image'
            if currentUser
                //- a.icon.item(href="/alerts" class="{{isActivePath '/alerts'}}")
                //-     i.bell.icon
                a.item(href="/user/#{currentUser.username}/credit" class="{{isActiveRoute regex='user_credit'}}" title='your credits')
                    .ui.inline.header #{currentUser.credit}c
                a.item(href="/user/#{currentUser.username}" class=user_nav_button_class title=user_nav_button_title)
                    if currentUser.image_id
                        img.ui.avatar.image(src="{{c.url currentUser.image_id width=100 height=100 gravity='face' crop='fill'}}")
                    else
                        i.user.icon
                    span.mobile.hidden #{currentUser.name}
                        //- |${{int currentUser.credit}}
                //- else
                //-     a#logout.ui.mobile.hidden.icon.item(href='#' title='log out')
                //-         i.sign.out.icon
            else
                unless currentUser
                    a.item(href='/login' title='enter') 
                        //- i.sign.in.icon
                        +i name='internal'
                        //- |login



template(name='my_latest_activity')
    .ui.grey.header 
        i.grey.rss.icon
        |your activity
    .ui.list
        each my_latest_activity
            .item 
                img.ui.avatar.image(src="{{c.url author.kiosk_photo width=200 height=200 gravity='face' crop='fill'}}")
                |#{text} #{body}
                small #{when}


template(name='latest_activity')
    .ui.grey.header 
        i.grey.rss.icon
        |all activity
    .ui.list
        each latest_activity
            .item 
                img.ui.avatar.image(src="{{c.url author.kiosk_photo width=200 height=200 gravity='face' crop='fill'}}")
                |#{text} #{body} 
                .ui.label #{log_type}
                small #{when}
