template(name='residents') 
    .ui.left.icon.fluid.input
        i.search.icon
        input.username_search(type='text' placeholder='lookup resident' autofocus='autofocus')
    .ui.hidden.divider
    .ui.centered.five.stackable.cards
        each residents
            +resident
            
template(name='members') 
    .ui.left.icon.fluid.massive.input
        i.search.icon
        input.member_search(type='text' placeholder='lookup member' autofocus='autofocus')
    .ui.hidden.divider
    .ui.centered.five.stackable.cards
        each members
            +member
            
template(name='member')                
    .ui.card
        .image
            //- a(href="/user/#{username}/")
            //- img(src="{{c.url image_id height=400 width=400 background='white' crop='pad'}}")
            if kiosk_photo
                img.ui.image(src="{{c.url kiosk_photo width=400 height=400 crop='fit'}}")
            else if image_id
                img.ui.image(src="{{c.url image_id width=400 height=400 crop='fit'}}")
        .content
            a(href="/member/#{username}/")
                h2.ui.center.aligned.header #{name} 
                .ui.small.header @#{username}
            each five_tags
                .ui.small.label(class=tag_class) 
                    strong #{this}
            .ui.small.inline.header(title='karma')
                |#{karma}
                i.grey.yin.yang.icon
            .ui.small.inline.header(title='points')
                |#{points}
                small pts
            +user_connect_button
            
            
            
            
template(name='profiles')
    .ui.left.icon.fluid.input
        i.search.icon
        input.username_search(type='text' placeholder='lookup profiles' autofocus='autofocus')
    .ui.hidden.divider
    .ui.centered.five.stackable.cards
        each profiles
            +profile
    
template(name='owners') 
    .ui.padded.grid
        .row
            .sixteen.wide.column
                .ui.left.icon.fluid.input
                    i.search.icon
                    input.username_search(type='text' placeholder='lookup owner' autofocus='autofocus')
                .ui.hidden.divider
                .ui.centered.five.stackable.cards
                    each owners
                        +owner
                
template(name='users') 
    .ui.padded.grid
        .row
            .sixteen.wide.column
                //- .ui.center.aligned.header 
                //-     +i name='groups'
                //-     //- i.users.icon
                //-     |users
                .ui.left.icon.fluid.input
                    i.search.icon
                    input.username_search(type='text' placeholder='lookup user' autofocus='autofocus')
                .ui.hidden.divider
                .ui.centered.five.stackable.cards
                    each users
                        +user
                
template(name='resident')                
    .ui.card
        .image
            //- a(href="/user/#{username}/")
            //- img(src="{{c.url image_id height=400 width=400 background='white' crop='pad'}}")
            if kiosk_photo
                a.zoom(href="/user/#{username}/")
                    img.ui.image(src="{{c.url kiosk_photo width=400 height=400 crop='fit'}}")
            else if image_id
                a.zoom(href="/user/#{username}/")
                    img.ui.image(src="{{c.url image_id width=400 height=400 crop='fit'}}")
        .content
            a(href="/user/#{username}/")
                h2.ui.center.aligned.header #{first_name} #{last_name} 
                .ui.small.header @#{username}
            +text_view key='first_name' label='first name' direct=true
            +text_view key='last_name' label='last name' direct=true
            +text_view key='address' label='address' direct=true
            +number_view key='unit_number' label='Unit #' direct=true
            +number_view key='building_number' label='building #' direct=true
            +text_view key='email' label='email' direct=true
            +phone_view key='phone' label='phone' direct=true
            +date_view key='start_date' label='start date' direct=true
            +date_view key='expiration_date' label='expiration date' direct=true
            +healthclub_stats user=this    
            each roles
                .ui.large.label #{this}
            +user_check_steps            

            
template(name='user')                
    .ui.card
        .image
            //- a(href="/user/#{username}/")
            //- img(src="{{c.url image_id height=400 width=400 background='white' crop='pad'}}")
            if kiosk_photo
                img.ui.image(src="{{c.url kiosk_photo width=400 height=400 crop='fit'}}")
            else if image_id
                img.ui.image(src="{{c.url image_id width=400 height=400 crop='fit'}}")
        .content
            a(href="/user/#{username}/")
                h2.ui.center.aligned.header #{first_name} #{last_name} 
                .ui.small.header @#{username}
            each five_tags
                .ui.compact.small.button.person_tag(class=tag_class) 
                    strong #{this}
            +text_view key='first_name' label='First Name'
            +text_view key='last_name' label='Last Name'
            
            
template(name='user_card_template')                
    .ui.horizontal.fluid.card
        .image
            //- a(href="/user/#{username}/")
            //- img(src="{{c.url image_id height=400 width=400 background='white' crop='pad'}}")
            if kiosk_photo
                img.ui.image(src="{{c.url kiosk_photo width=400 height=400 crop='fit'}}")
            else if image_id
                img.ui.image(src="{{c.url image_id width=400 height=400 crop='fit'}}")
        .content
            a(href="/user/#{username}/")
                h2.ui.center.aligned.header #{first_name} #{last_name} 
                .ui.small.header @#{username}
            each five_tags
                .ui.compact.small.button.person_tag(class=tag_class) 
                    strong #{this}
            .ui.grey.header #{total_sales} sales
            .ui.grey.header #{total_revenue} total revenue
            
            
template(name='profile')                
    .ui.card
        .image
            a(href="/user/#{username}/")
                img.ui.image(src="{{c.url profile_image_id width=400 height=400 crop='fit'}}")
        .content
            a(href="/user/#{username}/")
                h2.ui.center.aligned.header #{first_name} #{last_name} 
                .ui.small.header @#{username}
            each five_tags
                .ui.compact.small.button.person_tag(class=tag_class) 
                    strong #{this}
            +text_view key='first_name' label='First Name'
            +text_view key='last_name' label='Last Name'





                
template(name='owner')                
    .ui.card
        .image
            //- a(href="/user/#{username}/")
            //- img(src="{{c.url image_id height=400 width=400 background='white' crop='pad'}}")
            if kiosk_photo
                a.zoom(href="/user/#{username}/")
                    img.ui.image(src="{{c.url kiosk_photo width=400 height=300 crop='fit'}}")
            else if image_id
                a.zoom(href="/user/#{username}/")
                    img.ui.image(src="{{c.url image_id width=400 height=300 crop='fit'}}")
        .content
            a(href="/user/#{username}/")
                h2.ui.center.aligned.header #{first_name} #{last_name} 
                .ui.small.header @#{username}
            //- +text_view key='address' label='address' direct=true
            //- +number_view key='unit_number' label='Unit #' direct=true
            //- +number_view key='building_number' label='building #' direct=true
            //- +text_view key='email' label='email' direct=true
            //- +phone_view key='phone' label='phone' direct=true
            //- +array_view key='roles' label='roles' direct=true
            .ui.small.inline.header roles
            each roles
                .ui.small.label #{this}
            if currentUser
                +user_connect_button
                
