template(name='cart')
    .ui.stackable.padded.grid
        .four.wide.column
            .ui.header 
                +i name='shopping-cart'
                |cart
            .ui.statistic
                .value #{total_cart_cost}
                .label cart cost
            .ui.statistic
                .value #{currentUser.credit}
                .label your credit
            if can_buy
                .ui.fluid.button.checkout_cart
                    |complete checkout
            else
                +topup_credit
        .twelve.wide.column.scrolling
            each cart_items
                .ui.segment.grid
                    .four.wide.column
                        img.ui.rounded.image(src="{{c.url referenced_product.picture width=1000 height=1000 gravity='face' crop='crop'}}")
                    .twelve.wide.column
                        with referenced_product
                            a.ui.header(href="/m/shop/#{_id}/view") #{title}
                            .ui.header #{credit_price} credit
                        +remove_button


template(name='transactions')
    .ui.stackable.padded.grid
        .four.wide.column
            .ui.header 
                +i name='cashbook'
                |transactions
            .ui.statistic
                .value #{total_cart_cost}
                .label cart cost
            .ui.statistic
                .value #{currentUser.credit}
                .label your credit
        .twelve.wide.column.scrolling
            each transactions
                .ui.segment.grid
                    .four.wide.column
                        img.ui.rounded.image(src="{{c.url referenced_product.picture width=1000 height=1000 gravity='face' crop='crop'}}")
                    .twelve.wide.column
                        


template(name='topup_credit')
    a.ui.large.button(href='/add_credit')
        i.plus.icon
        |add credit
