template(name='meal_widget')
    .ui.segment
        a.ui.header(href='/meals')
            i.glass.cheers.icon
            |mealsharing
        .ui.header upcoming meals
        .ui.list
            each meals
                .item
                    |#{title}
                    each ingredients
                        .ui.label #{this}
        .ui.button become a cook



template(name='meals')
    .ui.stackable.padded.grid
        .row
            .four.wide.column
                .ui.header 
                    |meals
                +cloud filter='meal'
            .twelve.wide.column
                .ui.stackable.three.cards
                    each meals
                        .ui.card
                            if picture
                                img.ui.image(src="{{c.url picture width=400 height=400}}")
                            else
                                img.ui.image(src="{{c.url image width=400 height=400 gravity='face' crop='fill'}}")
                            .content
                                a.ui.header(href="/meal/#{_id}") #{title}
                                div created {{from_now _timestamp}}
                                div available {{from_now date}}
                                +edit_button
                                +view_button
                                |available servings: #{available_servings}
                                
                                if servings_available
                                    .ui.button.meal_sign_up
                                        |sign up


template(name='marketplace_widget')
    .ui.segment
        .ui.header 
            i.shop.icon
            |marketplace



template(name='food_card_template')
    .ui.stackable.grid.segment
        .four.wide.column
            //- img.ui.fluid.image(src="{{c.url image }}")
            img.ui.fluid.rounded.image(src="{{c.url image width=400 height=600 crop='fit'}}")
        .twelve.wide.column
            .ui.header #{title}
            +ismall name='food'
            .ui.inline.small.header ingredients
            each ingredients
                .ui.label #{this}
            .ui.inline.small.header tags
            each tags
                .ui.label #{this}
            .ui.inline.small.header location_tags
            each location_tags
                .ui.label #{this}
            .ui.header available {{from_now date}} at #{time_available}
            .ui.header servings available #{servings_available}
            a.ui.large.icon.button(href="/meal/#{_id}/edit")
                i.pencil.icon
            a.ui.large.icon.button(href="/meal/#{_id}/view")
                i.right.chevron.icon        
            //- +edit_button
            //- +view_button
            
template(name='meal_reviews')
    .ui.segment
        .ui.header 
            +i name='popular-topic'
            |reviews
        if can_leave_review
            .ui.button.leave_review leave review
        else
            .ui.button.edit_review leave review
        each reviews
            .ui.header #{text}
            each tags
                .ui.tag #{this}
            .ui.header vote #{vote}


template(name='reservations')
    .ui.segment
        .ui.small.grey.header 
            +i name='ticket'
            |reservations
        .ui.list 
            .item
                | #{taken_slots} slots taken
            .item
                | #{available_slots} slots available
            .item
                |credit #{karma_earned} earned
        if can_reserve
            .ui.button.new_reservation 
                i.green.plus.icon
                |new reservation
        .ui.icon.button.toggle_editing
            i.blue.pencil.icon
        with my_reservation
            if is_editing
                +text_edit key='notes' direct=true 
                +remove_button
        each reservations
            .ui.divider
            .ui.header #{notes}
            each author.tags
                .ui.label #{this}
            +author_info




template(name='meal_view')
    with current_doc
        .ui.stackable.padded.grid
            .four.wide.column
                .ui.header #{title}
                +array_view key='tags' direct=true
                +array_view key='ingredients' direct=true
                +array_view key='location_tags' direct=true
                .ui.small.header
                    |date available
                    |#{available_date}
                .ui.small.header
                    |time available
                    |#{time_available}
                .ui.dividing.header
                    |rules
                .ui.header
                    |signup before 24 hours
                .ui.header
                    |payment before 24 hours
            .eight.wide.column
                img.ui.large.rounded.image(src="{{c.url image width=500 height=500 gravity='face' crop='fill'}}")
                +html_view key='description' direct=true
                +comments
            .four.wide.column
                a.ui.large.fluid.button(href="/meal/#{_id}/edit")
                    i.pencil.icon
                    |edit
                +reservations
                .ui.header cook #{_author_username}
                with _author_id
                    +user_card
                with current_doc
                    +voting
                    .ui.header similar meals
                    .ui.header alerts
                    |alergen alert
                    |#{alergen_alert}



template(name='meal_edit')
    with current_doc
        .ui.stackable.padded.grid
            .four.wide.column
                .ui.header #{title}
                +array_edit key='tags' direct=true
                +array_edit key='ingredients' direct=true
                +array_edit key='location_tags' direct=true
                .ui.small.header
                    |date available
                    |#{available_date}
                .ui.small.header
                    |time available
                    |#{time_available}
            .eight.wide.column
                +image_edit key='image' direct=true
                +html_edit key='description' direct=true
            .four.wide.column
                a.ui.large.fluid.button(href="/meal/#{_id}/view")
                    i.checkmark.icon
                    |save        
                +reservations
