template(name='market')
    .ui.stackable.grid
        .row
            .four.wide.column
                if is_frontdesk
                    a.ui.big.fluid.button(href='/healthclub')
                        i.left.chevron.grey.icon
                        .ui.inline.grey.header back
                else 
                    a.ui.big.fluid.button(href='/')
                        i.left.chevron.grey.icon
                        .ui.inline.grey.header back
                .ui.grey.inline.header 
                    //- i.store.icon
                    +i name='shop'
                    |market
                //- .ui.inline.header type
                +market_cloud
            .twelve.wide.column.scrolling
                //- .ui.tiny.grey.center.aligned.header gold run + market is community run and not affiliated or endorsed by the Gold Run Condominiums HOA
                //- +set_market_type label='for sale' icon='shopping bag'
                //- +set_market_type label='free' icon='thumbs up outline'
                //- +set_market_type label='service' icon='wrench'
                //- +set_market_type label='market' icon='clock outline'
                //- +set_market_type label='seeking' icon='hand holding'
                //- +set_market_type label='casual encounters' icon='fire alternate'
                //- +set_market_type label='missed connections' icon='heart broken'
                //- +set_market_type label='events' icon='calendar'
                .ui.three.cards
                    each market_items
                        +market_kiosk_card


template(name='market_kiosk_card')
    .ui.card(class=market_card_class)
        a.image.log_view(href="/kiosk_rental_view/#{_id}")
            img.ui.image(src="{{c.url image width=600 height=600 crop='lpad'}}")

        //- +image_view key='image' direct=true classes='zoom'
        .content
            a.ui.header.log_view(href="/kiosk_rental_view/#{_id}") #{title} 
                if variable_price
                    |~
                if available
                    i.green.checkmark.icon
                else 
                    i.cancel.grey.icon
            if hourly_rate
                .ui.tiny.statistic
                    .value $#{hourly_rate}
                    .label /hr
            if daily_rate
                .ui.tiny.statistic
                    .value $#{daily_rate}
                    .label /day
            //- a.ui.button.log_view(href="/kiosk_rental_view/#{_id}")
            //-     |view
            //-     i.right.chevron.yellow.icon




template(name='market_cloud')
    //- #cloud
        //- .ui.left.icon.input
        //-     i.search.icon
        //-     +inputAutocomplete settings=settings id="search" class="" autocomplete="off" 
        // .ui.hidden.fitted.divider
    //- i.grey.tags.icon
    //- .ui.inline.header tags
    if selected_market_tags
        #clear_tags.ui.active.icon.large.kiosk_facet_button.button
            i.remove.icon
        each selected_market_tags
            .unselect_market_tag.ui.active.large.kiosk_facet_button.button
                strong #{this}
    each all_market_tags
        .ui.compact.large.button.kiosk_facet_button.select_market_tag(class=cloud_tag_class) 
            strong #{this.name}
