template(name='product_edit')
    with current_doc
        .ui.stackable.padded.grid
            .middle.aligned.row
                .four.wide.center.aligned.column
                    a.ui.button(href="/building/#{building_id}/market")
                        i.chevron.left.icon
                        |building
                .eight.wide.center.aligned.column
                    .ui.header 
                        |editing #{title} product
                .four.wide.center.aligned.column
                    a.ui.big.fluid.button(href="/product/#{_id}/view")
                        i.green.checkmark.icon
                        |save
                    .ui.icon.button.delete_product_item 
                        i.trash.icon
            .row
                .four.wide.column
                    +text_edit key='title' icon='header' direct=true
                    +image_edit key='image' direct=true
        
                    +array_edit key='tags' icon='tags' direct=true
                    +array_edit key='location_tags' label='location tags' icon='marker' direct=true
                    +number_edit key='dollar_price' icon='money' label='dollar price' direct=true
                .eight.wide.column
                    +textarea_edit key='description' direct=true
                    if is_admin
                        +text_edit key='model' direct=true
                .four.wide.column
                    .ui.header
                        +i name='delivery'
                        |delivery
                    +boolean_edit key='pickup_delivery' label='pickup' direct=true
                    +boolean_edit key='home_dropoff_delivery' label='home dropoff' direct=true
                    +boolean_edit key='building_dropoff_delivery' label='building dropoff' direct=true
                    +boolean_edit key='healthclub_drop_off_delivery' label='health club drop off' direct=true
                        
                

template(name='product_view')
    with current_doc
        .ui.stackable.padded.grid
            //- img.ui.large.rounded.image(src="{{c.url image width=500 height=500 gravity='face' crop='fill'}}")
            .row
                .five.wide.column
                    img.ui.centered.rounded.shadowed.image(src="{{c.url image width=1000 height=400 crop='fit'}}")
                    .ui.large.header #{title}
                    if can_edit
                        a.ui.fluid.button(href="/product/#{_id}/edit")
                            |edit
                    .ui.header added by #{_author_username}
                    |#{when}
                    with _author_id
                        +user_card
                    +array_view key='tags' icon='tags' direct=true
                    +array_view key='location_tags' label='location tags' icon='marker' direct=true
                    +text_view key='location' icon='marker' label='location description' direct=true
                    +number_view key='dollar_price' icon='money' label='dollar price' direct=true
                .six.wide.column
                    +html_view key='description' direct=true
                    +comments
                .five.wide.column
                    div
                    +product_location
                    unless sold_out
                        .ui.big.green.fluid.button.add_to_cart 
                            |+ cart
                    else 
                        .ui.big.disabled.button
                            |sold out
                    +voting_full     
                    .ui.segment
                        .ui.small.header
                            |delivery instructions
                        |#{delivery_instructions}      
                    .ui.header
                        |delivery
                    +boolean_view key='pickup_delivery' label='pickup' direct=true
                    +boolean_view key='home_dropoff_delivery' label='home dropoff' direct=true
                    +boolean_view key='building_dropoff_delivery' label='building dropoff' direct=true
                    +boolean_view key='healthclub_drop_off_delivery' label='health club drop off' direct=true
    
    
    
template(name='product_header')
    a(href="/product/#{_id}/view")
        img.ui.avatar.rounded.image(src="{{c.url image width=400 height=400 gravity='face' crop='fill'}}")
        .ui.inline.small.header #{title}


template(name='add_to_tab')
    .ui.segment
        .add_to_tab.ui.green.button
            //- i.cart.plus.icon
            |add to tab
        if current_tab_additions
            div current tab additions
            .ui.list
                each current_tab_additions
                    .item
                        |#{when}
                        //- i.remove.link.icon.remove_tab_item

            
template(name='fav_button')
    i.large.link.heart.outline.icon
            
    
    
template(name='product_location')
    .ui.inline.header current location
    |#{current_location}
    
    

template(name='product_card_template')
    .ui.fluid.card
        a.pointer(href="/product/#{_id}/view")
            img.ui.centered.rounded.image(src="{{c.url image width=300 height=200 crop='fit'}}")
        .content
            a.ui.grey.small.header(href="/product/#{_id}/view") #{title}
            //- div
            +i name='marker' classes='ui mini inline image'
            each location_tags
                .ui.label #{this}
            .ui.animated.fade.button.add_to_cart(title="#{karma_price} karma, click to add to cart")
                .visible.content
                    .ui.header #{karma_price}k
                .hidden.content
                    i.cart.plus.green.large.icon
            .ui.inline.header 
                //- i.product.grey.small.icon
                |$#{dollar_price}
            a.ui.small.icon.button(href="/product/#{_id}/view")
                +i name='chevron right' classes='ui mini image'
        //- .four.wide.column
        //-     with author
        //-         img.ui.avatar.image(src="{{c.url image_id width=200 height=200 crop='fit'}}")    
        //-         .ui.inline.header #{first_name} #{last_name}
        //-         .ui.header #{sales_amount} sales
        //-         .ui.header #{purchase_amount} purchases
