template(name='tab')
    .ui.stackable.padded.grid
        .three.wide.column
            .ui.header 
                +i name='shopping-cart'
                |tab
            .ui.statistic
                .value $#{total_tab_cost}
                .label tab total
        .thirteen.wide.column
            each transactions
                .ui.segment.cart_item.grid
                    .four.wide.column
                        img.ui.rounded.image(src="{{c.url referenced_product.picture width=1000 height=1000 gravity='face' crop='crop'}}")
                    .twelve.wide.column
                        a.ui.header(href="/shop/#{referenced_product._id}/view") #{referenced_product.title}
                        .ui.grey.small.header #{when}
                        .ui.inline.header $#{referenced_product.dollar_price}
                        div
                        if delivered
                            .ui.small.header delivered {{long_date delivered_timestamp}}
                        else
                            .ui.large.label undelivered
                            +remove_button
