template(name='alpha')
    .ui.stackable.grid
        .row
            .six.wide.right.aligned.column
                unless is_loading
                    // .ui.divider
                    // // each sessions
                    // //     .ui.icon.large.button.select_session(class=session_selector_class title='select session')
                    // //         i.play.icon
                // |did: #{session_alpha_id}
                .ui.large.icon.button.new_doc 
                    i.plus.icon
                if current_alpha
                    .ui.icon.button.print_alpha(title='print session doc')
                        i.code.icon
                    .ui.reset.icon.button(title='reload session')
                        i.refresh.icon
                    .ui.delete_alpha.icon.button(title='delete session')
                        i.trash.icon
                    each current_alpha.facets
                        +afacet
                else
                    .create_alpha.ui.button.pointer(title='new session')
                        i.plus.icon
                        |session
            .ten.wide.column
                //- .filter_row.ui.segment(class=loading_class)
                //-     .ui.inline.small.grey.header(title='change sort direction')
                //-         |sort by
                //-     .ui.compact.small.menu
                //-         .ui.simple.dropdown.item
                //-             strong #{current_delta.sort_key}
                //-             i.dropdown.icon
                //-             .menu
                //-                 each sortable_fields
                //-                     .item.set_sort_key 
                //-                         |#{title}   
                //-     .ui.compact.icon.button.set_sort_direction
                //-         if sorting_up
                //-             i.sort.amount.down.icon
                //-         else
                //-             i.sort.amount.up.icon
                //-     //- .ui.compact.button.set_sort_direction
                //-     //-     |#{current_delta.sort_direction}
                //-     |&nbsp;
                //-     |&nbsp;
                //-     .ui.inline.small.grey.header
                //-         |limit
                //-     .ui.compact.small.menu
                //-         .ui.simple.dropdown.item
                //-             strong #{current_delta.limit}
                //-             i.dropdown.icon
                //-             .menu
                //-                 +set_limit amount=1
                //-                 +set_limit amount=5
                //-                 +set_limit amount=10
                //-                 +set_limit amount=20
                //-                 +set_limit amount=50
                //-     //- .ui.inline.small.grey.header
                //-     //-     |search
                //-     //- .ui.small.input
                //-     //-     input(type='text' val=search_value)
                //-     //- |&nbsp;
                //-     &nbsp;
                //-     .ui.inline.small.grey.header view
                //-     .ui.compact.menu
                //-         .ui.simple.dropdown.item
                //-             |#{current_delta.view_mode}
                //-             i.dropdown.icon
                //-             .menu
                //-                 +set_view_mode title='table' icon='table'
                //-                 +set_view_mode title='list' icon='list'
                //-                 +set_view_mode title='cards' icon='cards'
                //-                 +set_view_mode title='items' icon='list'
                //-                 +set_view_mode title='map' icon='map'
                //-                 +set_view_mode title='graph' icon='graph'
                //-     .ui.hidden.fitted.divider
                
                each current_alpha.result_ids
                    +alpha_result
        
        
template(name='afacet')
    div
    if filtering_res
        .spacer
        //- .ui.hidden.divider
        //- .ui.unstyled.accordion
        //-     .active.title
        if icon
            i.icon(class=icon)
        .ui.grey.inline.header 
            if title
                |#{title}
            else 
                |#{key}
                //- i.dropdown.icon
        .ui.icon.small.transparent.input
            i.search.icon
            input.add_filter(type='text')
        each filtering_res
            if name
                .selector.ui.compact.button.toggle_selection(class=toggle_value_class title=count)
                    strong #{name}
                    if is_admin
                        small #{cal_count} #{count}
            else
                .selector.ui.compact.small.button.toggle_selection(class=toggle_value_class)
                    strong [null]
                    //- small #{cal_count}
        //- .ui.hidden.divider

        
            
            
template(name='alpha_result')
    with result 
        unless is_loading
            .ui.result.segment.stackable.grid
                .twelve.wide.column.scrolling
                    each _keys
                        +key_view
                .four.wide.column.scrolling
                    //- if watson
                    //-     +watson_view
                    //- if visual_classes
                    //-     +visual_classes
                    //-     if analyzed_text
                    //-         |#{nl2br analyzed_text}
                    //- a.ui.header(href="/view#{_id}")
                    //-     each bricks
                    //-         if header
                    //-             +Template.dynamic template=view_template 
                    //-     // |#{title}
                    //- .description
                    //-     each small_bricks
                    //-         unless header
                    //-             +Template.dynamic template=view_template 
                    //- .description
                    //-     each big_bricks
                    //-         unless header
                    //-             +Template.dynamic template=view_template 
                    .extra
                        // +user_list_toggle key='bookmark_ids' icon='bookmark' label='Bookmark' color='red'
                        //- if is_dev
                        //-     +remove_button
                        if can_edit
                            a.ui.icon.big.button(href="/edit/#{_id}")
                                i.pencil.icon
                        a.ui.icon.big.button(href="/view/#{_id}")
                            i.eye.icon
                        //- each schema.actions
                        //-     +Template.dynamic template=this data=..
                        +author_info
                        +creation_info
                        +clone_button
                        +detect
        if is_loading
            .ui.segment
                i.huge.loading.grey.yin.yang.icon



        
