template(name='bounties')
    .ui.stackable.padded.grid
        .row
            .four.wide.column
                .ui.header 
                    i.bounties.icon
                    |bounties
                .ui.icon.large.button.new_bounty
                    i.green.plus.icon
                +bounty_cloud
                with currentUser
                    .ui.list
                        .item(title='hours today')
                            i.sun.icon
                            i.clock.icon
                            | #{daily_hours}hrs
                        .item(title='weekly hours')
                            i.calendar.icon
                            i.clock.icon
                            | #{weekly_hours}hrs
                        .item(title='sessions today')
                            i.sun.icon
                            i.business.time.icon
                            | #{daily_sessions} sessions
                        .item(title='weekly sessions')
                            i.calendar.icon
                            i.business.time.icon
                            | #{weekly_sessions} sessions
                
            .eight.wide.column
                //- with top_bounty
                //-     +bounty_card_template
                i.link.refresh.icon.refresh_my_time_stats
                .ui.small.compact.icon.button.toggle_complete(title='view complete' class=view_complete_class)
                    i.checkmark.icon
                //- .ui.small.compact.icon.button.toggle_incomplete(title='incomplete') 
                //-     i.circle.outline.icon
                |sort by 
                .ui.small.compact.button lucrative
                .ui.small.compact.button soonest
                .ui.small.compact.button priority
            
                .largescroll
                    each bounties 
                        +bounty_card_template
            .four.wide.column
                if selected_bounty_doc
                    .ui.icon.right.floated.button.unselect_bounty
                        i.remove.icon
                    with selected_bounty_doc
                        +selected_bounty
                else 
                    .ui.small.button.new_bounty 
                        i.plus.icon
                        |new bounty 
                    i.refresh.link.icon.refresh_bounties_stats
                    with bounties_stats_doc
                        .ui.small.grey.header #{total_bounties} total bounties 
                        .ui.small.grey.header #{week_bounties_count} bounties this week
                        .ui.small.grey.header #{day_bounties_count} bounties today
                    
                    
                    

template(name='bounty_cloud')
    //- #bounty_cloud
        //- .ui.left.icon.input
        //-     i.search.icon
        //-     +inputAutocomplete settings=settings id="search" class="" autocomplete="off" 
        // .ui.hidden.fitted.divider
    i.grey.tags.icon
    if selected_tags
        #clear_tags.ui.active.icon.compact.button
            i.remove.icon
        each selected_tags
            .unselect_tag.ui.active.compact.button
                strong #{this}
    each all_tags
        .ui.compact.small.button.select_tag(class=bounty_cloud_tag_class) 
            strong #{this.name}




template(name='bounty_card_template')
    .ui.segment.pointer.select_bounty(class=bounty_segment_class)
        .ui.header.goto_bounty #{title}
        div
        .ui.horizontal.list 
            .item(title='views')
                i.eye.icon 
                |#{views}
            .item(title='points')
                i.thumbs.up.outline.icon
                |#{points}
            if bounty_list_id 
                .item(title='bounty list')
                    i.list.icon 
                    |#{bounty_list.title}
            .item
                i.grey.tags.icon 
                each five_tags
                    .ui.small.label #{this}
        div
        if weight 
            .ui.small.inline.header #{weight} weight
        if assigned_by
            .ui.large.label(title='assigned by')
                |#{assigned_by}
            .ui.small.inline.header ->
        if assigned_to
            .ui.large.label(title='assigned to')
                |#{assigned_to}
        unless complete
            if percent_complete
                .rounded(style="height:5px;width:{{percent_complete}}%;background-color:grey" title="{{percent_complete}}% complete")
                    //- 
                    //- .ui.bottom.attached.progress(data-percent="{{percent_complete}}" title="{{percent_complete}}% complete")
                    //-     .bar
                        //- .progress
                    //- .label complete
    .spacer



template(name='selected_bounty')
    if editing_bounty 
        +text_edit key='title' direct=true
        +array_edit key='tags' direct=true
        div
        .ui.icon.large.button.save_bounty(title='save bounty') 
            i.checkmark.green.large.icon
        .ui.icon.small.button.delete_bounty(title='delete bounty') 
            i.remove.icon
    else 
        .ui.small.header #{title}
        +array_view key='tags' direct=true
        div
        .ui.icon.large.button.edit_bounty(title='edit bounty') 
            i.pencil.blue.icon
        .ui.icon.large.button.goto_bounty(title='view bounty') 
            i.right.chevron.large.icon
        div
        +voting_full
