template(name='buildings')
    .ui.stackable.padded.grid
        each buildings
            .four.wide.column
                a(href="/building/#{slug}")
                    .ui.card.home_segment
                        img.ui.fluid.image(src="{{c.url image width=400 height=200 crop='fill'}}")
                        .content
                            .ui.large.header #{building_code}
                                each building_numbers
                                    .ui.basic.label #{this}
                            .ui.grey.small.header #{building_street}
                
                
template(name='building')
    .ui.padded.stackable.grid
        .row
            .sixteen.wide.column
                a.ui.big.button(href="/buildings")
                    i.chevron.left.icon
                    //- i.building.icon
                    +i name='building' classes='ui inline mini image'
                    |buildings
                if is_dev
                    .ui.icon.input
                        i.home.icon
                        //- +ismall name='home' classes='ui inline mini image'
                        input.unit_number(type='number' placeholder='unit number')
                    .ui.icon.input
                        i.building.icon
                        //- +ismall name='building' classes='ui inline mini image'
                        input.building_number(type='number' placeholder='unit building number')
                    .ui.icon.input
                        i.header.icon
                        //- +ismall name='building' classes='ui inline mini image'
                        input.building_label(type='text' placeholder='unit building label')
                .ui.large.inline.header 
                    small building
                    strong #{building.building_code}
                each building.building_numbers
                    .ui.basic.large.label #{this}
        .row
            .ui.sixteen.wide.column
                .ui.three.cards
                    each units
                        +unit_card

    
template(name='unit_card')
    //- .ui.card    
    a.ui.card(href="/unit/#{_id}")
        .content
            .ui.large.header #{unit_number}
            //- .ui.small.header building #{building_code}
            //- a.ui.large.button(href="/unit/#{_id}")
            //-     i.yellow.right.chevron.icon
            div
            +i name='rent' title='owner(s)'
            //- i.dollar.icon
            each owners
                .ui.basic.large.label
                    if kiosk_photo
                        img.ui.rounded.image(src="{{c.url kiosk_photo width=200 height=200 gravity='face' crop='fill'}}")
                    else if image_id
                        img.ui.rounded.image(src="{{c.url image_id width=200 height=200 gravity='face' crop='fill'}}")
                    |#{first_name} #{last_name}
            div
            //- i.home.icon
            +i name='home' title='renters'
            each residents
                .ui.basic.large.label
                    if kiosk_photo
                        img.ui.rounded.image(src="{{c.url kiosk_photo width=200 height=200 gravity='face' crop='fill'}}")
                    else if image_id
                        img.ui.rounded.image(src="{{c.url image_id width=200 height=200 gravity='face' crop='fill'}}")
                    |#{first_name} #{last_name}
            div
            //- if is_springdale
            //-     +unit_permits
            //-     +i name='badge'
            //-     each permits
            //-         .ui.basic.label #{license_plate}
            .ui.small.header #{notes}
            if is_dev
                +number_view key='building_number' direct=true
                +number_view key='unit_number' direct=true
                    