template(name='buildings')
    .ui.stackable.padded.grid
        .four.wide.column
            .ui.inline.header 
                +i name='building'
                |buildings
            if currentUser
                a.ui.icon.basic.circular.button.add_building(title='cook')
                    i.plus.green.large.icon
            
            .ui.left.icon.search.small.input
                i.search.icon.refresh_tags
                input#search_tag.prompt(type='text' autocomplete="off" placeholder='tags')
            if selected_tag_plural
                .ui.icon.circular.black.compact.button.clear_picked_tags
                    i.remove.icon
            each picked_tags
                button.ui.blue.compact.circular.small.button.unselect_tag(tabindex='0')
                    //- i.remove.icon
                    | #{this}
            each tags
                button.ui.circular.compact.small.basic.button.tag_result(tabindex="0" class=result_class title=count) #{title}
                    //- small #{count}
            .spacer
            
        .twelve.wide.column
            .sorting_row
                .ui.icon.input
                    i.search.icon
                    input.tag_search(type='text' placeholder='search...')
                |sort by
                .ui.compact.small.menu
                    .ui.simple.dropdown.item
                        strong #{current_building_sort_label}
                        i.dropdown.icon
                        .menu
                            +set_sort_key key='complete' label='complete' icon='complete'
                            // +set_sort_key key='datetime_available' label='available' icon='clock'
                            +set_sort_key key='_timestamp' label='added' icon='clock'
                            // +set_sort_key key='comment_count' label='comment count' icon='chat'
                            +set_sort_key key='_author_username' label='author' icon='user'
                +set_sort_direction
                |&nbsp;
                |&nbsp;
                +limit_menu
            .spacer 
            .ui.doubling.four.link.cards
                each building_docs
                    +building_card



template(name='building_card')
    a.ui.card(class=building_card_class href="/building/#{_id}")
        .image
            img.ui.zoom.pointer.goto_building.image(src="{{c.url image_id width=400 height=300 crop='pad'}}")
        .content
            a.ui.header(href="/building/#{_id}/") 
                //- |#{_author.name}'s
                | #{title}
            .ui.list 
                .item 
                    |#{post.count} posts
                .item
                    |#{post.count} transactions
        .content    
            if can_edit
                a.ui.large.icon.button(href="/building/#{_id}/edit")
                    i.pencil.icon
            a.ui.icon.button(href="/building/#{_id}/")
                i.chevron.right.icon


template(name='building_view')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .six.wide.column 
                    a.ui.basic.compact.icon.circular.button(href="/buildings")
                        i.left.chevron.icon
                        +i name='building' cl='ui inline avatar image'
                    .ui.inline.header building: #{title}
                    if can_edit
                        a.ui.basic.circular.icon.button(href="/building/#{_id}/edit")
                            i.pencil.large.icon
                    +image_view key='image' label='image' direct=true
                    +voting_full
                    +viewing
                    if in_dev 
                        +print_this
                .ten.wide.column
                    .ui.header #{title} 
                    .ui.inline.header 
                        +i name='room' cl='ui avatar image'
                        |units
                    if in_dev 
                        i.plus.icon.add_unit
                    .ui.selection.list
                        each building_units
                            a.item(href="/unit/#{_id}") #{title} #{unit_number}
                    div
                    .ui.inline.header 
                        +i name='blog' cl='ui avatar image'
                        |posts
                    i.plus.icon.add_building_post
                    div
                    .ui.inline.header 
                        +i name='shop' cl='ui avatar image'
                        |shop
                    i.plus.icon.add_building_product
                    div
                    +raw_view key='map_html' label='map html' direct=true
                    // +comments


template(name='building_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column
                    .ui.header 
                        |editing building
                    a.ui.fluid.icon.green.button(href="/building/#{_id}/" title='save')
                        i.checkmark.big.icon
                    +text_edit key='street' label='street' icon='marker' direct=true
                    +number_edit key='address_number' label='address number' icon='marker' direct=true
                    
                    +remove_button
                .eight.wide.column 
                    +text_edit key='title' direct=true
                    +text_edit key='building_code' label='building code (letter)' icon='letter' direct=true
                    +raw_edit key='map_html' label='map html' direct=true
                    +image_edit key='image_id' label='image' direct=true
                    +array_edit key='tags' label='tags' icon='tags' direct=true
                    +array_edit key='location_tags' label='location tags' icon='marker' direct=true
                                        
