template(name='deliveries')
    .ui.stackable.padded.grid
        .three.wide.column
            .ui.header 
                +i name='in-transit'
                |deliveries
            +cloud filter='delivery'
                
        .thirteen.wide.column
            .ui.three.cards
                each deliveries
                    .ui.card
                        a(href="/shop/#{_id}/view")
                            img.ui.centered.rounded.image(src="{{c.url picture width=300 height=200 crop='fit'}}")
                        .content 
                            .header #{title}
                            .smallscroll
                                |!{description}
                            +add_to_tab
                            a.ui.icon.button(href="/shop/#{_id}/view")
                                +i name='chevron right' classes='ui mini image'
                            if can_edit
                                a.ui.button(href="/shop/#{_id}/edit")
                                    +i name='pencil' classes='ui mini image'
