template(name='events')
    .ui.stackable.padded.grid
        .four.wide.column
            .ui.inline.header 
                +i name='wrench'
                |events
            if currentUser
                a.ui.icon.basic.circular.button.add_event(title='cook')
                    i.plus.green.large.icon
            
            .ui.left.icon.search.small.input
                i.search.icon.refresh_tags
                input#search_tag.prompt(type='text' autocomplete="off" placeholder='tags')
            if selected_tag_plural
                .ui.icon.circular.black.compact.button.clear_picked_tags
                    i.remove.icon
            each picked_tags
                button.ui.blue.compact.circular.small.button.unselect_tag(tabindex='0')
                    //- i.remove.icon
                    | #{this}
            each tags
                button.ui.circular.compact.small.basic.button.tag_result(tabindex="0" class=result_class title=count) #{title}
                    //- small #{count}
            .spacer
            
        .twelve.wide.column
            .sorting_row
                .ui.icon.input
                    i.search.icon
                    input.tag_search(type='text' placeholder='search...')
                |sort by
                .ui.compact.small.menu
                    .ui.simple.dropdown.item
                        strong #{current_event_sort_label}
                        i.dropdown.icon
                        .menu
                            +set_event_sort_key key='complete' label='complete' icon='complete'
                            // +set_event_sort_key key='datetime_available' label='available' icon='clock'
                            +set_event_sort_key key='_timestamp' label='added' icon='clock'
                            // +set_event_sort_key key='comment_count' label='comment count' icon='chat'
                            +set_event_sort_key key='_author_username' label='author' icon='user'
                .ui.compact.icon.circular.button.set_sort_direction(title='toggle sort direction')
                    if sorting_up
                        i.sort.amount.down.icon
                    else
                        i.sort.amount.up.icon
                |&nbsp;
                |&nbsp;
                .ui.inline.small.grey.header
                    |show
                .ui.compact.menu
                    .ui.simple.dropdown.item
                        strong #{event_limit}
                        i.dropdown.icon
                        .menu
                            +set_event_limit amount=1
                            +set_event_limit amount=5
                            +set_event_limit amount=10
                            +set_event_limit amount=20
            .spacer 
            .ui.stackable.four.cards
                each event
                    +event_card

template(name='set_event_sort_key')
    .item.set_sort
        if color
            .ui.label(class=color) #{label}
        else 
            if emoji
                em(data-emoji=emoji)
            else if icon
                i.icon(class=icon)
            |#{label}
        

template(name='set_view_mode_event')
    .item.set_view
        i.icon(class=icon)
        |#{title}


template(name='set_event_limit')
    .item.set_limit #{amount}




template(name='event_card')
    .ui.card(class=event_card_class)
        .image
            img.ui.zoom.pointer.goto_event.image(src="{{c.url image_id width=400 height=300 crop='pad'}}")
        .content
            a.ui.header(href="/event/#{_id}/") 
                //- |#{_author.name}'s
                | #{title}
            //- if session_is 'view_tags' true
            +ismall name='tags'
            each tags
                .ui.small.circular.label #{this}
        //- .ui.inline.small.header tags
        .content
            .right.floated.meta
                | {{from_now _timestamp}}
            //- if session_is 'view_users' true
            a(href="/user/#{author.username}")
                img.ui.avatar.image(src="{{c.url author.image_id width=400 height=600 crop='fit'}}")
                |#{author.username}
        //- a.image(href="/event/#{_id}/")
            
        .content    
            if complete 
                i.big.circular.green.checkmark.icon
            if can_edit
                a.ui.large.icon.button(href="/event/#{_id}/edit")
                    i.pencil.icon
            a.ui.icon.button(href="/event/#{_id}/")
                i.chevron.right.icon


template(name='event_view')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .six.wide.column 
                    a.ui.fluid.basic.compact.button(href="/events")
                        i.left.chevron.icon
                        +i name='events' cl='ui inline avatar image'
                        |events
                    .ui.header view event
                    if can_edit
                        a.ui.big.icon.button(href="/event/#{_id}/edit")
                            i.pencil.large.icon
                    +image_view key='image_id' label='image' direct=true
                    +voting_full
                    +viewing
                .ten.wide.column
                    .ui.header #{title} 
                    +html_view key='description' icon='content' label='description' direct=true
                    if location_tags
                        +array_view key='location_tags' label='location tags' icon='marker' direct=true
                    +array_view key='tags' label='tags' icon='tags' direct=true
                    div
                    +comments


template(name='event_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column
                    .ui.header 
                        |editing event
                    a.ui.big.icon.green.button(href="/event/#{_id}/" title='save')
                        i.checkmark.big.icon
                    +remove_button
                    +image_edit key='image' label='image' direct=true
                .eight.wide.column 
                    +text_edit key='title' direct=true
                    +html_edit key='description' label='content' icon='content' direct=true
                    +array_edit key='tags' label='tags' icon='tags' direct=true
                    +array_edit key='location_tags' label='location tags' icon='marker' direct=true
                    +text_edit key='contact_info' label='contact info' icon='info' direct=true
                .four.wide.column 
                    //- +boolean_edit key='set_duration' label='set duration' direct=true
                    //- if set_duration
                    //-     +number_edit key='duration_hours' label='duration hours' direct=true
            
                    +single_user_edit key='_author_username' label='author username' direct=true
