template(name='grid')
    //- .ui.inline.grey.header 
    //-     |all 
    //-     each currentUser.roles
    //-         .ui.label #{this}
    //-     |models
    .ui.left.icon.input
        input.model_filter(type='text' autofocus='autofocus')
        if model_filter_value
            i.remove.link.icon
        else 
            i.search.icon
    unless model_filter_value
        +cloud filter='model'
    .ui.stackable.four.column.grid
        .row
            each role_models
                .column
                    +grid_role_model
            
template(name='grid_role_model')
    .ui.circular.segment
        a.ui.inline.header(href="/m/#{slug}" tabindex="0" title=description)
            +i name=icon
            |#{title}
        div
        .ui.list
            each model_docs
                +model_list_item_view
        //- span(title='views')
        //-     |#{views}
        if is_dev
            span(title='views')
                i.eye.grey.icon
                |#{views}
            each view_roles
                .ui.small.label(title='viewable by') #{this}


template(name='model_list_item_view')
    //- a.item(href="/m/#{model}/#{_id}/view") 
    .item.pointer.goto_doc(title="#{views} views")
        if image
            img.ui.mini.inline.image(src="{{c.url image width=400 height=400 gravity='face' crop='fill'}}")
        if icon
            +ismall name=icon
        span.capitalize #{title} #{name}
        //- span.lowercase #{title} #{name}
        div
