
template(name='post_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .six.wide.column.scrolling
                    a.ui.big.icon.green.circular.button(href="/#{model}/#{_id}/")
                        i.checkmark.big.icon
                    .ui.inline.header 
                        small editing
                        |'#{title}'
                        small post
                    +text_edit key='title' icon='header' direct=true
                    +image_edit key='image_id' direct=true
                    +array_edit key='tags' icon='tags' direct=true
                    +array_edit key='location_tags' label='location tags' icon='marker' direct=true
                    .ui.icon.small.red.button.delete_post_item 
                        i.trash.icon
                    if in_dev
                        +print_this
                    // if is_admin
                    //     +text_edit key='model' direct=true
                    //     // +key_value_edit key='model' value='post' icon='blog' label='make post' direct=true
                    //     // +key_value_edit key='model' value='food' icon='food' label='make food' direct=true
                    //     +text_edit key='app' label='app' icon='code' direct=true
                    +html_edit key='description' direct=true
                .six.wide.column.scrolling
                    .ui.segment
                        +boolean_edit key='is_service' label='is service' direct=true icon='wrench'
                        if is_service
                            +number_edit key='service_hourly_rate' label='hourly rate' icon='money' direct=true
                            
                    .ui.segment
                        +boolean_edit key='is_rentable' label='is rentable' direct=true icon='clock'
                        if is_rentable 
                            +boolean_edit key='has_hourly_rate' label='hourly rate' icon='clock' direct=true
                            if has_hourly_rate
                                +float_edit key='hourly_rate' label='hourly rate' icon='clock' direct=true
                            div
                            +boolean_edit key='has_daily_rate' label='daily rate' icon='sun' direct=true
                            if has_daily_rate
                                div
                                +float_edit key='daily_rate' label='daily rate' icon='exchange' direct=true
                            div
                            +boolean_edit key='weekly_rate' label='weekly rate' icon='sun' direct=true
                            if weekly_rate
                                div
                                +float_edit key='weekly_credit' label='weekly rate' icon='exchange' direct=true
                            div
                            +boolean_edit key='monthly_rate' label='monthly rate' icon='sun' direct=true
                            if has_monthly_rate
                                div
                                +float_edit key='monthly_rate' label='monthly rate' icon='exchange' direct=true
                            div
                            +boolean_edit key='auction' label='auction' icon='podium-with-audience--v2' direct=true
                            if auction
                                div
                                +number_edit key='auction_cutoff_hours' label='auction cutoff (hours)' direct=true
                                +float_edit key='minimum_bid' label='hour minimum bid ($)' icon='refund' direct=true
                            div
                            +boolean_edit key='security_deposit_required' label='security deposit required' icon='lock' direct=true
                            if security_deposit_required
                                div
                                +number_edit key='security_deposit_amount' label='security deposit amount (c)' icon='lock' direct=true tooltip='amount will be held from renters account then returned upon successful transaction'
                                div
                                +boolean_edit key='friends_exempt' label='friends exempt' icon='users' direct=true
                    .ui.segment
                        +boolean_edit key='is_forsale' label='is for sale' direct=true icon='shopping-cart'
                        if is_forsale
                            +number_edit key='point_price' icon='coins' label='point price/unit' direct=true
                            +number_edit key='inventory' label='inventory' icon='warehouse' direct=true
                            div
                            .ui.segment
                                +boolean_edit key='can_pickup' label='pickup' direct=true icon='doormat'
                            .ui.segment
                                +boolean_edit key='can_deliver' label='delivery' icon='dolly' direct=true
                                if can_deliver
                                    +number_edit key='delivery' label='delivery price' icon='money' direct=true
                                +textarea_edit key='delivery_instructions' label='delivery instructions' icon='note' direct=true
                            +link_edit key='link' label='link' icon='globe' direct=true
                            // +key_value_edit key='source' label='nextdoor' value='nextdoor' icon='home' direct=true
                            // +key_value_edit key='source' label='goldrun' value='goldrun' icon='apartment' direct=true
                            // +text_edit key='source' label='source' icon='globe' direct=true
                .three.wide.column.scrolling
                    +boolean_edit key='published' label='published'

    
template(name='add_to_tab')
    .ui.segment
        .add_to_tab.ui.green.basic.button
            //- i.cart.plus.icon
            |add to tab
        if current_tab_additions
            div current tab additions
            .ui.list
                each current_tab_additions
                    .item
                        |#{when}
                        //- i.remove.link.icon.remove_tab_item
            
    
template(name='post_location')
    .ui.inline.header current location
    |#{current_location}
    
    



template(name='user_posts')
    .scrolling
        if is_current_user
            .ui.circular.button.add_post
                i.plus.icon
                |post
        each posts
            +profile_post_item

template(name='profile_post_item')
    .ui.segment.grid
        .row
            .four.wide.column
                +image_view key='image' direct=true cl='zoom ui tiny image'
            .twelve.wide.column
                .ui.header #{title}
                a.ui.small.header.inline.lowercase(href="/post/#{_id}/")
                    |#{price_per_serving}c / #{serving_unit}
                .ui.small.inline.header #{when}
                a.ui.button(href="/post/#{_id}/")
                    |view
                    i.right.chevron.icon
                if is_admin
                    +remove_button
