template(name='post_view')
    with current_doc
        .ui.stackable.padded.grid
            //- img.ui.large.rounded.image(src="{{c.url image width=500 height=500 gravity='face' crop='fill'}}")
            .three.column.row
                .column
                    // .ui.header 
                    //     small viewing
                    //     |#{title}
                    //     small post
                    .ui.inline.header #{title}
                    a.ui.big.compact.basic.button.fly_left(href="/" title='shop')
                        i.left.chevron.icon
                        +i name='shop' cl='ui inline image'
                    // if can_edit
                    a.zoomer(href="/post/#{_id}/edit")
                        i.pencil.big.icon
                    .ui.small.inline.header
                        |added
                        // |added by #{_author_username}
                        |#{when}
                    div
                    +text_view key='location' icon='marker' label='location' direct=true
                    // img.ui.large.rounded.image(src="{{c.url image width=500 height=500 gravity='face' crop='fill'}}")
                    // +voting_full    
                    img.ui.centered.rounded.shadowed.fluid.image(src="{{c.url image_id crop='fit'}}")
                    i.large.tag.icon        
                    each tags 
                        a.ui.compact.button.goto_tag
                            |#{this}
                    // +text_view key='location' icon='marker' label='location description' direct=true
                    +array_view key='location_tags' label='location tags' icon='marker' direct=true
                unless anonymous
                    .column
                        with author
                            +user_card
                    // .ui.hidden.divider
                .column
                    // unless approval_required
                    .ui.big.green.fluid.button.new_reservation 
                        i.large.clock.icon
                        small reserve for 
                        strong #{daily_rate}p/day
                    // else 
                    //     .ui.big.blue.fluid.button.new_reservation 
                    //         |request
                    //     // small rent for
                    div
                    // +boolean_view key='auction' label='auction' icon='podium-with-audience--v2' direct=true
                    // if auction
                    //     +number_view key='auction_cutoff_hours' label='auction cutoff (hours)' direct=true
                    //     +float_view key='minimum_bid' label='hour minimum bid' icon='refund' direct=true
                
                    // if link 
                    //     +link_view key='link' label='link' direct=true
                    // .ui.hidden.divider
                    // div
                    // .ui.inline.header
                    //     +i name='delivery'
                    //     |delivery
                    // div
                    // if delivery_instructions
                    //     .ui.small.inline.header
                    //         |delivery instructions:
                    //     |#{delivery_instructions}   
                .column
                    if description.length
                        +html_view key='description' label='description' icon='content' direct=true
                    div
                    +post_view_reservations
                    +post_orders
                    +post_stats
                    // +last_viewed
                    +creation_info
                    +comments


template(name='nearby_person')                    
    .column
        .ui.segment.rounded.zoomer.pointer.goto_user
            img.ui.tiny.circular.inline.image(src="{{c.url profile_image_id height=500 width=500 gravity='face' crop='fill'}}")
            a.ui.header(href="/user/#{username}") #{username}
                if age
                    |#{age}
            |!{about} #{formatted}
            each tags
                .ui.basic.small.label #{this}
            |#{light_mode}
            


        
        
template(name='related_posts')
    .ui.header 
        +i name='code-fork'
        |#{related_posts.count}
        |related posts
    .ui.selection.animated.link.list
        each related_post_docs
            a.item(href="/post/#{_id}")
                | #{title}
                |#{price}p
    
template(name='post_orders')
    .ui.header 
        +i name='order-history'
        |#{post_order_docs.count}
        |orders
    .ui.selection.animated.link.large.list
        each post_order_docs
            a.item(href="/order/#{_id}")
                | #{when} #{_author_username}
    

template(name='post_edit')
    with current_doc
        .ui.stackable.padded.grid
            .three.column.row
                .column
                    .ui.inline.header 
                        small editing
                        |'#{title}'
                        small post
                    a.ui.big.icon.green.fluid.button(href="/post/#{_id}/")
                        i.checkmark.big.icon
                    +text_edit key='title' icon='header' direct=true
                    +number_edit key='daily_rate' label='daily rate' icon='exchange' direct=true
                    .ui.icon.small.red.button.delete_post_item 
                        i.trash.icon
                    if in_dev
                        +print_this
                    +boolean_edit key='published' label='published' icon='checkmark'
                    +boolean_edit key='anonymous' label='anonymous' icon='visible'
                    // if is_dev
                    //     +single_user_edit key='_author_username' label='author username' direct=true
                    //     +link_edit key='amazon_referral_link' label='amazon referral link' icon='amazon' direct=true
                    +text_edit key='location' label='location text' icon='marker' direct=true
                .column
                    +array_edit key='tags' icon='tags' label='tags' direct=true
                    +array_edit key='location_tags' label='public location tags' icon='marker' direct=true
                    +array_edit key='private_location_tags' label='private location tags' icon='marker' direct=true tooltip='for handlers and buyers who are picking up'
                .column
                    +image_edit key='image_id' label='image' direct=true
                .column
                    +html_edit key='description' label='description' icon='content' direct=true

    
template(name='post_location')
    .ui.inline.header current location
    |#{current_location}
    
    



template(name='user_posts')
    .scrolling
        if is_current_user
            .ui.button.add_post
                i.plus.icon
                |post
        each posts
            +profile_post_item

template(name='profile_post_item')
    .ui.segment.grid
        .row
            .three.column
                +image_view key='image' direct=true cl='zoom ui tiny image'
            .twelve.wide.column
                .ui.header #{title}
                a.ui.header.inline.lowercase(href="/post/#{_id}/")
                    |#{daily_rate}p/day
                .ui.small.inline.header #{when}
                a.ui.button(href="/post/#{_id}/")
                    |view
                    i.right.chevron.icon




template(name='sort_item')
    .item.set_sort #{label}
    
    
    

                    
                    
template(name='last_viewed')
    i.large.grey.eye.icon
    .ui.inline.small.header last viewed {{long_date last_viewed_timestamp}}
    .ui.inline.small.header {{from_now last_viewed_timestamp}}
                    
                    

template(name='post_stats')
    //- .ui.accordion
    //-     .title
    .ui.grey.header.refresh_post_stats
        i.line.chart.icon
        |stats
    //- .content
    .ui.big.list
        .item #{views} views
        .item #{reservation_count} reservations
        .item #{total_earnings}c/#{total_post_hours}hrs total
        .item #{average_post_cost}c / #{average_post_duration}hrs avg post
        //- .item post ranking # reservations
        //- .item post ranking $ earned
        //- .item # different renters
        //- .item avg daily earnings
        //- .item avg weekly earnings
        //- .item avg monthly earnings
        //- .item biggest renter
        //- .item predicted payback duration 
        //- .item predicted payback date 
    //-     //- .ui.header res slot exists
    //-     +reservation_slot_template
    //- else
    //-     if is_product_author
    //-         .ui.button.new_slot
    //-             |new slot
        
    
template(name='post_status')
    if available 
        .ui.green.label available now
    else 
        .ui.label off the clock
        
        
        


template(name='post_view_reservations')
    .ui.header 
        i.clock.icon
        |reservations
    //- .ui.icon.button.set_card_view
    //-     i.clone.icon
    //- .ui.icon.button.set_segment_view
    //-     i.list.icon
    //- .ui.hidden.divider
    //- if view_res_cards
    //-     .ui.stackable.three.cards
    //-         each reservations
    //-             +res_card
    //- else if view_res_segments
    each reservations
        +reservation_segment
        
template(name='set_date_filter')        
    .ui.button.set_date_filter(class=date_filter_class)
        |#{label}
        
        

template(name='reservation_segment')
    .ui.segment
        a.ui.small.header.inline.lowercase(href="/reservation/#{_id}/")
            small from 
            |{{cal_time start_datetime}}
            //- |{{cal_time start_datetime}} [#{start_date}, hour: #{start_hour}]
            //- |{{long_date start_datetime}}
            small to 
            |{{cal_time end_datetime}}
        //- .ui.inline.header #{_author_username}
        .ui.inline.header #{author.name}
        .ui.grey.inline.header #{hour_duration}hrs
        .ui.grey.inline.header(title='credits')
            | $#{cost}
        .ui.small.inline.header #{when} by #{_author_username}
        a.ui.large.button(href="/reservation/#{_id}/")
            |view
            i.right.chevron.icon
                
                
                
                
template(name='res_card')
    .ui.card
        .content
            a.ui.small.header.inline.lowercase(href="/reservation/#{_id}/")
                small from 
                |{{cal_time start_datetime}}
                //- |{{cal_time start_datetime}} [#{start_date}, hour: #{start_hour}]
                //- |{{long_date start_datetime}}
                small to 
                |{{cal_time end_datetime}}
            div
            .ui.grey.inline.header #{hour_duration} hrs
            .ui.grey.inline.header(title='credits')
                //- i.coins.icon
                | #{cost}c
            .ui.small.header #{when} by #{_author_username}
            a.ui.large.fluid.button(href="/reservation/#{_id}/")
                |view
                i.right.chevron.icon


