template(name='posts')
    .ui.stackable.padded.grid
        .four.wide.column
            .ui.inline.header 
                +i name='blog'
                |posts
            if currentUser
                a.ui.icon.circular.button.add_post(title='add post')
                    i.plus.green.large.icon
            
            .ui.left.icon.search.small.input
                i.search.icon.refresh_tags
                input#search_tag.prompt(type='text' autocomplete="off" placeholder='tags')
            if selected_tag_plural
                .ui.icon.circular.black.compact.button.clear_picked_tags
                    i.remove.icon
            each picked_tags
                button.ui.blue.compact.circular.small.button.unselect_tag(tabindex='0')
                    //- i.remove.icon
                    | #{this}
            each tags
                button.ui.circular.compact.button.tag_result(tabindex="0" class=result_class title=count) #{title}
                    //- small #{count}
            +key_value_edit key='view_private' value=true  label='view private'
            +key_value_edit key='view_private' value=false label='view all'
            .spacer
            
        .twelve.wide.column
            .sorting_row
                .ui.icon.input
                    i.search.icon
                    input.tag_search(type='text' placeholder='search...')
                +key_value_edit key='sort_key' value='_timestamp' label='added' icon='clock'
                +key_value_edit key='sort_key' value='comment_count' label='comment count' icon='chat'
                |&nbsp;
                |&nbsp;
                +limit_menu
            .spacer 
            .ui.stackable.three.cards.scrolling
                each post_docs
                    +post_card


template(name='post_card')
    .ui.card(class=post_card_class)
        a.image.zoomer(href="/post/#{_id}")
            img.ui.zoomer.pointer.goto_post.image(src="{{c.url image_id width=400 height=400}}")
        a.image.zoomer(href="/post/#{_id}")
            img.ui.zoomer.pointer.goto_post.image(src="{{c.url image width=400 height=400}}")
        .content
            a.ui.header.zoomer(href="/post/#{_id}/") 
                | #{title}
            a.zoomer.pointer.zoomer(href="/post/#{_id}/") 
                |!{body}
            +ismall name='tags'
            each tags
                .ui.small.basic.label #{this}
        .content
            .right.floated.meta
                | {{from_now _timestamp}}
            a(href="/user/#{author.username}")
                img.ui.avatar.image(src="{{c.url author.image_id width=400 height=600 crop='fit'}}")
                |#{author.username}
        .content    
            if private 
                i.big.lock.icon
            if can_edit
                a.ui.icon.button(href="/post/#{_id}/edit")
                    i.pencil.icon
            a.ui.icon.button(href="/post/#{_id}")
                i.right.chevron.icon


template(name='post_view')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column 
                    a.ui.compact.circular.button.fly_left(href="/posts")
                        i.left.chevron.icon
                        +i name='blog' cl='ui inline image'
                        // |posts
                    .ui.small.grey.header 
                        small viewing post
                        // strong #{title}
                    if can_edit
                        a.ui.icon.circular.button(href="/post/#{_id}/edit")
                            i.pencil.large.icon
                    +voting_full
                    +viewing
                    if in_dev 
                        +print_this
                    +view_visibility
                    +author_card
                .eight.wide.column
                    if title
                        h1.ui.header #{title} 
                    +image_view key='image_id' label='image' direct=true
                    if in_dev 
                        if image
                            +image_view key='image' label='image' direct=true
                    .f6
                        +html_view key='body' icon='content' label='body' direct=true
                        +html_view key='content' icon='content' label='body' direct=true
                    +array_view key='location_tags' label='location tags' icon='marker' direct=true
                    +array_view key='tags' label='tags' icon='tags' direct=true
                    div
                    +comments
                    if watson 
                        +watson_view
                .four.wide.column
                    if can_purchase
                        .ui.header 
                            +i name='coins' cl='ui avatar image'
                            |purchase price: #{purchase_price}pt
                        +post_orders
                
                
template(name='post_orders')
    .ui.header
        +i name='order-history'
        |post orders 
    
                
template(name='author_card')    
    .ui.card 
        .content
            a.ui.header.fly_right(href="/user/#{_author_username}") author: #{_author_username}    
        
                
template(name='view_visibility')
    .ui.header 
        +i name='eye' cl='ui avatar image'
        |visibility
    if key_value_is 'visibility' 'private'
        +i name='private' cl='ui inline image'
        |private
    if key_value_is 'visibility' 'anyone'
        +i name='groups' cl='ui inline image'
        |anyone
    if key_value_is 'visibility' 'friends'
        +i name='friends' cl='ui inline image'
        |friends
    if key_value_is 'visibility' 'building'
        +i name='building' cl='ui inline image'
        |building 
        
        
                

template(name='post_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .six.wide.column
                    .ui.header 
                        small editing post
                        strong #{title}
                    a.ui.big.icon.green.button(href="/#{model}/#{_id}" title='save')
                        i.checkmark.big.icon
                    +remove_button
                    +image_edit key='image_id' label='image' direct=true
                    .ui.header 
                        +i name='eye'
                        |visibility
                    +key_value_edit key='visibility' value='anyone' label='anyone' icon='groups'
                    +key_value_edit key='visibility' value='building' label='building' icon='building'
                    +key_value_edit key='visibility' value='friends' label='friends' icon='smile'
                    +key_value_edit key='visibility' value='private' label='private' icon='private'
                    +array_edit key='tags' label='tags' icon='tags' direct=true
                    +array_edit key='location_tags' label='location tags' icon='marker' direct=true
                    // +boolean_edit key='private' label='private' direct=true
                    if in_dev 
                        +text_edit key='model' label='model' direct=true
                .eight.wide.column 
                    +text_edit key='title' direct=true
                    +html_edit key='body' label='body' icon='content' direct=true
                    +boolean_edit key='can_purchase' label='charge for access' direct=true icon='coins'
                    if can_purchase 
                        +number_edit key='purchase_price' label='purchase price' direct=true icon='coins'
                    