
template(name='post_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .six.wide.column
                    a.ui.big.icon.green.circular.button(href="/post/#{_id}/")
                        i.checkmark.big.icon
                    .ui.inline.header 
                        small editing
                        |'#{title}'
                        small post
                    +text_edit key='title' icon='header' direct=true
                    +image_edit key='image_id' direct=true
                    +array_edit key='tags' icon='tags' direct=true
                    +array_edit key='location_tags' label='location tags' icon='marker' direct=true
                    .ui.icon.small.red.button.delete_post_item 
                        i.trash.icon
                    if in_dev
                        +print_this
                .six.wide.column.scrolling
                    div
                    +float_edit key='daily_rate' label='daily rate' icon='exchange' direct=true
                    div
                    +boolean_edit key='security_deposit_required' label='security deposit required' icon='lock' direct=true
                    if security_deposit_required
                        div
                        +number_edit key='security_deposit_amount' label='security deposit amount (c)' icon='lock' direct=true tooltip='amount will be held from renters account then returned upon successful transaction'
                        div
                        +boolean_edit key='friends_exempt' label='friends exempt' icon='users' direct=true
                    +html_edit key='description' direct=true
                .four.wide.column.scrolling
                    +boolean_edit key='delivery_available' label='delivery available' icon='truck'
                    +boolean_edit key='pickup_available' label='pickup available' icon='doormat'
                    if delivery_available
                        +array_edit key='delivery_location_tags' label='delivery location tags' icon='marker'
                    +boolean_edit key='published' label='published'
                    +boolean_edit key='anonymous' label='anonymous'

    
template(name='post_location')
    .ui.inline.header current location
    |#{current_location}
    
    



template(name='user_posts')
    .scrolling
        if is_current_user
            .ui.circular.button.add_post
                i.plus.icon
                |post
        each posts
            +profile_post_item

template(name='profile_post_item')
    .ui.segment.grid
        .row
            .four.wide.column
                +image_view key='image' direct=true cl='zoom ui tiny image'
            .twelve.wide.column
                .ui.header #{title}
                a.ui.small.header.inline.lowercase(href="/post/#{_id}/")
                    |#{price_per_serving}c / #{serving_unit}
                .ui.small.inline.header #{when}
                a.ui.button(href="/post/#{_id}/")
                    |view
                    i.right.chevron.icon
                if is_admin
                    +remove_button
