template(name='posts')
    .ui.stackable.padded.grid
        .four.wide.column
            .ui.inline.header 
                +i name='blog'
                |posts
            if currentUser
                a.ui.icon.circular.button.add_post(title='add post')
                    i.plus.green.large.icon
            
            .ui.left.icon.search.small.input
                i.search.icon.refresh_tags
                input#search_tag.prompt(type='text' autocomplete="off" placeholder='tags')
            if selected_tag_plural
                .ui.icon.circular.black.compact.button.clear_picked_tags
                    i.remove.icon
            each picked_tags
                button.ui.blue.compact.circular.small.button.unselect_tag(tabindex='0')
                    //- i.remove.icon
                    | #{this}
            each tags
                button.ui.circular.compact.button.tag_result(tabindex="0" class=result_class title=count) #{title}
                    //- small #{count}
            .spacer
            
        .twelve.wide.column
            .sorting_row
                .ui.icon.input
                    i.search.icon
                    input.tag_search(type='text' placeholder='search...')
                i.large.sort.icon(title='sort by')
                +key_value_edit key='sort_key' value='_timestamp' label='added' icon='clock'
                +key_value_edit key='sort_key' value='comment_count' label='comment count' icon='chat'
                |&nbsp;
                |&nbsp;
                //.ui.inline.small.grey.header
                //    |show
                //.ui.compact.menu
                //    .ui.simple.dropdown.item
                //        strong #{post_limit}
                //        i.dropdown.icon
                //        .menu
                //            +set_post_limit amount=1
                //            +set_post_limit amount=5
                //            +set_post_limit amount=10
                //            +set_post_limit amount=20
            .spacer 
            .ui.stackable.three.cards
                each post_docs
                    +post_card

template(name='set_post_sort_key')
    .item.set_sort
        if color
            .ui.label(class=color) #{label}
        else 
            if emoji
                em(data-emoji=emoji)
            else if icon
                i.icon(class=icon)
            |#{label}
        

template(name='set_view_mode_post')
    .item.set_view
        i.icon(class=icon)
        |#{title}


template(name='set_post_limit')
    .item.set_limit #{amount}



template(name='post_card')
    .ui.card(class=post_card_class)
        a.image.zoomer(href="/post/#{_id}")
            img.ui.zoom.pointer.goto_post.image(src="{{c.url image_id width=400 height=400}}")
        .content
            a.ui.small.header.zoomer(href="/post/#{_id}/") 
                | #{title}
            a.zoomer(href="/post/#{_id}/") 
                |!{body}
            +ismall name='tags'
            each tags
                .ui.small.basic.label #{this}
        .content
            .right.floated.meta
                | {{from_now _timestamp}}
            a(href="/user/#{author.username}")
                img.ui.avatar.image(src="{{c.url author.image_id width=400 height=600 crop='fit'}}")
                |#{author.username}
        .content    
            if can_edit
                a.ui.icon.button(href="/post/#{_id}/edit")
                    i.pencil.icon
            a.ui.icon.button(href="/post/#{_id}")
                i.right.chevron.icon


template(name='post_view')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column 
                    a.ui.fluid.button(href="/posts")
                        i.left.chevron.icon
                        +i name='blog' cl='ui inline avatar image'
                        |posts
                    .ui.header 
                        small viewing post
                        strong #{title}
                    if can_edit
                        a.ui.big.icon.button(href="/post/#{_id}/edit")
                            i.pencil.big.icon
                    +voting_full
                    +viewing
                    if in_dev 
                        +print_this
                .eight.wide.column
                    h1.ui.header #{title} 
                    +image_view key='image_id' label='image' direct=true
                    .f6
                        +html_view key='body' icon='content' label='body' direct=true
                    +array_view key='location_tags' label='location tags' icon='marker' direct=true
                    +array_view key='tags' label='tags' icon='tags' direct=true
                    div
                    +comments
                    if watson 
                        +watson_view
                

template(name='post_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .six.wide.column
                    .ui.header 
                        small editing post
                        strong #{title}
                    a.ui.big.icon.green.button(href="/post/#{_id}" title='save')
                        i.checkmark.big.icon
                    +remove_button
                    +image_edit key='image' label='image' direct=true
                .ten.wide.column 
                    +text_edit key='title' direct=true
                    +html_edit key='body' label='body' icon='content' direct=true
                    +array_edit key='tags' label='tags' icon='tags' direct=true
                    +array_edit key='location_tags' label='location tags' icon='marker' direct=true