template(name='post_view')
    with current_doc
        .ui.stackable.padded.grid
            //- img.ui.large.rounded.image(src="{{c.url image width=500 height=500 gravity='face' crop='fill'}}")
            .three.column.row
                .column
                    // .ui.header 
                    //     small viewing
                    //     |#{title}
                    //     small post
                    .ui.inline.header #{title}
                    a.ui.big.compact.basic.button.fly_left(href="/" title='shop')
                        i.left.chevron.icon
                        +i name='shop' cl='ui inline image'
                    if can_edit
                        a.zoomer(href="/post/#{_id}/edit")
                            i.pencil.big.icon
                    +bookmark_button
                    .ui.small.inline.header
                        |added
                        // |added by #{_author_username}
                        |#{when}
                    div
                    +array_view key='location_tags' icon='marker' direct=true title='location tags'
                    div
                    +text_view key='location' icon='marker' label='location' direct=true
                    // img.ui.large.rounded.image(src="{{c.url image width=500 height=500 gravity='face' crop='fill'}}")
                .column
                    img.ui.centered.rounded.shadowed.fluid.image(src="{{c.url image_id crop='fit'}}")
                    i.large.tag.icon        
                    each tags 
                        a.ui.compact.button.goto_tag
                            |#{this}
                    // +text_view key='location' icon='marker' label='location description' direct=true
                    +array_view key='location_tags' label='location tags' icon='marker' direct=true
                unless anonymous
                    .column
                        with author
                            +user_card
                    // .ui.hidden.divider
                .column
                    unless approval_required
                        .ui.big.green.fluid.button.new_reservation 
                            i.large.clock.icon
                            small reserve for 
                            strong #{daily_rate}p/day
                    else 
                        .ui.big.blue.fluid.button.new_reservation 
                            |request
                        // small rent for
                    div
                    +boolean_view key='auction' label='auction' icon='podium-with-audience--v2' direct=true
                    if auction
                        +number_view key='auction_cutoff_hours' label='auction cutoff (hours)' direct=true
                        +float_view key='minimum_bid' label='hour minimum bid' icon='refund' direct=true
                    div
                
                    if link 
                        +link_view key='link' label='link' direct=true
                    .ui.hidden.divider
                    div
                    .ui.inline.header
                        +i name='delivery'
                        |delivery
                    div
                    if delivery_instructions
                        .ui.small.inline.header
                            |delivery instructions:
                        |#{delivery_instructions}   
                    +rental_calendar
                .column
                    if description
                        +textarea_view key='description' label='description' icon='content' direct=true
                    div
                    if security_deposit_required
                        .ui.header 
                        |$#{security_deposit_amount}
                        small security deposit
                    // +text_view key='contact_info' label='contact info' icon='info' direct=true
                    div
                    +link_view key='amazon_referral_link' label='amazon referral link' icon='amazon' direct=true
                    +rental_calendar
                    +rental_view_reservations
                        
                .column
                    +boolean_view key='pickup_delivery' label='pickup' direct=true icon='box'
                    +boolean_view key='unit_dropoff_delivery' label='home dropoff' icon='contactless-delivery' direct=true
                    +boolean_view key='building_dropoff_delivery' label='building dropoff' icon='building' direct=true
                    +post_orders
                    +related_posts
                    +voting_full    
                .column
                    +rental_status
                    // if can_edit
                    //     a.ui.icon.button(href="/rental/#{_id}/edit" title='edit')
                    //         i.pencil.large.icon
                    +rental_stats
                    +last_viewed
                    +creation_info
                    with _author_id
                        +user_card
                .column
                    .ui.grey.header 
                        i.user.shield.icon
                        | owner
                    +single_user_view key='owner_username' direct=true
                    .ui.grey.header 
                        i.user.clock.icon
                        | handler
                    +single_user_view key='handler_username' direct=true
                .column
                    +comments
                .column
                    +boolean_view key='security_deposit_required' label='security deposit required' icon='lock' direct=true
                    if security_deposit_required
                        +number_view key='security_deposit_amount' label='security deposit amount' icon='lock' direct=true tooltip='amount will be held from renters account then returned upon successful transaction'
                        div
                        +boolean_view key='friends_exempt' label='friends exempt' icon='users' direct=true
                        
                    +boolean_view key='approval_required' label='approval required' icon='checkmark' direct=true
                    if approval_required
                        div
                        |you will receive a notification when reservations are requested
                    .ui.header
                        +i name='refund'
                        | refunds
                    +boolean_view key='allow_refunds' label='allow refunds' icon='refund' direct=true
                    if allow_refunds
                        +number_view key='full_refund_cutoff_hours' label='full refund cutoff hours' icon='clock' direct=true
                        +number_view key='half_refund_cutoff_hours' label='half refund cutoff hours' icon='clock' direct=true

                .column
                    .ui.header
                        +i name='pie-chart'
                        |ownership
                    .content
                        +single_user_view key='owner_username' label='owner' direct=true
                        +single_user_view key='handler_username' label='handler' direct=true
                .column
                    .ui.header
                        +i name='clock'
                        |availability
                    .content
                        +array_view key='availability_tags' label='availability tags' icon='clock' direct=true
                        +boolean_view key='available' label='currently available' direct=true
                        +multi_doc_view key='available_days' label='available days' ref_model='day_of_week' direct=true
                .column
                    .ui.header
                        +i name='groups'
                        |audience
                    .content
                        +boolean_view key='transaction_number_restriction' label='transaction number restriction' icon='hashtag' direct=true
                        if transaction_number_restriction
                            +number_view key='transaction_number_restriction_threshold' label='transaction number restriction threshold' direct=true
                        +boolean_view key='transaction_amount_restriction' label='transaction amount restriction' icon='money' direct=true
                        if transaction_amount_restriction
                            +number_view key='transaction_amount_restriction_threshold' label='transaction amount restriction threshold' direct=true
                        +boolean_view key='visible_to_public' label='visible to public' direct=true
                        unless visible_to_public
                            +boolean_view key='visible_to_friends' label='visible to friends' direct=true
                        unless visible_to_public
                            +boolean_view key='visible_to_specific_people' label='visible to specific people' direct=true
                            if visible_to_specific_people
                                +multi_user_view key='visible_to_member_ids' label='visible to members:' direct=true
                .column
                    .ui.header
                        +i name='bicycle'
                        |delivery
                    .content
                        .ui.header
                            +i name='clock' cl='ui inline tiny image'
                            |reservation start
                        +boolean_view key='res_start_pickup' label='pickup' icon='truck' direct=true
                        +boolean_view key='res_start_dropoff' label='dropoff' icon='dolly' direct=true
                        if res_start_dropoff
                            +number_view key='res_start_dropoff_fee' label='reservation start dropoff fee' icon='low-price' direct=true
                .column
                    .ui.header
                        +i name='clock'
                        |reservation end
                    +boolean_view key='res_end_dropoff' label='dropoff' icon='dolly' direct=true
                    +boolean_view key='res_end_pickup' label='pickup' icon='truck' direct=true
                    if res_end_pickup
                        +number_view key='res_end_pickup_fee' label='reservation end pickup fee' icon='low-price' direct=true
                .column
                    .ui.header
                        +i name='bell'
                        |notifications
                    .content
                        +boolean_view key='notify_on_reservation' label='on new reservation' icon='plus' direct=true
                        +boolean_view key='notify_on_cancelation' label='on reservation cancelation' icon='cancel-2--v1' direct=true
    +map


template(name='map')
    .ui.segment
        .ui.fluid.button.refresh
            i.marker.icon
            |reload location data
        #mapid
        // unless pos
        // .ui.one.column.padded.grid
        //     .column
        //         .ui.center.aligned.header People Near You: #{my_longform} (#{my_category})
        //         .ui.four.column.stackable.padded.centered.grid
        //             each nearby_people
        //                 +nearby_person
template(name='nearby_person')                    
    .column
        .ui.segment.rounded.zoomer.pointer.goto_user
            img.ui.tiny.circular.inline.image(src="{{c.url profile_image_id height=500 width=500 gravity='face' crop='fill'}}")
            a.ui.header(href="/user/#{username}") #{username}
                if age
                    |#{age}
            |!{about} #{formatted}
            each tags
                .ui.basic.small.label #{this}
            |#{light_mode}
            


        
        
template(name='related_posts')
    .ui.header 
        +i name='code-fork'
        |#{related_posts.count}
        |related posts
    .ui.selection.animated.link.list
        each related_post_docs
            a.item(href="/post/#{_id}")
                | #{title}
                |#{price}p
    
template(name='post_orders')
    .ui.header 
        +i name='order-history'
        |#{post_order_docs.count}
        |orders
    .ui.selection.animated.link.large.list
        each post_order_docs
            a.item(href="/order/#{_id}")
                | #{when} #{_author_username}
    

template(name='post_edit')
    with current_doc
        .ui.stackable.padded.grid
            .three.column.row
                .column
                    .ui.inline.header 
                        small editing
                        |'#{title}'
                        small post
                    a.ui.big.icon.green.fluid.button(href="/post/#{_id}/")
                        i.checkmark.big.icon
                    +text_edit key='title' icon='header' direct=true
                    .ui.icon.small.red.button.delete_post_item 
                        i.trash.icon
                    if in_dev
                        +print_this
                    +boolean_edit key='published' label='published' icon='checkmark'
                    +boolean_edit key='anonymous' label='anonymous' icon='visible'
                    // if is_dev
                    //     +single_user_edit key='_author_username' label='author username' direct=true
                    //     +link_edit key='amazon_referral_link' label='amazon referral link' icon='amazon' direct=true
                    // // +text_edit key='contact_info' label='contact info' icon='info' direct=true
                .column
                    +array_edit key='tags' icon='tags' label='tags' direct=true
                    +array_edit key='location_tags' label='public location tags' icon='marker' direct=true
                    +array_edit key='private_location_tags' label='private location tags' icon='marker' direct=true tooltip='for handlers and buyers who are picking up'
                .column
                    +image_edit key='image_id' label='image' direct=true
                .column
                    div
                    +number_edit key='daily_rate' label='daily rate' icon='exchange' direct=true
                    div
                    .ui.segment
                        +boolean_edit key='security_deposit_required' label='security deposit required' icon='lock' direct=true
                        if security_deposit_required
                            div
                            +number_edit key='security_deposit_amount' label='security deposit amount (c)' icon='lock' direct=true tooltip='amount will be held from renters account then returned upon successful transaction'
                            div
                            +boolean_edit key='friends_exempt' label='friends exempt' icon='teamwork' direct=true
                .column
                    +boolean_edit key='delivery_available' label='delivery available' icon='truck'
                    if delivery_available
                        +array_edit key='delivery_location_tags' label='delivery location tags' icon='marker'
                    +boolean_edit key='pickup_available' label='pickup available' icon='doormat'
                    if pickup_available
                        +textarea_edit key='pickup_instructions' label='pickup instructions' icon='marker'
                    .ui.header
                        +i name='truck'
                        |delivery
                    .content
                        .ui.header
                            +i name='clock' cl='ui inline tiny image'
                            |reservation start
                        +boolean_edit key='res_start_pickup' label='pickup' icon='truck' direct=true
                        +boolean_edit key='res_start_dropoff' label='dropoff' icon='dolly' direct=true
                        if res_start_dropoff
                            +number_edit key='res_start_dropoff_fee' label='reservation start dropoff fee' icon='low-price' direct=true
                        .ui.header
                            i.clock.icon
                            |reservation end
                        +boolean_edit key='res_end_dropoff' label='dropoff' icon='dolly' direct=true
                        +boolean_edit key='res_end_pickup' label='pickup' icon='truck' direct=true
                        if res_end_pickup
                            +number_edit key='res_end_pickup_fee' label='reservation end pickup fee' icon='low-price' direct=true
                    
                .column
                    +html_edit key='description' label='description' icon='content' direct=true
                .column
                    .ui.header
                        +i name='shield'
                        | policies
                    .content
                        +boolean_edit key='approval_required' label='approval required' icon='checkmark' direct=true
                        if approval_required
                            div
                            |you will receive a notification when reservations are requested
                        .ui.header
                            +i name='refund'
                            | refunds
                        +boolean_edit key='allow_refunds' label='allow refunds' icon='refund' direct=true
                        if allow_refunds
                            +number_edit key='full_refund_cutoff_hours' label='full refund cutoff hours' icon='clock' direct=true
                            +number_edit key='half_refund_cutoff_hours' label='half refund cutoff hours' icon='clock' direct=true
                .column
                    .ui.header
                        +i name='pie-chart'
                        |ownership
                    .content
                        +single_user_edit key='owner_username' label='owner' direct=true
                        +single_user_edit key='handler_username' label='handler' direct=true
                .column
                    .ui.header
                        +i name='clock'
                        |availability
                    .content
                        +array_edit key='availability_tags' label='availability tags' icon='clock' direct=true
                        +boolean_edit key='available' label='currently available' direct=true
                        +multi_doc_edit key='available_days' label='available days' ref_model='day_of_week' direct=true
                .column
                    .ui.header
                        +i name='groups'
                        |audience
                    .content
                        +boolean_edit key='transaction_number_restriction' label='transaction number restriction' icon='hashtag' direct=true
                        if transaction_number_restriction
                            +number_edit key='transaction_number_restriction_threshold' label='transaction number restriction threshold' direct=true
                        +boolean_edit key='transaction_amount_restriction' label='transaction amount restriction' icon='money' direct=true
                        if transaction_amount_restriction
                            +number_edit key='transaction_amount_restriction_threshold' label='transaction amount restriction threshold' direct=true
                        +boolean_edit key='visible_to_public' label='visible to public' direct=true
                        unless visible_to_public
                            +boolean_edit key='visible_to_friends' label='visible to friends' direct=true
                        unless visible_to_public
                            +boolean_edit key='visible_to_specific_people' label='visible to specific people' direct=true
                            if visible_to_specific_people
                                +multi_user_edit key='visible_to_member_ids' label='visible to members:' direct=true
                .column
                    .header
                        +i name='bell'
                        |notifications
                    .content
                        +boolean_edit key='notify_on_reservation' label='on new reservation' icon='plus' direct=true
                        +boolean_edit key='notify_on_cancelation' label='on reservation cancelation' icon='cancel-2--v1' direct=true
                    //- unless published 
                    //-     if can_publish
                    //-         .ui.button.publish 
                    //-             |publish 
                    //-     else
                    //-         .ui.disabled.button
                    //-             |#{publish_message}

    
template(name='post_location')
    .ui.inline.header current location
    |#{current_location}
    
    



template(name='user_posts')
    .scrolling
        if is_current_user
            .ui.button.add_post
                i.plus.icon
                |post
        each posts
            +profile_post_item

template(name='profile_post_item')
    .ui.segment.grid
        .row
            .three.column
                +image_view key='image' direct=true cl='zoom ui tiny image'
            .twelve.wide.column
                .ui.header #{title}
                a.ui.header.inline.lowercase(href="/post/#{_id}/")
                    |#{daily_rate}p/day
                .ui.small.inline.header #{when}
                a.ui.button(href="/post/#{_id}/")
                    |view
                    i.right.chevron.icon
