template(name='products')
    .ui.stackable.padded.grid
        .four.wide.column
            .ui.inline.header 
                +i name='shop'
                |#{product_docs.count}
                |products
            if currentUser
                a.ui.icon.compact.circular.button.add_product(title='add product')
                    i.plus.large.icon
            // .div
            .ui.button
                i.big.clock.icon
                |rentals
            .ui.button
                i.big.wrench.icon
                |services
            // .ui.left.icon.search.small.input
            //     i.search.icon.refresh_tags
            //     input#search_tag.prompt(type='text' autocomplete="off" placeholder='tags')
            if selected_tag_plural
                .ui.icon.circular.black.compact.button.clear_picked_tags
                    i.remove.icon
            each picked_tags
                button.ui.blue.compact.circular.small.button.unselect_tag(tabindex='0')
                    //- i.remove.icon
                    | #{this}
            each tags
                button.ui.circular.compact.small.button.tag_result(tabindex="0" class=result_class title=count) #{title}
                    //- small #{count}
            // .spacer
        .twelve.wide.column
            .sorting_row
                .ui.icon.input
                    i.search.icon
                    input.tag_search(type='text' placeholder='search...')
                |sort by
                .ui.compact.small.menu
                    .ui.simple.dropdown.item
                        +i name=sort_icon cl='ui avatar image'
                        strong #{sort_label}
                        i.dropdown.icon
                        .menu
                            +set_sort_key key='views' label='views' icon='eye'
                            // +set_sort_key key='datetime_available' label='available' icon='clock'
                            +set_sort_key key='_timestamp' label='added' icon='clock'
                            +set_sort_key key='comment_count' label='comment count' icon='chat'
                +set_sort_direction
                |&nbsp;
                |&nbsp;
                +limit_menu
            .spacer 
            if subs_ready     
                .ui.stackable.three.centered.cards.scrolling
                    each product_docs
                        +product_card
            else 
                .ui.basic.center.aligned.segment
                    i.massive.grey.yin.yang.loading.icon

template(name='product_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column.scrolling
                    a.ui.big.icon.green.circular.button(href="/#{model}/#{_id}/")
                        i.checkmark.big.icon
                    .ui.inline.header 
                        small editing
                        |'#{title}'
                        small product
                    +array_edit key='tags' icon='tags' direct=true
                    +array_edit key='location_tags' label='location tags' icon='marker' direct=true
                    .ui.icon.small.red.button.delete_product_item 
                        i.trash.icon
                    if in_dev
                        +print_this
                    if is_admin
                        +text_edit key='model' direct=true
                        +key_value_edit key='model' value='post' icon='blog' label='make post' direct=true
                        +key_value_edit key='model' value='food' icon='food' label='make food' direct=true
                        +text_edit key='app' label='app' icon='code' direct=true
                    +boolean_edit key='is_rentable' label='is rentable' direct=true icon='clock'
                    if is_rentable 
                        +boolean_edit key='hourly_rate' label='hourly rate' icon='clock' direct=true
                        if hourly_rate
                            +float_edit key='hourly_rate' label='hourly rate' icon='clock' direct=true
                        div
                        +boolean_edit key='daily_rate' label='daily rate' icon='sun' direct=true
                        if daily_rate
                            +float_edit key='daily_credit' label='daily rate' icon='exchange' direct=true
                        div
                        +boolean_edit key='weekly_rate' label='weekly rate' icon='sun' direct=true
                        if weekly_rate
                            +float_edit key='weekly_credit' label='weekly rate' icon='exchange' direct=true
                        div
                        +boolean_edit key='monthly_rate' label='monthly rate' icon='sun' direct=true
                        if monthly_rate
                            +float_edit key='monthly_credit' label='monthly rate' icon='exchange' direct=true
                        div
                        +boolean_edit key='auction' label='auction' icon='podium-with-audience--v2' direct=true
                        if auction
                            +number_edit key='auction_cutoff_hours' label='auction cutoff (hours)' direct=true
                            +float_edit key='minimum_bid' label='hour minimum bid ($)' icon='refund' direct=true
                        div
                        +boolean_edit key='security_deposit_required' label='security deposit required' icon='lock' direct=true
                        if security_deposit_required
                            +number_edit key='security_deposit_amount' label='security deposit amount (c)' icon='lock' direct=true tooltip='amount will be held from renters account then returned upon successful transaction'
                            div
                            +boolean_edit key='friends_exempt' label='friends exempt' icon='users' direct=true

                .eight.wide.column.scrolling
                    +text_edit key='title' icon='header' direct=true
                    +image_edit key='image_id' direct=true
                    +html_edit key='description' direct=true
                .four.wide.column.scrolling
                    +number_edit key='inventory' label='inventory' icon='warehouse' direct=true
                    +boolean_edit key='has_point_price' label='point price' direct=true icon='coins'
                    if has_point_price
                        +number_edit key='point_price' icon='coins' label='point price/unit' direct=true
                    // +boolean_edit key='has_dollar_price' label='has dollar price' direct=true icon='money'
                    // if has_dollar_price
                    //     +number_edit key='dollar_price' icon='money' label='dollar price/unit' direct=true
                    .ui.inline.header
                        +i name='delivery'
                        |delivery
                    +boolean_edit key='pickup_delivery' label='pickup' direct=true icon='truck'
                    +boolean_edit key='unit_dropoff_delivery' label='unit dropoff' icon='contactless-delivery' direct=true
                    if unit_dropoff_delivery 
                        +number_edit key='unit_dropoff_delivery_price' label='dropoff price' icon='contactless-delivery' direct=true
                        
                    +boolean_edit key='building_dropoff_delivery' label='building dropoff' icon='building' direct=true
                    if building_dropoff_delivery 
                        +number_edit key='building_dropoff_delivery_price' label='building dropoff price' icon='contactless-delivery' direct=true
                    +textarea_edit key='delivery_instructions' label='delivery instructions' icon='note' direct=true
                    +link_edit key='link' label='link' icon='globe' direct=true
                    +key_value_edit key='source' label='nextdoor' value='nextdoor' icon='home' direct=true
                    +key_value_edit key='source' label='goldrun' value='goldrun' icon='apartment' direct=true
                    +text_edit key='source' label='source' icon='globe' direct=true
                

template(name='product_view')
    with current_doc
        .ui.stackable.padded.grid
            //- img.ui.large.rounded.image(src="{{c.url image width=500 height=500 gravity='face' crop='fill'}}")
            .row
                .five.wide.column
                    // .ui.header 
                    //     small viewing
                    //     |#{title}
                    //     small product
                    .ui.big.header #{title}
                    a.ui.big.compact.circular.button.fly_left(href="/products" title='shop')
                        i.left.chevron.icon
                        +i name='shop' cl='ui inline image'
                    if can_edit
                        a.ui.icon.large.basic.circular.button(href="/product/#{_id}/edit")
                            i.pencil.large.blue.icon
                    +bookmark_button
                    .ui.small.inline.header
                        |added by #{_author_username}
                        |#{when}
                    with author
                        +user_card
                    .ui.hidden.divider
                    +voting_full     
                .seven.wide.column.scrolling
                    img.ui.centered.rounded.shadowed.image(src="{{c.url image_id width=1000 height=400 crop='fit'}}")
                    +array_view key='location_tags' label='location tags' icon='marker' direct=true
                    +array_view key='tags' label='tags' icon='tags' direct=true
                    +text_view key='location' icon='marker' label='location description' direct=true
                    // +number_view key='dollar_price' icon='money' label='dollar price' direct=true
                    +html_view key='description' direct=true
                    +comments
                .four.wide.column.scrolling
                    +number_view key='point_price' icon='coins' label='point price' direct=true
                    .ui.header inventory #{inventory} units available
                    .ui.header inventory #{order_total} total orders
                    if is_rentable
                        .ui.fluid.teal.large.button.rent
                            i.large.clock.icon
                            |rent for #{hourly_rate}p/hr, #{daily_rate}p/day
                        .ui.horizontal.divider or
                    div
                    if link 
                        +link_view key='link' label='link' direct=true
                    unless sold_out
                        if point_price
                            .ui.big.green.fluid.button.buy_product.fly_right 
                                i.cart.large.icon
                                |buy for #{point_price}p
                        // .ui.horizontal.divider or
                        // if dollar_price
                        //     .ui.big.green.fluid.button.buy_product 
                        //         i.cart.large.icon
                        //         |buy for $#{dollar_price}
                    else 
                        .ui.big.disabled.fluid.basic.button
                            |sold out
                    .ui.hidden.divider
                    +array_view key='tags' icon='tags' direct=true
                    div
                    .ui.inline.header
                        +i name='delivery'
                        |delivery
                    div
                    if delivery_instructions
                        .ui.small.inline.header
                            |delivery instructions:
                        |#{delivery_instructions}      
                    +boolean_view key='pickup_delivery' label='pickup' direct=true icon='box'
                    +boolean_view key='unit_dropoff_delivery' label='home dropoff' icon='contactless-delivery' direct=true
                    +boolean_view key='building_dropoff_delivery' label='building dropoff' icon='building' direct=true
                    +product_orders
                    +related_products
                    
        
        
template(name='related_products')
    .ui.header 
        +i name='code-fork'
        |#{related_products.count}
        |related products
    .ui.selection.animated.link.list
        each related_product_docs
            a.item(href="/product/#{_id}")
                | #{title}
                |#{price}p
    
template(name='product_orders')
    .ui.header 
        +i name='order-history'
        |#{product_order_docs.count}
        |orders
    .ui.selection.animated.link.list
        each product_order_docs
            a.item(href="/order/#{_id}")
                | #{when} #{_author_username}
    
    
template(name='add_to_tab')
    .ui.segment
        .add_to_tab.ui.green.basic.button
            //- i.cart.plus.icon
            |add to tab
        if current_tab_additions
            div current tab additions
            .ui.list
                each current_tab_additions
                    .item
                        |#{when}
                        //- i.remove.link.icon.remove_tab_item
            
    
template(name='product_location')
    .ui.inline.header current location
    |#{current_location}
    
    
template(name='product_card')
    .ui.card(class=product_card_class)
        a.image.fly_right(href="/product/#{_id}/") 
            img.ui.zoomer.pointer.goto_product.image(src="{{c.url image_id width=400 height=300 crop='pad'}}")
        .content
            a.ui.inline.header.zoomer.fly_right(href="/product/#{_id}/") 
                | #{title}
            each tags
                .ui.label.spaced #{this}
        .content
            .right.floated.meta
                | #{when}
            a(href="/user/#{_author_username}")
                img.ui.avatar.image(src="{{c.url _author.image_id width=400 height=600 crop='fit'}}")
                |#{_author_username}
        .content    
            if point_price
                .ui.inline.header #{point_price}p
            // div
            .ui.label #{current_inventory} units available
            .ui.label #{order_total} total orders
            if delivery
                +i name='deliver-product' cl='ui avatar image'
                if delivery_fee
                    .ui.inline.header(title='delivery fee') $#{delivery_fee}
            if open
                +i name='checkmark' cl='ui avatar image'
            else 
                i.ban.icon(title='not open to new orders')
            if pickup
                +i name='doormat' cl='ui avatar image'
            if can_edit
                a.ui.large.icon.basic.button(href="/product/#{_id}/edit")
                    i.pencil.icon
        //- .ui.bottom.attached.basic.buttons        
        //-     .ui.green.basic.button.quickbuy
        //-         i.lightning.icon
        //-         |buy
        //-     a.ui.basic.button(href="/product/#{_id}/")
        //-         |view
        //-         i.right.chevron.icon





template(name='user_products')
    .scrolling
        if is_current_user
            .ui.circular.button.add_product
                i.plus.icon
                |product
        each products
            +profile_product_item

template(name='profile_product_item')
    .ui.segment.grid
        .row
            .four.wide.column
                +image_view key='image' direct=true cl='zoom ui tiny image'
            .twelve.wide.column
                .ui.header #{title}
                a.ui.small.header.inline.lowercase(href="/product/#{_id}/")
                    |#{price_per_serving}c / #{serving_unit}
                .ui.small.inline.header #{when}
                a.ui.button(href="/product/#{_id}/")
                    |view
                    i.right.chevron.icon
                if is_admin
                    +remove_button
