template(name='profile')
    img.ui.fluid.image.checkin_banner(src="{{c.url 'frontrange' width=1000 height=1000 crop='crop'}}")
    with user_from_username_param
        .ui.stackable.padded.grid
            .row
                //- img.ui.image.checkin_banner(src="{{c.url banner_image width=1000 height=1000 crop='crop'}}")
                .four.wide.column
                    a.item(href="/user/#{user_from_username_param.username}/food")
                        img.ui.centered.rounded.image(src="{{c.url image_id height=500 width=500 gravity='face' crop='fill'}}")
                    .spacer
                    a(href="/user/#{user.username}")
                        .ui.center.aligned.header
                            strong #{user.username}
                            //- 
                            //- strong #{user.first_name} #{user.last_name}
                            //- small @#{user.username}        
                        .ui.inline.header
                            strong #{user.username}
                            //- small @#{user.username}        
                        a.ui.inline.header(href="/user/#{user_from_username_param.username}/credit" title='credit')
                            //- +i name='coins'
                            //- i.coins.icon
                            |{{fixed user.points}}pts
                    if is_current_user
                        a.ui.large.circular.button(href="/user/#{user_from_username_param.username}/edit" title='profile settings')
                            i.cog.icon
                            |account
                    // else if is_admin
                    //     a.ui.icon.button(href="/user/#{user_from_username_param.username}/edit" title='profile settings')
                    //         +i name='settings' cl='ui avatar image'
                    +friend_button
                    if is_current_user
                        +logout_button
                        +logout_other_clients_button
                    if in_dev 
                        +print_this
                    +send_points_button
                    // +request_button
                .twelve.wide.column
                    .ui.stackable.grid
                        .three.column.row
                            .column.medscroll
                                +user_credit
                            .column.medscroll
                                .ui.header 
                                    +i name='shopping-cart'
                                    |#{user_post_docs.count} posts
                                .ui.selection.animated.list
                                    each user_post_docs 
                                        a.item(href="/post/#{_id}") 
                                            img.ui.avatar.image(src="{{c.url image_id width=200 height=200 gravity='face' crop='fill'}}")
                                            |#{title}
                            .column.medscroll
                                .ui.header 
                                    +i name='order-history'
                                    |rented to
                            .column.medscroll
                                .ui.segment
                                    .ui.header 
                                        +i name='truck'
                                        |deliveries
                                    if is_current_user
                                        +key_value_edit key='delivery_availability' value='available' 
                                        +key_value_edit key='delivery_availability' value='unavailable' 
                                    .ui.small.header past
                                    .ui.list 
                                        each past_deliveries
                                            .item #{when} #{post_title}
                                    .ui.small.header future
                                    .ui.list 
                                        each past_deliveries
                                            .item #{when} #{post_title}
                            .column.medscroll
                                .ui.header 
                                    +i name='bookmark'
                                    |bookmarks
                                .ui.selection.link.animated.list
                                    each bookmarked_docs 
                                        a.item.fly_right(href="/product/#{_id}") 
                                            img.ui.avatar.image(src="{{c.url image_id height=200 width=200 background='white' crop='pad'}}")
                                            |#{title}
                            .column.medscroll
                                .ui.header 
                                    +i name='clock'
                                    |reservations
                                .scrolling
                                    .ui.segments
                                        each reservations 
                                            +profile_reservation_item
                                    
                            .column.medscroll
                                .ui.one.column.grid 
                                    .column
                                        .ui.header 
                                            +i name='friends'
                                            |friended by
                                        .scrolling
                                            .ui.large.selection.link.animated.list
                                                each current_user.friend_ids
                                                    // .ui.header #{this}
                                                    +user_info
                                    .column
                                        .ui.header 
                                            +i name='chevron-down'
                                            |friended
                                        .scrolling
                                            .ui.large.selection.link.animated.list
                                                each friended_by_users
                                                    a.item(href="/user/#{username}") #{username}
                                                // each friended
                                                //     a.item(href="/user/#{username}") #{username}
                
                            

// template(name='profile_nav_button')                        
//     a.ui.compact.circular.button(href="/user/#{current_username}/#{key}" class="{{isActiveRoute regex=key}}")
//         +i name=icon cl='ui avatar image'
//         |#{label}



template(name='logout_other_clients_button')
    .ui.black.compact.button.logout_other_clients(title='logout other clients')
        +i name='globe'
        |log out other clients



template(name='logout_button')
    .ui.large.black.button.logout(title='log out')
        // i.sign.out.alternate.icon
        +i name='exit'
        |log out


template(name='subscribe_user_button')
    .ui.button.subscribe_user
        +i name='subscription'
        |subscribe






template(name='profile_reservation_item')
    .ui.segment.grid
        .row
            .twelve.wide.column
                .ui.header #{rental.title}
        .row
            .four.wide.column
                with rental
                    //- img.ui.mini.image(src=image)
                    +image_view key='image_id' direct=true cl='zoom ui tiny image'
            .twelve.wide.column
                a.ui.header.inline.lowercase(href="/reservation/#{_id}/")
                    small from 
                    |{{cal_time start_datetime}}
                a.ui.header.inline.lowercase(href="/reservation/#{_id}/")
                    small to 
                    |{{cal_time end_datetime}}
                div
                .ui.grey.inline.header #{hour_duration} hrs
                .ui.grey.inline.header(title='credits')
                    i.coins.icon
                    | #{cost}
                .ui.small.inline.header #{when} by #{_author_username}
                a.ui.large.button(href="/reservation/#{_id}/")
                    |view
                    i.right.chevron.icon
                if is_admin
                    +remove_button



        
template(name='user_post_card')
    .ui.small.card
        a.zoom(href="/post/#{_id}/")
            img.ui.centered.image(src="{{c.url image_id height=200 width=200 background='white' crop='pad'}}")
        .content
            a.ui.inline.header(href="/post/#{_id}/") #{title} 
                .ui.label #{daily_rate}p/day
            +rental_status
        .content
            span(title='views')
                +ismall name='eye'
                |#{views}
            div
            +ismall name='marker'
            each location_tags
                .ui.label #{this}
            div
            +ismall name='tags'
            each tags
                .ui.label #{this}
            +user_list_toggle key='bookmark_ids' add_icon='bookmark outline' remove_icon='bookmark' add_label='bookmark' remove_label='unbookmark'  big=true
            div
            a.ui.button(href="/rental/#{_id}/")
                |view
                i.right.chevron.icon
            +reserve_button





template(name='user_credit')
    .ui.inline.header #{current_user.points}p
    i.refresh.circular.link.icon.calc_user_points
    .ui.stackable.one.column.grid
        if is_current_user
            .column
                .ui.header 
                    |withdraw for nudefoods gift card
                // |$10 minimum, takes one business day 
                .ui.action.fluid.input
                    input.withdrawal_amount(type='number' min='1' max=currentUser.credit placeholder='amount')
                    .ui.icon.button.initial_withdrawal 
                        i.right.chevron.icon
                .ui.small.header withdrawals
                .ui.bulleted.list
                    each withdrawals
                        .item
                            .ui.header #{when} for #{amount} credit
                            |status: #{status}
                            .ui.button.cancel_withdrawal
                                i.ban.icon
                                |cancel
            .column
                .ui.header 
                    +i name='donate'
                    |deposits
                // |includes 2% credit card processing fee
                .ui.action.fluid.input
                    input.deposit_amount(type='number' min='1' placeholder='deposit')
                    .ui.icon.button.add_credits   
                        i.right.chevron.icon
                        
                .ui.large.bulleted.list.smallscroll
                    each deposit_docs
                        .item 
                            .content
                                .header 
                                    |$#{amount}
                                .description #{when} {{long_date _timestamp}}
                                //- if is_dev
                                +remove_button
                                
