template(name='shop')
    .ui.stackable.padded.grid
        .four.wide.column
            .ui.inline.header 
                +i name='shop'
                |#{counter}
                |results
            if currentUser
                a.ui.icon.compact.circular.button.add_product(title='add product')
                    i.plus.large.icon
            // .div
            .ui.circular.basic.button
                i.money.icon
                |affordable
            .ui.circular.basic.button
                i.user.icon
                |by me
            .ui.circular.basic.button
                i.large.clock.icon
                |rentals
            .ui.button
                i.large.wrench.icon
                |services
            // .ui.left.icon.search.small.input
            //     i.search.icon.refresh_tags
            //     input#search_tag.prompt(type='text' autocomplete="off" placeholder='tags')
            if selected_tag_plural
                .ui.icon.circular.black.compact.button.clear_picked_tags
                    i.remove.icon
            each picked_tags
                button.ui.blue.compact.circular.large.button.unselect_tag(tabindex='0')
                    //- i.remove.icon
                    | #{this}
            each tags
                button.ui.circular.compact.small.button.tag_result(tabindex="0" class=result_class title=count) #{title}
                    //- small #{count}
            .ui.inline.header
                i.user.icon 
                |authors
            each picked_authors
                button.ui.blue.compact.circular.small.button.unselect_tag(tabindex='0')
                    //- i.remove.icon
                    | #{this}
            each unpicked_authors
                button.ui.circular.compact.small.button.tag_result(tabindex="0" class=result_class title=count) #{title}
                    //- small #{count}
            // .spacer
        .twelve.wide.column
            .sorting_row
                .ui.icon.input
                    i.search.icon
                    input.query(type='text' placeholder='search...')
                |sort by
                +set_sort_key key='views' label='views' icon='eye'
                // +set_sort_key key='datetime_available' label='available' icon='clock'
                +set_sort_key key='price' label='price' icon='money'
                +set_sort_key key='_timestamp' label='added' icon='clock'
                +set_sort_key key='comment_count' label='comment count' icon='chat'
                +set_sort_direction
                |&nbsp;
                |&nbsp;
                +limit_menu
            .spacer 
            if subs_ready     
                .ui.stackable.three.centered.cards.scrolling
                    each product_docs
                        +product_card
            else 
                .ui.basic.center.aligned.segment
                    i.massive.grey.yin.yang.loading.icon
