template(name='units')
    .ui.stackable.padded.grid
        .four.wide.column
            .ui.inline.header 
                +i name='unit'
                |units
            if currentUser
                a.ui.icon.basic.circular.button.add_unit(title='cook')
                    i.plus.green.large.icon
            
            .ui.left.icon.search.small.input
                i.search.icon.refresh_tags
                input#search_tag.prompt(type='text' autocomplete="off" placeholder='tags')
            if selected_tag_plural
                .ui.icon.circular.black.compact.button.clear_picked_tags
                    i.remove.icon
            each picked_tags
                button.ui.blue.compact.circular.small.button.unselect_tag(tabindex='0')
                    //- i.remove.icon
                    | #{this}
            each tags
                button.ui.circular.compact.small.basic.button.tag_result(tabindex="0" class=result_class title=count) #{title}
                    //- small #{count}
            .spacer
            
        .twelve.wide.column
            .sorting_row
                .ui.icon.input
                    i.search.icon
                    input.tag_search(type='text' placeholder='search...')
                |sort by
                .ui.compact.small.menu
                    .ui.simple.dropdown.item
                        strong #{current_unit_sort_label}
                        i.dropdown.icon
                        .menu
                            +set_unit_sort_key key='complete' label='complete' icon='complete'
                            // +set_unit_sort_key key='datetime_available' label='available' icon='clock'
                            +set_unit_sort_key key='_timestamp' label='added' icon='clock'
                            // +set_unit_sort_key key='comment_count' label='comment count' icon='chat'
                            +set_unit_sort_key key='_author_username' label='author' icon='user'
                .ui.compact.icon.circular.button.set_sort_direction(title='toggle sort direction')
                    if sorting_up
                        i.sort.amount.down.icon
                    else
                        i.sort.amount.up.icon
                |&nbsp;
                |&nbsp;
                .ui.inline.small.grey.header
                    |show
                .ui.compact.menu
                    .ui.simple.dropdown.item
                        strong #{unit_limit}
                        i.dropdown.icon
                        .menu
                            +set_unit_limit amount=1
                            +set_unit_limit amount=5
                            +set_unit_limit amount=10
                            +set_unit_limit amount=20
            .spacer 
            .ui.doubling.four.link.cards
                each unit
                    +unit_card

template(name='set_unit_sort_key')
    .item.set_sort
        if color
            .ui.label(class=color) #{label}
        else 
            if emoji
                em(data-emoji=emoji)
            else if icon
                i.icon(class=icon)
            |#{label}
        

template(name='set_view_mode_unit')
    .item.set_view
        i.icon(class=icon)
        |#{title}


template(name='set_unit_limit')
    .item.set_limit #{amount}




template(name='unit_card')
    a.ui.card(class=unit_card_class href="/unit/#{_id}")
        .image
            img.ui.zoom.pointer.goto_unit.image(src="{{c.url image width=400 height=300 crop='pad'}}")
        .content
            a.ui.header(href="/unit/#{_id}/") 
                //- |#{_author.name}'s
                | #{title}
            .ui.list 
                .item 
                    |building; #{building}
                .item
                    |##{unit_number}
        .content    
            if can_edit
                a.ui.large.icon.button(href="/unit/#{_id}/edit")
                    i.pencil.icon
            a.ui.icon.button(href="/unit/#{_id}/")
                i.chevron.right.icon


template(name='unit_view')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .six.wide.column 
                    a.ui.basic.compact.icon.circular.button(href="/units")
                        i.left.chevron.icon
                        +i name='unit' cl='ui inline avatar image'
                        // |units
                    .ui.inline.header unit: #{title}
                    if can_edit
                        a.ui.basic.circular.icon.button(href="/unit/#{_id}/edit")
                            i.pencil.large.icon
                    .ui.header building: #{building}
                    .ui.header #: #{unit_number}
                    if link
                        +link_view key='link' label='link' direct=true
                    +image_view key='image' label='image' direct=true
                    +voting_full
                    +viewing
                .ten.wide.column
                    .ui.header #{title} 
                    .ui.inline.header 
                        +i name='blog' cl='ui avatar image'
                        |posts
                    i.plus.icon.add_unit_post
                    div
                    .ui.inline.header 
                        +i name='shop' cl='ui avatar image'
                        |shop
                    i.plus.icon.add_unit_product
                    div
                    +comments


template(name='unit_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column
                    .ui.header 
                        |editing unit
                    a.ui.fluid.icon.green.button(href="/unit/#{_id}/" title='save')
                        i.checkmark.big.icon
                    +remove_button
                    +image_edit key='image' label='image' direct=true
                    +array_edit key='tags' label='tags' icon='tags' direct=true
                    +array_edit key='location_tags' label='location tags' icon='marker' direct=true
                                        
                .eight.wide.column 
                    +text_edit key='title' direct=true
                    +number_edit key='unit_number' label='unit number' direct=true
                    +text_edit key='building' label='building' direct=true
                    +html_edit key='description' label='content' icon='content' direct=true
                    +link_edit key='link' label='link' direct=true