//- template(name='users')
//-     .ui.stackable.padded.grid
//-         .one.column.row
//-             .column
//-                 .ui.center.aligned.header
//-                     i.users.icon
//-                     |users
//-         .one.column.row 
//-             .column
//-                 .ui.stackable.centered.five.cards 
//-                     each users 
//-                         +user_card
//- 
//- template(name='user_card')                        
//-     .ui.card 
//-         if profile_image_id 
//-             a.image(href="/user/#{_id}")
//-                 img.ui.image(src="{{c.url profile_image_id gravity='face' height='300' crop='crop'}}")
//-         .content
//-             a.ui.header(href="/user/#{_id}") #{username}
//-             .ui.list
//-                 .item #{site_percent_complete} site % complete
//-                 .item #{global_section_average} section average
//-                 .item #{session_count} sessions
//-             .ui.horizontal.list
//-                 .item(title='reading')
//-                     i.book.open.icon
//-                     |#{reading_average}%
//-                 .item(title='english')
//-                     i.pencil.icon
//-                     |#{english_average}%
//-                 .item(title='math')
//-                     i.calculator.icon
//-                     |#{math_average}%
//-                 .item
//-                     i.flask.icon 
//-                     | #{science_average}%
//- 
//-             a.ui.fluid.button(href="/user/#{_id}")
//-                 |view
//-                 i.chevron.right.icon
