template(name='food_view')
    with current_doc
        .ui.stackable.padded.grid
            .middle.aligned.row
                .four.wide.center.aligned.column
                .eight.wide.center.aligned.column
                    .ui.large.header 
                        //- small viewing
                        h1 #{title}
                        //- small food
                .four.wide.center.aligned.column
                    if can_edit
                        a.ui.large.circular.icon.button(href="/food/#{_id}/edit")
                            i.pencil.blue.large.icon
            .three.column.row
                .column
                    img.ui.fluid.rounded.image(src="{{c.url image_id width=400 height=400}}")
                    div
                    .ui.inline.header 
                        small available 
                        |{{from_now datetime_available}}:
                    +textarea_view key='description' direct=true
                    .ui.small.inline.header {{long_date datetime_available}}
                    .ui.header 
                        +i name='ingredients'
                        |ingredients
                    each ingredients
                        .ui.label #{this}
                    //- .ui.dividing.header
                    //-     +i name='rules'
                    //-     |rules
                .column
                    .ui.header #{servings_amount} servings for sale
                    .ui.header $#{price_per_serving}/serving
                    .ui.inline.header
                        if pickup
                            i.green.checkmark.icon
                        else 
                            i.red.ban.icon
                        |pickup
                    +i name='doormat' cl='ui mini inline image'
                    div
                    .ui.inline.header 
                        if delivery
                            i.checkmark.green.icon
                        else 
                            i.red.ban.icon
                        |delivery
                    +i name='delivery' cl='ui mini inline image'
                    if is cook._id currentUser._id
                        .ui.header 
                            +i name='chef-hat'
                            |cook admin
                        unless ready 
                            .ui.green.button.mark_ready
                                i.checkmark.icon
                                |mark ready 
                        else 
                            .ui.header 
                                i.checkmark.icon
                                |marked ready {{from_now ready_timestamp}}
                            i.circular.undo.link.icon.unmark_ready
                            each food_orders
                                .ui.header
                                    |#{_author.username} #{when}
                    else    
                        .ui.header 
                            +i name='chef-hat'
                            |cook #{cook.username}
                        with cook
                            +user_card
                .column
                    .ui.header #{servings_left} 
                        if serving_unit
                            |#{serving_unit}s
                        else 
                            |servings
                        | left
                    if can_order
                        +order_button
                    .ui.header 
                        +i name='order-history'
                        |orders
                    each food_orders
                        .ui.segment(class=food_order_class)
                            .ui.inline.green.header
                                |$#{order_price}
                            a.ui.small.inline.header(href="/user/#{_author.username}" title='view profile')
                                if _author.image_id
                                    img.ui.avatar.image(src="{{c.url _author.image_id width=100 height=100 gravity='face' crop='fill'}}")
                                |#{_author.username}
                            div
                            .ui.small.inline.header
                                | #{when} ({{long_date _timestamp}})
                            a.ui.compact.circular.button(href="/order/#{_id}/")
                                |view details
                                i.right.chevron.icon
                            if can_cancel
                                .ui.small.compact.button.cancel_order
                                    i.remove.red.icon
                                    |cancel
                    .ui.hidden.divider
                    +comments
                    


template(name='order_button')
    if open
        if servings_left
            .ui.green.fluid.large.circular.button.order_food
                i.cart.plus.large.icon
                |order #{serving_unit}
        else 
            .ui.grey.header sold out
            //- .ui.teal.large.fluid.circular.button.join_waitlist
            //-     i.clock.large.icon
            //-     |join wait list
    else 
        .ui.grey.header closed to new orders
