template(name='food_card')
    .ui.card(class=food_card_class)
        .image
            img.ui.zoom.pointer.goto_food.image(src="{{c.url image_id width=400 height=300 crop='pad'}}")
        .content
            a.ui.header(href="/food/#{_id}/view") 
                //- |#{_author.name}'s
                | #{title}
            //- if session_is 'view_ingredients' true
            +ismall name='ingredients'
            each ingredients
                .ui.small.circular.basic.label #{this}
        //- .ui.inline.small.header tags
        .content
            .right.floated.meta
                | {{from_now datetime_available}}
            //- if session_is 'view_users' true
            a(href="/user/#{cook.username}")
                img.ui.avatar.image(src="{{c.url cook.image_id width=400 height=600 crop='fit'}}")
                |#{cook.username}
                i.yellow.star.icon
                |3.4
        //- a.image(href="/food/#{_id}/view")
            
        .content    
            .ui.inline.header
                |#{servings_left}/#{servings_amount}
                small
                    if serving_unit
                        |#{serving_unit}s
                    else 
                        |servings
                    | left
            .ui.header 
                |$#{price_per_serving}
                small
                    |/
                    if serving_unit
                        |#{serving_unit}
                    else 
                        |serving
            div
            if delivery
                +i name='deliver-food' cl='ui avatar image'
                if delivery_fee
                    .ui.inline.header(title='delivery fee') $#{delivery_fee}
            //- if open
            //-     +i name='checkmark' cl='ui avatar image'
            //- else 
            //-     i.ban.icon(title='not open to new orders')
            if pickup
                +i name='doormat' cl='ui avatar image'
