template(name='order_view')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.center.aligned.column
                    a.ui.circular.compact.button(href="/food/#{food_id}/view")
                        i.left.chevron.icon
                        img.ui.avatar.image(src="{{c.url order_food.image_id width=200 height=200}}")    
                        |#{order_food.title}
                .eight.wide.center.aligned.column
                    .ui.header view '#{order_food.title}' order
                .four.wide.center.aligned.column
                    if can_edit
                        a.ui.large.circular.button(href="/order/#{_id}/edit")
                            i.pencil.icon
                            |edit
            .three.column.row
                .column
                    .ui.header ordered #{when}
                    .ui.header order price #{order_price}
                    
                    .ui.segment 
                        with order_food
                            a(href="/food/#{_id}/view")
                                img.ui.rounded.image(src="{{c.url image_id width=400 height=400}}")
                            a(href="/food/#{_id}/view")
                                .ui.header #{title}
                            .ui.header food
                            .ui.header #{serving_purchase_price} serving perchase price
                            //- .ui.header #{cook_tip} cook tip
                            .ui.header $#{order_total_transaction_amount} 
                                small total transaction amount
                    div
                .column
                    .ui.inline.header 
                        small available 
                        |{{from_now datetime_available}}:
                    +textarea_view key='description'
                    .ui.small.inline.header {{long_date datetime_available}}
                    .ui.header ingredients
                    each order_food.ingredients
                        .ui.label #{this}
                    .ui.header
                        if pickup
                            i.checkmark.icon
                        else 
                            |no
                        |pickup
                    .ui.header 
                        if delivery
                            i.checkmark.icon
                        else 
                            |no
                        |delivery
                    .ui.header #{servings_left} servings left
                    if can_edit
                        .ui.small.compact.button.cancel_order
                            i.remove.icon
                            |cancel
                    .ui.hidden.divider
                    +comments
                .column
                    .ui.header buyer #{_author_username}
                    with _author
                        +user_card
                    .ui.header seller #{_author_username}
                    with _author
                        +user_card
