template(name='order_edit')
    with current_doc
        .ui.stackable.padded.grid
            .five.wide.column
                .ui.header editing order
                .ui.header #{title}
                +array_edit key='tags' 
                +float_edit key='serving_purchase_price' label='serving purchase price' direct=true
                +float_edit key='cook_tip' label='cook tip' direct=true
                .ui.header $#{order_total_transaction_amount} 
                    small total transaction amount
                .ui.header dish
                if order_dish
                    .ui.small.header #{order_dish.title}
                else 
                    .ui.small.header select dish
                    each all_dishes
                        .ui.button.select_dish #{title}
            .six.wide.column
                +image_edit key='image_id'
                //- img.ui.large.image(src="{{c.url image width=800 height=500 gravity='face' crop='fill'}}")
                +textarea_edit key='description' direct=true
            .five.wide.column
                a.ui.large.fluid.green.button(href="/order/#{_id}/view")
                    i.checkmark.icon   
                    |save     
                if can_delete
                    .ui.red.button.delete_order
                        i.remove.icon   
                        |cancel and delete
                else  
                    .ui.red.disabled.button(title='existing reservations')
                        i.remove.icon   
                        | can't cancel  
                .ui.header delivery method
                +key_value_edit key='delivery_method' value='delivery' color_icon='deliver-food'
                +key_value_edit key='delivery_method' value='pickup' color_icon='doormat'

                if key_value_is 'delivery_method' 'delivery'
                    +datetime_edit key='delivery_timedate' label='delivery timedate' direct=true
                if key_value_is 'delivery_method' 'pickup'
                    +datetime_edit key='pickup_timedate' label='pickup timedate' direct=true
