template(name='order_view')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.center.aligned.column
                    a.ui.circular.compact.basic.button(href="/orders")
                        i.left.chevron.icon
                        +i name='purchase-order' classes='ui mini inline image'
                        |orders
                .eight.wide.center.aligned.column
                    .ui.header view '#{order_meal.title}' order
                .four.wide.center.aligned.column
                    if can_edit
                        a.ui.large.circular.basic.button(href="/order/#{_id}/edit")
                            i.pencil.icon
                            |edit
            .three.column.row
                .column
                    img.ui.image(src="{{c.url order_meal.meal_dish.image_id width=400 height=400}}")
                    .ui.header ordered #{when}
                    .ui.header order price #{order_price}
                    
                    .ui.segment 
                        a.ui.basic.circular.button(href="/meal/#{meal_id}/view")
                            | view meal
                        with order_meal
                            .ui.header #{title} meal title
                            .ui.header meal
                            .ui.header #{serving_purchase_price} serving perchase price
                            .ui.header #{cook_tip} cook tip
                            .ui.header $#{order_total_transaction_amount} 
                                small total transaction amount
                    div
                    .ui.inline.header 
                        small available 
                        |{{from_now datetime_available}}:
                    +textarea_view key='description'
                    .ui.small.inline.header {{long_date datetime_available}}
                    .ui.header ingredients
                    each order_meal.ingredients
                        .ui.label #{this}
                    .ui.header
                        if pickup
                            i.checkmark.icon
                        else 
                            |no
                        |pickup
                    .ui.header 
                        if delivery
                            i.checkmark.icon
                        else 
                            |no
                        |delivery
                .column
                    .ui.header #{servings_left} servings left
                    .ui.header 
                        |order
                    if can_order
                        +order_button
                    .ui.header 
                        |orders
                    each order_orders
                        .ui.segment 
                            |#{when} #{_author.username}
                            if can_edit
                                .ui.small.compact.basic.button.cancel_order
                                    i.remove.icon
                                    |cancel
                    .ui.hidden.divider
                    +comments
                .column
                    .ui.header author #{_author_username}
                    with _author
                        +user_card
                    .ui.header author #{_author_username}
                    with _author
                        +user_card
