template(name='groups')
    .ui.stackable.padded.grid
        .ui.fluid.accordion
            .title
                .ui.inline.header 
                    //- +i name='line chart' classes='ui avatar image'
                    |stats
                    .ui.large.label #{group_stats_doc.total_count} total
                    .ui.large.label #{group_stats_doc.complete_count} complete 
                    .ui.large.label #{group_stats_doc.incomplete_count} incomplete 
                    .ui.large.label #{group_stats_doc.total_updates_count} total updates 
                    i.dropdown.icon
            .content
                .ui.grid
                    .three.column.row
                        .column
                            .ui.icon.button.recalc_groups(title='recalculate')
                                i.refresh.icon
                            with group_stats_doc
                                .ui.mini.header groups completed time
                                .ui.mini.header group estimated time
                                .ui.mini.header group monthly completion rate
                        .column
                            //- +latest_group_updates
                            .ui.header latest group updates
                        .column
                            .ui.header 
                                +i name='comments'
                                |latest comments
                            .ui.large.link.bulleted.list
                                each latest_comments
                                    a.active.item(href="/group/#{parent_id}/view") 
                                        strong #{body}
                                    |#{when}
        .row
            .six.wide.column
                .ui.inline.header 
                    +i name='elections' classes='ui avatar image'
                    |groups
                .ui.big.icon.button.add_group(title='add group')
                    i.plus.icon
                +cloud filter='group'
            .ten.wide.column.scrolling
                each groups
                    +group_card_template
                    
                    
                    
                    
template(name='group_card_template')
    .ui.fluid.segment
        img.ui.image(src="{{c.url image width=400 height=400}}")        
        a.ui.inline.header(href="/group/#{_id}/view")
            //- if icon
            //-     +i name=icon
            |#{title}
        |!{description}
        +ismall name='tags' classes='ui inline image'
        each tags
            .ui.label #{this}
        div
        +voting_full
        a.ui.button(href="/group/#{_id}/view")
            |view
            i.right.chevron.icon


template(name='group_update_small')
    .ui.small.header #{text}


template(name='groups_small')
    a.ui.header(href="/m/group")
        +i name='groups'
        |groups 
    .ui.large.link.list.smallcolumn
        each groups 
            .item
                a(href="/m/group/#{_id}/view")
                    if image
                        img.ui.mini.inline.image(src="{{c.url image width=300 height=300 gravity='face' crop='fill'}}")
                    |#{title}
        




template(name='group_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column 
                    .ui.header 
                        i.pencil.icon
                        |edit group
                    .ui.header
                        if icon
                            +i name=icon
                        |#{title}
                    a.ui.big.fluid.button(href="/group/#{_id}/view" title='save')
                        i.green.checkmark.icon
                        |save
                    +remove_button
                    +icon_edit key='icon' label='icon' direct=true
                    +array_edit key='tags' label='tags' icon='tags' direct=true
                .six.wide.column 
                    +text_edit key='title' label='title' icon='title' direct=true
                    +image_edit key='image' label='image' icon='image' direct=true
                    +html_edit key='description' label='description' icon='content' direct=true
                    +single_user_edit key='manager' label='manager' direct=true
                    //- +activity
                .six.wide.column
                    +multi_user_edit key='members' direct=true
                    +boolean_edit key='private' direct=true
                    
                     
                     
template(name='group_view')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .eight.wide.column 
                    a.ui.icon.button(href="/m/group" title='view groups')
                        i.left.chevron.icon
                        +i name='groups' classes='ui avatar image'
                        |groups
                    img.ui.medium.image(src="{{c.url image width=500 height=500 gravity='face' crop='fill'}}")
                .eight.wide.column
                    h1.ui.header
                        if icon
                            +i name=icon
                        |#{title}
                    a.ui.big.icon.button(href="/group/#{_id}/edit")
                        i.pencil.icon
                    .ui.small.grey.header managed by #{manager}
                    .ui.small.grey.header #{members.length} members
            .row
                .four.wide.column 
                    +array_view key='tags' label='tags' icon='tags' direct=true
                    +html_view key='description' icon='content' label='description' direct=true
                    +image_view key='image' icon='image' label='image' direct=true
                    +viewing
                .six.wide.column
                    +multi_user_view key='members' direct=true
                    +boolean_edit key='private' direct=true
                    +voting_full
                .six.wide.column 
                    .ui.header 
                        +i name='rss'
                        |activity
                    each log_items
                        +log_item
                    +comments
