template(name='unit')
    .ui.stackable.padded.grid
        .four.wide.column
            a.ui.big.button(href="/building/#{unit.building_code}")
                //- i.large.left.chevron.icon
                +i name='chevron-left' classes='ui inline mini image'
                |#{unit.building_code}
            .ui.header
                //- i.home.icon 
                +i name='room'
                small unit
                strong #{unit.unit_number}
            .ui.header 
                small building 
                strong #{unit.building_number}
            if is_dev
                with unit
                    +number_edit key='building_number' direct=true
            .ui.header 
                small building
                strong #{unit.building_code}
            if is_dev
                with unit
                    +text_edit key='building_code' direct=true
                    +textarea_edit key='notes' direct=true
            +user_key
            with unit
                +comments
        .twelve.wide.column
            +unit_residents
            +unit_owners
            if is_springdale
                +unit_permits

            
template(name='unit_permits')            
    .ui.segment
        .ui.header 
            +i name='badge'
            |unit permits
        .ui.cards
            each permits
                .ui.card
                    .content
                        with resident 
                            +username_info
                        +date_view key='expiration_date' icon='calendar delete' direct=true
                        +text_view key='permit' icon='badge' direct=true
                        +text_view key='license_plate' icon='driver-license-card' direct=true

template(name='unit_owners')            
    .ui.segment
        .ui.header 
            +i name='rent'
            //- i.money.icon
            |owners
        .ui.four.cards
            each owners
                .ui.card
                    .image
                        if kiosk_photo
                            img.ui.image(src="{{c.url kiosk_photo width=300 height=300 gravity='face' crop='fill'}}")
                        else
                            img.ui.image(src="{{c.url image_id width=300 height=300 gravity='face' crop='fill'}}")
                    .content
                        a.header(href="/user/#{username}")
                             |#{first_name} #{last_name} 
                            .meta @#{username}
                            //- +array_view key='tags' label='Tags' direct=true


template(name='unit_residents')            
    .ui.segment
        .ui.header
            +i name='groups'
            //- i.users.icon
            |residents
        .ui.four.cards
            each residents
                .ui.card
                    .image
                        if kiosk_photo
                            img.ui.image(src="{{c.url kiosk_photo width=400 height=400 gravity='face' crop='fill'}}")
                        else if image_id
                            img.ui.image(src="{{c.url image_id width=400 height=400 gravity='face' crop='fill'}}")
                    .content
                        a.header(href="/user/#{username}")
                             |#{first_name} #{last_name} 
                            .meta @#{username}
                            .meta 
                                //- i.calendar.icon(title='expiration date')
                                +i name='calendar' title='expiration date' classes='ui mini inline image'
                                |#{expiration_date}
                            //- +array_view key='tags' label='Tags' direct=true


template(name='user_key')
    .ui.segment
        .ui.grey.inline.center.aligned.small.header 
            //- i.key.icon
            +i name='key'
            |key
        if is_admin
            +goto_model slug='key'
        with key
            +boolean_view key='key_exists' label='key exists' direct=true
            //- +number_view key='building_number' label='building number' direct=true
            //- +number_view key='unit_number' label='unit #' direct=true
            div
            if is_admin
                +number_view key='tag_number' label='tag number' direct=true
            if is_staff
                if viewing_code
                    .ui.massive.yellow.label
                        if fowler
                            +boolean_view key='fowler' label='fowler' direct=true
                        else
                            +number_view key='tag_number' label='tag number' direct=true
                else
                    .ui.icon.button.view_code
                        i.lock.icon
                    //- +i name='enter-pin' classes='view_code pointer' title='view code'
            if is_admin
                div
                +edit_button
                +view_button
            if is_staff
                .ui.tiny.grey.header
                    //- i.grey.shield.icon
                    +i name='user-shield'
                    |access log            
                .ui.list.smallscroll
                    each access_log
                        .item #{when} by #{_author_username}
