template(name='readings')
    +lower_hot_tub_readings
    +upper_hot_tub_readings
    +pool_readings


template(name='edit_pool_reading')
    with current_doc
        .ui.container
            .ui.inline.center.aligned.header
                +i name='swimming' classes='ui avatar image'
                |edit pool reading
            .ui.form
                +pool_ph
                +pool_chlorine
                +temperature
                +textarea_edit key='notes' direct=true
                a.ui.green.fluid.large.button(href='/readings')
                    i.big.checkmark.icon
                +delete_reading_button
            
template(name='edit_upper_hot_tub_reading')
    with current_doc
        .ui.container
            h1.ui.header edit upper hot tub reading
            .ui.small.header keep 6 tabs of bromine in filter system at all times.  if a tab has dissolved to less than half its original size, replace.
            .ui.form
                +ph
                +chlorine
                +temperature
                +textarea_edit key='notes' direct=true
                a.ui.green.fluid.large.button(href='/readings')
                    i.big.checkmark.icon
                +delete_reading_button
            
            
            
template(name='edit_lower_hot_tub_reading')
    with current_doc
        .ui.text.container
            h1.ui.header edit lower hot tub reading
            .ui.form
                +indoor_chlorine
                +indoor_ph
                +temperature
                +textarea_edit key='notes' direct=true
                a.ui.green.fluid.large.button(href='/readings')
                    i.big.checkmark.icon
                +delete_reading_button
            
            
            
            
template(name='lower_hot_tub_readings')    
    //- a.ui.big.button(href='/readings/lower' class="{{isActivePath '/readings/lower'}}") 
    .ui.inline.header
        +i name='jacuzzi' 
        |lower hot tub readings
    #add_lower_hot_tub_reading.ui.big.icon.button
        i.green.plus.icon
    table.ui.striped.very.large.table
        thead
            tr
                th ph
                th chlorine
                th temp
                th notes
                th staff
                th when
                th actions
        tbody
            each lower_hot_tub_readings
                tr
                    td #{ph} 
                    td #{chlorine}
                    td #{temperature}
                    td #{notes}
                        .ui.large.label #{ph_message}
                        .ui.large.label #{chlorine_message}
                    td 
                        +author_info
                    td 
                        | #{when}
                    td 
                        a.ui.large.icon.button(href="/lower_hot_tub_reading/edit/#{_id}")
                            i.pencil.icon

            
template(name='upper_hot_tub_readings')   
    //- a.ui.big.button(href='/readings/upper' class="{{isActivePath '/readings/upper'}}")
    .ui.inline.header
        +i name='jacuzzi'
        | upper hot tub readings
    #add_upper_hot_tub_reading.ui.big.icon.button
        i.green.plus.icon
    .ui.small.header keep 6 tabs of bromine in filter system at all times.  if a tab has dissolved to less than half its original size, replace.
    table.ui.striped.very.large.table
        thead
            tr
                th ph
                th chlorine
                th temp
                th notes
                th staff
                th when
                th actions
        tbody
            each upper_hot_tub_readings
                tr
                    td #{ph} 
                    td #{chlorine}
                    td #{temperature}
                    td #{notes}
                        .ui.large.label #{chlorine_message}
                        .ui.large.label #{ph_message}
                    td 
                        +author_info
                    td 
                        | #{when}
                    td 
                        a.ui.large.icon.button(href="/upper_hot_tub_reading/edit/#{_id}")
                            i.pencil.icon

            
            
template(name='pool_readings') 
    //- a.ui.big.button(href='/readings/pool' class="{{isActivePath '/readings/pool'}}")
    .ui.inline.header 
        +i name='swimming'
        |pool readings
    #add_pool_reading.ui.big.icon.button
        i.green.plus.icon 
    table.ui.striped.very.large.table
        thead
            tr
                th ph
                th chlorine
                th temp
                th notes
                th staff
                th when
                th actions
        tbody
            each pool_readings
                tr
                    td #{ph} 
                    td #{chlorine}
                    td #{temperature}
                    td #{notes}  
                        .ui.large.label #{ph_message}
                        .ui.large.label #{chlorine_message}
                    td 
                        +author_info
                    td 
                        | #{when}
                    td 
                        a.ui.large.icon.button(href="/pool_reading/edit/#{_id}")
                            i.pencil.icon

            
template(name='ph')            
    .large.field
        label 
            +ismall name='molecule'
            |ph (goal 7.2-7.4)
            if ph_message
                .ui.big.label #{ph_message}
        input#ph(type='number' step='.1' min='6.4' max='8.0' value=ph)
        
template(name='indoor_ph')            
    .large.field
        label 
            +ismall name='molecule'
            |ph (goal 7.2-7.4)
            if ph_message
                .ui.big.label #{ph_message}
        input#ph(type='number' step='.1' min='6.4' max='8.0' value=ph)
        
template(name='pool_ph')            
    .large.field
        label 
            +ismall name='molecule'
            |ph (goal 7.2-7.4)
            if ph_message
                .ui.big.label #{ph_message}
        input#ph(type='number' step='.1' min='6.4' max='8.0' value=ph)
        
template(name='temperature')            
    .large.field
        label 
            +ismall name='thermometer'
            |temperature
        input#temperature(type='number' step='.1' min='0' value=temperature)


template(name='chlorine')            
    .large.field
        label 
            +ismall name='thermometer'
            |chlorine (ppm) (goal 2-3ppm)
            .ui.big.label #{chlorine_message}
        input#chlorine(type='number' step='.1' min='1' max='5' value=chlorine)

        
template(name='pool_chlorine')            
    .large.field
        label 
            +ismall name='test-tube'
            |chlorine (ppm) (goal 2-3ppm)
            .ui.big.label #{chlorine_message}
        input#chlorine(type='number' step='.1' min='1' max='5' value=chlorine)

template(name='indoor_chlorine')            
    .large.field
        label 
            |chlorine (ppm) (goal 2-3ppm)
            .ui.big.label #{chlorine_message}
            +ismall name='thermometer'
        input#chlorine(type='number' step='.1' min='1' max='5' value=chlorine)

        
        
template(name='delete_reading_button')
    #delete_reading.ui.icon.big.button
        i.trash.red.icon
