template(name='model_edit')
    with current_doc
        .ui.stackable.padded.grid            
            .centered.row
                .four.wide.column
                    .ui.header
                        small edit model
                        | #{title}
                    +creation_info
                    .ui.large.icon.button.save_model
                        i.big.checkmark.icon
                    #delete_model.ui.icon.button
                        i.trash.icon
                    .ui.form
                        +text_edit key='title' label='title' direct=true
                        +slug_edit key='slug' label='slug' direct=true
                        +icon_edit key='icon' label='icon' direct=true
                        +textarea_edit key='description' label='description' direct=true
                        +array_edit key='tags' label='tags' direct=true
                        +text_edit key='collection' label='collection' direct=true
                        +multi_doc_edit key='view_roles' label='view roles' ref_model='role' direct=true
                        +multi_doc_edit key='actions' label='actions' ref_model='action' direct=true
                .twelve.wide.column
                    //- |#{model}
                    //- each fields
                    //-     +Template.dynamic template=edit_template 
                    //-     // .ui.header #{key} [#{field}] #{label}
                    .ui.inline.header fields
                    .ui.icon.large.button.add_field
                        i.plus.icon
                    .ui.styled.fluid.accordion
                        each fields
                            .title 
                                |#{rank}
                                if icon
                                    i.icon(class=icon)
                                |#{title} (#{field_type})
                                if faceted
                                    i.filter.icon
                                if sortable
                                    i.sort.amount.down.icon
                                each view_roles
                                    .ui.label #{this}
                                i.large.dropdown.icon
                            +delta_field_edit

                    .ui.inline.header actions
                    .ui.icon.large.button.add_action
                        i.plus.icon
                    .ui.styled.fluid.accordion
                        each actions
                            .title 
                                |#{rank}
                                if icon
                                    i.icon(class=icon)
                                |#{title} (#{action_type})
                                each view_roles
                                    .ui.label #{this}
                                i.large.dropdown.icon
                            +action_edit


template(name='model_view')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .sixteen.wide.column
                    .ui.breadcrumb
                        a.section(href="/m/#{current_model.slug}" title=current_model.plural)
                            .ui.compact.button
                                |#{current_model.title}
                        .divider
                            i.chevron.right.icon
                        .active.section
                            if icon
                                i.icon(class=icon)
                            if title
                                |#{title}
                            else
                                | view #{model}
            .row
                .four.wide.column
                    // .ui.header
                    //     a.ui.icon.button(href="/m/#{model}" title=plural)
                    //         i.chevron.left.icon
                    //     |View #{model}
                    if can_edit
                        a.ui.fluid.button(href="/m/#{model}/#{_id}/edit")
                            i.pencil.icon
                            |edit
                    each model.actions
                        +Template.dynamic template=this data=current_doc
                    +user_list_toggle key='bookmark_ids' icon='bookmark' label='Bookmark' color='red'
                    +creation_info
                .twelve.wide.column
                    .ui.header
                        each fields
                            if header
                                +Template.dynamic template=view_template 
                        // if icon
                        //     i.icon(class=icon)
                        // |#{title}
                    each fields
                        unless header
                            .item
                                +Template.dynamic template=view_template 
                    div
                    +comments
        .ui.stackable.padded.grid
            .four.wide.column
                h1.ui.header #{title}
                .ui.icon.big.button.add_child(title="add #{slug}")
                    i.plus.icon
                a.ui.icon.big.button(href="/model/edit/#{_id}")
                    i.pencil.icon
                .ui.form
                    +text_view key='title'
                    +text_view key='slug'
                    +text_view key='icon'
                    +textarea_view key='description'
                    +array_view key='tags'
                //- +cloud filter=slug

            .twelve.wide.column
                //- .ui.header Fields
                //- each fields
                //-     .ui.divider
                //-     +field_view
                each model_docs
                    .ui.fluid.card
                        .content
                            +Template.dynamic template=model_doc
                            +array_view key='tags'
                            +edit_button

template(name='action_edit')
    .content
        +number_edit key='rank' label='rank' direct=true             
        +textarea_edit key='description' label='description' direct=true
        +single_doc_edit key='action_type' ref_model='action_type' label='action type' direct=true                 
        div             
        +remove_button




template(name='delta_field_edit')
    .content
        +text_edit key='title' direct=true label='title'        
        +text_edit key='key'  direct=true label='key'           
        +number_edit key='rank' label='rank' direct=true             
        +textarea_edit key='description' label='description' direct=true
        +text_edit key='field_type' direct=true label='field type'
        +icon_edit key='icon' label='icon' direct=true        
        +single_doc_edit key='field_type' ref_model='field_type' label='field type' direct=true                 
        +multi_doc_edit key='view_roles' ref_model='role' label='view roles' direct=true icon='eye'          
        +multi_doc_edit key='edit_roles' ref_model='role' label='edit roles' direct=true icon='pencil'        
        //- +text_edit key='ref_model' label='Reference Model' direct=true
        div
        +boolean_edit key='faceted' label='faceted' icon='diamond' direct=true
        +boolean_edit key='sortable' label='sortable' icon='chevron-down' direct=true
        if is_ref  
            +single_doc_edit key='ref_model' ref_model='model' label='reference model' direct=true
        else if is_user_ref  
            +single_doc_edit key='role_filter' ref_model='role' label='role filter' direct=true
        div             
        +remove_button
            
//- template(name='view_model')
        
template(name='field_view')
    .ui.header hi
    +text_view key='title'                    
    +text_view key='key'                    
    +text_view key='field_type'                    
    +number_view key='rank' label='rank'                  
