template(name='rental_view')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column 
                    a.ui.fluid.basic.button(href="/rentals")
                        i.left.chevron.icon
                        +i name='wrench' classes='ui avatar image'
                        |rentals
                    .ui.header view rental
                    if can_edit
                        a.ui.big.fluid.basic.button(href="/rental/#{_id}/edit")
                            i.pencil.icon
                            |edit
                    +image_view key='image_id' label='image' direct=true
                    //- +voting_full
                    //- +viewing
                .eight.wide.column
                    h1.ui.header #{title} 
                    +textarea_view key='description' icon='content' label='description' direct=true
                    +array_view key='location_tags' label='location tags' icon='marker' direct=true
                    +array_view key='tags' label='tags' icon='tags' direct=true
                    +single_user_view key='resident' label='resident' direct=true
                    +text_view key='contact_info' label='contact info' icon='info' direct=true
                    div
                    +comments
                    +rental_reservations
                .four.wide.column 
                    +number_view key='hourly_rate' label='hourly rate' icon='money' direct=true
                    +number_view key='daily_rate' label='daily rate' icon='calendar' direct=true
                    div
                    +rental_history

                
template(name='rental_history')
    +ismall name='rss'
    .ui.inline.header
        |activity
    .ui.list
        each rental_events
            .item #{text} #{when}
            
template(name='rental_subscription')
    //- +ismall name='renew-subscription'
    //- .ui.inline.header
    //-     |subscription settings
    .ui.button.subscribe subscribe to updates
    .ui.list
        each subscribers
            .item #{text} #{when}
            
template(name='rental_reservations')
    .ui.header
        +ismall name='invoice'
        |rental reservations
    .ui.button.new_reservation
        |new reservation
    each reservations
        .ui.segment
            .ui.header #{when}
            .ui.header by #{_author_username}
            +view_button
            +edit_button
