template(name='rental_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column 
                    .ui.header 
                        i.pencil.icon
                        | edit '#{title}' rental
                    a.ui.big.fluid.green.button(href="/rental/#{_id}/view" title='save')
                        i.checkmark.icon
                        |save
                    +remove_button
                    if is_dev
                        +single_user_edit key='_author_username' label='author username' direct=true
                        +link_edit key='amazon_referral_link' label='amazon referral link' icon='amazon' direct=true
                    +text_edit key='title' direct=true
                    +array_edit key='tags' label='tags' icon='tags' direct=true
                    +array_edit key='private_location_tags' label='private location tags' icon='marker' direct=true tooltip='for handlers and buyers who are picking up'
                    +array_edit key='public_location_tags' label='public location tags' icon='marker' direct=true tooltip='fo people to find the rental'
                    //- +array_edit key='location_tags' label='location tags' icon='marker' direct=true
                    +text_edit key='contact_info' label='contact info' icon='info' direct=true
                .eight.wide.column
                    .ui.segment
                        .ui.header
                            i.info.icon
                            |info
                        .content
                            +image_edit key='image_id' label='image' direct=true
                            +html_edit key='description' label='description' icon='content' direct=true
                    .ui.segment
                        .ui.header
                            i.money.icon
                            |finance
                        .content
                            +boolean_edit key='hourly_rate' label='hourly rate' icon='clock' direct=true
                            if hourly_rate
                                +float_edit key='hourly_rate' label='hourly rate' icon='clock' direct=true
                            div
                            +boolean_edit key='daily_rate' label='daily rate' icon='sun' direct=true
                            if daily_rate
                                +float_edit key='daily_credit' label='daily rate' icon='exchange' direct=true
                            div
                            +boolean_edit key='weekly_rate' label='weekly rate' icon='sun' direct=true
                            if weekly_rate
                                +float_edit key='weekly_credit' label='weekly rate' icon='exchange' direct=true
                            div
                            +boolean_edit key='monthly_rate' label='monthly rate' icon='sun' direct=true
                            if monthly_rate
                                +float_edit key='monthly_credit' label='monthly rate' icon='exchange' direct=true
                            div
                            +boolean_edit key='auction' label='auction' icon='podium-with-audience--v2' direct=true
                            if auction
                                +number_edit key='auction_cutoff_hours' label='auction cutoff (hours)' direct=true
                                +float_edit key='minimum_bid' label='hour minimum bid ($)' icon='refund' direct=true
                            div
                            +boolean_edit key='security_deposit_required' label='security deposit required' icon='lock' direct=true
                            if security_deposit_required
                                +number_edit key='security_deposit_amount' label='security deposit amount (c)' icon='lock' direct=true tooltip='amount will be held from renters account then returned upon successful transaction'
                                div
                                +boolean_edit key='friends_exempt' label='friends exempt' icon='users' direct=true
                .four.wide.column
                    .ui.segment
                        .ui.header
                            i.shield.icon
                            | policies
                        .content
                            +boolean_edit key='approval_required' label='approval required' icon='checkmark' direct=true
                            if approval_required
                                div
                                |you will receive a notification when reservations are requested
                            .ui.small.header
                                +i name='refund'
                                | refunds
                            +boolean_edit key='allow_refunds' label='allow refunds' icon='refund' direct=true
                            if allow_refunds
                                +number_edit key='full_refund_cutoff_hours' label='full refund cutoff hours' icon='clock' direct=true
                                +number_edit key='half_refund_cutoff_hours' label='half refund cutoff hours' icon='clock' direct=true
                    .ui.segment
                        .ui.header
                            i.pie.chart.icon 
                            |ownership
                        .content
                            +single_user_edit key='owner_username' label='owner' direct=true
                            +single_user_edit key='handler_username' label='handler' direct=true
                    .ui.segment
                        .ui.header
                            i.clock.icon
                            |availability
                        .content
                            +array_edit key='availability_tags' label='availability tags' icon='clock' direct=true
                            +boolean_edit key='available' label='currently available' direct=true
                            +multi_doc_edit key='available_days' label='available days' ref_model='day_of_week' direct=true
                    .ui.segment    
                        .ui.header
                            i.users.icon
                            |audience
                        .content
                            +boolean_edit key='transaction_number_restriction' label='transaction number restriction' icon='hashtag' direct=true
                            if transaction_number_restriction
                                +number_edit key='transaction_number_restriction_threshold' label='transaction number restriction threshold' direct=true
                            +boolean_edit key='transaction_amount_restriction' label='transaction amount restriction' icon='money' direct=true
                            if transaction_amount_restriction
                                +number_edit key='transaction_amount_restriction_threshold' label='transaction amount restriction threshold' direct=true
                            +boolean_edit key='visible_to_public' label='visible to public' direct=true
                            unless visible_to_public
                                +boolean_edit key='visible_to_friends' label='visible to friends' direct=true
                            unless visible_to_public
                                +boolean_edit key='visible_to_specific_people' label='visible to specific people' direct=true
                                if visible_to_specific_people
                                    +multi_user_edit key='visible_to_member_ids' label='visible to members:' direct=true
                    .ui.segment
                        .ui.header
                            i.people.carry.icon
                            |delivery
                        .content
                            .ui.small.header
                                +i name='clock' cl='ui inline tiny image'
                                |reservation start
                            +boolean_edit key='res_start_pickup' label='pickup' icon='truck' direct=true
                            +boolean_edit key='res_start_dropoff' label='dropoff' icon='dolly' direct=true
                            if res_start_dropoff
                                +number_edit key='res_start_dropoff_fee' label='reservation start dropoff fee' icon='low-price' direct=true
                            .ui.small.header
                                i.clock.icon
                                |reservation end
                            +boolean_edit key='res_end_dropoff' label='dropoff' icon='dolly' direct=true
                            +boolean_edit key='res_end_pickup' label='pickup' icon='truck' direct=true
                            if res_end_pickup
                                +number_edit key='res_end_pickup_fee' label='reservation end pickup fee' icon='low-price' direct=true
                    .ui.segment
                        .title.header
                            i.bell.icon
                            |notifications
                        .content
                            +boolean_edit key='notify_on_reservation' label='on new reservation' icon='plus' direct=true
                            +boolean_edit key='notify_on_cancelation' label='on reservation cancelation' icon='cancel-2--v1' direct=true
                    //- unless published 
                    //-     if can_publish
                    //-         .ui.button.publish 
                    //-             |publish 
                    //-     else
                    //-         .ui.disabled.button
                    //-             |#{publish_message}
