template(name='sort_item')
    .item.set_sort #{label}
    
    
    
template(name='rental_card')
    .ui.card(class=rental_card_class)
        a.image(href="/rental/#{_id}/") 
            img.ui.zoom.pointer.goto_rental.image(src="{{c.url image_id width=400 height=300 crop='pad'}}")
        .content
            a.ui.header(href="/rental/#{_id}/") 
                //- |#{_author.name}'s
                | #{title}
            //- if session_is 'view_tags' true
            //- +ismall name='tags'
            each tags
                .ui.small.circular.basic.label #{this}
        //- .ui.inline.small.header tags
        .content
            .right.floated.meta
                | {{from_now datetime_available}}
            //- if session_is 'view_users' true
            a(href="/user/#{_author.username}")
                img.ui.avatar.image(src="{{c.url _author.image_id width=400 height=600 crop='fit'}}")
                |#{_author.username}
        .content    
            if hourly_rate
                .ui.inline.header
                    |#{hourly_rate}c/hr
            if daily_rate
                .ui.inline.header
                    |#{daily_rate}c/day
            if weekly_rate
                .ui.inline.header
                    |#{daily_rate}c/day
            if can_edit
                a.ui.large.icon.button(href="/rental/#{_id}/edit")
                    i.pencil.icon
        //- .ui.bottom.attached.buttons        
        //-     .ui.green.button.quickbuy
        //-         i.lightning.icon
        //-         |buy
        //-     a.ui.button(href="/rental/#{_id}/")
        //-         |view
        //-         i.right.chevron.icon
    


template(name='rental_view')
    with current_doc
        .ui.stackable.padded.grid
            img.ui.large.rounded.image(src="{{c.url image width=500 height=500 gravity='face' crop='fill'}}")
            .row
                .four.wide.column.scrolling
                    a.ui.icon.button(href='/' title='rentals')
                        i.left.chevron.icon
                        +i name='clock' cl='ui avatar image'
                    +rental_status
                    .ui.header 
                        |$#{hourly_dollars}
                        small /hr standard rate
                    if can_edit
                        a.ui.icon.button(href="/rental/#{_id}/edit" title='edit')
                            i.pencil.large.icon
                    img.ui.centered.rounded.image(src="{{c.url image_id width=500 height=500 crop='fit'}}")
                    +rental_stats
                    +last_viewed
                    +creation_info
                    with _author_id
                        +user_card
                    +array_view key='tags' icon='tags' direct=true title='tags'
                    div
                    +array_view key='location_tags' icon='marker' direct=true title='location tags'
                    div
                    +text_view key='location' icon='marker' label='location' direct=true
                    .ui.grey.header 
                        i.user.shield.icon
                        | owner
                    +single_user_view key='owner_username' direct=true
                    .ui.grey.header 
                        i.user.clock.icon
                        | handler
                    +single_user_view key='handler_username' direct=true
                .eight.wide.column.scrolling
                    .ui.large.center.aligned.inline.header #{title}
                    +rental_calendar
                    if description
                        .ui.segment.f4
                            +textarea_view key='description' label='description' icon='content' direct=true
                    div
                    if security_deposit_required
                        .ui.header 
                        |$#{security_deposit_amount}
                        small security deposit
                    +text_view key='contact_info' label='contact info' icon='info' direct=true
                    div
                    +link_view key='amazon_referral_link' label='amazon referral link' icon='amazon' direct=true
                    +rental_calendar
                    +rental_view_reservations
                    +comments
                .four.wide.column.scrolling
                    +reserve_button
                    +boolean_view key='daily_rate' label='daily rate' icon='sun' direct=true
                    if daily_rate
                        +float_view key='daily_dollars' label='daily rate' icon='exchange' direct=true
                    div
                    +boolean_view key='auction' label='auction' icon='podium-with-audience--v2' direct=true
                    if auction
                        +number_view key='auction_cutoff_hours' label='auction cutoff (hours)' direct=true
                        +float_view key='minimum_bid' label='hour minimum bid' icon='refund' direct=true
                    div
                    +boolean_view key='security_deposit_required' label='security deposit required' icon='lock' direct=true
                    if security_deposit_required
                        +number_view key='security_deposit_amount' label='security deposit amount' icon='lock' direct=true tooltip='amount will be held from renters account then returned upon successful transaction'
                        div
                        +boolean_view key='friends_exempt' label='friends exempt' icon='users' direct=true
                        
                    +boolean_view key='approval_required' label='approval required' icon='checkmark' direct=true
                    if approval_required
                        div
                        |you will receive a notification when reservations are requested
                    .ui.small.header
                        +i name='refund'
                        | refunds
                    +boolean_view key='allow_refunds' label='allow refunds' icon='refund' direct=true
                    if allow_refunds
                        +number_view key='full_refund_cutoff_hours' label='full refund cutoff hours' icon='clock' direct=true
                        +number_view key='half_refund_cutoff_hours' label='half refund cutoff hours' icon='clock' direct=true

                    .ui.small.header
                        i.pie.chart.icon 
                        |ownership
                    .content
                        +single_user_view key='owner_username' label='owner' direct=true
                        +single_user_view key='handler_username' label='handler' direct=true
                    .ui.small.header
                        i.clock.icon
                        |availability
                    .content
                        +array_view key='availability_tags' label='availability tags' icon='clock' direct=true
                        +boolean_view key='available' label='currently available' direct=true
                        +multi_doc_view key='available_days' label='available days' ref_model='day_of_week' direct=true
                    .ui.small.header
                        i.users.icon
                        |audience
                    .content
                        +boolean_view key='transaction_number_restriction' label='transaction number restriction' icon='hashtag' direct=true
                        if transaction_number_restriction
                            +number_view key='transaction_number_restriction_threshold' label='transaction number restriction threshold' direct=true
                        +boolean_view key='transaction_amount_restriction' label='transaction amount restriction' icon='money' direct=true
                        if transaction_amount_restriction
                            +number_view key='transaction_amount_restriction_threshold' label='transaction amount restriction threshold' direct=true
                        +boolean_view key='visible_to_public' label='visible to public' direct=true
                        unless visible_to_public
                            +boolean_view key='visible_to_friends' label='visible to friends' direct=true
                        unless visible_to_public
                            +boolean_view key='visible_to_specific_people' label='visible to specific people' direct=true
                            if visible_to_specific_people
                                +multi_user_view key='visible_to_member_ids' label='visible to members:' direct=true
                    .ui.small.header
                        i.people.carry.icon
                        |delivery
                    .content
                        .ui.small.header
                            +i name='clock' cl='ui inline tiny image'
                            |reservation start
                        +boolean_view key='res_start_pickup' label='pickup' icon='truck' direct=true
                        +boolean_view key='res_start_dropoff' label='dropoff' icon='dolly' direct=true
                        if res_start_dropoff
                            +number_view key='res_start_dropoff_fee' label='reservation start dropoff fee' icon='low-price' direct=true
                        .ui.small.header
                            i.clock.icon
                            |reservation end
                        +boolean_view key='res_end_dropoff' label='dropoff' icon='dolly' direct=true
                        +boolean_view key='res_end_pickup' label='pickup' icon='truck' direct=true
                        if res_end_pickup
                            +number_view key='res_end_pickup_fee' label='reservation end pickup fee' icon='low-price' direct=true
                    .ui.small.header
                        i.bell.icon
                        |notifications
                    .content
                        +boolean_view key='notify_on_reservation' label='on new reservation' icon='plus' direct=true
                        +boolean_view key='notify_on_cancelation' label='on reservation cancelation' icon='cancel-2--v1' direct=true

                    
                    
template(name='last_viewed')
    i.large.grey.eye.icon
    .ui.inline.small.header last viewed {{long_date last_viewed_timestamp}}
    .ui.inline.small.header {{from_now last_viewed_timestamp}}
                    
                    

template(name='rental_stats')
    //- .ui.accordion
    //-     .title
    .ui.grey.header.refresh_rental_stats
        i.line.chart.icon
        |stats
    //- .content
    .ui.big.list
        .item #{views} views
        .item #{reservation_count} reservations
        .item #{total_earnings}c/#{total_rental_hours}hrs total
        .item #{average_rental_cost}c / #{average_rental_duration}hrs avg rental
        //- .item rental ranking # reservations
        //- .item rental ranking $ earned
        //- .item # different renters
        //- .item avg daily earnings
        //- .item avg weekly earnings
        //- .item avg monthly earnings
        //- .item biggest renter
        //- .item predicted payback duration 
        //- .item predicted payback date 
    //-     //- .ui.header res slot exists
    //-     +reservation_slot_template
    //- else
    //-     if is_product_author
    //-         .ui.button.new_slot
    //-             |new slot
        
    
template(name='rental_status')
    if available 
        .ui.green.label available now
    else 
        .ui.label off the clock
        
        
        
template(name='reserve_button')
    unless approval_required
        .ui.big.green.fluid.button.new_reservation 
            |reserve
    else 
        .ui.big.blue.fluid.button.new_reservation 
            |request



template(name='rental_view_reservations')
    .ui.header 
        i.clock.icon
        |reservations
    //- .ui.icon.button.set_card_view
    //-     i.clone.icon
    //- .ui.icon.button.set_segment_view
    //-     i.list.icon
    //- .ui.hidden.divider
    //- if view_res_cards
    //-     .ui.stackable.three.cards
    //-         each reservations
    //-             +res_card
    //- else if view_res_segments
    each reservations
        +reservation_segment
        
template(name='set_date_filter')        
    .ui.button.set_date_filter(class=date_filter_class)
        |#{label}
        
        

template(name='reservation_segment')
    .ui.segment
        a.ui.small.header.inline.lowercase(href="/reservation/#{_id}/")
            small from 
            |{{cal_time start_datetime}}
            //- |{{cal_time start_datetime}} [#{start_date}, hour: #{start_hour}]
            //- |{{long_date start_datetime}}
            small to 
            |{{cal_time end_datetime}}
        //- .ui.inline.header #{_author_username}
        .ui.inline.header #{author.name}
        .ui.grey.inline.header #{hour_duration}hrs
        .ui.grey.inline.header(title='credits')
            | $#{cost}
        .ui.small.inline.header #{when} by #{_author_username}
        a.ui.large.button(href="/reservation/#{_id}/")
            |view
            i.right.chevron.icon
                
                
                
                
template(name='res_card')
    .ui.card
        .content
            a.ui.small.header.inline.lowercase(href="/reservation/#{_id}/")
                small from 
                |{{cal_time start_datetime}}
                //- |{{cal_time start_datetime}} [#{start_date}, hour: #{start_hour}]
                //- |{{long_date start_datetime}}
                small to 
                |{{cal_time end_datetime}}
            div
            .ui.grey.inline.header #{hour_duration} hrs
            .ui.grey.inline.header(title='credits')
                //- i.coins.icon
                | #{cost}c
            .ui.small.header #{when} by #{_author_username}
            a.ui.large.fluid.button(href="/reservation/#{_id}/")
                |view
                i.right.chevron.icon




template(name='rental_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column 
                    .ui.header 
                        i.pencil.icon
                        | edit '#{title}' rental
                    a.ui.big.fluid.green.button(href="/rental/#{_id}/" title='save')
                        i.checkmark.icon
                        |save
                    +remove_button
                    if is_dev
                        +single_user_edit key='_author_username' label='author username' direct=true
                        +link_edit key='amazon_referral_link' label='amazon referral link' icon='amazon' direct=true
                    +text_edit key='title' direct=true
                    +array_edit key='tags' label='tags' icon='tags' direct=true
                    +array_edit key='private_location_tags' label='private location tags' icon='marker' direct=true tooltip='for handlers and buyers who are picking up'
                    +array_edit key='public_location_tags' label='public location tags' icon='marker' direct=true tooltip='fo people to find the rental'
                    //- +array_edit key='location_tags' label='location tags' icon='marker' direct=true
                    +text_edit key='contact_info' label='contact info' icon='info' direct=true
                .eight.wide.column
                    .ui.segment
                        .ui.header
                            i.info.icon
                            |info
                        .content
                            +image_edit key='image_id' label='image' direct=true
                            +html_edit key='description' label='description' icon='content' direct=true
                    .ui.segment
                        .ui.header
                            i.money.icon
                            |finance
                        .content
                            +boolean_edit key='hourly_rate' label='hourly rate' icon='clock' direct=true
                            if hourly_rate
                                +float_edit key='hourly_rate' label='hourly rate' icon='clock' direct=true
                            div
                            +boolean_edit key='daily_rate' label='daily rate' icon='sun' direct=true
                            if daily_rate
                                +float_edit key='daily_credit' label='daily rate' icon='exchange' direct=true
                            div
                            +boolean_edit key='weekly_rate' label='weekly rate' icon='sun' direct=true
                            if weekly_rate
                                +float_edit key='weekly_credit' label='weekly rate' icon='exchange' direct=true
                            div
                            +boolean_edit key='monthly_rate' label='monthly rate' icon='sun' direct=true
                            if monthly_rate
                                +float_edit key='monthly_credit' label='monthly rate' icon='exchange' direct=true
                            div
                            +boolean_edit key='auction' label='auction' icon='podium-with-audience--v2' direct=true
                            if auction
                                +number_edit key='auction_cutoff_hours' label='auction cutoff (hours)' direct=true
                                +float_edit key='minimum_bid' label='hour minimum bid ($)' icon='refund' direct=true
                            div
                            +boolean_edit key='security_deposit_required' label='security deposit required' icon='lock' direct=true
                            if security_deposit_required
                                +number_edit key='security_deposit_amount' label='security deposit amount (c)' icon='lock' direct=true tooltip='amount will be held from renters account then returned upon successful transaction'
                                div
                                +boolean_edit key='friends_exempt' label='friends exempt' icon='users' direct=true
                .four.wide.column
                    .ui.segment
                        .ui.header
                            i.shield.icon
                            | policies
                        .content
                            +boolean_edit key='approval_required' label='approval required' icon='checkmark' direct=true
                            if approval_required
                                div
                                |you will receive a notification when reservations are requested
                            .ui.small.header
                                +i name='refund'
                                | refunds
                            +boolean_edit key='allow_refunds' label='allow refunds' icon='refund' direct=true
                            if allow_refunds
                                +number_edit key='full_refund_cutoff_hours' label='full refund cutoff hours' icon='clock' direct=true
                                +number_edit key='half_refund_cutoff_hours' label='half refund cutoff hours' icon='clock' direct=true
                    .ui.segment
                        .ui.header
                            i.pie.chart.icon 
                            |ownership
                        .content
                            +single_user_edit key='owner_username' label='owner' direct=true
                            +single_user_edit key='handler_username' label='handler' direct=true
                    .ui.segment
                        .ui.header
                            i.clock.icon
                            |availability
                        .content
                            +array_edit key='availability_tags' label='availability tags' icon='clock' direct=true
                            +boolean_edit key='available' label='currently available' direct=true
                            +multi_doc_edit key='available_days' label='available days' ref_model='day_of_week' direct=true
                    .ui.segment    
                        .ui.header
                            i.users.icon
                            |audience
                        .content
                            +boolean_edit key='transaction_number_restriction' label='transaction number restriction' icon='hashtag' direct=true
                            if transaction_number_restriction
                                +number_edit key='transaction_number_restriction_threshold' label='transaction number restriction threshold' direct=true
                            +boolean_edit key='transaction_amount_restriction' label='transaction amount restriction' icon='money' direct=true
                            if transaction_amount_restriction
                                +number_edit key='transaction_amount_restriction_threshold' label='transaction amount restriction threshold' direct=true
                            +boolean_edit key='visible_to_public' label='visible to public' direct=true
                            unless visible_to_public
                                +boolean_edit key='visible_to_friends' label='visible to friends' direct=true
                            unless visible_to_public
                                +boolean_edit key='visible_to_specific_people' label='visible to specific people' direct=true
                                if visible_to_specific_people
                                    +multi_user_edit key='visible_to_member_ids' label='visible to members:' direct=true
                    .ui.segment
                        .ui.header
                            i.people.carry.icon
                            |delivery
                        .content
                            .ui.small.header
                                +i name='clock' cl='ui inline tiny image'
                                |reservation start
                            +boolean_edit key='res_start_pickup' label='pickup' icon='truck' direct=true
                            +boolean_edit key='res_start_dropoff' label='dropoff' icon='dolly' direct=true
                            if res_start_dropoff
                                +number_edit key='res_start_dropoff_fee' label='reservation start dropoff fee' icon='low-price' direct=true
                            .ui.small.header
                                i.clock.icon
                                |reservation end
                            +boolean_edit key='res_end_dropoff' label='dropoff' icon='dolly' direct=true
                            +boolean_edit key='res_end_pickup' label='pickup' icon='truck' direct=true
                            if res_end_pickup
                                +number_edit key='res_end_pickup_fee' label='reservation end pickup fee' icon='low-price' direct=true
                    .ui.segment
                        .title.header
                            i.bell.icon
                            |notifications
                        .content
                            +boolean_edit key='notify_on_reservation' label='on new reservation' icon='plus' direct=true
                            +boolean_edit key='notify_on_cancelation' label='on reservation cancelation' icon='cancel-2--v1' direct=true
                    //- unless published 
                    //-     if can_publish
                    //-         .ui.button.publish 
                    //-             |publish 
                    //-     else
                    //-         .ui.disabled.button
                    //-             |#{publish_message}
