template(name='rentals')
    .ui.stackable.grid
        .four.wide.column
            .ui.inline.header 
                |rentals
            .ui.icon.button.add_rental
                i.plus.icon
            +rental_cloud
        .twelve.wide.column
            .ui.icon.button.set_card_view
                i.clone.icon
            .ui.icon.button.set_segment_view
                i.list.icon
            .ui.simple.dropdown
                |sort by
                |#{current_sort}
                i.dropdown.icon
                .menu
                    +sort_item key='most_expensive' label='most expensive' direction='-1'
                    +sort_item key='_timestamp' label='newest' direction='-1'
                    +sort_item key='reservation_count' label='most rented' direction='1'
                    +sort_item key='points' label='most rented' direction='1'
            .ui.icon.transparent.input
                i.search.icon
                input.rental_search(type='text' placeholder='search...')
            |available
            .ui.compact.button.set_today
                |today
            .ui.compact.button.set_tomorrow
                |tomorrow
            .ui.compact.button.set_this_weekend
                |this weekend
            .largescroll
                if viewing_cards
                    .ui.stackable.three.cards
                        each rentals
                            +rental_card
                else if viewing_segments
                    each rentals
                        +rental_segment
                


template(name='rental_cloud')
    div
    //- #cloud
        //- .ui.left.icon.input
        //-     i.search.icon
        //-     +inputAutocomplete settings=settings id="search" class="" autocomplete="off" 
        // .ui.hidden.fitted.divider
    //- i.grey.tags.icon
    //- .ui.inline.header tags
    if selected_rental_tags
        #clear_tags.ui.active.icon.small.button
            i.remove.icon
        each selected_rental_tags
            .unselect_rental_tag.ui.active.small.button
                strong #{this}
    each all_rental_tags
        .ui.compact.small.button.select_rental_tag(class=cloud_tag_class) 
            strong #{this.name}




template(name='rental_card')
    .ui.card
        .content
            a.ui.inline.header.log_view(href="/rental/#{_id}/view") #{title} 
        if image
            a(href="/rental/#{_id}/view")
                img.ui.rounded.image(src="{{c.url image width=400 height=400 crop='lpad'}}")
        .content
            .right.floated.meta
                if hourly_dollars
                    | #{hourly_dollars}c/hr
                if daily_dollars
                    | #{daily_dollars}c/day
            +rental_status
        .content
            if security_deposit_required
                i.lock.grey.icon
                //- +i name='safe-in'
                |#{security_deposit_amount}c security deposit
            div(title='public location tags, private will be shown to renters')
                //- +ismall name='marker'
                i.marker.grey.icon
                each public_location_tags
                    .ui.label #{this}
            div
            //- i.grey.tag.icon
            //- //- +ismall name='tags'
            //- each tags
            //-     .ui.label #{this}
            //- div
            //- +user_list_toggle key='bookmark_ids' add_icon='bookmark outline' remove_icon='bookmark' add_label='bookmark' remove_label='unbookmark'  big=true
            //- +voting
            //- div
            //- if currentUser
            //-     if can_edit
            //-         a.ui.button(href="/rental/#{_id}/edit")
            //-             i.pencil.icon
            //-             |edit
            //- a.ui.button(href="/rental/#{_id}/view")
            //-     |view
            //-     i.right.chevron.icon
            //- +author_info
            //- +reserve_button


template(name='rental_segment')
    .ui.fluid.segment.stackable.grid
        .row
            .sixteen.wide.column
                a.ui.inline.header.log_view(href="/rental/#{_id}/view") #{title} 
                    if hourly_dollars
                        .ui.label #{hourly_dollars}c/hr
                    if daily_dollars
                        .ui.label #{daily_dollars}c/day
                +rental_status
        .row
            .four.wide.column
                if image
                    a.zoom(href="/rental/#{_id}/view")
                        +image_view key='image' direct=true classes='zoom'
            .eight.wide.column
                if security_deposit_required
                    i.lock.grey.icon
                    //- +i name='safe-in'
                    |#{security_deposit_amount}c security deposit
                div(title='public location tags, private will be shown to renters')
                    //- +ismall name='marker'
                    i.marker.grey.icon
                    each public_location_tags
                        .ui.label #{this}
                div
                i.grey.tag.icon
                //- +ismall name='tags'
                each tags
                    .ui.label #{this}
                //- div
                //- +user_list_toggle key='bookmark_ids' add_icon='bookmark outline' remove_icon='bookmark' add_label='bookmark' remove_label='unbookmark'  big=true
                //- +voting
                div
                //- if currentUser
                //-     if can_edit
                //-         a.ui.button(href="/rental/#{_id}/edit")
                //-             i.pencil.icon
                //-             |edit
                //- a.ui.button(href="/rental/#{_id}/view")
                //-     |view
                //-     i.right.chevron.icon
                //- +author_info
                +reserve_button
            .four.wide.column
                .ui.list
                    .item #{views} views
                    .item #{reservation_count} reservations
                    .item #{total_earnings}c earned
                    .item #{total_rental_hours}hrs reserved
                    .item #{average_rental_cost}c/#{average_rental_duration}hr avg rental
                +single_user_view key='owner_username' label='owner' direct=true
                +single_user_view key='handler_username' label='handler' direct=true
