template(name='user_orders')
    .scrolling
        each orders 
            +profile_order_item

template(name='profile_order_item')
    .ui.segment.grid
        .row
            .four.wide.column
                with order_food
                    //- img.ui.mini.image(src=image)
                    +image_view key='image_id' direct=true cl='zoom ui tiny image'
            .twelve.wide.column
                .ui.header #{order_food.title}
                a.ui.small.header.inline.lowercase(href="/order/#{_id}/view")
                    |#{order_amount}c
                .ui.small.inline.header #{when} by #{_author_username}
                a.ui.button(href="/order/#{_id}/view")
                    |view
                    i.right.chevron.icon
                if is_admin
                    +remove_button
