template(name='user_rentals')
    .scrolling
        if is_current_user
            .ui.circular.button.add_rental
                i.plus.icon
                |rental
        each rentals
            +profile_rental_item

template(name='profile_rental_item')
    .ui.segment.grid
        .row
            .four.wide.column
                +image_view key='image_id' direct=true cl='zoom ui tiny image'
            .twelve.wide.column
                .ui.header #{title}
                a.ui.small.header(href="/rental/#{_id}/view")
                    |#{hourly_rate}c / hr
                a.ui.small.header(href="/rental/#{_id}/view")
                    |#{daily_rate}c / day
                .ui.small.inline.header #{when}
                a.ui.button(href="/rental/#{_id}/view")
                    |view
                    i.right.chevron.icon
                if is_admin
                    +remove_button
