template(name='user_layout')
    img.ui.fluid.image.checkin_banner(src="{{c.url 'frontrange' width=1000 height=1000 crop='crop'}}")
    +nav
    with user_from_username_param
        .ui.stackable.grid
            .row
                //- img.ui.fluid.image.checkin_banner(src="{{c.url banner_image width=1000 height=1000 crop='crop'}}")
                .four.wide.column
                    a.item.mobile.hidden(href="/user/#{user_from_username_param.username}/dashboard")
                        img.ui.centered.rounded.image(src="{{c.url image_id height=300 width=300 gravity='face' crop='fill'}}")
                    .spacer
                    a(href="/user/#{user.username}")
                        .ui.center.aligned.header
                            strong #{user.name}
                            //- 
                            //- strong #{user.first_name} #{user.last_name}
                            //- small @#{user.username}        
                    a.ui.header(href="/user/#{user_from_username_param.username}/finance" title='credit')
                        i.coins.icon
                        |{{fixed user.credit}}
                    .ui.two.column.middle.aligned.grid.mobile.only
                        .column
                            img.ui.small.inline.image.mobile.only(src="{{c.url image_id height=300 width=300 gravity='face' crop='fill'}}")
                        .column
                            .ui.inline.header
                                strong #{user.name}
                                //- small @#{user.username}        
                            a.ui.inline.header(href="/user/#{user_from_username_param.username}/finance" title='credit')
                                //- +i name='coins'
                                i.coins.icon
                                |{{fixed user.credit}}
                    if is_current_user
                        a.ui.fluids.button(href="/user/#{user_from_username_param.username}/edit" title='profile settings')
                            +i name='settings' classes='ui avatar image'
                            |edit
                    else if is_admin
                        a.ui.fluids.button(href="/user/#{user_from_username_param.username}/edit" title='profile settings')
                            +i name='settings' classes='ui avatar image'
                            |edit
                    if is_current_user
                        a.ui.fluids.button.logout(href="#" title='logout')
                            i.sign.out.alternate.icon
                            |log out
                        //- a.ui.fluids.button.logout_other_clients(href="#" title='logout other clients')
                        //-     i.globe.icon
                        //-     |log out other clients
                    if is_admin
                        .ui.header 
                            +i name='shield'
                            |roles
                        each roles
                            .ui.label #{this}
                .twelve.wide.column
                    a.ui.compacts.button(href="/user/#{username}/dashboard" class="{{isActiveRoute 'user_dashboard'}}")
                        +i name='dashboard' classes='ui avatar image'
                        |dashboard
                    a.ui.compacts.button(href="/user/#{username}/orders" class="{{isActiveRoute 'user_orders'}}")
                        +i name='invoice' classes='ui avatar image'
                        |orders
                    a.ui.compacts.button(href="/user/#{username}/meals" class="{{isActiveRoute 'user_meals'}}")
                        +i name='food' classes='ui avatar image'
                        |meals
                    a.ui.compacts.button(href="/user/#{username}/finance" class="{{isActiveRoute regex='user_finance'}}")
                        +i name='money' classes='ui avatar image'
                        |finance
        
                    div.global_container
                        .spacer
                        +yield
