template(name='user_edit')
    with user_from_username_param          
        //- img.ui.fluid.image.checkin_banner(src="{{c.url banner_image_id width=1000 height=500 crop='crop'}}")    
        .ui.stackable.padded.grid
            .row
                .four.wide.column
                    .ui.center.aligned.large.inline.grey.header
                        | #{user_from_username_param.first_name} #{user_from_username_param.last_name}
                    //- +i name='pencil'
                    .ui.small.inline.header @#{user_from_username_param.username}
                    a.ui.big.button(href="/user/#{user_from_username_param.username}/") 
                        i.checkmark.big.icon
                        strong save
                    .ui.hidden.divider
                    if is_staff
                        +image_edit key='kiosk_photo' icon='picture' title='profile image' direct=true
                    else
                        +image_edit key='profile_image_id' icon='picture' title='profile image' direct=true
                    if is_current_user
                        +password_edit
                        //- +phone_editor
                        +username_edit
                    if is_admin
                        with user_from_username_param
                            .ui.orange.button.remove_user 
                                i.remove.icon
                                |delete user
                .eight.wide.column
                    .ui.form
                        if user_is_resident_or_owner
                            if is_staff
                                +text_edit key='first_name' label='first name' icon='header' direct=true
                                +text_edit key='last_name' label='last name' icon='text' direct=true
                                +text_edit key='address' label='address' icon='marker' direct=true
                                +number_edit key='unit_number' label='unit #' icon='home' direct=true tip='apt #'
                                +number_edit key='building_number' label='building #' icon='building' direct=true tip='eg 203'
                                //- +text_edit key='building_code' label='building code' icon='building' direct=true
                                //- +number_edit key='healthclub_code' label='keycard code' icon='barcode' direct=true
                                +boolean_edit key='owner' icon='rent' label='owner' direct=true
                            else
                                +text_view key='first_name' label='first name' direct=true
                                +text_view key='last_name' label='last name' direct=true
                                div
                                +number_view key='building_number' label='building #' direct=true
                                //- +text_view key='building_code' label='building code' direct=true
                                div
                                +boolean_edit key='profile_published' label='publish profile' direct=true
                        //- +text_edit key='email' label='email' direct=true
                        div
                        .ui.segment
                            .ui.header 
                                i.envelope.outline.icon
                                |emails
                            +emails_edit
            
                        +phone_edit key='phone' label='phone' icon='phone' direct=true
                        +array_edit key='tags' label='tags' direct=true
                        +image_edit key='banner_image_id' label='banner image' direct=true
                        +text_edit key='tagline' label='tag line' direct=true
                .four.wide.column
                    if user_is_resident_or_owner
                        unless owner
                            if is_staff
                                .ui.segment
                                    +i name='home' classes='ui inline mini image'
                                    .ui.inline.header residency
                                    .ui.divider
                                    +pdf_edit key='lease_agreement' label='lease agreement (pdf)' icon='clipboard' direct=true
                                    .ui.horizontal.divider or
                                    +image_edit key='lease_agreement' label='lease agreement (image)' icon='picture' direct=true
                                    +pdf_edit key='lease_addendum' label='lease addendum' icon='clipboard' direct=true
                                    +date_edit key='start_date' label='start date' icon='calendar' direct=true
                                    +date_edit key='expiration_date' label='expiration date' icon='calendar minus' direct=true
                                    +boolean_edit key='active_violations' label='active violations' direct=true
                        if owner
                            if is_staff
                                .ui.segment
                                    +i name='rent' classes='ui inline mini image'
                                    .ui.inline.header owner
                                    .ui.divider
                                    +pdf_edit key='ownership_paperwork' label='ownership paperwork (pdf)' icon='pdf' direct=true
                                    //- .ui.horizontal.divider or
                                    +image_edit key='ownership_paperwork' label='ownership paperwork (image)' icon='picture' direct=true
                    
                    
template(name='user_settings')
    .ui.segment
        .ui.header 
            +i name='settings'
            |settings
        with user_from_username_param
            +boolean_edit key='show_bookmarked_model_bar' label='show bookmarked model bar' direct=true


template(name='user_model_editor')
    .ui.header profile sections
    each models
        .ui.button.toggle_model(class=user_model_class title=title)
            i.icon(class=icon)
            |#{title}
            
            
template(name='user_single_doc_ref_editor')
    .ui.header #{label}
    each choices
        .ui.button.select_choice(class=choice_class title=title)
            i.icon(class=icon)
            |#{title}

template(name='username_edit')
    .ui.small.header 
        i.i.cursor.icon
        |change username [#{user_from_username_param.username}]
    .ui.icon.fluid.input
        input.new_username(type='text' placeholder='new username...')
        i.play.link.icon.change_username


     
template(name='phone_editor')
    .ui.small.header    
        i.phone.icon
        |phone
    .ui.icon.fluid.input(title='Add Phone')
        i.plus.icon
        input#phone.form-control(type='phone', name='phone', value='{{newNumber}}')
    if user_from_username_param.profile.phone
        if user_from_username_param.profile.phone_verified
            .ui.label verified
        else
            p
                .ui.label not verified
                a.resend_verification(href='#')
                    |resend code
                .ui.small.icon.button.remove_phone(title='remove phone')
                    i.remove.icon
    else
        .ui.fluid.button.update_phone add phone



template(name='password_edit')
    .ui.small.grey.header
        +i name='password'
        |change password
    //- .ui.fluid.input
    //-     input#password(type='password', placeholder='old password')
    .ui.fluid.icon.input
        input#new_password(type='password', placeholder='new password')
    if is_dev
        .ui.fluid.button.send_enrollment_email
            |send enrollment email
    if is_admin
        .ui.fluid.button.reset_password
            |reset password
    .ui.fluid.large.button.set_password
        +i name='password' classes='ui mini inline image'
        | set password
            
            
            
         
         
template(name='user_field')         
    .ui.form
        .field  
            label #{label}
            input.user_field(type='text' value=key_value)
                        
                        
            
template(name='emails_edit')
    //- .ui.small.grey.header 
    //-     i.envelope.icon
    //-     | email(s)
    //- #test_email.ui.big.button test email
    .ui.divided.list
        each current_user.emails
            .item 
                // unless verified
                //     .right.floated.content
                //         .ui.button Verify
                .content
                    if verified
                        .ui.big.label(title='verified')
                            | #{address}
                            i.checkmark.icon
                    else
                        .ui.big.label
                            //- i.ban.icon
                            | #{address}
                        if is_staff
                            .send_verification_email.ui.button 
                                |verify
                                i.caret.right.icon
                    .ui.small.icon.button.remove_email
                        i.remove.icon
    .ui.action.big.fluid.icon.action.input
        input#new_email(type='email' placeholder='add new email address' autocomplete="off")
        #add_email.ui.submit.icon.button 
            i.plus.icon
            //- |email
