template(name='user_layout')
    img.ui.fluid.image.checkin_banner(src="{{c.url 'frontrange' width=1000 height=1000 crop='crop'}}")
    +nav
    with user_from_username_param
        .ui.stackable.grid
            .row
                img.ui.fluid.image.checkin_banner(src="{{c.url banner_image width=1000 height=1000 crop='crop'}}")
                .four.wide.column
                    if kiosk_photo
                        a.item.mobile.hidden(href="/user/#{user_from_username_param.username}/")
                            img.ui.centered.image(src="{{c.url kiosk_photo height=300 width=300 gravity='face' crop='fill'}}")
                    else
                        a.item.mobile.hidden(href="/user/#{user_from_username_param.username}/")
                            img.ui.centered.image(src="{{c.url profile_image_id height=300 width=300 gravity='face' crop='fill'}}")
                    .spacer
                    a(href="/user/#{user.username}")
                        .ui.large.center.aligned.header
                            strong #{user.name}
                            //- 
                            //- strong #{user.first_name} #{user.last_name}
                            //- small @#{user.username}        
                    a.ui.header(href="/user/#{user_from_username_param.username}/finance" title='credit')
                        i.coins.icon
                        |{{fixed user.credit}}
                    .ui.two.column.middle.aligned.grid.mobile.only
                        .column
                            img.ui.small.inline.image.mobile.only(src="{{c.url profile_image_id height=300 width=300 gravity='face' crop='fill'}}")
                        .column
                            .ui.inline.header
                                strong #{user.name}
                                //- small @#{user.username}        
                            a.ui.inline.header(href="/user/#{user_from_username_param.username}/finance" title='credit')
                                //- +i name='coins'
                                i.coins.icon
                                |{{fixed user.credit}}
                            if handling_active
                                .ui.large.green.label
                                    |handling active (#{wait_time})
                            else 
                                .ui.large.label
                                    |inactive
                    if is_current_user
                        unless handling_active 
                            .ui.fluid.button.clock_in
                                //- +i name='clock-add'
                                i.sign.in.icon 
                                |clock in
                        else 
                            .ui.fluid.button.clock_out
                                i.sign.in.icon 
                                //- +i name='remove-clock' 
                                |clock out
                        a.ui.fluid.button(href="/user/#{user_from_username_param.username}/edit" title='profile settings')
                            +i name='settings' 
                            |edit
                    else if is_admin
                        a.ui.fluid.button(href="/user/#{user_from_username_param.username}/edit" title='profile settings')
                            +i name='settings' 
                            |edit
                    if is_dev
                        +boolean_edit key='disabled' label='disabled' icon='user shield' direct='true'
                    //- else
                    //-     .ui.button.direct_message(title='new message')
                    //-         +i name='envelope'
                    if is_current_user
                        a.ui.fluid.button.logout(href="#" title='logout')
                            i.sign.out.alternate.icon
                            |log out
                        a.ui.fluid.button.logout_other_clients(href="#" title='logout other clients')
                            i.globe.icon
                            |log out other clients
                    if is_admin
                        .ui.header 
                            +i name='shield'
                            |roles
                        each roles
                            .ui.label #{this}
                .twelve.wide.column
                    a.ui.large.compact.big.button(href="/user/#{username}/dashboard" class="{{isActiveRoute 'user_dashboard'}}")
                        i.dashboard.icon
                        |dashboard
                    a.ui.large.compact.big.button(href="/user/#{username}/info" class="{{isActiveRoute 'user_info'}}")
                        i.info.icon
                        |info
                    a.ui.large.compact.big.button(href="/user/#{username}/rentals" class="{{isActiveRoute 'user_rentals'}}")
                        i.clock.icon
                        |rentals
                    a.ui.large.compact.big.button(href="/user/#{username}/handling" class="{{isActiveRoute 'user_handling'}}")
                        i.hand.holding.icon
                        |handling
                    a.ui.large.compact.big.button(href="/user/#{username}/reservations" class="{{isActiveRoute 'user_reservations'}}")
                        i.clock.icon
                        |reservations
                    a.ui.compact.big.button(href="/user/#{username}/bookmarks" class="{{isActiveRoute 'user_bookmarks'}}")
                        i.bookmark.icon
                        |bookmarks
                    a.ui.compact.big.button(href="/user/#{username}/contact" class="{{isActiveRoute 'user_contact'}}")
                        i.phone.icon
                        |contact
                    //- a.ui.compact.big.button(href="/user/#{username}/comparison" class="{{isActiveRoute 'user_comparison'}}")
                    //-     i.transaction.icon
                    //-     |comparison
                    a.ui.compact.big.button(href="/user/#{username}/offers" class="{{isActiveRoute 'user_offers'}}")
                        i.hand.holding.usd.icon
                        |offers
                    //- a.ui.compact.big.button(href="/user/#{username}/tags" class="{{isActiveRoute 'user_tags'}}")
                    //-     i.tags.icon
                    //-     |tags
                    a.ui.compact.big.button(href="/user/#{username}/messages" class="{{isActiveRoute 'user_messages'}}")
                        i.envelope.icon
                        |mail
                    a.ui.compact.big.button(href="/user/#{username}/stats" class="{{isActiveRoute 'user_stats'}}")
                        i.line.chart.icon
                        |stats
                    //- a.ui.compact.big.button(href="/user/#{username}/notifications" class="{{isActiveRoute 'user_notifications'}}")
                    //-     i.bell.icon
                    //-     |alerts
                    a.ui.compact.big.button(href="/user/#{username}/credit" class="{{isActiveRoute regex='user_credit'}}")
                        i.coins.grey.icon
                        |credit
                    //- a.ui.compact.big.button(href="/user/#{username}/questions" class="{{isActiveRoute regex=user_offers}}")
                    //-     i.question.mark.icon
                    //-     |questions
                    //- a.ui.compact.big.button(href="/user/#{username}/passages" class="{{isActiveRoute regex=user_passages}}")
                    //-     i.list.icon
                    //-     |passages
                    a.ui.compact.big.button(href="/user/#{username}/shop" class="{{isActiveRoute regex='user_shop'}}")
                        i.shopping.cart.grey.icon
                        |shop
                    a.ui.compact.big.button(href="/user/#{username}/requests" class="{{isActiveRoute regex='user_requests'}}")
                        i.hand.holding.usd.grey.icon
                        | requests
                    a.ui.compact.big.button(href="/user/#{username}/social" class="{{isActiveRoute regex='user_social'}}")
                        i.comments.grey.icon
                        |social
                    a.ui.compact.big.button(href="/user/#{username}/finance" class="{{isActiveRoute regex='user_finance'}}")
                        i.grey.finance.icon
                        |finance
                    //- a.ui.compact.big.button(href="/user/#{username}/brain" class="{{isActiveRoute regex='user_brain'}}")
                    //-     i.grey.brain.icon
                    //-     |brain
                    //- a.ui.compact.big.button(href="/user/#{username}/karma" class="{{isActiveRoute regex='user_karma'}}")
                    //-     i.grey.yin.yang.icon
                    //-     |karma
                    //- a.ui.compact.big.button(href="/user/#{username}/right" class="{{isActiveRoute regex='user_right'}}")
                    //-     i.grey.checkmark.icon
                    //-     |right
                    //- a.ui.compact.big.button(href="/user/#{username}/wrong" class="{{isActiveRoute regex='user_wrong'}}")
                    //-     i.grey.remove.icon
                    //-     |wrong
                    a.ui.compact.big.button(href="/user/#{username}/cart" class="{{isActiveRoute regex='user_cart'}}")
                        i.grey.shopping.cart.icon
                        |cart
                    a.ui.compact.big.button(href="/user/#{username}/groups" class="{{isActiveRoute regex='user_groups'}}")
                        i.grey.users.icon
                        |groups
                    //- a.ui.compact.big.button(href="/user/#{username}/tutoring" class="{{isActiveRoute regex='user_tutoring'}}")
                    //-     i.grey.chalkboard.icon
                    //-     |tutoring
                    a.ui.compact.big.button(href="/user/#{username}/events" class="{{isActiveRoute regex='user_events'}}")
                        i.grey.calendar.icon
                        |events
                    //- a.ui.compact.big.button(href="/user/#{username}/awards" class="{{isActiveRoute regex=user_awards}}")
                    //-     i.grey.award.icon
                    //-     |awards
                    a.ui.compact.big.button(href="/user/#{username}/friends" class="{{isActiveRoute regex='user_friends'}}")
                        i.grey.users.icon
                        |friends
        
                    div.global_container
                        .spacer
                        +yield
    +footer 
