template(name='user_groups')
    .scrolling
        if is_current_user
            .ui.circular.button.add_group
                i.plus.icon
                |group
        each groups
            +profile_group_item

template(name='profile_group_item')
    .ui.segment.grid
        .row
            .four.wide.column
                +image_view key='image_id' direct=true cl='zoom ui tiny image'
            .twelve.wide.column
                .ui.header #{title}
                a.ui.small.header.inline.lowercase(href="/group/#{_id}/")
                    |#{price_per_serving}c / #{serving_unit}
                .ui.small.inline.header #{when}
                a.ui.button(href="/group/#{_id}/")
                    |view
                    i.right.chevron.icon
                if is_admin
                    +remove_button
