template(name='building_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.center.aligned.column
                .eight.wide.center.aligned.column
                    .ui.header 
                        i.pencil.icon
                        |edit '#{title}' building
                .four.wide.center.aligned.column
                    a.ui.fluid.circular.basic.button(href="/building/#{_id}/view" title='save')
                        i.green.checkmark.icon
                        |save
            .row
                .four.wide.column 
                    //- .ui.header
                    //-     |#{title}
                    if is_admin
                        +remove_button
                    div
                    +single_user_edit key='leader_id' label='leader' direct=true
                .six.wide.column 
                    +text_edit key='title' label='title' icon='title' direct=true
                    .spacer
                    +image_edit key='image_id' label='image' icon='image' direct=true
                    .spacer
                .six.wide.column
                     +multi_user_edit key='building_user_ids' label='building users' direct=true
