template(name='buildings')
    .ui.stackable.padded.grid
        .row
            .sixteen.wide.center.aligned.column
                .ui.header 
                    +i name='building'
                    |buildings
        .centered.row
            each buildings
                .four.wide.column
                    a(href="/building/#{_id}/view")
                        .ui.card.building_card
                            img.ui.fluid.image(src="{{c.url image_id width=400 height=200 crop='fill'}}")
                            .content
                                .ui.large.header #{building_code} #{title}
                                    each building_numbers
                                        .ui.label #{this}
                                .ui.grey.small.header #{building_street}
                    
