template(name='add')
    .ui.container 
        .ui.center.aligned.massive.header 
            +i name='plus' 
            |add 
        .ui.cards
            +add_button_big model='post' label='post' icon='blog'
            +add_button_big model='event' label='event' icon='calendar'
            +add_button_big model='rental' label='rental' icon='clock'
            +add_button_big model='product' label='product' icon='shop'
            +add_button_big model='service' label='service' icon='wrench'
    
    
template(name='add_button_big')
    .ui.massive.link.card.add_model
        .content
            +ibig name=icon
            .ui.inline.header #{label}
    
    
template(name='admin')
    //- +models
    +user_table



template(name='user_table')
    a#add_user.ui.basic.button(href='/user/add')
        i.plus.icon
        |add user
    table.ui.sortable.striped.table
        thead
            tr
                th Image
                th Profile
                th Roles
                th Actions
        tbody
            each user_docs
                tr
                    td 
                        img.ui.small.image(src="{{c.url image_id width=1000 height=1000 gravity='face' crop='crop'}}")
                    td 
                        a.ui.header(href="/user/#{username}")
                            |#{first_name} #{last_name}
                        .ui.small.header @#{username}
                        each emails
                            |#{address}
                    td 
                        +multi_doc_edit key='roles' ref_model='role' direct=true
                        //- +user_role_toggle role='admin'
                        //- +user_role_toggle role='staff'
                        //- +user_role_toggle role='resident'
                        //- +user_role_toggle role='owner'
                        //- +user_role_toggle role='guest'
                    td
                        a.ui.icon.large.basic.button(href="/user/#{username}/edit")
                            i.pencil.icon
                        a.ui.icon.large.basic.button(href="/user/#{username}/")
                            i.chevron.right.icon
                        

template(name='user_role_toggle')
    if is_in_role
        .remove_role.ui.grey.button #{role}
    else
        .add_role.ui.basic.button #{role}