template(name='buildings')
    .ui.stackable.padded.grid
        .sixteen.wide.column
            .ui.inline.header 
                +i name='apartment'
                |buildings
            .ui.icon.button.add_building
                i.plus.icon
            .ui.cards
                each building_docs
                    +building_card
                    
                    
template(name='building_card')
    a.ui.card.zoomer.fly_right(class=product_card_class title=ingredients href="/building/#{_id}")
        img.ui.centered.image(src="{{c.url image_id width=400 height=300 crop='pad'}}")
        .content
            .ui.header 
                //- |#{_author.name}'s
                | #{title}
            .ui.header #{building_number}, #{building_building}
            each location_tags 
                .ui.basic.label #{this}


template(name='building_view')
    with current_doc
        .ui.stackable.padded.grid
            .four.wide.column
                a.ui.big.button(href="/buildings")
                    i.large.left.chevron.icon
                    // |#{building_code}
                    +i name='apartment'
                    |buildings
                .ui.header
                    i.home.icon 
                    //- +i name='apartment'
                    |building
                    |#{building_number}
                if can_edit 
                    a.ui.icon.button(href="/building/#{_id}/edit" title='edit')
                        i.large.pencil.icon
                +image_view key='image_id' direct=true
                .ui.header 
                    |Building #{building_number}
                .ui.header 
                    |building code: #{building_code}
                +user_key
            .twelve.wide.column
                +building_residents
                +building_owners
                .ui.header 
                    +i name='room'
                    |building units
                each building_unit_docs 
                    .ui.header #{unit_number}
                if is_springdale
                    +building_permits

            
template(name='building_permits')            
    .ui.segment
        .ui.header 
            +i name='badge'
            |permits
        .ui.cards
            each permits
                .ui.card
                    .content
                        with resident 
                            +username_info
                        +date_view key='expiration_date' icon='calendar delete' direct=true
                        +text_view key='permit' icon='badge' direct=true
                        +text_view key='license_plate' icon='driver-license-card' direct=true

template(name='building_owners')            
    .ui.segment
        .ui.header 
            +i name='rent'
            // i.money.icon
            |owners
        .ui.four.cards
            each building_owner_docs
                .ui.card
                    .image
                        img.ui.image(src="{{c.url image_id width=300 height=300 gravity='face' crop='fill'}}")
                    .content
                        a.header(href="/user/#{username}")
                             |#{first_name} #{last_name} 
                            .meta @#{username}
                            //- +array_view key='tags' label='Tags' direct=true

template(name='building_residents')            
    .ui.segment
        .ui.header
            +i name='groups'
            // i.users.icon
            |residents
        .ui.stackable.cards
            each building_resident_docs
                .ui.card
                    .image
                        img.ui.image(src="{{c.url image_id width=300 height=300 gravity='face' crop='fill'}}")
                    .content
                        a.header(href="/user/#{username}")
                             |#{first_name} #{last_name} 
                            .meta @#{username}
                            .meta 
                                i.calendar.icon(title='expiration date')
                                |#{expiration_date}
                            //- +array_view key='tags' label='Tags' direct=true



template(name='building_edit')         
    with current_doc
        .ui.padded.two.column.centered.grid
            .column
                +image_edit key='image_id' direct=true
                h2.ui.center.aligned.header #{building_number} #{building_number} 
                +number_edit key='building_number' label='building number' direct=true
                +text_edit key='building_code' label='building code' direct=true
                +text_edit key='address' label='address' direct=true
                // +text_edit key='email' label='Email' direct=true
                +number_edit key='building_number' direct=true
                +text_edit key='building_code' direct=true
                +textarea_edit key='notes' direct=true
                
            .column
                a.ui.big.fluid.green.button(href="/building/#{_id}")
                    i.checkmark.big.icon
                    |save