template(name='doc_edit')
    with doc_data
        img.ui.image.checkin_banner(src="{{c.url image_id height=1000 crop='crop'}}")
    
        .ui.stackable.padded.divided.grid
            .row 
                .sixteen.wide.column
                    .ui.inline.header
                        +i name='cube'
                        |model
                    +key_value_edit key='model' value='post' label='post' icon='blog'
                    +key_value_edit key='model' value='event' label='event' icon='calendar'
                    +key_value_edit key='model' value='group' label='group' icon='campfire'
                    +key_value_edit key='model' value='product' label='product' icon='shopping-cart'
                    +key_value_edit key='model' value='service' label='service' icon='wrench'
                    +key_value_edit key='model' value='transfer' label='transfer' icon='exchange'
                    // +key_value_edit key='model' value='review' label='review' icon='megaphone'
                    // +key_value_edit key='model' value='checkin' label='checkin' icon='checkmark'
                    +key_value_edit key='model' value='task' label='task' icon='tasks'
                    +key_value_edit key='model' value='rental' label='rental' icon='clock'
                    +key_value_edit key='model' value='message' label='message' icon='envelope'
                // .ui.header #{model}
                // .ui.header #{model_template}
                .six.wide.column.scrolling
                    if in_dev 
                        +print_this
                    .ui.inline.header 
                        +i name='pencil'
                        |editing #{model}
                    a.ui.big.icon.green.button.zoom.zoomer(href="/doc/#{_id}" title='save')
                        i.checkmark.big.icon
                    +boolean_edit key='published' label='published (-10)' 
                    div
                    +text_edit key='title' label='title' 
                    +image_edit key='image_id' label='image' 
                    +image_edit key='background_image_id' label='background image' 
                    +html_edit key='content' label='content'
                    +call_watson key='content'
                    +array_edit key='tags' label='tags' icon='tags'
                    +group_picker
                    +link_edit key='link' label='link'
                    div
                    +array_edit key='location_tags' label='location tags' icon='marker' direct=true
                    +visibility_settings
                    +boolean_edit key='has_youtube' label='youtube (-1p)' icon='youtube'
                    if has_youtube
                        +youtube_edit key='youtube_id' label='youtube id'
                    
                    +remove_button
    
                .ten.wide.column
                    +Template.dynamic template=model_template
                    if currentUser.admin_mode 
                        +author_edit
                        
template(name='author_edit')
    .ui.header  
        i.shield.icon
        |author edit 
        +single_user_edit key='_author' label='username'
                        
template(name='doc_view')
    with doc_data
        if background_image_id
            img.ui.image.checkin_banner(src="{{c.url background_image_id height=1000 crop='crop'}}")
        else 
            img.ui.image.checkin_banner(src="{{c.url image_id height=1000 crop='crop'}}")
        .ui.stackable.padded.grid
            .row 
                .six.wide.column.scrollin
                    +model_label
                    .ui.large.inline.header 
                        //- small viewing
                        | #{title}
                    if can_edit
                        a.zoom.zoomer(href="/doc/#{_id}/edit")
                            i.pencil.blue.big.link.circular.icon
                    // a(href="{{c.url image_id}}" target="_window")
                    // .four.wide.column
                    if image_id2
                        img.ui.rounded.image.zoomer(src="{{c.url image_id2}}")
                    with _author
                        +user_card
                    .ui.accordion 
                        .title(title='tags')
                            |#{tags.length}
                            +i name='tags'
                            each five_tags 
                                .ui.basic.label #{this}
                            strong ...
                        .content
                            each tags 
                                .ui.label #{this}
                    +message_author_button
                    +group_widget
                    +favorites
                    +comments
                    .ui.dividing.header 
                        +i name='line-chart'
                        |post stats
                    .ui.big.list
                        .item #{views} views
                        .item #{views_ranking} view ranking
                        .item #{post_views_ranking} post views ranking

                    +tips
                    if has_price
                        +post_orders
                    .ui.list
                        .item 
                            i.grey.eye.icon
                            |#{views} views
                        .item 
                            |#{points}
                            |points
                        .item 
                            |#{tip_total}
                            |tip total
                    +author_info
                .ten.wide.column.scrollin
                    .smallscroll.zoomer
                        img.ui.rounded.fluid.image(src="{{c.url image_id}}")
                
                    +Template.dynamic template=model_template 
                    .ui.segment.alpha.zoomer
                        |!{content}
                    if watson 
                        +watson_view

                // if in_dev
                //     .ui.segment 
                //         .ui.header admin
                //         +print_this

template(name='tip_button')
    if can_tip
        .ui.button.tip_doc
            |tip #{amount}pts

template(name='tips')
    +tip_button amount=10
    +tip_button amount=50
    .ui.large.divided.list
        each post_tip_docs
            .item #{when}: #{amount}pts
                +author_info
                if currentUser.admin_mode
                    +remove_button doc=this redirect=false



template(name='docs')
    .ui.stackable.padded.grid 
        .four.wide.column
            // .ui.inline.header 
            //     +i name='cube'
            //     |#{post_docs.count} docs
            // +session_boolean_toggle key='view_mine' label='mine' icon='user'
            // +session_boolean_toggle key='view_private' label='private' icon='lock'
            div
            // +facet key='doc_sentiment_label' icon='happy'
            +session_set key='model' value='post' label='post' icon='blog'
            +session_set key='model' value='event' label='event' icon='calendar'
            +session_set key='model' value='group' label='group' icon='campfire'
            +session_set key='model' value='product' label='product' icon='shopping-cart'
            +session_set key='model' value='service' label='service' icon='wrench'
            +session_set key='model' value='transfer' label='transfer' icon='exchange'
            +session_set key='model' value='rental' label='rental' icon='clock'
            +session_set key='model' value='task' label='task' icon='tasks'
            +session_set key='model' value='checkin' label='checkin' icon='checkmark'
            +session_set key='model' value='log' label='log' icon='event-log'
            div
            +facet key='tag' icon='tags' model='post' label='tags'
        .twelve.wide.column
            +search_input key='title'
            +session_set key='view_mode' value='grid' icon='grid'
            +session_set key='view_mode' value='list' icon='list'
            +sort_direction_toggle
            +session_set key='sort_key' value='_timestamp' label='added' icon='clock'
            +session_set key='sort_key' value='points' label='points' icon='hashtag'
            +session_set key='sort_key' value='views' label='views' icon='eye'
            +session_set key='limit' value=10
            +session_set key='limit' value=25
            .scrolling
                if subs_ready
                    if session_is 'view_mode' 'grid'
                        if one_result
                            .ui.one.cards
                                each result_docs
                                    +post_card_med
                        else if two_results
                            .ui.two.cards
                                each result_docs
                                    +post_card_med
                        else                 
                            .ui.centered.stackable.cards
                                each result_docs 
                                    +doc_card
                    else 
                        each result_docs 
                            +doc_item
                else 
                    .ui.center.aligned.basic.segment
                        i.massive.yin.yang.loading.grey.icon



template(name='doc_card')
    a.ui.card.zoom(href="/doc/#{_id}")
        if youtube_id
            +youtube_view key='youtube_id'
        else if image_id
            img.ui.image(src="{{c.url image_id height=500 width=500 gravity='face' crop='fill'}}" class=currentUser.invert_class)
    
        +Template.dynamic template=card_template
        .content
            if is_dev
                +print_this
            .ui.big.label 
                |#{price}pts
            // i.big.link.cart.plus.green.icon.add_to_cart
            .ui.label
                i.eye.icon
                |#{views}
            .ui.label   
                i.line.chart.icon
                |#{points} 
            if group_id     
                +group_info
            if is_dev
                +print_this
            +voting
            +favorite_icon_toggle
            a.ui.circular.basic.icon.button.zoomer.fly_right(href="/doc/#{_id}")
                +i name='chevron-right'
            +author_info
template(name='doc_item')
    .ui.segment.alpha
        if youtube_id
            +youtube_view key='youtube_id'
        else if image_id
            img.ui.small.rounded.inline.image(src="{{c.url image_id height=500 width=500 gravity='face' crop='fill'}}" class=currentUser.invert_class)
        a.ui.big.header(href="/doc/#{_id}" class=emotion_color) #{title}
        
        .smallcut
            | !{content}
    
        +Template.dynamic template=item_template
        .content
            if is_dev
                +print_this
            +voting
            +favorite_icon_toggle
            if price
                .ui.big.label 
                    |#{price}pts
            // i.big.link.cart.plus.green.icon.add_to_cart
            .ui.label
                i.eye.icon
                |#{views}
            .ui.label   
                i.line.chart.icon
                |#{points} 
            +author_info
            if group_id     
                +group_info
            each seven_tags 
                .ui.basic.small.label #{this}
            .ui.small.basic.label(title='created when')
                |#{when}

            a.ui.circular.basic.icon.button.zoomer.fly_right(href="/doc/#{_id}")
                +i name='chevron-right'

