template(name='doc_card')
    a.ui.card.fly_right(href="/doc/#{_id}")
        if youtube_id
            +youtube_view key='youtube_id'
        else if image_id
            img.ui.image(src="{{c.url image_id height=500 width=500 gravity='face' crop='fill'}}" class=currentUser.invert_class)
        .content
            .ui.header 
                +model_label
                |#{title}
            +Template.dynamic template=card_template
        .content
            if is_dev
                +print_this
            .ui.big.label 
                |#{price}pts
            // i.big.link.cart.plus.green.icon.add_to_cart
            .ui.label
                i.eye.icon
                |#{views}
            .ui.label   
                i.line.chart.icon
                |#{points} 
            if group_id     
                +group_info
            if is_dev
                +print_this
            +voting
            +favorite_icon_toggle
            a.ui.circular.basic.icon.button.zoomer.fly_right(href="/doc/#{_id}")
                +i name='chevron-right'
            +author_info
template(name='doc_item')
    .ui.segment.alpha
        if youtube_id
            +youtube_view key='youtube_id'
        else if image_id
            img.ui.small.rounded.inline.image(src="{{c.url image_id height=500 width=500 gravity='face' crop='fill'}}" class=currentUser.invert_class)
        +model_label

        a.ui.inline.header(href="/doc/#{_id}" class=emotion_color) #{title}
        .smallcut
            | !{content}
    
        +Template.dynamic template=item_template
        .content
            if is_dev
                +print_this
            +voting
            +favorite_icon_toggle
            if price
                .ui.big.label 
                    |#{price}pts
            // i.big.link.cart.plus.green.icon.add_to_cart
            .ui.label
                i.eye.icon
                |#{views}
            .ui.label   
                i.line.chart.icon
                |#{points} 
            +author_info
            if group_id     
                +group_info
            each seven_tags 
                .ui.basic.small.label #{this}
            .ui.small.basic.label(title='created when')
                |#{when}

            a.ui.circular.basic.icon.button.zoomer.fly_right(href="/doc/#{_id}")
                +i name='chevron-right'
