template(name='author_edit')
    .ui.header  
        i.shield.icon
        |author edit 
        +single_user_edit key='_author' label='username'
                        
template(name='doc_view')
    with doc_data
        if background_image_id
            img.ui.image.checkin_banner(src="{{c.url background_image_id height=1000 crop='crop'}}")
        else 
            img.ui.image.checkin_banner(src="{{c.url image_id height=1000 crop='crop'}}")
        .ui.stackable.padded.grid
            .row 
                .sixteen.wide.column
                    +model_label
                    .ui.large.inline.header 
                        //- small viewing
                        | #{title}
                    if can_edit
                        a.zoom.zoomer(href="/doc/#{_id}/edit")
                            i.pencil.blue.big.link.circular.icon
                    if watson 
                        +doc_sentiment
                        div
                        .spacer
                        +doc_emotion
                .six.wide.column.scrollin
                    // a(href="{{c.url image_id}}" target="_window")
                    // .four.wide.column
                    if image_id2
                        img.ui.rounded.image.zoomer(src="{{c.url image_id2}}")
                    // with _author
                    +author_segment
                    .ui.accordion
                        .title.zoomer(title='tags')
                            |#{tags.length}
                            +i name='tags'
                            each five_tags 
                                .ui.basic.label #{this}
                            strong ...
                        .content
                            each tags 
                                a.ui.basic.label.pick_flat_tag.zoomer(title='search for tag') #{this}
                    +message_author_button
                    +group_widget
                    div
                    +voting_full
                    div
                    +favorites
                    .ui.dividing.header 
                        +i name='line-chart'
                        |post stats
                    .ui.big.list
                        .item 
                            i.grey.line.chart.icon
                            |#{post_views_ranking} post views ranking
                        .item 
                            i.grey.eye.icon
                            |#{views} views
                        .item
                            i.grey.line.chart.icon
                            |#{views_ranking} view ranking
                        .item 
                            i.grey.user.secret.icon
                            |#{anon_views} anon views
                        .item 
                            |#{points}
                            |points
                        .item 
                            |#{tip_total}
                            |tip total
                    +follow_button
                    +tips
                    if has_price
                        +post_orders
                    div
                    .ui.inline.header 
                        +i name='binoculars'
                        |#{current_viewer_users.count} current viewers
                    each current_viewer_users
                        +user_info
                    
                .ten.wide.column.scrollin

                    // .smallscroll.zoomer
                    if image_id 
                        img.ui.rounded.centered.image.zoomer(src="{{c.url image_id}}")
                    .ui.segment.alpha
                        |!{content}
                
                    +Template.dynamic template=model_template 
                    +comments
                    if watson 
                        +watson_view
                // if in_dev
                //     .ui.segment 
                //         .ui.header admin
                //         +print_this

template(name='tip_button')
    if can_tip
        .ui.button.tip_doc
            |tip #{amount}pts

template(name='tips')
    +tip_button amount=10
    +tip_button amount=50
    .ui.header tips
    .ui.large.divided.list
        each post_tip_docs
            .item #{when}: #{amount}pts
                +author_info
                if currentUser.admin_mode
                    +remove_button doc=this redirect=false




