template(name='docs')
    .ui.stackable.padded.grid 
        // .sixteen.wide.column
            // .ui.inline.header 
            //     +i name='cube'
            //     |#{post_docs.count} docs
            // +session_boolean_toggle key='view_mine' label='mine' icon='user'
            // +session_boolean_toggle key='view_private' label='private' icon='lock'
            // +facet key='doc_sentiment_label' icon='happy'
        .four.wide.column
            +session_set key='model' value='post' label='post' icon='blog'
            +session_set key='model' value='event' label='event' icon='calendar'
            +session_set key='model' value='group' label='group' icon='campfire'
            +session_set key='model' value='product' label='shop' icon='shopping-cart'
            +session_set key='model' value='service' label='service' icon='wrench'
            if currentUser.admin_mode
                +session_set key='model' value='transfer' label='transfer' icon='exchange'
                +session_set key='model' value='rental' label='rental' icon='clock'
                +session_set key='model' value='task' label='task' icon='tasks'
                +session_set key='model' value='checkin' label='checkin' icon='checkmark'
                +session_set key='model' value='log' label='log' icon='event-log'
            +facet key='tag' icon='tags' label='tags'
            +facet key='timestamp_tag' icon='clock' label='added'
        .twelve.wide.column
            +search_input key='title'
            // +session_set key='view_mode' value='grid' icon='grid' hide_label=true
            // +session_set key='view_mode' value='list' icon='list' hide_label=true
            +sort_direction_toggle
            +session_set key='sort_key' value='_timestamp' label='added' icon='clock'
            +session_set key='sort_key' value='points' label='points' icon='hashtag'
            +session_set key='sort_key' value='views' label='views' icon='eye'
            if session_is 'model' 'event'
                +session_set key='sort_key' value='start_datatime' label='start' icon='calendar'
            +session_set key='limit' value=10
            +session_set key='limit' value=25
            .scrolling
                if subs_ready
                    each result_docs 
                        +doc_item
                else 
                    .ui.center.aligned.basic.segment
                        i.massive.yin.yang.loading.grey.icon


template(name='doc_item')
    .ui.segment.alpha
        if youtube_id
            +youtube_view key='youtube_id'
        else if image_id
            a.fly_right.zoomer(href="/doc/#{_id}")
                img.ui.small.rounded.inline.image(src="{{c.url image_id height=500 width=500 gravity='face' crop='fill'}}" class=currentUser.invert_class)
        +model_label

        a.ui.inline.header.fly_right(href="/doc/#{_id}" class=emotion_color) #{title}
        .smallcut
            | !{content}
    
        +Template.dynamic template=item_template
        .content
            if is_dev
                +print_this
            +voting
            +favorite_icon_toggle
            if price
                .ui.big.label 
                    |#{price}pts
            // i.big.link.cart.plus.green.icon.add_to_cart
            .ui.label
                i.eye.icon
                |#{views}
            .ui.label   
                i.line.chart.icon
                |#{points} 
            +author_info
            if group_id     
                +group_info
            each seven_tags 
                .ui.basic.small.label #{this}
            .ui.small.basic.label(title='created when')
                |#{when}
            if watson 
                +doc_sentiment
                +doc_emotion

            a.ui.circular.basic.icon.button.zoomer.fly_right(href="/doc/#{_id}")
                +i name='chevron-right'





template(name='nav')
    // #topnav.topnav.ui.attached.borderless.big.four.item.menu.hscroll(class=darkmode_class)
        https://fomantic-ui.com/elements/icon.html#/icon
    // #topnav.topnav.ui.attached.borderless.big.menu.hscroll(style="background-color:#{currentUser.theme_color_main}")
    #topnav.topnav.ui.attached.borderless.big.four.item.menu.hscroll.alpha
        a.item.zoomer.fly_right.clear_search(href="/docs" class="{{isActiveRoute 'docs'}}" title=users)
            +i name='yin-yang'
        a.item.zoomer.fly_right.clear_search(href="/users" class="{{isActiveRoute 'users'}}" title=users)
            +i name='groups'
        if currentUser
            a.item.zoomer.fly_down.add_doc 
                +i name='plus'
            // a.icon.item(href="/mail/inbox")
            //     +i name='inbox'
            a.fly_up.zoomer.item(href="/user/#{currentUser.username}" class=user_nav_button_class title='profile')
                if currentUser.image_id
                    img.ui.avatar.image(src="{{c.url currentUser.image_id width=200 height=200 gravity='face' crop='fill'}}")
                else
                    i.user.icon
                strong #{currentUser.username}
                |&nbsp;
                small (#{currentUser.points}p)
                if unread_count
                    .ui.large.label #{unread_count}
        unless subs_ready
            .icon.item
                i.yin.yang.large.loading.icon
        unless currentUser
            // a.item(href="/register" title='register')
            //     +i name='plus'
            //     span.mobile.hidden register            
            a.item(href='/login' title='login') 
                // i.sign.in.big.icon
                +i name='internal'
                // span.mobile.hidden login
