template(name='food')
    .ui.stackable.padded.grid 
        .sixteen.wide.column
            .ui.inline.header 
                +i name='food'
                |food
            .ui.large.input 
                input.food_search(type='text' placeholder='search food...' value=current_search)
            .ui.cards 
                each recipe_docs
                    +recipe_card
                    
template(name='recipe_card')
    a.card(href="/food/#{_id}")
        img(src=image)
        .content
            .header #{name}
            .ui.label #{link}
            // .ui.label #{type}
            .ui.label #{relevance}
            | !{content}
            
            
template(name='food_page')
    with current_doc 
        .ui.stackable.padded.grid 
            .eight.wide.column 
                a.ui.button(href="/food")
                    +i name='food'
                    |food
                img(src=image)
            .eight.wide.column
                .ui.header #{name}
                .ui.label #{link}
                // .ui.label #{type}
                .ui.label #{relevance}
                +i name='tags'
                each tags 
                    .ui.button.pick_food_tag
                        |#{this}
                | !{content}
                +call_watson key='content' mode='html'
                    
            if watson
                .sixteen.wide.column
                    +watson_view
            
            
            