template(name='group_layout')
    +nav
    with current_doc
        if background_image_id
            img.ui.image.checkin_banner(src="{{c.url background_image_id height=1000 crop='crop'}}")
        else 
            img.ui.image.checkin_banner(src="{{c.url image_id height=1000 crop='crop'}}")
        .sixteen.wide.column
            a.ui.circular.icon.inverted.button.fly_left(href="/m/group" title="back to groups")
                i.chevron.left.icon
                +model_label
            .ui.large.inline.header 
                //- small viewing
                | #{title}
        .four.wide.column
            +group_sidebar
            
            .twelve.wide.column
                +group_nav_item section='dashboard' icon='dashboard'
                +group_nav_item section='posts' icon='news'
                +group_nav_item section='events' icon='calendar'
                +group_nav_item section='members' icon='groups'
                div
                +yield
    +footer
    
    
    
    
template(name='group_sidebar')
    if can_edit
        +edit_button
    if youtube_id 
        span(title='has youtube video')
            +i name='youtube'
    if tone 
        +tone
    +publish_info
    if facebook_link 
        a.zoomer(href=facebook_link target='_window' title='visit facebook page')
            +i name='facebook'
    if instagram_link
        a.zoomer(href=instagram_link target='_window' title='visit instagram page')
            +i name='instagram'
    if twitter_link
        a.zoomer(href=twitter_link target='_window' title='visit twitter page')
            +i name='twitter'
    if link 
        a.ui.big.compact.inverted.button.zoomer(href=link target='_window' title=link)
            i.external.icon
            |link
            // |#{hostname}
    i.big.eye.icon(title="#{read_user_ids.length} viewers") 
    each read_user_ids
        +user_avatar
    if member_ids
        i.big.users.icon(title="#{member_ids.length} members") 
        each member_ids
            +user_avatar
        // img.ui.avatar.image(src="{{c.url image_id width=300 height=300 gravity='face' crop='fill'}}")


    
    
template(name='group_section')
    .ui.header #{section_template}
    +Template.dynamic template=section_template
            
            
template(name='group_nav_item')        
    a.ui.large.compact.inverted.button.zoomer(href="/group/#{current_doc._id}/#{section}")
        +i name=icon
        |#{section}
            
            
template(name='group_dashboard')
    if youtube_id
        +youtube_view key='youtube_id'
    if image_id 
        img.ui.rounded.centered.large.image(src="{{c.url image_id width=800 crop='scale'}}")
    if image_id2
        img.ui.rounded.image.zoomer(src="{{c.url image_id2}}")
    .scrolling 
        |!{content}
    +comments
    +author_segment
    .ui.inline.header                                
        |#{tags.length}
        +i name='tags'
    span.flat_tags
        each tags 
            a.ui.basic.inverted.label.pick_flat_tag.zoomer(title='browse tag') #{this}
    if watson 
        .column
            +watson_view
        if tone 
            +tone
    +message_author_button
    +group_widget
    div
    +voting_full
    div
    if nsfw
        .ui.red.basic.large.label
            +i name='18-plus'
            |nsfw
    +favorites
    +viewing_info
    .ui.dividing.header 
        +i name='line-chart'
        |stats
    .ui.big.list
        .item 
            i.grey.line.chart.icon
            |#{post_views_ranking} post views ranking
        .item 
            i.grey.eye.icon
            |#{views} views
        .item
            i.grey.line.chart.icon
            |#{views_ranking} view ranking
        .item 
            i.grey.user.secret.icon
            |#{anon_views} anon views
        .item 
            |#{points}
            |points
        .item 
            |#{tip_total}
            |tip total
    +follow_button
    +tips
    if has_price
        +post_orders
    div
    .ui.inline.header 
        +i name='binoculars'
        |#{current_viewer_users.count} current viewers
    each current_viewer_users
        +user_info

    if has_members 
        .ui.button.pick_members
            |members
    .column
        .ui.inline.header
            +i name='crown'
            |leader 
        with leader_id
            +user_info
        if premium_membership
            .ui.header 
                |premium membership: #{membership_cost}pts
            .ui.button.purchase_membership
                |purchase membership
        // .spacer
    .column
        if link
            a.ui.circular.button(href=link target='_window')
                i.external.icon
                |#{link}
            // .spacer
        // div
        if address
            a.ui.compact.circular.button(href=address_link target='_window')
                i.marker.icon
                |#{address}
        if in_dev 
            i.circular.link.large.refresh.icon.refresh_group_stats
    if has_members
        .column
            .ui.header
                +i name='groups'
                |#{_members.count} members
                // .ui.button.add_user_member
                //     |add member
            each _members 
                .ui.label #{username}
            // +multi_user_view key='member_ids' label='members' 
            +join_button
            // if leaders_id
            //     .ui.inline.header 
            //         +i name='crown' cl='ui avatar image'
            //         // i.crown.icon
            //         |leaders: 
            //     each leader_ids 
            //         +user_info
            // div
            // .ui.inline.header 
            //     +i name='groups'
            //     // i.users.icon
            //     |#{member_ids.length} members
            // each member_ids
            //     +user_info
    if has_checkin 
        .column 
            .ui.header 
                +i name='checkmark'
                |checkin
            +checkin_widget
    .column
        .ui.header
            +i name='rss'
            |activity
        .ui.list 
            each group_log_docs 
                .item 
                    |#{body} 
                    +when
                    +author_info
    .column
        .ui.header 
            +i name='line-chart'
            // i.large.line.chart.icon
            |stats
        .ui.large.list
            .item 
                i.user.icon
                |#{member_ids.length} members
            .item #{event_ids.length} events
            .item #{transfer_ids.length} credits exchanged
        //     each log_items
        //         +log_item
        //     i.refresh.link.icon.refresh_group_stats
    if has_shop
        +group_products
    .column
        .title
            .ui.header 
                +i name='code-fork'
                |related groups
        .content
            .ui.header 
                +i name='connect'
                |related groups 
            .ui.list
                each related_group_docs
                    +group_item
        .ui.stackable.padded.grid 
            .four.wide.column
                .ui.header #{title}
                if youtube_id
                    +youtube_view key='youtube_id'
                if image_id 
                    img.ui.rounded.centered.large.image(src="{{c.url image_id width=800 crop='scale'}}")
                if image_id2
                    img.ui.rounded.image.zoomer(src="{{c.url image_id2}}")
                .scrolling 
                    |!{content}
                +comments
                +author_segment
                .ui.inline.header                                
                    |#{tags.length}
                    +i name='tags'
                span.flat_tags
                    each tags 
                        a.ui.basic.inverted.label.pick_flat_tag.zoomer(title='browse tag') #{this}
                if watson 
                    .column
                        +watson_view
                    if tone 
                        +tone
            .three.column.row
                .column
                    +message_author_button
                    +group_widget
                    div
                    +voting_full
                    div
                    if nsfw
                        .ui.red.basic.large.label
                            +i name='18-plus'
                            |nsfw

                .column
                    +favorites
                    +viewing_info
                .column
                    .ui.dividing.header 
                        +i name='line-chart'
                        |stats
                    .ui.big.list
                        .item 
                            i.grey.line.chart.icon
                            |#{post_views_ranking} post views ranking
                        .item 
                            i.grey.eye.icon
                            |#{views} views
                        .item
                            i.grey.line.chart.icon
                            |#{views_ranking} view ranking
                        .item 
                            i.grey.user.secret.icon
                            |#{anon_views} anon views
                        .item 
                            |#{points}
                            |points
                        .item 
                            |#{tip_total}
                            |tip total
                .column
                    +follow_button
                    +tips
                    if has_price
                        +post_orders
                    div
                    .ui.inline.header 
                        +i name='binoculars'
                        |#{current_viewer_users.count} current viewers
                    each current_viewer_users
                        +user_info
                
                    
    
template(name='group_products')
    .column
        .ui.header 
            +i name='shop'
            |shop
        .ui.list 
            each group_products 
                a.item(href="/doc/#{_id}")
                    img.ui.avatar.image(src="{{c.url image_id width=200 height=200}}")
                    |#{title}

template(name='group_posts')
    .column
        .ui.inline.header 
            +i name='news'
            |group posts
        if currentUser 
            .ui.icon.button.add_group_post(title='add group post')
                i.plus.icon
        .ui.selection.animated.list
            each group_post_docs 
                a.ui.header.fly_right(href="/doc/#{_id}") #{title}

template(name='group_events')
    .column
        .ui.inline.header
            +i name='calendar' 
            // i.calendar.large.icon
            |events
        if currentUser 
            .ui.icon.button.add_group_event(title='add group event')
                i.plus.icon
        .ui.link.animated.list
            each group_events
                a.item(href="/event/#{_id}") 
                    img.ui.avatar.image(src="{{c.url image_id width=200 height=200}}")
                    .content
                        .header #{title}
                        .description
                            if is_repeating
                                i.refresh.icon
                                |every #{repeating_day}
                            if start_datetime
                                |{{from_now start_datetime}}



template(name='group_edit')
    .ui.stackable.padded.grid
        .row
            .sixteen.wide.column
                .ui.inline.header 
                    +i name='cube'
                    |group modules
                +boolean_edit key='has_checkin' label='checkin' icon='clock' 
                +boolean_edit key='has_shop' label='shop' icon='shop' 
                +boolean_edit key='has_posts' label='posts' icon='news' 
                +boolean_edit key='has_events' label='events' icon='calendar' 
                +boolean_edit key='has_chat' label='chat' icon='chat' 
                +boolean_edit key='has_members' label='membership' icon='groups' 
                +boolean_edit key='has_tasks' label='tasks' icon='tasks' 
                if has_members 
                    .ui.segment 
                        .ui.header 
                            +i name='groups'
                            |membership settings
                        +multi_user_edit key='member' label='members' 
                        +boolean_edit key='premium_membership' label='premium' icon='membership-card'
                        if premium_membership
                            +number_edit key='membership_cost' label='cost (points)' icon='coins'
                
                +single_user_edit key='leader' label='leader' icon='crown' 
                // +multi_user_edit key='leader_ids' label='leaders' icon='crown' 
                div
                +text_edit key='contact_info' label='contact info' icon='info' 
                +boolean_edit key='private' label='private' 
               
template(name='group_card')
    a.ui.header(href="/group/#{_id}/dashboard") #{title}
    |#{member_ids.length} members
    // .smallscroll
    //     |!{description}
    //+ismall name='tags' cl='ui inline image'
    if location 
        i.red.marker.icon 
        |#{location}
    // a.zoomer(href="/doc/#{_id}")
    //     i.chevron.right.large.circular.icon
    // if is_admin
    //     .ui.small.header slug: #{slug}
    // if can_edit
    //     a.ui.circular.icon.button(href="/doc/#{_id}/edit")
    //         i.pencil.blue.icon
                
