template(name='groups')
    .ui.stackable.padded.grid
        .four.wide.column
            .ui.inline.header 
                +i name='campfire'
                // i.fire.large.icon
                |#{group_docs.count}
                |groups
            if currentUser
                a.ui.icon.circular.button.add_group(title='add')
                    i.plus.green.large.icon
            div
            .ui.button.toggle_my_groups
                i.user.icon
                |mine
            .ui.button.toggle_private_groups
                i.lock.icon
                |private
            +search_input key='title'
            // if selected_tag_plural
            //     .ui.icon.circular.black.compact.button.clear_picked_tags
            //         i.remove.icon
            +facet key='tag'
            // +facet key='time_tag'
            // +facet key='emotion_tag'
            // +facet key='location_tag'
            // +facet key='people_tag'
            // +facet key='timestamp_tag'
            .ui.hidden.divider
            with emotion_avg
                // .ui.list
                //     .item {{ to_percent avg_sent_score}}% sentiment
                //     .item {{ to_percent avg_joy_score}}% joy
                //     .item {{ to_percent avg_anger_score}}% anger
                //     .item {{ to_percent avg_sadness_score}}% sad
                //     .item {{ to_percent avg_disgust_score}}% disgust
                //     .item {{ to_percent avg_fear_score}}% fear
                // if is 'doc_sentiment_label' 'positive'
                //     span.say.ui.green.text(class="{{calculated_size doc_sentiment_score}}") {{ to_percent doc_sentiment_score }}% #{doc_sentiment_label}
                //         |&nbsp;
                //     div.rounded(style="height:5px;width:{{to_percent doc_sentiment_score}}%;background-color:green" title="{{to_percent doc_sentiment_score}}% #{doc_sentiment_label}")
                // else if is 'doc_sentiment_label' 'negative'
                //     span.say.ui.red.text(class="{{calculated_size doc_sentiment_score}}") {{ to_percent doc_sentiment_score }}%  #{doc_sentiment_label} 
                //         |&nbsp;
                //     div.rounded(style="height:5px;width:{{abs_percent doc_sentiment_score}}%;background-color:red" title="{{abs_percent doc_sentiment_score}}% #{doc_sentiment_label}")
                    
                // span.say.ui.green.text(class="{{calculated_size avg_sent_score}}") {{ to_percent avg_sent_score }}% joy 
                //     |&nbsp;
                // div.rounded(style="height:5px;width:{{to_percent avg_sent_score}}%;background-color:green" title="{{to_percent avg_sent_score}}% joy")
      
                // span.say.ui.green.text(class="{{calculated_size avg_joy_score}}") {{ to_percent avg_joy_score }}% joy 
                //     |&nbsp;
                // div.rounded(style="height:5px;width:{{to_percent avg_joy_score}}%;background-color:green" title="{{to_percent avg_joy_score}}% joy")
                // //- if above_50 'avg_sadness_score'
                //     //- .spacer
                // span.say.ui.blue.text(class="{{calculated_size avg_sadness_score}}") {{ to_percent avg_sadness_score}}% sad 
                //     |&nbsp;
                // div.rounded(style="height:5px;width:{{to_percent avg_sadness_score}}%;background-color:blue" title="{{to_percent avg_sadness_score}}% sad")
                // //- if above_50 'avg_fear_score'
                //     //- .spacer
                // span.say.ui.grey.text(class="{{calculated_size avg_fear_score}}") {{ to_percent avg_fear_score }}% fear 
                //     |&nbsp;
                // div.rounded(style="height:5px;width:{{to_percent avg_fear_score}}%;background-color:grey" title="{{to_percent avg_fear_score}}% fear")
                // //- if above_50 'avg_disgust_score'
                //     //- .spacer
                // span.say.ui.orange.text(class="{{calculated_size avg_disgust_score}}") {{ to_percent avg_disgust_score }}% disgust 
                //     |&nbsp;
                // div.rounded(style="height:5px;width:{{to_percent avg_disgust_score}}%;background-color:orange" title="{{to_percent avg_disgust_score}}% disgust")
                // //- if above_50 'avg_anger_score'
                //     //- .spacer
                // span.say.ui.red.text(class="{{calculated_size avg_anger_score}}") {{ to_percent avg_anger_score }}% anger 
                //     |&nbsp;
                // div.rounded(style="height:5px;width:{{to_percent avg_anger_score}}%;background-color:red" title="{{to_percent avg_anger_score}}% anger")
        .twelve.wide.column
            |sort by
            +toggle_sort_direction
            +session_set key='sort_key' value='_timestamp' label='added' icon='clock'
            +session_set key='sort_key' value='points' label='points' icon='hashtag'
            +session_set key='sort_key' value='views' label='views' icon='eye'
            
            .scrolling    
                .ui.hidden.divider
                if subs_ready
                    if one_result
                        .ui.one.cards
                            each group_docs
                                +group_card_med
                    else if two_results
                        .ui.two.cards
                            each group_docs
                                +group_card_med
                    else 
                        .ui.stackable.three.cards
                            if group_docs.count
                                each group_docs
                                    +group_card
                else
                    i.massive.grey.loading.yin.yang.icon



template(name='group_card')
    .ui.card.zoomer
        if image_id
            a.image.zoomer.fly_right(href="/group/#{_id}")
                img.ui.image(src="{{c.url image_id width=600 height=600}}")
        .content
            a.ui.header.zoomer.fly_right(href="/group/#{_id}")
                |#{title}
            |#{member_ids.length} members
            .ui.basic.label
                i.grey.eye.icon 
                |#{views}
            .smallscroll
                |!{description}
            //+ismall name='tags' cl='ui inline image'
            each seven_tags
                .ui.label #{this}
            a.zoomer(href="/group/#{_id}")
                i.chevron.right.large.circular.icon
            // if is_admin
            //     .ui.small.header slug: #{slug}
            if can_edit
                a.ui.circular.icon.button(href="/group/#{_id}/edit")
                    i.pencil.blue.icon
            +print_this
template(name='group_card_med')
    .ui.card.zoomer
        if image_id
            a.image.zoomer.fly_right(href="/group/#{_id}")
                img.ui.image(src="{{c.url image_id width=600 height=600}}")
        .content
            a.ui.header.zoomer.fly_right(href="/group/#{_id}")
                |#{title}
            |#{member_ids.length} members
            .smallscroll
                |!{description}
            //+ismall name='tags' cl='ui inline image'
            each seven_tags
                .ui.label #{this}
            a.zoomer(href="/group/#{_id}")
                i.chevron.right.large.circular.icon
            // if is_admin
            //     .ui.small.header slug: #{slug}
            if can_edit
                a.ui.circular.icon.button(href="/group/#{_id}/edit")
                    i.pencil.blue.icon
            +print_this
                    
template(name='group_item')
    a.item.zoomer(href="/group/#{_id}")
        if image_id
            img.ui.tiny.image(src="{{c.url image_id width=300 height=300}}")
        //     a.image.zoomer.fly_right(href="/group/#{_id}")
        .middle.aligned.content
            a.ui.header.zoomer.fly_right(href="/group/#{_id}")
                |#{title}
            |#{member_ids.length} members
            // .smallscroll
            //     |!{description}
            //+ismall name='tags' cl='ui inline image'
        .middle.aligned.content
            each seven_tags
                .ui.label #{this}
            if location 
                i.red.marker.icon 
                |#{location}
            .ui.label 
                i.grey.eye.icon 
                |#{views}
            // a.zoomer(href="/group/#{_id}")
            //     i.chevron.right.large.circular.icon
            // if is_admin
            //     .ui.small.header slug: #{slug}
            // if can_edit
            //     a.ui.circular.icon.button(href="/group/#{_id}/edit")
            //         i.pencil.blue.icon
            +print_this
                    


template(name='group_info')
    with group_doc
        .ui.large.image.label(title='group') 
            +i name='campfire'
            img.ui.image(src="{{c.url image_id width=200 height=200}}")
            // |#{title}


template(name='group_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .six.wide.column
                    .ui.header 
                        i.pencil.icon
                        |editing group
                    a.ui.big.icon.fluid.green.button.fly_up(href="/group/#{_id}" title='save')
                        i.checkmark.large.icon
                    if in_dev
                        +remove_button
                    +image_edit key='image_id' label='image' direct=true
                .ten.wide.column
                    +text_edit key='title' direct=true
                    +html_edit key='description' label='content' icon='content' direct=true
                    +call_watson key='description'
                    // +single_user_edit key='leader_id' label='leader' icon='crown' direct=true
                    +multi_user_edit key='leader_ids' label='leaders' icon='crown' direct=true
                    +array_edit key='tags' label='tags' icon='tags' direct=true
                    +array_edit key='location_tags' label='location tags' icon='marker' direct=true
                    +text_edit key='contact_info' label='contact info' icon='info' direct=true
                    +multi_user_edit key='member_ids' label='members' direct=true
                    +boolean_edit key='private' label='private' direct=true
                    +link_edit key='link' label='link' direct=true
                    .ui.header 
                        i.cubes.icon
                        |modules
                    +boolean_edit key='has_checkin' label='checkin' icon='clock' direct=true
                    +boolean_edit key='has_shop' label='shop' icon='shop' direct=true
                    +boolean_edit key='has_posts' label='posts' icon='blog' direct=true
                    +boolean_edit key='has_events' label='events' icon='calendar' direct=true
                    +boolean_edit key='has_chat' label='chat' icon='chat' direct=true
                    
                    
                
template(name='group_posts')                
    .ui.inline.header 
        +i name='blog'
        |group posts
    if currentUser 
        .ui.icon.button.add_group_post(title='add group post')
            i.plus.icon
    div
        .ui.stackable.doubling.centered.cards
            each group_post_docs 
                +post_card
        .ui.large.link.animated.list
            each group_posts
                a.item(href="/post/#{_id}")
                    img.ui.avatar.image(src="{{c.url image_id width=200 height=200}}")
                    |#{title}


template(name='group_chat')    
    .ui.header 
        +i name='chat'
        |group chat
    +comments
    
                    
                    
                    
               
template(name='group_members')
    .ui.header
        +i name='groups'
        |people
    .ui.button.add_user_member
        |add member
    if leaders_id
        .ui.inline.header 
            +i name='crown' cl='ui avatar image'
            // i.crown.icon
            |leaders: 
        each leader_ids 
            +user_info
    div
    .ui.inline.header 
        +i name='groups'
        // i.users.icon
        |#{member_ids.length} members
    each member_ids
        +user_info

               
template(name='checkin_widget')
    .ui.inline.header 
        +i name='checkmark'
        |checkins
    if checked_in
        .ui.button.checkout  
            +i name='exit'
            |checkout
    else
        .ui.button.checkin
            +i name='internal'
            |checkin
    .ui.list
        each checkin_docs 
            .item 
                strong 
                    if active 
                        i.large.green.clock.icon(title='active')
                    img.ui.avatar.image(src="{{c.url _author.image_id width=200 height=200}}")
                    |#{_author.username}
                small #{when}

               
template(name='group_about')
    .ui.inline.header
        // i.info.icon
        +i name='info'
        |about
    +html_view key='description' icon='content' label='description'
    if watson 
        +watson_view

                                            
               
template(name='group_activity')
    .ui.header
        +i name='rss'
        |activity
    .content
        each log_items
            +log_item
        .ui.header 
            +i name='line-chart'
            // i.large.line.chart.icon
            |stats
        i.refresh.link.icon.refresh_group_stats
        .ui.large.list
            .item #{member_count} members
            .item #{events} events
            .item #{total_credit_exchanged} credits exchanged

              
              
template(name='group_events')              
    .ui.header
        .ui.inline.header
            +i name='calendar' 
            // i.calendar.large.icon
            |group events
    .content
        if currentUser 
            .ui.icon.button.add_group_event(title='add group event')
                i.plus.icon
        .ui.link.animated.list
            each group_events
                a.item(href="/event/#{_id}") 
                    img.ui.avatar.image(src="{{c.url image_id width=200 height=200}}")
                    .content
                        .header #{title}
                        .description
                            if is_repeating
                                i.refresh.icon
                                |every #{repeating_day}
                            if start_datetime
                                |{{from_now start_datetime}}
              
               
                                
template(name='group_products')
    .ui.header 
        +i name='shop'
        |shop
    if currentUser
        .ui.button.add_product  
            i.plus.icon
    each group_products 
        a.item(href="/post/#{_id}")
            img.ui.avatar.image(src="{{c.url image_id width=200 height=200}}")
            |#{title}
                                                        
    
    
    
template(name='groups_small')
    a.ui.header.zoomer(href="/groups")
        +i name='groups'
        |groups
    .ui.selection.animated.list.smallscroll
        each group_docs
            a.item(href="/group/#{_id}")
                img.ui.avatar.image(src="{{c.url image_id width=200 height=200}}")
                |#{title}
                
                
               
template(name='group_widget')
    if current_doc.group_id
        .ui.header 
            +i name='campfire'
            |related group
        with related_group_doc
            a.ui.card.fly_right(href="/group/#{_id}")
                img.ui.image(src="{{c.url image_id width=500 height=500}}")
                .content
                    .ui.header 
                        |#{title}
                    |!{description}
// template(name='group_widget')
//     if current_doc.group_id
//         .ui.header 
//             +i name='campfire'
//             |related group
//         with related_group_doc
//             a.ui.card.fly_right(href="/group/#{_id}")
//                 img.ui.image(src="{{c.url image_id width=500 height=500}}")
//                 .content
//                     .ui.header 
//                         |#{title}

               
                
template(name='group_picker')
    .ui.segment
        .ui.header 
            +i name='campfire'
            |related group
        // if is_admin
        if group_doc
            .ui.header 
                |#{product_groups.length}
                |picked groups
            .ui.list
                with group_doc
                    a.ui.item(href="/group/#{_id}")
                        img.ui.avatar.image(src="{{c.url image_id width=300 height=300 gravity='face' crop='fill'}}")
                        |#{title}
                    i.remove.link.circular.icon.zoomer.remove_group
        else 
            .ui.icon.large.input 
                if group_search_value
                    i.large.red.remove.link.icon.zoomer.clear_search
                else 
                    i.search.icon
                input.group_search(type='text' placeholder='search' value=group_search_value)
            if group_results
                .ui.selection.link.animated.list
                    each group_results
                        .ui.item.pick_group.zoomer
                            img.ui.avatar.image(src="{{c.url image_id width=300 height=300 gravity='face' crop='fill'}}")
                            |#{title}
            // else if group_search_value
            .ui.button.create_group
                |add #{group_search_value}
        
// template(name='group_picker')
//     .ui.segment
//         .ui.header 
//             +i name='campfire'
//             |related group
//         // if is_admin
//         if group_doc
//             .ui.header 
//                 |#{product_groups.length}
//                 |picked groups
//             .ui.list
//                 with group_doc
//                     a.ui.item(href="/group/#{_id}")
//                         img.ui.avatar.image(src="{{c.url image_id width=300 height=300 gravity='face' crop='fill'}}")
//                         |#{title}
//                     i.remove.link.circular.icon.zoomer.remove_group
//         else 
//             .ui.icon.large.input 
//                 if group_search_value
//                     i.large.red.remove.link.icon.zoomer.clear_search
//                 else 
//                     i.search.icon
//                 input.group_search(type='text' placeholder='search' value=group_search_value)
//             if group_results
//                 .ui.selection.link.animated.list
//                     each group_results
//                         .ui.item.pick_group.zoomer
//                             img.ui.avatar.image(src="{{c.url image_id width=300 height=300 gravity='face' crop='fill'}}")
//                             |#{title}
//             // else if group_search_value
//             .ui.button.create_group
//                 |add #{group_search_value}
      
                    

                