template(name='home')
    .ui.stackable.padded.grid
        .four.column.row
            .column
                .ui.header 
                    +i name='leaderboard'
                    |leaderboard
                .ui.animated.selection.link.list.smallscroll
                    each top_users
                        a.item(href="/user/#{username}")
                            img.ui.avatar.image(src="{{c.url image_id width=200 height=200 gravity='face' crop='fill'}}")
                            .content
                                strong #{username}
                                small #{points}pts
            .column
                .ui.list
                    .item 
                        i.eye.icon
                        |#{homepage_data_doc.homepage_views} homepage views
                    .item 
                        i.lock.icon
                        |#{homepage_data_doc.homepage_anon_views} anon views
                    .item 
                        i.user.icon
                        |#{homepage_data_doc.homepage_loggedin_views} logged in views
                +i name='clock'
                |latest activity
                each latest_docs
                    .item #{title}
                .ui.header 
                    +i name='jacuzzi'
                    |hot tub status
                with healthclub_status_doc
                    if hottub_open
                        .ui.large.green.label 
                            |open
                    else 
                        .ui.red.basic.label 
                            |closed
                .ui.header 
                    +i name='water'
                    |pool status
                with healthclub_status_doc
                    if pool_open
                        .ui.large.green.label 
                            |open
                    else 
                        .ui.red.basic.label 
                            |closed
                
            .column
                .ui.header 
                    +i name='blog'
                    |latest posts
                .ui.large.link.selection.animated.list.smallscroll
                    each latest_post_docs
                        a.ui.item.fly_right(href="/post/#{_id}")
                            img.ui.avatar.image(src="{{c.url image_id width=300 height=300 gravity='face' crop='fill'}}")
                            .content
                                .header 
                                    |#{title}
                                .description 
                                    .ui.label #{model}
                                    |#{when}
                                    |by #{_author_username}
                                    // +author_info
                            
                        
            .column
                .ui.header 
                    +i name='chat'
                    |public chat
                .ui.input
                    input.add_public_chat(type='text' placeholder='add message...')
                .ui.list
                    each latest_chat_docs
                        .item
                            |#{body}
                            small #{when}
                            
            .column
                .ui.header 
                    +i name='money'
                    |real estate available 
                each available_properties_docs
                    .ui.header 
                        |#{title}
                        
                        
            iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12223.22752652539!2d-105.27157281318149!3d40.01276107062417!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876bedcf1563c603%3A0x8a56ee2b4204da87!2sGold%20Run%20Condos!5e0!3m2!1sen!2sus!4v1649023489666!5m2!1sen!2sus" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade")