template(name='home')
    .ui.stackable.padded.grid
        .row
            .four.wide.column.scrollin
                +latest_users
            .eight.wide.column.scrollin
                +latest_activity
            .four.wide.column.scrollin
                +public_chat
                +top_users_points
                +homepage_stats
            // iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12223.22752652539!2d-105.27157281318149!3d40.01276107062417!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876bedcf1563c603%3A0x8a56ee2b4204da87!2sGold%20Run%20Condos!5e0!3m2!1sen!2sus!4v1649023489666!5m2!1sen!2sus" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade")
            .four.wide.column
                +global_activity
            .four.wide.column
                +user_posts
            .four.wide.column
                +user_points
            .four.wide.column
                +user_social

       
template(name='global_activity')        
    .ui.header 
        +i name='clock'
        |#{latest_log_docs.count} latest activity
    .ui.link.selection.animated.divided.list.smallscroll
        each latest_log_docs
            .item
                |#{body} #{when} #{_author_username} #{parent_model}
   
          
          
template(name='public_chat')
    .ui.accordion 
        .title
            .ui.header 
                +i name='chat'
                |public chat
        .content
            // a.ui.header.fly_right.zoomer(href="/chat")
            .ui.input
                input.add_public_chat(type='text' placeholder='add message...')
            if subs_ready 
                .ui.list
                    each latest_chat_docs
                        .item
                            |#{body}
                            small #{when}
                            if currentUser.admin_mode
                                i.remove.link.icon.remove_comment
            else 
                i.big.grey.yin.yang.loading.icon
                .ui.header loading
          
template(name='latest_activity')
    .ui.accordion
        .title
            a.ui.header 
                +i name='clock'
                |#{latest_docs.count} latest activity
                // i.sort.icon
        .content
            if subs_ready 
                .ui.link.cards.scrolling
                    each latest_docs
                        +home_doc_item
            else 
                i.big.loading.yin.yang.icon

template(name='home_doc_item')
    a.ui.fluid.card.fly_right(href="/doc/#{_id}")
        if youtube_id
            +youtube_view key='youtube_id'
        else if image_id
            // .image
            img.ui.rounded.inline.image(src="{{c.url image_id gravity='face' crop='fill'}}")
        .content
            .header 
                |#{title}
            .description 
                .smallcut
                    |!{content}
                |#{when}
                if is model 'post'
                    +i name='blog'
                else if is model 'product'
                    +i name='shop'
                else if is model 'event'
                    +i name='calendar'
                else 
                    .ui.label #{model}
                +author_info
                if watson 
                    +doc_emotion

          
// template(name="latest_activity")            
//     +i name='clock'
//     |latest activity
//     each latest_docs
//         .item #{title}


template(name='top_users_points')
    .ui.fluid.accordion
        .title
            a.ui.header 
                +i name='leaderboard'
                |point leaders
        .content
            .ui.animated.selection.link.list.smallscroll
                each top_user_docs
                    a.item.fly_right(href="/user/#{username}")
                        img.ui.avatar.image(src="{{c.url image_id width=200 height=200 gravity='face' crop='fill'}}")
                        .content
                            strong #{username}
                            small #{points}pts

template(name='latest_users')
    .ui.fluid.accordion
        .title
            a.ui.header
                +i name='clock'
                |#{latest_user_docs.count} latest users
        .content
            .ui.selection.animated.link.list
                each latest_user_docs
                    a.item.fly_right(href="/user/#{username}")
                        img.ui.avatar.image(src="{{c.url image_id width=200 height=200 gravity='face' crop='fill'}}")
                        strong #{username}
                        small {{from_now createdAt}}
        
        
template(name='latest_posts')
    .ui.header 
        +i name='blog'
        |#{latest_docs.count} latest public posts
    .ui.large.link.selection.animated.list.smallscroll
        each latest_docs
            a.ui.item.fly_right(href="/doc/#{_id}")
                img.ui.avatar.image(src="{{c.url image_id width=300 height=300 gravity='face' crop='fill'}}")
                .content
                    .header 
                        |#{title}
                    .description 
                        .ui.label #{model}
                        |#{when}
                        |by #{_author_username}
                        // +author_info


template(name='homepage_stats')
    .ui.fluid.accordion
        .title
            .ui.header 
                +i name='line-chart'
                |homepage stats
        .content
            .ui.list
                .item 
                    i.eye.icon
                    |#{homepage_data_doc.homepage_views} homepage views
                .item 
                    i.lock.icon
                    |#{homepage_data_doc.homepage_anon_views} anon views
                .item 
                    i.user.icon
                    |#{homepage_data_doc.homepage_loggedin_views} logged in views
                // .item 
                //     i.user.icon
                //     |#{homepage_data_doc.homepage_loggedin_views} logged in views
