template(name='home')
    .ui.stackable.padded.grid
        .four.column.row
            .column
                +i name='clock'
                |latest activity
                each latest_docs
                    .item #{title}
            .column
                .ui.header 
                    +i name='dashboard' 
                    |gr dashboard
                
                .ui.header 
                    +i name='jacuzzi'
                    |hot tub status
                with healthclub_status_doc
                    if hottub_open
                        .ui.large.green.label 
                            |open
                    else 
                        .ui.red.basic.label 
                            |closed
                
            .column
                .ui.header 
                    +i name='pool'
                    |pool status
                with healthclub_status_doc
                    if pool_open
                        .ui.large.green.label 
                            |open
                    else 
                        .ui.red.basic.label 
                            |closed
                
            .column
                .ui.header 
                    +i name='blog'
                    |latest posts
                .ui.large.link.selection.animated.list
                    each latest_post_docs
                        a.ui.item(href="/post/#{_id}")
                            |#{title}
            .column
                .ui.header 
                    +i name='chat'
                    |public chat
                .ui.input
                    input.add_public_chat(type='text' placeholder='add message...')
                .ui.list
                    each latest_chat_docs
                        .item #{body}
                            
            .column
                .ui.header 
                    +i name='money'
                    |real estate available 
                each available_properties_docs
                    .ui.header 
                        |#{title}