template(name='invoices')
    .ui.stackable.padded.grid 
        .four.wide.column
            .ui.inline.header 
                +i name='money'
                |invoices
            if currentUser
                .ui.icon.button.add_invoice
                    // i.plus.large.icon
                    +i name='plus'
            .ui.compact.button.toggle_yours
                if viewing_yours
                    i.undo.green.icon
                else
                    i.circle.outline.icon
                |yours
            +facet key='tag'
            +recalc_stats_button
            .ui.small.header
                +i name='line-chart'
                |stats
            .ui.list
                with invoice_stat_doc
                    .item $#{total_invoice_amount} sent total
                    .item $#{total_paid_amount} paid total
            .ui.header amount you owe: $#{amount_debt}
            .ui.header amount you're owed $#{amount_credited}
        .twelve.wide.column
            +session_set key='view_mode' value='cards' icon='th'
            +session_set key='view_mode' value='list' icon='list'
            i.large.sort.icon
            +session_set key='sort_key' value='_timestamp' label='added' icon='clock'
            +session_set key='sort_key' value='points' label='points' icon='hashtag'
            .scrolling
                if subs_ready
                    if session_is 'view_mode' 'cards'
                        .ui.centered.stackable.cards
                            each model_docs 'invoice' 
                                +invoice_card
                    else 
                        .ui.divided.animated.selection.list
                            each model_docs 'invoice' 
                                +invoice_item
                else
                    i.massive.yin.yang.loading.icon


template(name='invoice_card')
    .ui.link.card.view_invoice.pointer.fly_right
        if youtube_id 
            +youtube_view key='youtube_id'
        else if image_id
            img.ui.fluid.rounded.image(src="{{c.url image_id height=200 width=400 gravity='face' crop='fill'}}" class=currentUser.invert_class)
        .content
            a.ui.header.zoomer(href="/invoice/#{_id}") #{title}
            if private 
                i.large.lock.icon
            .ui.small.grey.inline.header #{when}
            .smallscroll
                | !{content}
            .ui.header 
                |amount: $#{amount}
            .ui.header 
                |worker hourly: $#{amount}/hr
            // +comments_view_small
            +author_info
            if group_id     
                +group_info
            
        
template(name='invoice_item')
    .ui.fluid.segment.view_invoice.pointer
        a.ui.header(href="/invoice/#{_id}") #{title}
        div
        .ui.small.grey.inline.header #{when}
        .smallscroll
            | !{content}
        each tags 
            .ui.basic.small.label #{this}
        

template(name='invoice_view')
    with current_doc
        .ui.stackable.padded.grid
            .row 
                .four.wide.column.scrolling
                    a.ui.icon.button(href="/invoices" title='invoices')
                        i.chevron.left.icon
                        +i name='invoice'
                        |invoices
                    if can_edit
                        a.ui.icon.button.fly_down(href="/invoice/#{_id}/edit" title='edit')
                            +i name='pencil'
                    .ui.header 
                        |amount: $#{amount}
                    .ui.header 
                        |projected hours: #{hours_projected}
                    +author_info
                    // .ui.segment
                    //     .ui.header 
                    //         small author
                    //     a.ui.header(href="/user/#{_author.username}") 
                    //         img.ui.avatar.image(src="{{c.url _author.image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                    //         |#{_author.username}
                    +viewing_info
                    +array_view key='tags' label='tags' direct=true
                    +voting_full
                    +array_view key='location_tags' label='location_tags' direct=true
                    +visibility_settings
                    // +group_widget
                .ten.wide.column.scrolling
                    .ui.header #{title}
                    img.ui.rounded.image(src="{{c.url image_id }}" class=currentUser.invert_class)
                    // a.ui.header(href="/user/#{target.username}")
                    //     |#{target.username}
                    |!{content}
                    if watson 
                        +watson_view
                    div 
                    .spacer
                    .spacer
                    if youtube_id 
                        +youtube_view key='youtube_id'
                    +comments
                .two.wide.column
                    +tips
                    
                // .four.wide.column
                
                    //- .ui.fluid.green.button.submit
                    //-     i.checkmark.icon
                    //-     |submit



template(name='invoice_edit')
    with current_doc
        .ui.stackable.padded.grid
            .three.column.row 
                .column.scrollin
                    .ui.inline.header 
                        +icolor name='news' cl='ui image inline pointer'
                        |edit invoice
                    a.ui.green.fluid.button.fly_down(href="/invoice/#{_id}" title='save')
                        i.checkmark.big.icon
                        |save
                    +text_edit key='title' label='title' direct=true
                    
                    +html_edit key='content' label='content' direct=true
                    +call_watson key='content'
                .column.scrollin
                    +number_edit key='amount' label='amount' icon='money'
                    +date_edit key='date' label='date' icon='calendar'
                    +number_edit key='hours_projected' label='projected hours' icon='clock'
                    +number_edit key='hours_actual' label='actual hours' icon='clock'
                    i.large.link.red.remove.icon.delete_invoice
                    if is_dev
                        +single_user_edit key='_author_id' label='author' direct=true
                    else 
                        .ui.header 
                            small author
                            |#{_author.username}
                    +image_edit key='image_id' label='image' direct=true
                    +single_user_edit key='target_id' label='recipient'
                    div 
                    +array_edit key='tags' label='tags' direct=true icon='tags'
                    +boolean_edit key='published' icon='visible' direct=true
                    if is_dev 
                        +text_edit key='model' label='model' direct=true
                .column.scrollin
                    +array_edit key='location_tags' label='location tags' icon='marker' direct=true
                    unless published
                        a.ui.fluid.green.button.submit
                            i.checkmark.icon
                            |publish
                    else
                        .ui.basic.button.unpublish 
                            |unpublish
                    .ui.header
                        |audience
                    +boolean_edit key='private' label='private' 
                    if private 
                        +multi_user_edit key='access_user_ids' label='user picker' direct=true
                    // +group_picker
                    +youtube_edit key='youtube_id'