template(name='music')
    .ui.stackable.padded.grid 
        .sixteen.wide.column
            .ui.inline.header 
                +i name='music'
                |#{artist_docs.count} artists
            if current_search 
                i.large.red.circular.link.remove.icon.clear
            .ui.large.input 
                input.artist_search(type='text' placeholder='search artist...' value=current_search)
            +i name='tags'
            each picked_music_tags
                button.ui.blue.compact.circular.button.unpick_tag(tabindex='0')
                    //- i.remove.icon
                    | #{this}
            each music_tag_results
                button.ui.circular.compact.black.button.pick_tag(tabindex="0" class=result_class title=count)
                    |#{name}
                    // small #{count}

        .four.wide.column.scrolling
            div
            .ui.inline.header
                .ui.small.inline.header
                    +i name='music'
                    |#{genre_results.count} genres
                each picked_genres
                    button.ui.blue.compact.circular.button.unpick_genre(tabindex='0')
                        //- i.remove.icon
                        | #{this}
                each genre_results
                    if name
                        button.ui.circular.compact.black.button.pick_genre(tabindex="0" class=result_class title=count)
                            |#{name}
                            // small #{count}
            div
            .ui.inline.header
                +i name='artist'
                |#{style_results.count} styles
            each picked_styles
                button.ui.blue.compact.circular.button.unpick_style(tabindex='0')
                    //- i.remove.icon
                    | #{this}
            each style_result
                if name
                    button.ui.circular.compact.black.button.pick_style(tabindex="0" class=result_class title=count)
                        |#{name}
                        // small #{count}
            div
            .ui.inline.header
                +i name='happy'
                |#{mood_results.count} moods
            each picked_moods
                button.ui.blue.compact.circular.button.unpick_mood(tabindex='0')
                    //- i.remove.icon
                    | #{this}
            each mood_results
                if name
                    button.ui.circular.compact.black.button.pick_mood(tabindex="0" class=result_class title=count)
                        |#{name}
                        // small #{count}
        .twelve.wide.column
            unless one_result
                .ui.inline.header(title='result count') #{result_docs.count}
                // +search_input key='title'
                +sort_direction_toggle
                // +sort_key_toggle
                +session_set key='sort_key' value='_timestamp' label='added' icon='clock'
                +session_set key='sort_key' value='points' label='points' icon='hashtag'
                +session_set key='sort_key' value='views' label='views' icon='eye'
                +session_set key='sort_key' value='intFormedYear' label='year started' icon='calendar'
                // +session_set key='limit' value=10
                // +session_set key='limit' value=25
                // +session_set key='limit' value=100
            .ui.hidden.divider
            .ui.centered.stackable.cards.scrolling
                if subs_ready
                    if one_result
                        .ui.one.cards
                            each artist_docs 
                                +artist_card
                    else
                        .ui.centered.cards
                            each artist_docs 
                                +artist_card
                else 
                    .ui.center.aligned.basic.segment
                        i.massive.yin.yang.loading.grey.icon
            // .ui.inline.header search songs
            // .ui.input 
            //     input(type='text' placholder='song...')
            // .ui.list 
            //     each song_docs 
            //         .ui.header #{title}
            // .ui.inline.header search albums
            // .ui.input 
            //     input(type='text' placholder='album...')
            // .ui.list 
            //     each album_docs 
            //         .ui.header #{title}
            

template(name='artist_card')
    a.card.fly_right.zoomer.rounded(href="/music/artist/#{_id}" title='view artist' class=mood_class)
        .ui.fade.reveal.image.rounded
            .visible.content.invert
                img.ui.image(src=strArtistThumb)
            .hidden.content.invert
                img.ui.image(src=strArtistFanart)
        .content
            img.ui.image(src=strArtistLogo title=strArtist)
            .description
                +mood_icon
                if strGenre
                    .ui.inverted.basic.label
                        +i name='music'
                        |#{strGenre}
                if strStyle
                    .ui.inverted.basic.label
                        +i name='artist'
                        |#{strStyle}
                if strMood
                    .ui.inverted.basic.label
                        +i name='happy'
                        |#{strMood}
                each five_tags
                    .ui.inverted.basic.label #{this}
                .ui.inverted.basic.label
                    i.plus.grey.icon
                    | #{_when}
                if points
                    .ui.inverted.basic.label
                        |#{points}pts
                if views
                    .ui.inverted.basic.label
                        i.eye.grey.icon
                        |#{views}
                        
                        
template(name='mood_icon')  
    if mood_icon_class
        span(title="#{strMood} mood")
            +i name=mood_icon_class
                        

template(name='music_artist')
    with current_artist 
        if strArtistBanner
            img.ui.image.profile_banner(src=strArtistBanner)
        .ui.stackable.padded.grid 
            .eight.wide.column.scroling
                a.ui.inverted.big.fluid.button.fly_left(href='/music')
                    i.chevron.left.icon
                    +i name='music'
                    |music
                .ui.two.column.grid 
                    .column
                        img.ui.image.rounded.zoomer(src=strArtistThumb)
                    .column
                        img.ui.image.rounded.zoomer(src=strArtistWideThumb)
                    if strArtistCutout
                        .column
                            img.ui.image.rounded.zoomer(src=strArtistCutout)
                    if strArtistClearart
                        .column
                            img.ui.image.rounded.zoomer(src=strArtistClearart)
                    if strArtistFanart
                        .column
                            img.ui.image.rounded.zoomer(src=strArtistFanart)
                    if strArtistFanart2
                        .column
                            img.ui.image.rounded.zoomer(src=strArtistFanart2)
                    if strArtistFanart3
                        .column
                            img.ui.image.rounded.zoomer(src=strArtistFanart3)
                    if strArtistFanart4
                        .column
                            img.ui.image.rounded.zoomer(src=strArtistFanart4)
                            
                .ui.header views: #{views}
                +voting_full
                div
                +i name='tags'
                each tags 
                    a.ui.inverted.large.basic.link.label.zoomer.pick_flat_tag(title='browse tag') #{this}
                +print_this
            .eight.wide.column.scrolling
                img.ui.image(src=strArtistLogo)
                .ui.massive.inline.header #{strArtist}
                // "strMusicBrainzID": "c8b03190-306c-4120-bb0b-6f2ebfc06ea9",
                // "strISNIcode": null,
                // "strLastFMChart": "http://www.last.fm/music/The Weeknd/+charts?rangetype=6month",
                if strLastFMChart
                    a.ui.big.inverted.basic.button.zoomer(href=strLastFMChart target='_window' title='last fm')
                        +i name='lastfm'
                        |last fm page
                // if strFacebook
                //     a.ui.big.basic.compact.inverted.button.zoomer(href=strFacebook target='_window' title='view facebook profile')
                //         +i name='facebook'
                // if strTwitter
                //     a.ui.big.basic.compact.inverted.button.zoomer(href=strTwitter target='_window' title='view twitter page')
                //         +i name='twitter'

                // .item #{strArtistStripped}: strArtistStripped
                if strArtistAlternate
                    .ui.large.basic.inverted.label alternate name: #{strArtistAlternate}
                if strLabel
                    .ui.large.basic.inverted.label label: #{strLabel}
                // .ui.large.basic.inverted.label #{idLabel}: idLabel
                if intFormedYear
                    .ui.large.basic.inverted.label
                        i.clock.icon
                        |formed: 
                        |#{intFormedYear}-
                // if intBornYear
                //     .ui.large.basic.inverted.label born #{intBornYear}
                if intDiedYear
                    .ui.large.basic.inverted.label(title='died')
                        +i name='death'
                        | #{intDiedYear}
                if strDisbanded
                    .ui.large.basic.inverted.label disbanded #{strDisbanded}
                if strCountry
                    .ui.large.basic.inverted.label
                        +i name='marker'
                        |#{strCountry}
                .ui.large.basic.inverted.label 
                    +i name='artist'
                    |style: #{strStyle}
                a.ui.large.basic.inverted.label.zoomer.pick_genre
                    +i name='music'
                    |#{strGenre}
                a.ui.large.basic.inverted.label.zoomer.pick_mood
                    +i name='happy'
                    |mood: #{strMood}
                .ui.large.basic.inverted.label
                    a(href=strWebsite target='_window')
                        |#{strWebsite}
                .ui.large.basic.inverted.label
                    // a(href=strWebsite target='_window')
                    |#{strMusicBrainzID}
                .f8 #{strBiographyEN}
                if currentUser.admin_mod
                    +call_watson key='strBiographyEN'
                +comments
            .sixteen.wide.column
                if watson 
                    +watson_view
