template(name='music')
    .ui.stackable.padded.grid 
        .sixteen.wide.column
            .ui.inline.header 
                i.music.icon
                |#{artist_docs.count} artists
            if current_search 
                i.large.red.circular.link.remove.icon.clear
            .ui.large.input 
                input.artist_search(type='text' placeholder='search artist...' value=current_search)
            +i name='tags'
            |tags
            each picked_music_tags
                button.ui.blue.compact.circular.button.unpick_tag(tabindex='0')
                    //- i.remove.icon
                    | #{this}
            each music_tag_results
                button.ui.circular.compact.black.button.pick_tag(tabindex="0" class=result_class title=count)
                    |#{name}
                    // small #{count}

        .four.wide.column.scrolling
            .ui.fluid.styled.accordion
                .active.title
                    .ui.small.inline.header
                        +i name='music'
                        |#{genre_results.count} genres
                    each picked_genres
                        button.ui.blue.compact.circular.button.unpick_genre(tabindex='0')
                            //- i.remove.icon
                            | #{this}
                .active.content
                    each genre_results
                        button.ui.circular.compact.black.button.pick_genre(tabindex="0" class=result_class title=count)
                            |#{name}
                            // small #{count}
            .ui.fluid.styled.accordion
                .active.title
                    +i name='artist'
                    |styles
                    each picked_styles
                        button.ui.blue.compact.circular.button.unpick_style(tabindex='0')
                            //- i.remove.icon
                            | #{this}
                .active.content
                    each style_results
                        button.ui.circular.compact.black.button.pick_style(tabindex="0" class=result_class title=count)
                            |#{name}
                            // small #{count}
            .ui.fluid.styled.accordion
                .active.title
                    +i name='happy'
                    |moods
                    each picked_moods
                        button.ui.blue.compact.circular.button.unpick_mood(tabindex='0')
                            //- i.remove.icon
                            | #{this}
                .active.content
                    each mood_results
                        button.ui.circular.compact.black.button.pick_mood(tabindex="0" class=result_class title=count)
                            |#{name}
                            // small #{count}
        .twelve.wide.column.scrolling
            .ui.centered.stackable.doubling.cards
                each artist_docs 
                    +artist_card
            // .ui.inline.header search songs
            // .ui.input 
            //     input(type='text' placholder='song...')
            // .ui.list 
            //     each song_docs 
            //         .ui.header #{title}
            // .ui.inline.header search albums
            // .ui.input 
            //     input(type='text' placholder='album...')
            // .ui.list 
            //     each album_docs 
            //         .ui.header #{title}
            

template(name='artist_card')
    a.card.fly_right(href="/music/artist/#{_id}" title='view artist')
        img.ui.image(src=strArtistThumb)
        .content
            .header #{strArtist}
            .description
                .ui.inverted.basic.label
                    +i name='music'
                    |#{strGenre}
                .ui.inverted.basic.label
                    +i name='artist'
                    |#{strStyle}
                .ui.inverted.basic.label
                    +i name='happy'
                    |#{strMood}
                each five_tags
                    .ui.inverted.basic.label #{this}
                |added #{_when}

template(name='music_artist')
    with current_artist 
        if strArtistBanner
            img.ui.image.profile_banner(src=strArtistBanner)
        .ui.stackable.padded.grid 
            .eight.wide.column
                a.ui.inverted.big.button.fly_left(href='/music')
                    i.chevron.left.icon
                    i.music.large.icon
                    |music
                img.ui.image(src=strArtistThumb)
                .ui.header views: #{views}
                +voting
                each tags 
                    .ui.black.inverted.label #{this}
                +print_this
            .eight.wide.column.scrolling
                .ui.massive.header #{strArtist}
                .ui.large.list
                    // .item #{strArtistStripped}: strArtistStripped
                    .item alternate name: #{strArtistAlternate}
                    .item label: #{strLabel}:
                    // .item #{idLabel}: idLabel
                    if intFormedYear
                        .item
                            i.clock.icon
                            |formed: 
                            |#{intFormedYear}-
                    if intBornYear
                        .item born#{intBornYear}
                    if intDiedYear
                        .item died #{intDiedYear}
                    if strDisbanded
                        .item disbanded #{strDisbanded}
                    .item 
                        +i name='artist'
                        |style: #{strStyle}
                    .item 
                        +i name='music'
                        |#{strGenre}
                    .item 
                        +i name='happy'
                        |mood: #{strMood}
                    .item
                        a(href=strWebsite target='_window')
                            |#{strWebsite}
                if strFacebook
                    a.ui.big.button(href=strFacebook target='_window')
                        +i name='facebook'
                if strFacebook
                    a.ui.big.button(href=strTwitter target='_window')
                        +i name='twitter'
                |#{strBiographyEN}
                +call_watson key='strBiographyEN'
                +comments
            .sixteen.wide.column
                if watson 
                    +watson_view_full
