template(name='music')
    .ui.stackable.padded.grid 
        .sixteen.wide.column
            .ui.inline.header 
                i.music.icon
                |music
            .ui.input 
                input.artist_search(type='text' placeholder='search artist...')
            +facet key='tag' model='artist' icon='tags'
        .four.wide.column
            div
            +facet key='genre' model='artist' icon='smart-playlist' label='genre'
            div
            +facet key='style' model='artist' icon='music' label='style'
            div
            +facet key='mood' model='artist' icon='happy' label='mood'
        .twelve.wide.column
            .ui.cards
                each artist_docs 
                    a.card(href="/music/artist/#{_id}")
                        img.ui.image(src=strArtistThumb)
                        .content
                            .header #{strArtist}
                            .description
                                .ui.label
                                    i.smile.icon
                                    |#{strGenre}
                                .ui.label
                                    i.smile.icon
                                    |#{strStyle}
                                .ui.label
                                    i.smile.icon
                                    |#{strMood}
                                each five_tags
                                    .ui.inverted.label #{this}
            // .ui.inline.header search songs
            // .ui.input 
            //     input(type='text' placholder='song...')
            // .ui.list 
            //     each song_docs 
            //         .ui.header #{title}
            // .ui.inline.header search albums
            // .ui.input 
            //     input(type='text' placholder='album...')
            // .ui.list 
            //     each album_docs 
            //         .ui.header #{title}
            

template(name='music_artist')
    with current_artist 
        .ui.stackable.padded.grid 
            .eight.wide.column
                a.ui.inverted.button(href='/music')
                    i.music.icon
                    |music
                img.ui.image(src=strArtistThumb)
                .ui.header views: #{views}
                +voting
                each tags 
                    .ui.label #{this}
                if watson 
                    +watson_view
            .eight.wide.column
                .header #{strArtist}
                .ui.large.list
                    .item #{strArtistStripped}: strArtistStripped
                    .item #{strArtistAlternate}: strArtistAlternate
                    .item #{strLabel}: strLabel
                    .item #{idLabel}: idLabel
                    .item #{intFormedYear}: intFormedYear
                    .item #{intBornYear}: intBornYear
                    .item #{intDiedYear}: intDiedYear
                    .item #{strDisbanded}: strDisbanded
                    .item #{strStyle}: strStyle
                    .item #{strGenre}: strGenre
                    .item #{strMood}: strMood
                    .item #{strWebsite}: strWebsite
                    .item #{strFacebook}: strFacebook
                    .item #{strTwitter}: strTwitter
                |#{strBiographyEN}
                +call_watson key='strBiographyEN'
                +comments
