template(name='posts')
    .ui.stackable.padded.grid 
        .four.wide.column
            .ui.inline.header 
                +i name='blog'
                |posts
            if currentUser
                .ui.icon.button.add_post
                    i.plus.large.icon
            .ui.compact.button.toggle_yours
                if viewing_yours
                    i.undo.green.icon
                else
                    i.circle.outline.icon
                |yours
            .ui.compact.button.toggle_private
                if viewing_private
                    i.lock.green.icon
                else
                    i.circle.outline.icon
                |private
            div
            +search_input key='title'
            +facet key='tag' icon='tags'
            +facet key='doc_sentiment_label' icon='happy'
        .twelve.wide.column
            i.large.sort.icon
            +toggle_sort_direction
            +session_set key='sort_key' value='_timestamp' label='added' icon='clock'
            +session_set key='sort_key' value='points' label='points' icon='hashtag'
            +session_set key='view_mode' value='grid' icon='th'
            +session_set key='view_mode' value='list' icon='list'
            .scrolling
                if subs_ready
                    if one_result
                        .ui.one.cards
                            each post_docs
                                +post_card_med
                    else if two_results
                        .ui.two.cards
                            each post_docs
                                +post_card_med
                    else                 
                        .ui.centered.stackable.cards
                            each post_docs 
                                +post_card
                else 
                    .ui.center.aligned.basic.segment
                        i.massive.yin.yang.loading.grey.icon

template(name='post_card')
    .ui.link.card.view_post.pointer.fly_right
        if youtube_id
            +youtube_view key='youtube_id'
        else if image_id
            img.ui.fluid.rounded.image(src="{{c.url image_id height=200 width=400 gravity='face' crop='fill'}}" class=currentUser.invert_class)
        .content
            a.ui.large_text.zoomer(href="/post/#{_id}" class=emotion_color) #{title}
            if private 
                i.large.lock.icon
            .ui.small.grey.inline.header #{when}
            .smallcut
                | !{content}
            +voting_full
            if views
                |#{views} views
            +author_info
            +comments
            if group_id     
                +group_info
            if watson 
                +doc_emotion
template(name='post_card_med')
    .ui.link.card.view_post.pointer.fly_right
        if youtube_id
            +youtube_view key='youtube_id'
        else if image_id
            img.ui.fluid.rounded.image(src="{{c.url image_id height=200 width=400 gravity='face' crop='fill'}}" class=currentUser.invert_class)
        .content
            a.ui.large_text.zoomer(href="/post/#{_id}" class=emotion_color) #{title}
            if private 
                i.large.lock.icon
            .ui.small.grey.inline.header #{when}
            .smallscroll
                | !{content}
            +voting_full
            if views
                .ui.basic.label(title='views')
                    i.grey.eye.icon
                    |#{views}
            +author_info
            // +comments_view_small
            if group_id     
                +group_info
            if watson 
                +doc_emotion
        
template(name='post_item')
    .ui.fluid.segment.view_post.pointer
        a.ui.header(href="/post/#{_id}/view" class=emotion_color) #{title}
        div
        .ui.small.grey.inline.header #{when}
        .smallcut
            | !{content}
        +author_info
        each tags 
            .ui.basic.small.label #{this}
        

template(name='post_layout')
    +nav
    with current_doc
        .ui.stackable.padded.grid
            .four.column.row 
                .four.wide.column.scrollin
                    a.ui.icon.button.fly_left(href="/posts" title='posts')
                        i.chevron.left.icon
                        +i name='post'
                        |posts
                    if can_edit
                        a.ui.icon.button.fly_down(href="/post/#{_id}/edit" title='edit')
                            +i name='pencil'
                    .ui.segment
                        .ui.inline.header   
                            small author
                        a.ui.inline.header(href="/user/#{_author.username}") 
                            img.ui.avatar.image(src="{{c.url _author.image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                            |#{_author.username}
                    .ui.list
                        .item 
                            i.grey.eye.icon
                            |#{views} views
                        .item 
                            |#{points}
                            |points
                        .item 
                            |#{tip_total}
                            |tip total
                    each viewers
                        .ui.label #{username}
                    +array_view key='tags' label='tags' icon='tags' direct=true
                    div
                    +voting_full
                    +array_view key='location_tags' label='location_tags' direct=true
                    +visibility_settings
                    
                    +group_widget
                    if in_dev 
                        +print_this
                    if link
                        +link_view key='link' label='link'
                .twelve.wide.column.scrollin
                    .ui.big.center.aligned.header(class=emotion_color) #{title}
                    a.ui.button(href="/post/#{_id}/" class="{{isActiveRoute regex='post_home'}}" )
                        +i name='home'
                        |home
                    if watson
                        a.ui.button(href="/post/#{_id}/emotion" class="{{isActiveRoute regex='emotion'}}" )
                            +i name='dna-helix'
                            |emotion
                    a.ui.button(href="/post/#{_id}/comments" class="{{isActiveRoute regex='comments'}}" )
                        +i name='chat'
                        |comments
                    a.ui.button(href="/post/#{_id}/tips" class="{{isActiveRoute regex='tips'}}" )
                        +i name='coins'
                        |tips
                    a.ui.button(href="/post/#{_id}/stats" class="{{isActiveRoute regex='stats'}}" )
                        +i name='pie-chart'
                        |stats
                    +yield
    +footer
                    
template(name='post_home')                    
    if subtitle
        .ui.small.header #{subtitle}
    // a.ui.header(href="/user/#{target.username}")
    //     |#{target.username}
    if youtube_id
        +youtube_view key='youtube_id'
    .scrolling
        |!{content}
    img.ui.rounded.image(src="{{c.url image_id }}" class=currentUser.invert_class)
    if watson 
        .column
            +watson_view
    // if tone 
    //     +tone
    div 
    .spacer
    .spacer
    +comments


template(name='post_tips')
    .ui.dividing.header 
        +i name='money'
        |tips
    .ui.button.tip_post
        |tip 10pts
    .ui.large.divided.list
        each post_tip_docs
            .item #{when} #{amount}
                if in_dev
                    +remove_button doc=this redirect=false
        
template(name='post_stats')
    .ui.dividing.header 
        +i name='line-chart'
        |post stats
    .ui.big.list
        .item #{views} views
        .item #{views_ranking} view ranking
        .item #{post_views_ranking} post views ranking
        
template(name='post_comments')
    .ui.header post chat
    +comments
template(name='post_emotion')
    .ui.header 
        +i name='dna-helix'
        |post emotion
    +watson_view
    if tone 
        .ui.header 
            +i name='smile'
            |tone
        each tone.classifications
            .ui.header 
                |{{to_percent confidence}}% #{class_name}


template(name='visibility_settings')
    .ui.header 
        i.eye.icon
        |visibility settings
    if private 
        .ui.header 
            i.lock.icon
            |private
    if friends_only
        .ui.header 
            +i name='friends'
            |friends only


template(name='post_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row 
                .ten.wide.column
                    +text_edit key='title' label='title' direct=true
                    +text_edit key='subtitle' label='subtitle' direct=true
                    +html_edit key='content' label='content' direct=true
                    +call_watson mode='html' key='content'
                    .ui.header analyzed text
                    if watson.analyzed_text
                        |!{watson.analyzed_text}
                    if tone 
                        .ui.header tone
                        each tone.classifications
                            .ui.header 
                                |#{confidence}:#{class_name}
                    if in_dev 
                        +print_this
                    +call_tone key='content'
                    if is_dev
                        +single_user_edit key='_author_id' label='author' icon='user' direct=true
                    else 
                        .ui.header 
                            small author
                            |#{_author.username}
                    // +boolean_edit key='has_image' label='has image' icon='content' direct=true
                    // if has_image
                    +image_edit key='image_id' label='image' direct=true
                .six.wide.column
                    .ui.inline.header 
                        +icolor name='news' cl='ui image inline pointer'
                        |editing post
                    a.ui.green.big.button.fly_up(href="/post/#{_id}/view" title='save')
                        i.checkmark.big.icon
                        |save
                    div 
                    +array_edit key='tags' label='tags' direct=true icon='tags'
                    .ui.header 
                        +i name='eye'
                        |visibility
                    +key_value_edit key='visibility' value='published' icon='checkmark' classes='green'
                    +key_value_edit key='visibility' value='private' icon='lock' classes='blue'
                    +key_value_edit key='visibility' value='draft' icon='checkmark' classes='orange'
                    // +boolean_edit key='published' icon='visible' direct=true
                    if is_dev 
                        +text_edit key='model' label='model' direct=true
                    +array_edit key='location_tags' label='location tags' icon='marker' direct=true
                    // unless published
                    //     a.ui.fluid.green.button.submit
                    //         i.checkmark.icon
                    //         |publish
                    // else
                    //     .ui.basic.button.unpublish 
                    //         |unpublish
                    +link_edit key='link' label='link'
                    +youtube_edit key='youtube_id' label='youtube id'
                    .ui.header
                        |audience
                    +boolean_edit key='private' label='private' 
                    if private 
                        +multi_user_edit key='access_user_ids' label='user picker' direct=true
                    +group_picker
                    .ui.red.button.delete_post
                        i.large.link.red.remove.icon
                        |delete post