template(name='post_card')
    a.ui.link.card.fly_right(href="/doc/#{_id}")
        if youtube_id
            +youtube_view key='youtube_id'
        else if image_id
            img.ui.fluid.rounded.image(src="{{c.url image_id height=200 width=400 gravity='face' crop='fill'}}" class=currentUser.invert_class)
        .content
            a.ui.large_text.zoomer(href="/doc/#{_id}" class=emotion_color) #{title}
            if private 
                i.large.lock.icon
            .ui.small.grey.inline.header #{when}
            .smallcut
                | !{content}
            +voting_full
            if views
                |#{views} views
            +author_info
            +comments
            if group_id     
                +group_info
            if watson 
                +doc_emotion
template(name='post_card_med')
    a.ui.link.card.fly_right(href="/doc/#{_id}")
        if youtube_id
            +youtube_view key='youtube_id'
        else if image_id
            img.ui.fluid.rounded.image(src="{{c.url image_id height=200 width=400 gravity='face' crop='fill'}}" class=currentUser.invert_class)
        .content
            a.ui.large_text.zoomer(href="/doc/#{_id}" class=emotion_color) #{title}
            if private 
                i.large.lock.icon
            .ui.small.grey.inline.header #{when}
            .smallscroll
                | !{content}
            +voting_full
            if views
                .ui.basic.label(title='views')
                    i.grey.eye.icon
                    |#{views}
            +author_info
            // +comments_view_small
            if group_id     
                +group_info
            if watson 
                +doc_emotion
template(name='post_item')
    a.ui.link.item.fly_right(href="/doc/#{_id}")
        if youtube_id
            +youtube_view key='youtube_id'
        else if image_id
            img.ui.fluid.rounded.image(src="{{c.url image_id height=500 width=500 gravity='face' crop='fill'}}" class=currentUser.invert_class)
        a.ui.inline.header(href="/doc/#{_id}" class=emotion_color) #{title}
        .ui.small.basic.label(title='created when')
            |#{when}
        span(title='views')
            i.grey.eye.icon
            |#{views}
        +author_info
        if group_id     
            +group_info
        if watson 
            +doc_emotion
        each seven_tags 
            .ui.basic.small.label #{this}
        
        .smallcut
            | !{content}
        

template(name='post_view')
    .ui.stackable.padded.grid
        .row 
            .twelve.wide.column.scrollin
                .ui.big.center.aligned.header(class=emotion_color) 
                    if price
                        i.large.coins.icon(title='price')
                    if private 
                        i.large.lock.icon(title='private')
                    |#{title}
                // a.ui.compact.button(href="/doc/#{_id}/" class="{{isActiveRoute regex='post_home'}}" )
                //     +i name='home'
                //     |home
                // if watson
                //     a.ui.compact.button(href="/doc/#{_id}/emotion" class="{{isActiveRoute regex='emotion'}}" )
                //         +i name='dna-helix'
                //         |emotion
                // a.ui.compact.button(href="/doc/#{_id}/comments" class="{{isActiveRoute regex='comments'}}" )
                //     +i name='chat'
                //     |comments
                // a.ui.compact.button(href="/doc/#{_id}/tips" class="{{isActiveRoute regex='tips'}}" )
                //     +i name='coins'
                //     |tips
                // a.ui.compact.button(href="/doc/#{_id}/stats" class="{{isActiveRoute regex='stats'}}" )
                //     +i name='pie-chart'
                //     |stats
                // a.ui.compact.button(href="/doc/#{_id}/related" class="{{isActiveRoute regex='related'}}" )
                //     +i name='clone'
                //     |related
                +post_home
            .four.wide.column.scrollin
                a.ui.icon.button.fly_left(href="/docs" title='posts')
                    i.chevron.left.icon
                    +i name='post'
                    |posts
                if can_edit
                    a.ui.icon.button.fly_down(href="/doc/#{_id}/edit" title='edit')
                        +i name='pencil'
                +group_widget
                +author_block
                if has_price
                    +post_orders
                .ui.list
                    .item 
                        i.grey.eye.icon
                        |#{views} views
                    .item 
                        |#{points}
                        |points
                    .item 
                        |#{tip_total}
                        |tip total
                each viewers
                    .ui.label #{username}
                +array_view key='tags' label='tags' icon='tags' direct=true
                div
                +voting_full
                +array_view key='location_tags' label='location_tags' direct=true
                +visibility_settings
                
                if in_dev 
                    +print_this
                if link
                    +link_view key='link' label='link'
                
template(name='post_orders')
    .ui.segment 
        .ui.header 
            |post price: #{price}
        if has_access 
            with access_doc 
                .ui.header purchased access #{when}
        else 
            .ui.button.purchase_access
                |purchase access
                
                
template(name='post_related')
    .ui.header 
        |related posts
                
                
template(name='post_home')                    
    if subtitle
        .ui.small.header #{subtitle}
    // a.ui.header(href="/user/#{target.username}")
    //     |#{target.username}
    if youtube_id
        +youtube_view key='youtube_id'
    // .scrolling
    |!{content}
    img.ui.rounded.image(src="{{c.url image_id }}" class=currentUser.invert_class)
    // if tone 
    //     +tone
    +comments


template(name='post_tips')
    .ui.dividing.header 
        +i name='money'
        |tips
    .ui.button.tip_post
        |tip 10pts
    .ui.large.divided.list
        each post_tip_docs
            .item #{when} #{amount}
                if in_dev
                    +remove_button doc=this redirect=false
        
template(name='post_stats')
    .ui.dividing.header 
        +i name='line-chart'
        |post stats
    .ui.big.list
        .item #{views} views
        .item #{views_ranking} view ranking
        .item #{post_views_ranking} post views ranking
        
template(name='post_comments')
    .ui.header 
        +i name='chat'
        |post chat
    +comments
template(name='post_emotion')
    .ui.header 
        +i name='dna-helix'
        |post emotion
    +watson_view
    if tone 
        .ui.header 
            +i name='smile'
            |tone
        each tone.classifications
            .ui.header 
                |{{to_percent confidence}}% #{class_name}


template(name='visibility_settings')
    .ui.dividing.header 
        +i name='eye'
        |visibility settings
    if private 
        .ui.header 
            i.lock.icon
            |private
    if friends_only
        .ui.header 
            +i name='friends'
            |friends only
    +key_value_edit key='visibility' value='published' icon='checkmark' classes='green'
    +key_value_edit key='visibility' value='private' icon='lock' classes='blue'
    +key_value_edit key='visibility' value='draft' icon='checkmark' classes='orange'


template(name='post_edit')
    .ui.stackable.padded.grid
        .row 
            .ten.wide.column
                .ui.inline.header 
                    +i name='cube'
                    |sections
                +boolean_edit key='has_title' label='title (-1p)' icon='header'
                if has_title
                    +text_edit key='title' label='title' direct=true icon='header'
                +boolean_edit key='has_subtitle' label='subtitle (-1p)' icon='header'
                if has_subtitle
                    +text_edit key='subtitle' label='subtitle' direct=true icon='header'
                +boolean_edit key='has_content' label='content (-1p)' icon='content'
                if has_content
                    +html_edit key='content' label='content' direct=true icon='content'
                    +call_watson mode='html' key='content'
                    if watson.analyzed_text
                        .ui.header
                            i.calculator.icon
                            |analyzed text
                        |!{watson.analyzed_text}
                        +call_tone key='content'
                    if tone 
                        .ui.header tone
                        .ui.large.list
                            each tone.classifications
                                .item
                                    |#{confidence}: #{class_name}
                +boolean_edit key='has_image' label='has image (-1p)' icon='content' direct=true
                if has_image
                    +image_edit key='image_id' label='image' direct=true
                +boolean_edit key='has_youtube' label='has youtube (-1p)' icon='youtube'
                if has_youtube
                    +youtube_edit key='youtube_id' label='youtube id'
            .six.wide.column
                if in_dev 
                    +print_this
                if is_dev
                    +single_user_edit key='_author_id' label='author' icon='user' direct=true
                else 
                    .ui.header 
                        small author
                        |#{_author.username}
                .ui.inline.header 
                    +icolor name='news' cl='ui image inline pointer'
                    |editing post
                a.ui.green.big.button.fly_up(href="/doc/#{_id}" title='save')
                    i.checkmark.big.icon
                    |save
                div 
                +array_edit key='tags' label='tags' direct=true icon='tags'
                +premium_settings
                +visibility_settings
                // +boolean_edit key='published' icon='visible' direct=true
                if is_dev 
                    +text_edit key='model' label='model' direct=true
                +array_edit key='location_tags' label='location tags' icon='marker' direct=true
                +publish_button
                +link_edit key='link' label='link'
                +group_picker
                .ui.red.button.delete_post
                    i.large.link.red.remove.icon
                    |delete post
                        
                        
template(name='premium_settings')
    +boolean_edit key='has_price' label='has price' icon='coins'
    if has_price
        .ui.segment 
            .ui.header 
                |premium settings 
            +number_edit key='price' label='price (points)' icon='money'
