template(name='profile_layout')
    with user_from_username_param
        if background_image_id
            img.ui.image.nav_banner(src="{{c.url background_image_id height=1000 crop='crop'}}")
        else 
            img.ui.image.nav_banner(src="{{c.url image_id height=1000 crop='crop'}}")
    +nav
    .ui.bottom.attached.pushable.segment.scrolling(class=darkmode_class)
        +topbar
        +leftbar
        +rightbar
        with user_from_username_param
            if background_image_id
                img.ui.image.checkin_banner(src="{{c.url background_image_id height=1000 crop='crop'}}")
            else 
                img.ui.image.checkin_banner(src="{{c.url image_id height=1000 crop='crop'}}")
            // img.ui.fluid.image.checkin_banner(src="{{c.url 'frontrange' width=1000 height=1000 crop='crop'}}")
            .ui.stackable.padded.grid
                .row
                    //- img.ui.image.checkin_banner(src="{{c.url banner_image width=1000 height=1000 crop='crop'}}")
                    .four.wide.column
                        +profile_left_column
                    .twelve.wide.column
                        a.ui.compact.circular.button(href="/user/#{username}")
                            +i name='dashboard'
                            unless currentUser.hide_menu_labels
                                |dashboard
                        +profile_menu_item key='about' icon='info'
                        +profile_menu_item key='points' icon='coins'
                        +profile_menu_item key='social' icon='friends'
                        +profile_menu_item key='posts' icon='blog'
                        +profile_menu_item key='products' icon='shop'
                        // +profile_menu_item key='rentals' icon='clock'
                        +profile_menu_item key='services' icon='wrench'
                        +profile_menu_item key='groups' icon='groups'
                        +profile_menu_item key='comments' icon='chat'
                        +profile_menu_item key='mail' icon='envelope'
                        +profile_menu_item key='voting' icon='elections'
                        .scrolling
                            if subs_ready
                                +yield
                            else 
                                .ui.basic.center.aligned.segment
                                    i.massive.loading.refresh.icon
                          
template(name='profile_left_column')                          
    a.item(href="/user/#{username}")
        img.ui.centered.rounded.image.boop(src="{{c.url image_id height=500 width=500 gravity='face' crop='fill'}}")
    .ui.center.aligned.inline.small.header(title='boops')
        +i name='tap-gesture'
        |#{boops}
    .spacer
    a(href="/user/#{username}")
        .ui.header
            strong @#{username}
            //- small @#{user.username}        
        a.ui.header(href="/user/#{username}/points" title='points')
            //- +i name='coins'
            //- i.coins.icon
            |#{points} pts
    div
    if first_name
        .ui.inline.header #{first_name}
    if last_name
        .ui.inline.header #{last_name}
    div
    if company 
        .ui.header
            +i name='business' 
            |#{company}
    +link_view key='link' icon='globe'
    if linkedin_link
        .ui.circular.compact.button(href=linkedin_link target='_window')
            +i name='linkedin'
    if twitter_link
        .ui.circular.compact.button(href=twitter_link target='_window')
            +i name='twitter'
    a.ui.large.icon.button.fly_up(href="/user/#{username}/edit" title='profile settings')
        i.cog.large.icon
        unless currentUser.hide_menu_labels
            |account
    div
    .ui.accordion
        .active.title
            a.ui.small.grey.header.zoomer.calc_user_points
                i.line.chart.icon
                |stats
        .active.content
            .ui.list 
                .item 
                    i.eye.grey.icon
                    |#{profile_views} 
                    |profile views
                .item 
                    i.lock.grey.icon
                    |#{profile_views_anon} 
                    |anon views
                .item 
                    i.user.grey.icon
                    |#{profile_views_logged_in} 
                    |logged in views
                .item 
                    i.thumbs.up.grey.icon
                    |#{upvote_total} 
                    |upvoted points
                .item 
                    i.thumbs.down.grey.icon
                    |#{downvote_total} 
                    |downvoted points
                .item 
                    i.coins.icon 
                    |#{tip_count} tips totalling #{tip_total}pts

    if is_admin
        a.ui.icon.button(href="/user/#{user_from_username_param.username}/edit" title='profile settings')
            +i name='settings' cl='ui avatar image'
    if in_dev 
        .ui.button.login_as_user 
            |login as #{username}
    if is_current_user
        +logout_button
        +logout_other_clients_button
    if in_dev 
        +print_this
    +send_points_button
    +request_button
    +follow_button
    if has_membership
        +join_button
    +friend_button
                          
                    
template(name='user_mail')                    
    .ui.dividing.header 
        +i name='envelope'
        |user mail  
    if is_current_user
        +inbox
    else 
        +comments
                            
template(name='profile_menu_item')
    a.ui.compact.circular.button(href="/user/#{current_user.username}/#{key}" class="{{isActiveRoute regex=key}}" )
        +i name=icon
        unless currentUser.hide_menu_labels
            |#{key}
                 
                 
template(name='user_points')        
    .ui.stackable.padded.grid
        .two.column.row
            .column
                .ui.dividing.header 
                    +i name='coins'
                    |user balance
                .ui.dividing.header
                    +i name='internal'
                    |points in
                .ui.list
                    each points_in_docs
                        .ui.inline.header #{body} 
                        |{amount}pts
                .ui.dividing.header
                    +i name='donate'
                    |points out
                .ui.list
                    each points_out_docs
                        .ui.inline.header #{body} 
                        |{amount}pts
            .column
                .ui.dividing.header
                    +i name='donate'
                    |tips
                .ui.list
                    each tips_docs
                        a.item.fly_left(href="/#{_parent.model}/#{parent_id}")
                            strong #{_parent.title} 
                            small {amount}pts
                .ui.dividing.header 
                    +i name='blog'
                    |posts
                .ui.small.header publish costs
                .ui.small.header earned points
                
    
                 
template(name='user_products')                 
    .ui.dividing.header 
        +i name='shop'
        |user products
    each user_product_docs 
        .ui.header #{title}
                 
template(name='user_about')                 
    .ui.dividing.header 
        +i name='info'
        |user info
    +text_view key='first_name' label='first name' icon='user'
    div
    +text_view key='last_name' label='last name' icon='user'
    div
    +text_view key='display_name' label='display name'
    div
    +array_view key='tags' label='tags' icon='tags'
    +html_view key='bio' label='bio'
    +text_view key='status' label='status' icon='clock'
    +text_view key='address' label='address' icon='marker' 
    +text_view key='city' label='city' icon='marker' 
    +text_view key='state' label='state' icon='marker' 
    +phone_view key='phone' label='phone' icon='phone' 
    +text_view key='company' label='company' icon='business'
    +text_view key='linkedin_link' label='LinkedIn profile ' icon='linkedin'
    +text_view key='twitter_link' label='twitter profile ' icon='twitter'
    +text_view key='facebook_link' label='facebook profile ' icon='facebook'
    if watson 
        +watson_view
                 
                 
template(name='user_comments')                 
    .ui.header 
        +i name='chat'
        |user comments
    .ui.comments
        each user_comment_docs
            a.comment(href="/#{parent_model}/#{parent_id}")
                .meta
                    |#{when}
                .description #{body}
                +print_this
    +comments
                 
                 
template(name='user_groups')                 
    .ui.header 
        +i name='groups'
        |user groups
    a.ui.button.fly_right(href="/groups")
        i.chevron.up.icon
        +i name='campfire'
        |groups
    .ui.list    
        each group_memberships
            a.item(href="/group/#{_id}") #{title}
                 
template(name='user_dashboard')
    .ui.padded.grid 
        .two.column.row
            .column 
                if bio
                    |!{bio}
                if watson
                    +watson_view
                +user_messages
                if is_current_user
                    .column
                        +profile_deposits
            .column
                +user_reviews
            .column
                +user_posts
                +user_groups
            .column
                +user_friends
            .column
                +user_points
                    
template(name='user_social')
    .ui.stackable.padded.two.column.grid 
        .column
            .ui.header 
                +i name='friends'
                |user social
            +user_friends   
        .column
            +user_following
   
template(name='user_friends')
    .ui.dividing.header 
        +i name='friends'
        |friends
    +friend_button
    .ui.header friends of
    .ui.selection.link.animated.list
        each user_friended
            +user_info
            
template(name='user_following')
    +follow_button
    .ui.header 
        +i name='renew-subscription'
        |following
    .ui.selection.link.animated.list
        each following_users
            +user_info
    .ui.header 
        |followed by
    .ui.selection.link.animated.list
        each followed_by_users
            +user_info
  
template(name="user_messages")               
    .ui.dividing.header 
        +i name='envelope'
        |messages
    if currentUser
        unless is_current_user
            +send_message_button
    .ui.small.header
        +i name='sent'
        |sent
    .ui.list 
        each user_messages_sent
            |#{body}
    .ui.small.header
        +i name='internal'
        |received
    .ui.list 
        each user_messages_received
            |#{body}
            
            
template(name='send_message_button')
    .ui.button.send_message
        +i name='envelope'
        span.mobile.hidden
            unless currentUser.hide_menu_labels
                |send message
            
template(name="user_reviews")               
    .ui.dividing.header 
        +i name='star'
        |reviews
    .ui.link.selection.animated.list 
        each user_review_docs
            |#{amount}

template(name='user_posts')
    .ui.inline.dividing.header 
        +i name='blog'
        |user posts
    if is_current_user
        .ui.circular.button.add_user_post
            i.large.plus.icon
    .ui.selection.link.animated.divided.list
        each user_model_docs 'post'
            a.item.fly_left(href="/post/#{_id}") 
                if image_id
                    img.ui.small.inline.image(src="{{c.url image_id height=200 width=200 background='white' crop='pad'}}")
                .content 
                    .header
                        |#{title}
                    .description
                        |#{when}

template(name='profile_deposits')
    .ui.dividing.header 
        +i name='donate'
        |deposits
    // |includes 2% points card processing fee
    .ui.action.fluid.input
        input.deposit_amount(type='number' min='1' placeholder='deposit')
        .ui.icon.button.add_points   
            i.right.chevron.icon
            
    .ui.large.bulleted.list.smallscrol
        each deposit_docs
            .item 
                .content
                    .header 
                        |$#{amount}
                    .description #{when} {{long_date _timestamp}}
                    //- if is_dev
                    +remove_button








template(name='logout_other_clients_button')
    .ui.compact.button.logout_other_clients(title='logout other clients')
        +i name='globe'
        span.mobile.hidden
            unless currentUser.hide_menu_labels
                |log out other clients



template(name='logout_button')
    .ui.large.compact.button.logout(title='log out')
        // i.sign.out.alternate.icon
        +i name='exit'
        span.mobile.hidden
            unless currentUser.hide_menu_labels
                |log out