template(name='profile')
    with user_from_username_param
        if background_image_id
            img.ui.image.profile_banner(src="{{c.url background_image_id height=1000 crop='crop'}}")
        else 
            img.ui.image.profile_banner(src="{{c.url image_id height=1000 crop='crop'}}")
    // .ui.bottom.attached.pushable.segment.scrolling(class=darkmode_class)
    //     +topbar
    //     +leftbar
    //     +rightbar
    with user_from_username_param
        // if background_image_id
        //     img.ui.image.checkin_banner(src="{{c.url background_image_id height=1000 crop='crop'}}")
        // else 
        //     img.ui.image.checkin_banner(src="{{c.url image_id height=1000 crop='crop'}}")
        // img.ui.fluid.image.checkin_banner(src="{{c.url 'frontrange' width=1000 height=1000 crop='crop'}}")
        .ui.stackable.padded.grid
            .row
                //- img.ui.image.checkin_banner(src="{{c.url banner_image width=1000 height=1000 crop='crop'}}")
                .sixteen.wide.column
                    a(href="/user/#{username}")
                        .ui.inline.header
                            |@#{username}
                        // +user_pill
                    if first_name
                        .ui.inline.header #{first_name}
                    if last_name
                        .ui.inline.header #{last_name}
                    if status 
                        .ui.big.label(title='status')
                            i.clock.icon 
                            |#{status}
                    a.ui.large.label(href="/user/#{username}/points" title='points')
                        //- +i name='coins'
                        //- i.coins.icon
                        |#{points} pts
                    +link_view key='link' icon='globe'
                    if linkedin_link
                        a.ui.basic.circular.icon.button.zoomer.pointer(href=linkedin_link target='_window' title='view linkedin profile')
                            +i name='linkedin'
                    if twitter_link
                        a.ui.basic.circular.icon.button.zoomer.pointer(href=twitter_link target='_window' title='view twitter profile')
                            +i name='twitter'
                    if instagram_link
                        a.ui.basic.circular.icon.button.zoomer.pointer(href=instagram_link target='_window' title='view instagram profile')
                            +i name='instagram'
                    if facebook_link
                        a.ui.basic.circular.icon.button.zoomer.pointer(href=facebook_link target='_window' title='view facebook profile')
                            +i name='facebook'
                    if is_current_user
                        a.ui.large.icon.button.fly_up(href="/user/#{username}/edit" title='profile settings')
                            +i name='settings'
                            unless currentUser.hide_menu_labels
                                |account
                    else if currentUser.admin_mode
                        a.ui.large.icon.button.fly_up(href="/user/#{username}/edit" title='profile settings')
                            +i name='settings'
                            unless currentUser.hide_menu_labels
                                |account
                .four.wide.column.scrollin
                    // a(href="/user/#{username}")
                    img.ui.medium.rounded.image.boop.pointer.zoomer(src="{{c.url image_id height=500 width=500 gravity='face' crop='fill'}}")
                    // a(href="/user/#{username}")
                    //     img.ui.small.rounded.image.inline.boop.mobile.only(src="{{c.url image_id height=500 width=500 gravity='face' crop='fill'}}")
                    .ui.inline.small.header(title='boops')
                        +i name='tap-gesture'
                        |#{boops}
                    if publish_profile 
                        .ui.basic.label
                            i.large.green.eye.icon(title='published profile')
                            |public profile
                    else 
                        .ui.basic.label
                            i.large.lock.icon(title='private profile')
                            |private profile
                    div
                    if company 
                        .ui.large.label
                            +i name='business' 
                            |#{company}
                    if currentUser.admin_mode
                        a.ui.icon.button(href="/user/#{user_from_username_param.username}/edit" title='profile settings')
                            +i name='settings' cl='ui avatar image'
                    if bio
                        .smallscroll
                            |!{bio}
                    .smallscroll
                        each tags 
                            .ui.large.basic.label #{this}
                            // |!{bio}
                    if is_current_user
                        +logout_button
                        +logout_other_clients_button
                    if in_dev 
                        +print_this
                    unless is_current_user
                        +request_button
                        +follow_button
                        +friend_button
                .twelve.wide.column
                    if subs_ready
                        .ui.fluid.styled.accordion.alpha
                            .title
                                .ui.inline.header 
                                    +i name='info'
                                    |about
                                i.dropdown.icon
                                +text_view key='first_name' label='first name' icon='user'
                                +text_view key='last_name' label='last name' icon='user'
                                if address 
                                    +i name='marker'
                                if bio 
                                    +i name='info'
                                if company 
                                    +i name='company'
                                if linkedin_link 
                                    +i name='linkedin'
                                if twitter_link 
                                    +i name='twitter'
                                if status 
                                    .ui.label(title='status')
                                        +i name='clock'
                                        |#{status}
                                each seven_tags
                                    .ui.label #{this}
                            .content
                                div
                                +text_view key='display_name' label='display name'
                                div
                                +array_view key='tags' label='tags' icon='tags'
                                +html_view key='bio' label='bio'
                                +text_view key='status' label='status' icon='clock'
                                +text_view key='address' label='address' icon='marker' 
                                +text_view key='city' label='city' icon='marker' 
                                +text_view key='state' label='state' icon='marker' 
                                +phone_view key='phone' label='phone' icon='phone' 
                                +text_view key='company' label='company' icon='business'
                                +text_view key='linkedin_link' label='LinkedIn profile ' icon='linkedin'
                                +text_view key='twitter_link' label='twitter profile ' icon='twitter'
                                +text_view key='facebook_link' label='facebook profile ' icon='facebook'
                            +user_reviews
                            +user_posts
                            +user_groups
                            +user_services
                            +user_social
                            +user_favorites
                            +user_checkins
                            +user_points
                            +user_drafts
                            +user_events
                            if user_unread_log_docs.count
                                .title
                                    .ui.inline.header 
                                        +i name='envelope'
                                        |messages/unread logs
                                        .ui.label 
                                            |#{user_unread_log_docs.count}
                                    i.dropdown.icon
                                .content
                                    // if currentUser
                                    //     unless is_current_user
                                    //         +send_message_button
                                    each user_unread_log_docs
                                        +log_item
                                    .ui.small.header
                                        +i name='sent'
                                        |sent
                                    .ui.list 
                                        each user_messages_sent
                                            |#{body}
                                    .ui.small.header
                                        +i name='internal'
                                        |received
                                    .ui.list 
                                        each user_messages_received
                                            |#{body}
                            .title
                                a.ui.header.zoomer.calc_user_points
                                    // i.line.chart.icon
                                    +i name='line-chart'
                                    |stats
                                i.dropdown.icon
                                +send_points_button
                            .content
                                .ui.list 
                                    .item 
                                        i.eye.grey.icon
                                        |#{profile_views} 
                                        |profile views
                                    .item 
                                        i.lock.grey.icon
                                        |#{profile_views_anon} 
                                        |anon views
                                    .item 
                                        i.user.grey.icon
                                        |#{profile_views_logged_in} 
                                        |logged in views
                                    .item 
                                        i.thumbs.up.grey.icon
                                        |#{upvote_total} 
                                        |upvoted points
                                    .item 
                                        i.thumbs.down.grey.icon
                                        |#{downvote_total} 
                                        |downvoted points
                                    .item 
                                        i.coins.icon 
                                        |#{tip_count} tips totalling #{tip_total}pts
                                    .item 
                                        i.chat.icon
                                        |comment amount: #{comment_count}
                                    .item
                                        i.chat.icon
                                        |spent points:#{comment_total}
                                    .item
                                        i.eye.icon
                                        |viewed docs:#{viewed_total}
                            +user_tasks
                
                            .title 
                                .ui.inline.header 
                                    +i name='binoculars'
                                    |currently viewing
                                with current_viewing_doc
                                    a.ui.header.zoomer.fly_right(href="/doc/#{_id}")
                                        img.ui.avatar.image(src="{{c.url image_id height=300 crop='crop'}}")
        
                                        |#{title}
                                        +model_label
                            .content
                                .ui.header 
                                    +i name='history'
                                    |viewing history
                            if is_current_user
                                +profile_deposits
                            if watson
                                +watson_view
                    else 
                        .ui.basic.center.aligned.segment
                            i.massive.loading.refresh.icon
                          
                      
                            
template(name='user_events')
    .title
        .ui.inline.header 
            +i name='calendar'
            | events
        i.dropdown.icon
    .content.smallscrol
        .ui.two.column.grid 
            .column
                .ui.header 
                    +i name='king'
                    |hosted
                each hosted_docs
                    +event_item_small
            .column
                +i name='queen'
                .ui.header supported
                each hosted_docs
                    +event_item_small
            .column
                .ui.header 
                    +i name='checkmark'
                    |attended
                each hosted_docs
                    +event_item_small
            .column
                .ui.header 
                    +i name='question'
                    | maybe
                each maybe_docs
                    +event_item_small
            .column
                .ui.header 
                    +i name='cancel'
                    | no
                each no_docs
                    +event_item_small
        .ui.selection.animated.link.divided.list
            each user_favorite_docs
                .item
                    .content
                        .header
                            a.inline.fly_up(href="/doc/#{_id}")
                                img.ui.avatar.image(src="{{c.url image_id height=300 width=300 crop='crop'}}")
                                .ui.inline.header #{title}
                        .description
                            +favorite_icon_toggle
                            +when
                            +model_label
                            each three_tags
                                .ui.small.basic.label #{this}

template(name='event_item_small')
    .item #{title}


template(name='user_tasks')
    .title
        .ui.inline.header 
            +i name='tasks'
            |#{user_task_docs.count} tasks
        i.dropdown.icon
    .content 
        .ui.header authored
        .ui.header assigned
        .ui.header completed
        
        
template(name='user_checkins')
    .title
        .ui.inline.header 
            +i name='checkmark'
            |#{user_task_docs.count} checkins
        i.dropdown.icon
        each user_checkin_docs
            img.ui.avatar.image(src="{{c.url _parent_doc.image_id height=300 crop='crop'}}")
    .content 
        .ui.header authored
        .ui.header assigned
        .ui.header completed
        
        
        
template(name='user_drafts')
    if user_draft_docs.count
        .title
            .ui.inline.header 
                +i name='save'
                |#{user_draft_docs.count} drafts
            i.dropdown.icon
        .content.smallscrol
            .ui.selection.animated.link.divided.list
                each user_favorite_docs
                    .item
                        .content
                            .header
                                a.inline.fly_up(href="/doc/#{_id}")
                                    img.ui.avatar.image(src="{{c.url image_id height=300 width=300 crop='crop'}}")
                                    .ui.inline.header #{title}
                            .description
                                +favorite_icon_toggle
                                +when
                                +model_label
                                each three_tags
                                    .ui.small.basic.label #{this}
                        
template(name='user_favorites')
    if user_favorite_docs.count
        .title
            .ui.inline.header 
                +i name='heart'
                |#{user_favorite_docs.count} favorites
            i.dropdown.icon
            each user_favorite_docs
                // +model_label
                img.ui.avatar.image(src="{{c.url image_id height=300 width=300 crop='crop'}}" title="#{model}:#{title}")
        .content.smallscrol
            .ui.selection.animated.link.divided.list
                each user_favorite_docs
                    .item
                        .content
                            +model_label
                            a.ui.inline.header.fly_up(href="/doc/#{_id}")
                                img.ui.avatar.image(src="{{c.url image_id height=300 width=300 crop='crop'}}")
                                | #{title}
                            +favorite_icon_toggle
                            +when
                            each three_tags
                                .ui.small.basic.label #{this}
                        
template(name='when')
    .ui.label(title="{{long_date _timestamp}}") #{_when}
                    
                    
                 
template(name='user_points')        
    .title
        .ui.inline.header 
            +i name='coins'
            |balance: #{current_user.points}
        i.dropdown.icon
        if venmo_image
            span(title='venmo info')
                +i name='donate'
    .content
        .ui.dividing.header
            +i name='internal'
            |points in
        .ui.list
            each points_in_docs
                .ui.inline.header #{body} 
                |{amount}pts
        .ui.dividing.header
            +i name='donate'
            |points out
        .ui.list
            each points_out_docs
                .ui.inline.header #{body} 
                |{amount}pts
        .ui.dividing.header
            +i name='donate'
            |tips
        .ui.list
            each tips_docs
                a.item.fly_left(href="/#{_parent.model}/#{parent_id}")
                    strong #{_parent.title} 
                    small {amount}pts
        .ui.dividing.header 
            +i name='blog'
            |posts
        .ui.small.header publish costs
        .ui.small.header earned points
        

        .ui.dividing.header 
            +i name='chat'
            |comments
        .ui.small.header 
            small comment amount:
            strong #{comment_count}
        .ui.small.header 
            small spent points:
            strong #{comment_total}
        if venmo_image
            img.ui.image(src="{{c.url venmo_image }}")
            
    
                 
template(name='user_products')                 
    .ui.dividing.header 
        +i name='shop'
        |user products
    each user_product_docs 
        .ui.header #{title}
                 
                 
template(name='user_comments')                 
    .ui.header 
        +i name='chat'
        |user comments
    .ui.divided.animated.link.list
        each user_comment_docs
            a.item(href="/#{parent_model}/#{parent_id}")
                .meta
                    |#{_when}
                .description #{body}
                +print_this
    +comments
                 
                 
template(name='user_groups')   
    if user_group_memberships.count
        .title
            .ui.inline.header 
                +i name='groups'
                |#{user_group_memberships.count}
                |groups
            i.dropdown.icon
            each user_group_memberships
                // +doc_item
                img.ui.avatar.image(src="{{c.url image_id height=200 width=200 background='white' crop='pad'}}" title=title)
        .content
            .ui.selection.link.animated.large.list    
                each user_group_memberships
                    // +doc_item
                    a.item.zoomer.fly_left(href="/doc/#{_id}")
                        img.ui.avatar.image(src="{{c.url image_id height=200 width=200 background='white' crop='pad'}}")
                        .ui.inline.header
                            strong #{title}
                        each ten_tags 
                            .ui.small.basic.label #{this}
                     
template(name='user_services')
    .title
        .ui.inline.header 
            +i name='wrench'
            |services
        i.dropdown.icon
    .content
        each user_service_docs 
            .item #{title}
        .ui.header 
            +i name='shopping-cart'
            |purchases
        .ui.list 
            each service_purchas_docs 
                .item 
                    |#{_parent.title} #{amount}
            
        
                     
                    
template(name='user_social')
    .title
        .ui.inline.header 
            +i name='friends'
            |social
        i.dropdown.icon
        if refered_user_docs.count
            span(title='refered users')
                +i name='omnichannel'
                each refered_user_docs
                    img.ui.avatar.image(src="{{c.url image_id height=200 width=200 background='white' crop='pad'}}" title=title)
            
    .content
        .ui.two.column.stackable.grid
            .column
                +friend_button
                .ui.header friends of
                .ui.selection.link.animated.list
                    each user_friended
                        +user_info
            .column
                .ui.header following
                .ui.header followed by
                .ui.header comments
                +user_following
            .column
                .ui.inline.header refered by
                with refered_by_user
                    +user_info
                div
                .ui.inline.header 
                    +i name='omnichannel'
                    |refered
                each refered_user_docs
                    +user_info
   
template(name='user_friends')
            
template(name='user_following')
    +follow_button
    .ui.header 
        +i name='renew-subscription'
        |following
    .ui.selection.link.animated.list
        each following_users
            +user_info
    .ui.header 
        |followed by
    .ui.selection.link.animated.list
        each followed_by_users
            +user_info
  
            
template(name='send_message_button')
    .ui.button.send_message
        +i name='envelope'
        span.mobile.hidden
            unless currentUser.hide_menu_labels
                |send message
            
template(name="user_reviews") 
    if user_review_docs.count
        // .ui.fluid.styled.accordion.alpha
        .title
            .ui.header 
                +i name='star'
                |#{user_review_docs.count} reviews
        .content
            .ui.link.selection.animated.list 
                each user_review_docs
                    |#{amount}

template(name='user_posts')
    if user_authored_post_docs.count
        // .ui.fluid.styled.accordion.alpha
        .title
            .ui.inline.header 
                +i name='blog'
                |#{user_authored_post_docs.count}
                |authored posts
            i.dropdown.large.icon
            // if is_current_user
            //     .ui.circular.button.add_user_post
            //         i.large.plus.icon
            each user_authored_post_docs
                if image_id
                    img.ui.avatar.image(src="{{c.url image_id height=200 width=200 background='white' crop='pad'}}" title=title)
        .content
            .ui.selection.link.animated.divided.list.scrolling
                each user_authored_post_docs
                    a.item.fly_left(href="/doc/#{_id}") 
                        if image_id
                            img.ui.tiny.inline.image(src="{{c.url image_id height=200 width=200 background='white' crop='pad'}}")
                            .ui.inline.header
                                |#{title}
                            .description
                                |#{_when}
                                each ten_tags
                                    .ui.basic.label #{this}
                            if watson 
                                +doc_sentiment
                                +doc_emotion
                            

template(name='profile_deposits')
    // .ui.fluid.accordion.alpha.zoomer
    .title
        .ui.header 
            +i name='donate'
            |#{deposit_docs.count} deposits
        // |includes 2% points card processing fee
    .content
        
        // .ui.action.fluid.input
        //     input.deposit_amount(type='number' min='1' placeholder='deposit')
        //     .ui.icon.button.add_points   
        //         i.right.chevron.icon
        img.ui.image(src="{{c.url 'dao_venmo'}}")
        .ui.header donate here with your username in the message
        .ui.large.bulleted.list.smallscrol
            each deposit_docs
                .item 
                    .content
                        .header 
                            |$#{amount}
                        .description #{_when} {{long_date _timestamp}}
                        //- if is_dev
                        +remove_button








template(name='logout_other_clients_button')
    .ui.compact.button.logout_other_clients(title='logout other clients')
        +i name='globe'
        span.mobile.hidden
            unless currentUser.hide_menu_labels
                |log out other clients



template(name='logout_button')
    .ui.large.button.logout(title='log out')
        // i.sign.out.alternate.icon
        +i name='exit'
        span.mobile.hidden
            unless currentUser.hide_menu_labels
                |log out
                
                
