template(name='profile')
    with user_from_username_param
        if background_image_id
            img.ui.image.nav_banner(src="{{c.url background_image_id height=1000 crop='crop'}}")
        else 
            img.ui.image.nav_banner(src="{{c.url image_id height=1000 crop='crop'}}")
    // .ui.bottom.attached.pushable.segment.scrolling(class=darkmode_class)
    //     +topbar
    //     +leftbar
    //     +rightbar
    with user_from_username_param
        if background_image_id
            img.ui.image.checkin_banner(src="{{c.url background_image_id height=1000 crop='crop'}}")
        else 
            img.ui.image.checkin_banner(src="{{c.url image_id height=1000 crop='crop'}}")
        // img.ui.fluid.image.checkin_banner(src="{{c.url 'frontrange' width=1000 height=1000 crop='crop'}}")
        .ui.stackable.padded.grid
            .row
                //- img.ui.image.checkin_banner(src="{{c.url banner_image width=1000 height=1000 crop='crop'}}")
                .four.wide.column.scrollin
                    // a(href="/user/#{username}")
                    img.ui.medium.rounded.image.boop(src="{{c.url image_id height=500 width=500 gravity='face' crop='fill'}}")
                    // a(href="/user/#{username}")
                    //     img.ui.small.rounded.image.inline.boop.mobile.only(src="{{c.url image_id height=500 width=500 gravity='face' crop='fill'}}")
                    .ui.inline.small.header(title='boops')
                        +i name='tap-gesture'
                        |#{boops}
                    a(href="/user/#{username}")
                        .ui.inline.header
                            |#{name}
                        // +user_pill
                    a.ui.large.label(href="/user/#{username}/points" title='points')
                        //- +i name='coins'
                        //- i.coins.icon
                        |#{points} pts
                    if first_name
                        .ui.inline.header #{first_name}
                    if last_name
                        .ui.inline.header #{last_name}
                    if company 
                        .ui.header
                            +i name='business' 
                            |#{company}
                    +link_view key='link' icon='globe'
                    if linkedin_link
                        .ui.circular.compact.button(href=linkedin_link target='_window')
                            +i name='linkedin'
                    if twitter_link
                        .ui.circular.compact.button(href=twitter_link target='_window')
                            +i name='twitter'
                    a.ui.large.icon.fluid.button.fly_up(href="/user/#{username}/edit" title='profile settings')
                        +i name='settings'
                        unless currentUser.hide_menu_labels
                            |account
                    div
                    .ui.accordion
                        .active.title
                            a.ui.small.grey.header.zoomer.calc_user_points
                                i.line.chart.icon
                                |stats
                        .active.content
                            .ui.list 
                                .item 
                                    i.eye.grey.icon
                                    |#{profile_views} 
                                    |profile views
                                .item 
                                    i.lock.grey.icon
                                    |#{profile_views_anon} 
                                    |anon views
                                .item 
                                    i.user.grey.icon
                                    |#{profile_views_logged_in} 
                                    |logged in views
                                .item 
                                    i.thumbs.up.grey.icon
                                    |#{upvote_total} 
                                    |upvoted points
                                .item 
                                    i.thumbs.down.grey.icon
                                    |#{downvote_total} 
                                    |downvoted points
                                .item 
                                    i.coins.icon 
                                    |#{tip_count} tips totalling #{tip_total}pts
                                .item 
                                    i.chat.icon
                                    |comment amount: #{comment_count}
                                .item
                                    i.chat.icon
                                    |spent points:#{comment_total}
                
                    if is_admin
                        a.ui.icon.button(href="/user/#{user_from_username_param.username}/edit" title='profile settings')
                            +i name='settings' cl='ui avatar image'
                    if is_current_user
                        +logout_button
                        +logout_other_clients_button
                    if in_dev 
                        +print_this
                    unless is_current_user
                        +request_button
                        +follow_button
                        +friend_button
                    +send_points_button
                .twelve.wide.column
                    if subs_ready
                        if has_bio
                            .ui.header 
                                +i name='info'
                                |about
                            .smallscroll !{bio}
                            if watson
                                +watson_view
                        .ui.header 
                            +i name='envelope'
                            |messages/unread logs
                            if unread_log_docs
                                .ui.label 
                                    |#{unread_log_docs.count}
                        // if currentUser
                        //     unless is_current_user
                        //         +send_message_button
                        each unread_log_docs
                            +log_item
                        .ui.small.header
                            +i name='sent'
                            |sent
                        .ui.list 
                            each user_messages_sent
                                |#{body}
                        .ui.small.header
                            +i name='internal'
                            |received
                        .ui.list 
                            each user_messages_received
                                |#{body}
    
                        if is_current_user
                            +profile_deposits
                        +user_reviews
                        +user_posts
                        +user_groups
                        +user_friends
                        .ui.segment.alpha
                            +user_favorites
                        .ui.segment.alpha
                            .ui.header 
                                +i name='coins'
                                |points
                            +user_points
                    else 
                        .ui.basic.center.aligned.segment
                            i.massive.loading.refresh.icon
                          
                            
                            
template(name='user_favorites')
    .ui.header
        +i name='heart'
        |#{user_favorite_docs.count} favorites
    .content.smallscroll
        .ui.selection.animated.link.list
            each user_favorite_docs
                a.item.fly_up(href="/doc/#{_id}")
                    img.ui.avatar.image(src="{{c.url image_id height=300 width=300 crop='crop'}}")
                    .inline.header #{title}
                    +when
                    +model_label
                    each three_tags
                        .ui.small.basic.label #{this}
                    
template(name='when')
    .ui.label(title="{{long_date _timestamp}}") #{when}
                    
                    
template(name='model_label')
    if is model 'post' 
        +i name='blog'
    else if is model 'event'
        +i name='calendar'
    else if is model 'group'
        +i name='campfire'
    else if is model 'service'
        +i name='service'
    else if is model 'log'
        +i name='event-log'

    // .ui.label 
    //     |#{model}
                            
                 
template(name='user_points')        
    .ui.stackable.padded.grid
        .one.column.row
            .column
                .ui.dividing.header 
                    +i name='coins'
                    |user balance
                .ui.dividing.header
                    +i name='internal'
                    |points in
                .ui.list
                    each points_in_docs
                        .ui.inline.header #{body} 
                        |{amount}pts
                .ui.dividing.header
                    +i name='donate'
                    |points out
                .ui.list
                    each points_out_docs
                        .ui.inline.header #{body} 
                        |{amount}pts
            .column
                .ui.dividing.header
                    +i name='donate'
                    |tips
                .ui.list
                    each tips_docs
                        a.item.fly_left(href="/#{_parent.model}/#{parent_id}")
                            strong #{_parent.title} 
                            small {amount}pts
                .ui.dividing.header 
                    +i name='blog'
                    |posts
                .ui.small.header publish costs
                .ui.small.header earned points
                
    
                .ui.dividing.header 
                    +i name='chat'
                    |comments
                .ui.small.header 
                    small comment amount:
                    strong #{comment_count}
                .ui.small.header 
                    small spent points:
                    strong #{comment_total}
                    
    
                 
template(name='user_products')                 
    .ui.dividing.header 
        +i name='shop'
        |user products
    each user_product_docs 
        .ui.header #{title}
                 
template(name='user_about')                 
    .ui.dividing.header 
        +i name='info'
        |user info
    +text_view key='first_name' label='first name' icon='user'
    div
    +text_view key='last_name' label='last name' icon='user'
    div
    +text_view key='display_name' label='display name'
    div
    +array_view key='tags' label='tags' icon='tags'
    +html_view key='bio' label='bio'
    +text_view key='status' label='status' icon='clock'
    +text_view key='address' label='address' icon='marker' 
    +text_view key='city' label='city' icon='marker' 
    +text_view key='state' label='state' icon='marker' 
    +phone_view key='phone' label='phone' icon='phone' 
    +text_view key='company' label='company' icon='business'
    +text_view key='linkedin_link' label='LinkedIn profile ' icon='linkedin'
    +text_view key='twitter_link' label='twitter profile ' icon='twitter'
    +text_view key='facebook_link' label='facebook profile ' icon='facebook'
                 
                 
template(name='user_comments')                 
    .ui.header 
        +i name='chat'
        |user comments
    .ui.divided.animated.link.list
        each user_comment_docs
            a.item(href="/#{parent_model}/#{parent_id}")
                .meta
                    |#{when}
                .description #{body}
                +print_this
    +comments
                 
                 
template(name='user_groups')   
    .title
        .ui.header 
            +i name='groups'
            |user groups
    .content
        .ui.list    
            each user_group_memberships
                a.item(href="/doc/#{_id}")
                    img.ui.small.inline.image(src="{{c.url image_id height=200 width=200 background='white' crop='pad'}}")
                    |#{title}
                 
                    
template(name='user_social')
    .ui.stackable.padded.two.column.grid 
        .column
            .ui.header 
                +i name='friends'
                |user social
            +user_friends   
        .column
            +user_following
   
template(name='user_friends')
    .title
        .ui.header 
            +i name='friends'
            |friends
    .content
        +friend_button
        .ui.header friends of
        .ui.selection.link.animated.list
            each user_friended
                +user_info
            
template(name='user_following')
    +follow_button
    .ui.header 
        +i name='renew-subscription'
        |following
    .ui.selection.link.animated.list
        each following_users
            +user_info
    .ui.header 
        |followed by
    .ui.selection.link.animated.list
        each followed_by_users
            +user_info
  
            
template(name='send_message_button')
    .ui.button.send_message
        +i name='envelope'
        span.mobile.hidden
            unless currentUser.hide_menu_labels
                |send message
            
template(name="user_reviews") 
    .title
        .ui.header 
            +i name='star'
            |#{user_review_docs.count} reviews
    .content
        .ui.link.selection.animated.list 
            each user_review_docs
                |#{amount}

template(name='user_posts')
    .ui.segment.alpha
        .ui.header 
            +i name='blog'
            |authored posts
        // if is_current_user
        //     .ui.circular.button.add_user_post
        //         i.large.plus.icon
        .ui.selection.link.animated.divided.list.scrolling
            each user_model_docs 'post'
                a.item.fly_left(href="/doc/#{_id}") 
                    if image_id
                        img.ui.small.inline.image(src="{{c.url image_id height=200 width=200 background='white' crop='pad'}}")
                    .content 
                        .header
                            |#{title}
                        .description
                            |#{when}

template(name='profile_deposits')
    .title
        .ui.header 
            +i name='donate'
            |#{deposit_docs.count} deposits
        // |includes 2% points card processing fee
    .content
        .ui.action.fluid.input
            input.deposit_amount(type='number' min='1' placeholder='deposit')
            .ui.icon.button.add_points   
                i.right.chevron.icon
                
        .ui.large.bulleted.list.smallscrol
            each deposit_docs
                .item 
                    .content
                        .header 
                            |$#{amount}
                        .description #{when} {{long_date _timestamp}}
                        //- if is_dev
                        +remove_button








template(name='logout_other_clients_button')
    .ui.compact.button.logout_other_clients(title='logout other clients')
        +i name='globe'
        span.mobile.hidden
            unless currentUser.hide_menu_labels
                |log out other clients



template(name='logout_button')
    .ui.large.compact.button.logout(title='log out')
        // i.sign.out.alternate.icon
        +i name='exit'
        span.mobile.hidden
            unless currentUser.hide_menu_labels
                |log out
                
                
template(name='account')
    with user_from_username_param          
        img.ui.fluid.image.checkin_banner(src="{{c.url image_id width=1000 height=1000 crop='crop'}}")
        //- img.ui.fluid.image.checkin_banner(src="{{c.url banner_image_id width=1000 height=500 crop='crop'}}")    
        .ui.stackable.padded.grid
            .three.column.row
                .column
                    .ui.center.aligned.large.inline.grey.header
                    //- +i name='pencil'
                    .ui.small.inline.header @#{username}
                    a.ui.green.fluid.icon.button.fly_down(href="/user/#{username}/") 
                        i.checkmark.large.icon
                    .ui.hidden.divider
                    +image_edit key='image_id' icon='picture' title='profile image' 
                    +image_edit key='background_image_id' icon='picture' title='background image' 
                .column
                    +text_edit key='first_name' label='first name' icon='user'
                    div
                    +text_edit key='last_name' label='last name' icon='user'
                    div
                    +text_edit key='display_name' label='display name'
                    div
                    +text_edit key='status' label='status' icon='clock'
                    div
                    +array_edit key='tags' label='tags' icon='tags'
                    div
                    if in_dev 
                        +number_edit key='points' label='points'
                .column
                    +boolean_edit key='has_bio' label='has bio (-1p)' icon='content'
                    if has_bio
                        +html_edit key='bio' label='bio'
                .column
                    +text_edit key='address' label='address' icon='marker' 
                    div
                    +text_edit key='city' label='city' icon='marker' 
                    div
                    +text_edit key='state' label='state' icon='marker' 
                    div
                    +phone_edit key='phone' label='phone' icon='phone' 
                    div
                    +link_edit key='link' label='external link' icon='globe'
                    div
                    +text_edit key='company' label='company' icon='business'
                .column
                    if is_current_user
                        +password_edit
                        //- +phone_editor
                        +username_edit
                    else if in_dev
                        +password_edit
                        //- +phone_editor
                        +username_edit
                    if currentUser.admin
                        with user_from_username_param
                            .ui.orange.button.remove_user 
                                i.remove.icon
                                |delete user
                    +boolean_edit key='admin' label='admin' icon='shield' 
                    +link_edit key='link' label='profile link' icon='globe'
                    .ui.container
                        div
                        +text_edit key='linkedin_link' label='linked in profile ' icon='linkedin'
                        div
                        +text_edit key='twitter_link' label='twitter profile ' icon='twitter'
                        div
                        +text_edit key='facebook_link' label='facebook profile ' icon='facebook'
                .column
                    .ui.segment 
                        .ui.header
                            +i name='paint'
                            |appearance 
                        .ui.header icon theme
                        // +text_edit key='icon_class' label='icon class'
                        +key_value_edit key='icon_class' value=null label='none'
                        +key_value_edit key='icon_class' value='ios' label='outline'
                        +key_value_edit key='icon_class' value='color' label='color'
                        +key_value_edit key='icon_class' value='ultraviolet' label='blue'
                        +key_value_edit key='icon_class' value='stickers' label='stickers'
                        +key_value_edit key='icon_class' value='dotty' label='dots'
                        +key_value_edit key='icon_class' value='office' label='office'
                        +key_value_edit key='icon_class' value='simple' label='simple'
                        .ui.header hide menu labels
                        +key_value_edit key='hide_menu_labels' value=true label='yes'
                        +key_value_edit key='hide_menu_labels' value=false label='no'
                        .ui.header invert 
                        +boolean_edit key='darkmode' label='darkmode' icon='lightbulb'

template(name='user_single_doc_ref_editor')
    .ui.header #{label}
    each choices
        .ui.button.select_choice(class=choice_class title=title)
            i.icon(class=icon)
            |#{title}

template(name='username_edit')
    .ui.small.header 
        i.i.cursor.icon
        |change username [#{user_from_username_param.username}]
    .ui.icon.fluid.input
        input.new_username(type='text' placeholder='new username...')
        i.play.link.icon.change_username

template(name='password_edit')
    .ui.small.grey.header
        +i name='password'
        |change password
    //- .ui.fluid.input
    //-     input#password(type='password', placeholder='old password')
    .ui.icon.input
        input#new_password(type='password', placeholder='new password')
    // if is_dev
    //     .ui.fluid.button.send_enrollment_email
    //         |send enrollment email
    // if is_admin
    //     .ui.fluid.button.reset_password
    //         |reset password
    .ui.large.button.set_password
        +i name='password' cl='ui mini inline image'
        | set password