template(name='profile_layout')
    +nav
    .ui.bottom.attached.pushable.segment.scrolling
        +topbar
        +leftbar
        +rightbar
        with user_from_username_param
            if background_image_id
                img.ui.image.checkin_banner(src="{{c.url background_image_id height=1000 crop='crop'}}")
            else 
                img.ui.image.checkin_banner(src="{{c.url image_id height=1000 crop='crop'}}")
            // img.ui.fluid.image.checkin_banner(src="{{c.url 'frontrange' width=1000 height=1000 crop='crop'}}")
            .ui.stackable.padded.grid
                .row
                    //- img.ui.image.checkin_banner(src="{{c.url banner_image width=1000 height=1000 crop='crop'}}")
                    .four.wide.column
                        +profile_left_column
                    .twelve.wide.column
                        a.ui.compact.circular.button(href="/user/#{username}")
                            +i name='dashboard'
                            |dashboard
                        +profile_menu_item key='about' icon='info'
                        +profile_menu_item key='points' icon='coins'
                        +profile_menu_item key='social' icon='friends'
                        +profile_menu_item key='posts' icon='blog'
                        +profile_menu_item key='products' icon='shop'
                        +profile_menu_item key='rentals' icon='clock'
                        +profile_menu_item key='services' icon='wrench'
                        +profile_menu_item key='groups' icon='groups'
                        +profile_menu_item key='comments' icon='chat'
                        .scrolling
                            if subs_ready
                                +yield
                            else 
                                .ui.basic.center.aligned.segment
                                    i.massive.loading.refresh.icon
                          
template(name='profile_left_column')                          
    a.item(href="/user/#{username}")
        img.ui.centered.rounded.image.boop(src="{{c.url image_id height=500 width=500 gravity='face' crop='fill'}}")
    .spacer
    a(href="/user/#{username}")
        .ui.header
            strong @#{username}
            //- small @#{user.username}        
        a.ui.header(href="/user/#{username}/points" title='points')
            //- +i name='coins'
            //- i.coins.icon
            |#{points} pts
    if first_name
        .ui.inline.header #{first_name}
    if last_name
        .ui.inline.header #{last_name}
    div
    if company 
        .ui.header
            +i name='business' 
            |#{company}
    if linkedin_link
        .ui.circular.compact.button(href=linkedin_link target='_window')
            +i name='linkedin'
    if twitter_link
        .ui.circular.compact.button(href=twitter_link target='_window')
            +i name='twitter'
    a.ui.large.icon.compact.button(href="/user/#{username}/edit" title='profile settings')
        i.cog.large.icon
        |account
    .ui.list 
        .item 
            i.eye.grey.icon
            |#{profile_views} 
            |profile views
        .item 
            i.lock.grey.icon
            |#{profile_views_anon} 
            |anon views
        .item 
            i.user.grey.icon
            |#{profile_views_logged_in} 
            |logged in views
    .ui.center.aligned.inline.header(title='boops')
        +i name='tap-gesture'
        |#{boops}

    if is_admin
        a.ui.icon.button(href="/user/#{user_from_username_param.username}/edit" title='profile settings')
            +i name='settings' cl='ui avatar image'
    if is_current_user
        +logout_button
        +logout_other_clients_button
    if in_dev 
        +print_this
    +send_points_button
    +request_button
    // i.refresh.link.icon.calc_user_points
                          
                          
                            
template(name='profile_menu_item')
    a.ui.compact.circular.button(href="/user/#{current_user.username}/#{key}" class="{{isActiveRoute regex=key}}" )
        +i name=icon
        |#{key}
                 
                 
template(name='user_points')                 
    .ui.header 
        +i name='coins'
        |user balance
    .ui.header
        |points in
    .ui.list
        each points_in_docs
            .ui.inline.header #{body} 
            |{amount}pts
    .ui.header
        |points out
    .ui.list
        each points_out_docs
            .ui.inline.header #{body} 
            |{amount}pts
    
    
                 
template(name='user_products')                 
    .ui.header 
        +i name='shop'
        |user products
                 
template(name='user_about')                 
    .ui.header 
        +i name='info'
        |user info
                 
                 
template(name='user_comments')                 
    .ui.header 
        +i name='chat'
        |user comments
                 
                 
template(name='user_groups')                 
    .ui.header 
        +i name='groups'
        |user groups
    a.ui.button.fly_right(href="/groups")
        +i name='campfire'
        |groups
    .ui.list    
        each group_memberships
            a.item(href="/group/#{_id}") #{title}
                 
template(name='user_social')
    .ui.header 
        +i name='friends'
        |user social
    +user_friends   
                    
template(name='user_dashboard')
    .ui.padded.grid 
        .two.column.row
            .column 
                if bio
                    |!{bio}
                if watson
                    +watson_view
                +user_messages
                if is_current_user
                    .column
                        +profile_deposits
            .column
                +user_reviews
            .column
                +user_posts
                a.ui.header(href="/groups")
                    +i name='groups'
                    |groups
                .ui.list
                    each user_groups
                        a.item(href="/group/#{_id}") #{title}
            .column
                if user_is_resident
                    +user_resident_info
                +user_friends
            .column
                +user_rentals
            .column
                +user_credit
   
   
template(name='user_friends')
    .ui.header 
        +i name='friends'
        |friends
    .ui.selection.link.animated.list
        each user_friended
            +user_info
    .ui.selection.link.animated.list
        each user_friended_by
            +user_info
  
template(name='user_resident_info')   
    //- if is_staff
    +number_view key='unit_number' label='Unit #' direct=true
    +number_view key='building_number' label='Building #' direct=true
    +number_view key='healthclub_code' label='Healthclub Code' direct=true
    +text_view key='building_code' label='Building Code' direct=true
    +date_view key='start_date' label='Start Date' direct=true
    +date_view key='expiration_date' label='Expiration Date' direct=true
   
template(name="user_messages")               
    .ui.header 
        +i name='envelope'
        |messages
    +send_message_button
    .ui.small.header
        +i name='sent'
        |sent
    .ui.list 
        each user_messages_sent
            |#{body}
    .ui.small.header
        +i name='internal'
        |received
    .ui.list 
        each user_messages_received
            |#{body}
            
            
template(name='send_message_button')
    .ui.button.send_message
        |send message
            
template(name="user_reviews")               
    .ui.header 
        +i name='star'
        |reviews
    .ui.list 
        each user_review_docs
            |#{amount}

template(name='user_posts')
    .ui.inline.header 
        +i name='blog'
        |user posts
    .ui.circular.button.add_user_post
        i.large.plus.icon
    .ui.selection.link.animated.large.divided.list
        each user_model_docs 'post'
            a.item.fly_left(href="/post/#{_id}") 
                if image_id
                    img.ui.small.inline.image(src="{{c.url image_id height=200 width=200 background='white' crop='pad'}}")
                .content 
                    .header
                        |#{title}
                    .description
                        |#{when}

template(name='profile_deposits')
    .ui.header 
        +i name='donate'
        |deposits
    // |includes 2% points card processing fee
    .ui.action.fluid.input
        input.deposit_amount(type='number' min='1' placeholder='deposit')
        .ui.icon.button.add_points   
            i.right.chevron.icon
            
    .ui.large.bulleted.list.smallscroll
        each deposit_docs
            .item 
                .content
                    .header 
                        |$#{amount}
                    .description #{when} {{long_date _timestamp}}
                    //- if is_dev
                    +remove_button






template(name='user_credit')
    .ui.header 
        +i name='donate'
        |points sent
    .scrolling
        .ui.items
            each sent_transfer_docs
                +transfer_item
    .ui.header 
        +i name='internal'
        |points received
    .ui.button.send_points
        i.send.icon
        |send points
    .scrolling
        .ui.items
            each received_transfer_docs
                +transfer_item



template(name='logout_other_clients_button')
    .ui.compact.button.logout_other_clients(title='logout other clients')
        +i name='globe'
        |log out other clients



template(name='logout_button')
    .ui.large.compact.button.logout(title='log out')
        // i.sign.out.alternate.icon
        +i name='exit'
        |log out


// template(name='profile_order_item')
//     .ui.segment.grid
//         .row
//             .column
//                 .ui.header #{rental.title}
//         .row
//             .column
//                 with rental
//                     //- img.ui.mini.image(src=image)
//                     +image_view key='image_id' direct=true cl='zoom ui tiny image'
//             .column
//                 a.ui.header.inline.lowercase(href="/order/#{_id}/")
//                     small from 
//                     |{{cal_time start_datetime}}
//                 a.ui.header.inline.lowercase(href="/order/#{_id}/")
//                     small to 
//                     |{{cal_time end_datetime}}
//                 div
//                 .ui.grey.inline.header #{hour_duration} hrs
//                 .ui.grey.inline.header(title='pointss')
//                     i.coins.icon
//                     | #{cost}
//                 .ui.small.inline.header #{when} by #{_author_username}
//                 a.ui.large.button(href="/order/#{_id}/")
//                     |view
//                     i.right.chevron.icon
//                 if is_admin
//                     +remove_button
