template(name='reddit')
    .ui.stackable.padded.grid
        .row
            .sixteen.wide.center.aligned.column
                each picked_tags
                    button.ui.compact.big.rounded.button.unpick_tag(tabindex="0" class="#{loading_class} #{active_term_class}")
                        i.minus.icon
                        .ui.inline.small.header #{this}
                            
                        //- button.ui.active.large.button.unpick_tag(tabindex='0' style=background_style class=emotion_color)
                //- .ui.inline.small.header(class=emotion_color) {{fixed omega_doc.current_max_emotion_percent}}% #{omega_doc.current_most_emotion}
                // if not_searching 
                //     .ui.center.aligned.basic.segment
                //         i.massive.yin.yang.grey.icon
                // +session_toggle key='view_images' label='images' icon='image'
                // +session_toggle key='view_external' label='external' icon='external'
                .ui.icon.search.input(class=search_class title="#{emotion_avg_result.avg_sent_score} sentiment")
                    // if is_loading
                    //     if home_subs_ready
                    unless is_loading
                        i.search.link.icon.refresh_agg
                        // i.yin.yang.big.loading.link.icon.reconnect
                    if is_loading
                        i.yin.yang.big.loading.icon
                    //- input#search(type='text' autofocus='' autocomplete="off" value=current_query)
                    input#search(type='text' autofocus='' autocomplete="off" placeholder='consult the dao...')
                //- .ui.header #{connection.status}
                with emotion_avg_result
                    // .ui.basic.label
                    //     |{{to_percent avg_sent_score}}%
                    //     small sentiment
                    if above_50 avg_joy_score
                        .ui.green.basic.inverted.label
                            |{{to_percent avg_joy_score}}%
                            small joyful
                    if above_50 avg_anger_score
                        .ui.red.basic.inverted.label
                            |{{to_percent avg_anger_score}}%
                            small angry
                    if above_50 avg_sadness_score
                        .ui.blue.basic.inverted.label
                            |{{to_percent avg_sadness_score}}%
                            small sad
                    if above_50 avg_disgust_score
                        .ui.orange.basic.inverted.label
                            |{{to_percent avg_disgust_score}}%
                            small disgusted
                    if above_50 avg_fear_score
                        .ui.grey.basic.inverted.label
                            |{{to_percent avg_fear_score}}%
                            small fearful
                    if currentUser
                        +session_boolean_toggle key='view_nsfw' label='view nsfw' icon='18-plus'
                
                div
                unless connected
                    //- .ui.header disconnected
                    //- .ui.hidden.divider
                    .ui.big.inverted.basic.button
                        i.lightning.icon
                        |reconnect
                if connected
                    // if searching 
                    //     each terms 
                    //         +search_term
                    // else 
                    if is_loading
                        i.large.yin.yang.loading.icon
                    each unpicked_tags
                        +agg_tag
                    // div
                    // .ui.inline.small.header
                    //     i.large.globe.icon(title='domains')
                    //     |domain
                    // if picked_domain
                    //     .ui.button.unpick_domain #{picked_subreddit}
                    // each domain_results
                    //     .ui.large.image.link.inverted.basic.label.zoomer.pick_domain #{name}
                    // div
                    // .ui.inline.small.header
                    //     i.large.reddit.icon(title='domains')
                    //     |subreddit
                    // if picked_subreddit
                    //     .ui.button.unpick_subreddit #{picked_subreddit}
                    // each subreddit_results
                    //     .ui.large.image.link.inverted.basic.label.zoomer.pick_subreddit #{name}
                // if in_dev 
                //     .ui.divider
                //     .ui.header is_loading #{is_loading}
                //     .ui.header current query  {{sval 'current_query'}}
                //     .ui.header dummy  {{sval 'dummy'}}
                // .ui.items
                // if doc_results
                //     .ui.divider
                // .ui.animated.big.link.divided.list.scrolling
                // .ui.hidden.divider
                // div.sorting
                //     // +session_icon_button key='view_mode' value='grid' icon='grid' 
                //     // +session_icon_button key='view_mode' value='list' icon='list'
                //     +sort_direction_toggle
                //     +session_set key='sort_key' value='_timestamp' label='added' icon='clock'
                //     +session_set key='sort_key' value='comment_count' label='comments' icon='chat'
                //     +session_set key='sort_key' value='domain' label='domain' icon='globe'
                //     +session_set key='sort_key' value='ups' label='ups' icon='thumbs up'
                //     +session_set key='sort_key' value='points' label='points' icon='hashtag'
            .sixteen.wide.column
                // .ui.hidden.divider
                if subs_ready
                    // if session_is 'view_mode' 'list'
                    //     .ui.selection.animated.list 
                    //         each doc_results
                    //             +reddit_item
                    // else
                    .ui.stackable.centered.cards.scrolling
                        each doc_results
                            +reddit_card
                        // +small_card
                // else 
                //     .ui.center.aligned.basic.segment
                //         i.massive.yin.yang.grey.loading.icon
template(name='reddit_card')
    .card
        if is_image
            a.fly_right(href="/reddit/#{_id}")
                img.ui.image.zoomer(src=url title='view article')
        else if has_thumbnail
            a.fly_right(href="/reddit/#{_id}")
                img.ui.fluid.image.zoomer(src=thumbnail title='view article')
        if rd.media_embed.content
            // .invert
            |!{unescaped_content}
        else if rd.selftext_html
            |!{unescaped}

        .content.autotag.pointer.zoomer
            a.ui.small.header.zoomer.fly_right(href="/reddit/#{_id}" title='view document') !{title}
            // .ui.inverted.basic.label
            //     i.globe.grey.icon 
            //     |#{domain}
            // .ui.inverted.basic.label
            //     i.thumbs.up.grey.icon 
            //     |#{ups}
            // .ui.inverted.basic.label
            //     i.comment.grey.icon 
            //     |#{num_comments}
            // // .ui.inverted.basic.label.zoomer.pick_subreddit
            // //     |subreddit: #{subreddit}
            // .ui.inverted.basic.label(title="added {{long_date _timestamp}}")
            //     i.grey.clock.icon
            //     |#{_when}
            each five_cleaned_tags
                a.ui.basic.inverted.label.pick_flat_tag.zoomer(title='add tag') 
                    |#{this}
            if over_18
                .ui.inverted.red.label.invert
                    +i name='nsfw'
            if currentUser.admin_mode
                +print_this
            if doc_sentiment_label
                +doc_sentiment
                +doc_emotion
            // unless doc_sentiment_label 
            //     .ui.icon.big.inverted.button.autotag.zoomer(title='breakdown emotions') 
            //         i.large.chess.grey.icon
            //     // +call_watson key=rd.selftext
        
// template(name='session_toggle')
//     .ui.button.toggle
//         i.large.icon(class=icon)
        
                   
template(name='shortcut')                   
    i.big.icon.go.spaced.zoomer(class=icon title=key)
                    
template(name='agg_tag')
    // button.ui.big.compact.basic.active.fade.animated.button.result(tabindex="0" title=count)
    button.ui.big.black.button.result(tabindex="0" title=count)
        // .visible.content
        if term_image
            img.ui.avatar.image(src="{{c.url term_image.image_id width=200 height=200 gravity='face' crop='fill'}}")

        strong #{name}
        // .hidden.content
        //     |+ #{title}
        // if term.image
        //     //- button.ui.compact.button(tabindex="0" title=count)
        //     //- img.ui.mini.inline.image(src=term.image)
        //     img.ui.mini.inline.image(src=term.image)
        //     .ui.inline.small.thin.header(class=tag_result_class) #{title}
        // else
        //     //- button.ui.compact.button(tabindex="0" title=count)
        //- small #{count}


template(name='reddit_view')
    with current_doc 
        .ui.stackable.padded.grid 
            .eleven.wide.column
                a.ui.basic.compact.inverted.button.fly_left.zoomer(href="/reddit" title='back to browse')
                    i.chevron.left.icon
                    +i name='reddit'
                    |reddit
                .ui.inline.header !{title}
                .scrolling
                    if rd.selftext_html
                        |!{unescaped}
                    // blockquote(class="imgur-embed-pub invert" lang="en" data-id="UsxLSe0")
                    //     a(href=rd.url) Lauren, supergirl, batgirl [Super best friends &amp; lauren faust])
                    // script(async src="//s.imgur.com/min/embed.js" charset="utf-8")
                    with rd
                        embed(src=url)
                    if rd.media_embed
                        // .invert
                        |!{unescaped_content}
                    // +call_watson key=rd.selftext
                    if watson 
                        +watson_view
                    if in_dev
                        +print_this
                    if is_image
                        img.ui.image(src=url)
            .five.wide.column
                a.ui.header(href=rd.url target='_window') #{rd.url}
                if thumbnail
                    img.ui.centered.rounded.image(src=thumbnail)
                .ui.list 
                    .item domain #{domain}
                    // .item model #{model}
                    .item permalink #{permalink}
                    // .item reddit_id #{reddit_id}
                    .item 
                        small mined by
                        strong #{_author_username}
                .ui.button.pull_post
                    i.download.icon
                    |get post
                +voting_full
                .ui.large.inverted.label.zoomer
                    +i name='chat'
                    |#{comment_count} comments
                if over_18
                    .ui.large.inverted.red.label.zoomer(title='adult content')
                        +i name='18-plus'
                a.ui.large.inverted.button.zoomer(href=url target='_window')
                    i.external.icon
                    | #{url}
                each tags 
                    a.ui.large.basic.inverted.label.zoomer.pick_flat_tag(title='search tag') #{this}
                .ui.big.inverted.basic.label.zoomer.picker.pick_subreddit(title='browse subreddit')
                    +i name='reddit'
                    |subreddit #{subreddit}
                .ui.big.inverted.basic.label 
                    +i name='facebook-like'
                    | #{ups} upvotes
                .ui.big.inverted.basic.label 
                    +i name='chat'
                    | #{num_comments} comments