template(name='services')
    .ui.stackable.padded.grid 
        .four.wide.column
            .ui.inline.header 
                +i name='settings'
                |services
            if currentUser
                +add_doc_button model='service'
            +session_boolean_toggle key='view_mine' label='mine' icon='user'
            div
            +facet key='tag' model='service' icon='tags'
        .twelve.wide.column
            +session_set key='view_mode' value='grid' icon='th'
            +session_set key='view_mode' value='list' icon='list'
            i.large.sort.icon
            +session_set key='sort_key' value='_timestamp' label='added' icon='clock'
            +session_set key='sort_key' value='points' label='points' icon='hashtag'
            .scrolling
                if subs_ready
                    .ui.centered.stackable.cards
                        each service_docs 
                            +service_card
                else 
                    +loading_icon


template(name='user_services')
    .ui.header 
        +i name='wrench'
        |user services
        .ui.list 
        each user_service_docs 
            .item #{title}
    .ui.header 
        +i name='shopping-cart'
        |purchases
    .ui.list 
        each service_purchas_docs 
            .item 
                |#{_parent.title} #{amount}
        
        

template(name='service_card')
    .ui.link.card.view_service.pointer.fly_right
        img.ui.fluid.rounded.image(src="{{c.url image_id height=200 width=400 gravity='face' crop='fill'}}" class=currentUser.invert_class)
        .content
            a.ui.header.zoomer(href="/service/#{_id}") #{title}
            if private 
                i.large.lock.icon
            .ui.small.grey.inline.header #{when}
            | !{content}
            // +comments_view_small
            +author_info
            if group_id     
                +group_info
            .ui.label 
                i.eye.icon
                |#{views}
            
        
template(name='service_item')
    .ui.fluid.segment.view_service.pointer
        a.ui.header(href="/service/#{_id}/view") #{title}
        div
        .ui.small.grey.inline.header #{when}
        | #{content}
        each tags 
            .ui.basic.small.label #{this}
        

template(name='service_view')
    with current_doc
        .ui.stackable.padded.grid
            .row 
                .four.wide.column.scrolling
                    a.ui.circular.icon.button(href="/services" title='services')
                        i.chevron.left.icon
                        +i name='service'
                        |services
                    .ui.inline.grey.header {{from_now start_datetime}}
                    
                    if can_edit
                        a.ui.circular.icon.button.fly_down(href="/service/#{_id}/edit" title='edit')
                            +i name='pencil'
                    .ui.segment
                        .ui.header 
                            small author
                        a.ui.header(href="/user/#{_author.username}") 
                            img.ui.avatar.image(src="{{c.url _author.image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                            |#{_author.username}
                    .ui.list
                        .item #{views} views
                    each viewers
                        .ui.label #{username
                    +array_view key='tags' label='tags' direct=true
                    +link_view key='link' label='link'
                    +voting_full
                    +array_view key='location_tags' label='location_tags' direct=true
                    +visibility_settings
                    +group_widget
                .twelve.wide.column.scrolling
                    .ui.header #{title}
                    img.ui.rounded.image(src="{{c.url image_id }}" class=currentUser.invert_class)
                    // a.ui.header(href="/user/#{target.username}")
                    //     |#{target.username}
                    |!{content}
                    if watson 
                        +watson_view
                    div 
                    .spacer
                    .spacer
                    +comments
                // .four.wide.column
                
                    //- .ui.fluid.green.button.submit
                    //-     i.checkmark.icon
                    //-     |submit

template(name='service_edit')
    with current_doc
        .ui.stackable.padded.grid
            .three.column.row 
                .column.scrollin
                    .ui.inline.header 
                        +icolor name='news' cl='ui image inline pointer'
                        |editing service
                    a.ui.green.big.button(href="/service/#{_id}/view" title='save')
                        i.checkmark.big.icon
                        |save
                    +text_edit key='title' label='title' direct=true
                    
                    // +boolean_edit key='has_content' label='has content' icon='content' direct=true
                    // if has_content
                    +html_edit key='content' label='content' direct=true
                    +call_watson key='content'
                .column.scrollin
                    .ui.red.button.delete_service
                        i.large.link.red.remove.icon
                        |remove
                    div
                    if is_dev
                        +single_user_edit key='_author_id' label='author' direct=true
                    else 
                        .ui.inline.header 
                            small author
                            |#{_author.username}
                    // +boolean_edit key='has_image' label='has image' icon='content' direct=true
                    // if has_image
                    +image_edit key='image_id' label='image' direct=true
                    div 
                    +link_edit key='link' label='link'
                    +array_edit key='tags' label='tags' direct=true icon='tags'
                    +boolean_edit key='published' icon='visible' direct=true
                    if is_dev 
                        +text_edit key='model' label='model' direct=true
                .column.scrollin
                    +array_edit key='location_tags' label='location tags' icon='marker' direct=true
                    +publish_button
                    +audience_settings
                    +group_picker