template(name='services')
    .ui.stackable.padded.grid 
        .sixteen.wide.column
            .ui.inline.header 
                +i name='settings'
                |services
            if currentUser
                .ui.icon.button.add_service
                    i.plus.large.icon
            .ui.compact.button.toggle_yours
                if viewing_yours
                    i.undo.green.icon
                else
                    i.circle.outline.icon
                |yours
            each picked_tags
                a.ui.blue.button.unpick_service_tag
                    |#{this}
            each tag_results
                // if title
                a.ui.compact.button.pick_service_tag
                    |#{name} 
                    // small.ui.grey.text #{count}
            // +session_set key='view_mode' value='grid' icon='th'
            // +session_set key='view_mode' value='list' icon='list'
            i.large.sort.icon
            +session_set key='sort_key' value='_timestamp' label='added' icon='clock'
            +session_set key='sort_key' value='points' label='points' icon='hashtag'
        .sixteen.wide.column
            if subs_ready
                .ui.centered.stackable.fluid.five.cards
                    each service_docs 
                        +service_card
            else 
                i.massive.yin.yang.loading.icon


template(name='set_service_sort_key')
    .item.set_sort
        if color
            .ui.label(class=color) #{label}
        else 
            if emoji
                em(data-emoji=emoji)
            else if icon
                i.icon(class=icon)
            |#{label}
        
        
                
               
               
template(name='user_services')
    .ui.header user services
        
        

template(name='set_view_mode_service')
    .item.set_view
        i.icon(class=icon)
        |#{title}


// template(name='set_limit')
    .ui.compact.small.basic.button.set_limit #{amount}



template(name='service_card')
    .ui.link.card.view_service.pointer.fly_right
        img.ui.fluid.rounded.image(src="{{c.url image_id height=200 width=400 gravity='face' crop='fill'}}" class=currentUser.invert_class)
        .content
            a.ui.header.zoomer(href="/service/#{_id}") #{title}
            if private 
                i.large.lock.icon
            .ui.small.grey.inline.header #{when}
            | !{content}
            // +comments_view_small
            +author_info
            if group_id     
                +group_info
            
        
template(name='service_item')
    .ui.fluid.segment.view_service.pointer
        a.ui.header(href="/service/#{_id}/view") #{title}
        div
        .ui.small.grey.inline.header #{when}
        | #{content}
        each tags 
            .ui.basic.small.label #{this}
        

template(name='service_view')
    with current_doc
        .ui.stackable.padded.grid
            .row 
                .four.wide.column.scrolling
                    a.ui.circular.icon.button(href="/services" title='services')
                        i.chevron.left.icon
                        +i name='service'
                        |services
                    .ui.inline.grey.header {{from_now start_datetime}}
                    
                    if can_edit
                        a.ui.circular.icon.button.fly_down(href="/service/#{_id}/edit" title='edit')
                            +i name='pencil'
                    .ui.segment
                        .ui.header 
                            small author
                        a.ui.header(href="/user/#{_author.username}") 
                            img.ui.avatar.image(src="{{c.url _author.image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                            |#{_author.username}
                    .ui.list
                        .item #{views} views
                    each viewers
                        .ui.label #{username
                    +array_view key='tags' label='tags' direct=true
                    +voting_full
                    +array_view key='location_tags' label='location_tags' direct=true
                    +visibility_settings
                    +group_widget
                .twelve.wide.column.scrolling
                    .ui.header #{title}
                    img.ui.rounded.image(src="{{c.url image_id }}" class=currentUser.invert_class)
                    // a.ui.header(href="/user/#{target.username}")
                    //     |#{target.username}
                    |!{content}
                    if watson 
                        +watson_view
                    div 
                    .spacer
                    .spacer
                    +comments
                // .four.wide.column
                
                    //- .ui.fluid.green.button.submit
                    //-     i.checkmark.icon
                    //-     |submit





template(name='service_edit')
    with current_doc
        .ui.stackable.padded.grid
            .three.column.row 
                .column.scrolling
                    .ui.inline.header 
                        +icolor name='news' cl='ui image inline pointer'
                        |editing service
                    a.ui.green.big.button(href="/service/#{_id}/view" title='save')
                        i.checkmark.big.icon
                        |save
                    +text_edit key='title' label='title' direct=true
                    
                    // +boolean_edit key='has_content' label='has content' icon='content' direct=true
                    // if has_content
                    +html_edit key='content' label='content' direct=true
                .column.scrolling
                    .ui.red.button.delete_service
                        i.large.link.red.remove.icon
                        |remove
                    div
                    if is_dev
                        +single_user_edit key='_author_id' label='author' direct=true
                    else 
                        .ui.inline.header 
                            small author
                            |#{_author.username}
                    // +boolean_edit key='has_image' label='has image' icon='content' direct=true
                    // if has_image
                    +image_edit key='image_id' label='image' direct=true
                    div 
                    +array_edit key='tags' label='tags' direct=true icon='tags'
                    +boolean_edit key='published' icon='visible' direct=true
                    if is_dev 
                        +text_edit key='model' label='model' direct=true
                .column.scrolling
                    +array_edit key='location_tags' label='location tags' icon='marker' direct=true
                    // unless published
                    //     a.ui.fluid.green.button.submit
                    //         i.checkmark.icon
                    //         |publish
                    // else
                    //     .ui.basic.button.unpublish 
                    //         |unpublish
                    .ui.header
                        |audience
                    +boolean_edit key='private' label='private' 
                    if private 
                        +multi_user_edit key='access_user_ids' label='user picker' direct=true
                    +group_picker