template(name='user_services')
    .ui.header 
        +i name='wrench'
        |user services
        .ui.list 
        each user_service_docs 
            .item #{title}
    .ui.header 
        +i name='shopping-cart'
        |purchases
    .ui.list 
        each service_purchas_docs 
            .item 
                |#{_parent.title} #{amount}
        
        

template(name='service_card')
    .ui.link.card.view_service.pointer.fly_right
        img.ui.fluid.rounded.image(src="{{c.url image_id height=200 width=400 gravity='face' crop='fill'}}" class=currentUser.invert_class)
        .content
            a.ui.header.zoomer(href="/service/#{_id}") #{title}
            if private 
                i.large.lock.icon
            .ui.small.grey.inline.header #{when}
            | !{content}
            // +comments_view_small
            +author_info
            if group_id     
                +group_info
            .ui.label 
                i.eye.icon
                |#{views}
            
        
template(name='service_item')
    .ui.fluid.segment.view_service.pointer
        a.ui.header(href="/service/#{_id}/view") #{title}
        div
        .ui.small.grey.inline.header #{when}
        | #{content}
        each tags 
            .ui.basic.small.label #{this}
        

template(name='service_view')
    .ui.stackable.padded.grid
        .row 
            .four.wide.column.scrolling
                a.ui.circular.icon.button(href="/services" title='services')
                    i.chevron.left.icon
                    +i name='service'
                    |services
                .ui.inline.grey.header {{from_now start_datetime}}
                
                if can_edit
                    a.ui.circular.icon.button.fly_down(href="/service/#{_id}/edit" title='edit')
                        +i name='pencil'
                .ui.segment
                    .ui.header 
                        small author
                    a.ui.header(href="/user/#{_author.username}") 
                        img.ui.avatar.image(src="{{c.url _author.image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                        |#{_author.username}
                .ui.list
                    .item #{views} views
                each viewers
                    .ui.label #{username
                +array_view key='tags' label='tags' direct=true
                +link_view key='link' label='link'
                +voting_full
                +array_view key='location_tags' label='location_tags' direct=true
                +visibility_settings
                +group_widget
            .twelve.wide.column.scrolling
                .ui.header #{title}
                img.ui.rounded.image(src="{{c.url image_id }}" class=currentUser.invert_class)
                // a.ui.header(href="/user/#{target.username}")
                //     |#{target.username}
                |!{content}
                div 
                .spacer
                .spacer
                +comments
            // .four.wide.column
            
                //- .ui.fluid.green.button.submit
                //-     i.checkmark.icon
                //-     |submit

template(name='service_edit')
    .ui.stackable.padded.grid
        .two.column.row 
            .column.scrollin
                .ui.inline.header 
                    +icolor name='wrench' cl='ui image inline pointer'
                    |editing service
            .column.scrollin
                +number_edit key='price' label='price (pts)' icon='coins'
                +array_edit key='location_tags' label='location tags' icon='marker' direct=true
                +audience_settings