template(name='task_card')
    .ui.card.view_task.pointer.fly_right
        img.ui.fluid.rounded.image(src="{{c.url image_id height=200 width=400 gravity='face' crop='fill'}}" class=currentUser.invert_class)
        .content
            a.ui.header(href="/doc/#{_id}") #{title}
            if private 
                i.large.lock.icon
            .ui.small.grey.header #{when}
            .smallscroll
                | !{content}
            // +comments_view_small
            +author_info
            if group_id     
                +group_info
            
        
template(name='task_item')
    a.ui.inline.header(href="/doc/#{_id}/view") #{title}
    .ui.small.grey.inline.header #{when}
    | !{content}
    each tags 
        .ui.basic.small.label #{this}
        

template(name='task_view')
    .ui.stackable.padded.grid
        .row 
            .four.wide.column
                .ui.inline.grey.header {{from_now start_datetime}}
                
                if can_edit
                    a.ui.circular.icon.button.edit_task(href="/doc/#{_id}/edit" title='edit')
                        +i name='pencil'
                .ui.segment
                    .ui.header 
                        small author
                    a.ui.header(href="/user/#{_author.username}") 
                        img.ui.avatar.image(src="{{c.url _author.image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                        |#{_author.username}
                .ui.list
                    .item #{views} views
                each viewers
                    .ui.label #{username
                +array_view key='tags' label='tags' direct=true
                +voting_full
                +array_view key='location_tags' label='location_tags' direct=true
                +visibility_settings
                +group_widget
            .twelve.wide.column.scrolling
                .ui.header #{title}
                img.ui.rounded.image(src="{{c.url image_id }}" class=currentUser.invert_class)
                // a.ui.header(href="/user/#{target.username}")
                //     |#{target.username}
                |!{content}
                div 
                .spacer
                .spacer
                +comments
            // .four.wide.column
            
                //- .ui.fluid.green.button.submit
                //-     i.checkmark.icon
                //-     |submit





template(name='task_edit')
    .ui.stackable.padded.grid
        .row 
            .sixteen.wide.column
                .ui.header
                    |audience
                +boolean_edit key='private' label='private' 
                if private 
                    +multi_user_edit key='access_user_ids' label='user picker' direct=true
                // +boolean_edit key='has_content' icon='content' direct=true
                // if has_content
                +array_edit key='location_tags' label='location tags' icon='marker' direct=true