template(name='units')
    .ui.stackable.padded.grid
        .sixteen.wide.column
            .ui.inline.header 
                +i name='bedroom'
                |units
            .ui.icon.button.add_unit
                i.plus.icon
            .ui.cards
                each unit_docs
                    +unit_card
            
            
            


template(name='unit_view')
    with current_doc
        .ui.stackable.padded.grid
            .four.wide.column
                a.ui.large.button.fly_left(href="/units")
                    i.large.left.chevron.icon
                    +i name='cubes'
                    |units
                a.ui.big.button(href="/building/#{building_code}")
                    i.large.left.chevron.icon
                    |#{building_code}
                .ui.header
                    i.home.icon 
                    //- +i name='apartment'
                    |unit
                    |#{unit_number}
                .ui.header 
                    |Building #{building_number}
                .ui.header 
                    |building #{building_code}
                if can_edit
                    +text_edit key='building_code' label='building_code' direct=true
                    +number_edit key='building_number' label='building number' direct=true
                    +textarea_edit key='notes' direct=true
                +user_key
            .twelve.wide.column
                +unit_residents
                +unit_owners
                if is_springdale
                    +unit_permits

            
template(name='unit_card')
    a.ui.card(href="/unit/#{_id}") 
        .content 
            .ui.header #{unit_number}, 
            .ui.header
                |building number
                +i name='building'
                |#{building_number}

            
template(name='unit_permits')            
    .ui.segment
        .ui.header 
            +i name='badge'
            |Unit Permits
        .ui.cards
            each permits
                .ui.card
                    .content
                        with resident 
                            +username_info
                        +date_view key='expiration_date' icon='calendar delete' direct=true
                        +text_view key='permit' icon='badge' direct=true
                        +text_view key='license_plate' icon='driver-license-card' direct=true

template(name='unit_owners')            
    .ui.segment
        .ui.header 
            //- +i name='rent'
            i.money.icon
            |Unit Owners
        .ui.four.cards
            each owners
                .ui.card
                    .image
                        img.ui.image(src="{{c.url image_id width=300 height=300 gravity='face' crop='fill'}}")
                    .content
                        a.header(href="/user/#{username}")
                             |#{first_name} #{last_name} 
                            .meta @#{username}
                            //- +array_view key='tags' label='Tags' direct=true


template(name='unit_residents')            
    .ui.segment
        .ui.header
            //- +i name='group'
            i.users.icon
            |Unit Residents
        .ui.four.cards
            each unit_resident_docs
                .ui.card
                    .image
                        img.ui.image(src="{{c.url image_id width=300 height=300 gravity='face' crop='fill'}}")
                    .content
                        a.header(href="/user/#{username}")
                             |#{first_name} #{last_name} 
                            .meta @#{username}
                            .meta 
                                i.calendar.icon(title='expiration date')
                                |#{expiration_date}
                            //- +array_view key='tags' label='Tags' direct=true


template(name='user_key')
    .ui.segment
        .ui.grey.inline.center.aligned.small.header 
            i.key.icon
            //- +i name='key'
            |Key
        if is_admin
            +goto_model slug='key'
        with key
            +boolean_view key='key_exists' label='key exists' direct=true
            //- +number_view key='building_number' label='building number' direct=true
            //- +number_view key='unit_number' label='unit #' direct=true
            div
            if is_admin
                +number_view key='tag_number' label='tag number' direct=true
            if is_staff
                if viewing_code
                    .ui.massive.yellow.basic.label
                        if fowler
                            +boolean_view key='fowler' label='fowler' direct=true
                        else
                            +number_view key='tag_number' label='tag number' direct=true
                else
                    .ui.icon.button.view_code
                        i.lock.icon
                    //- +i name='enter-pin' classes='view_code pointer' title='view code'

            if is_admin
                div
                +edit_button
                +view_button
            if is_staff
                .ui.tiny.grey.header
                    i.grey.shield.icon
                    |Access Log            
                .ui.list.smallscroll
                    each access_log
                        .item #{when} by #{_author_username}


template(name='unit_edit')         
    with current_doc
        .ui.padded.two.column.centered.grid
            .column
                +image_edit key='image_id'
                h2.ui.center.aligned.header #{unit_number} #{building_number} 
                +number_edit key='unit_number' label='unit number' direct=true
                +number_edit key='building_number' label='building number' direct=true
                +text_edit key='address' label='address' direct=true
                // +text_edit key='email' label='Email' direct=true
            .column
                a.ui.big.fluid.icon.green.button(href="/unit/#{_id}")
                    i.checkmark.big.icon