template(name='service_card')
    .ui.card(class=service_card_class)
        .image
            img.ui.zoom.pointer.goto_service.image(src="{{c.url image_id width=400 height=300 crop='pad'}}")
        .content
            a.ui.header(href="/service/#{_id}/view") 
                //- |#{_author.name}'s
                | #{title}
            //- if session_is 'view_tags' true
            +ismall name='tags'
            each tags
                .ui.small.circular.label #{this}
        //- .ui.inline.small.header tags
        .content
            .right.floated.meta
                | {{from_now datetime_available}}
            //- if session_is 'view_users' true
            a(href="/user/#{cook.username}")
                img.ui.avatar.image(src="{{c.url cook.image_id width=400 height=600 crop='fit'}}")
                |#{cook.username}
        //- a.image(href="/service/#{_id}/view")
            
        .content    
            |#{hourly_rate}/hr
            |#{daily_rate}/day
            if can_edit
                a.ui.large.icon.button(href="/service/#{_id}/edit")
                    i.pencil.icon
        //- .ui.bottom.attached.buttons        
        //-     .ui.green.button.quickbuy
        //-         i.lightning.icon
        //-         |buy
        //-     a.ui.button(href="/service/#{_id}/view")
        //-         |view
        //-         i.right.chevron.icon
