template(name='post_card')
    .ui.card(class=post_card_class)
        .image
            img.ui.zoom.pointer.goto_post.image(src="{{c.url image_id width=400 height=300 crop='pad'}}")
        .content
            a.ui.header(href="/post/#{_id}/view") 
                //- |#{_author.name}'s
                | #{title}
            //- if session_is 'view_tags' true
            +ismall name='tags'
            each tags
                .ui.small.circular.label #{this}
        //- .ui.inline.small.header tags
        .content
            .right.floated.meta
                | {{from_now datetime_available}}
            //- if session_is 'view_users' true
            a(href="/user/#{cook.username}")
                img.ui.avatar.image(src="{{c.url cook.image_id width=400 height=600 crop='fit'}}")
                |#{cook.username}
        //- a.image(href="/post/#{_id}/view")
            
        .content    
            |#{hourly_rate}/hr
            |#{daily_rate}/day
            if can_edit
                a.ui.large.icon.button(href="/post/#{_id}/edit")
                    i.pencil.icon
            .ui.green.button.quickbuy
                i.lightning.icon
                |buy
            a.ui.button(href="/post/#{_id}/view")
                |view
                i.right.chevron.icon


template(name='post_view')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column 
                    a.ui.fluid.basic.button(href="/posts")
                        i.left.chevron.icon
                        +i name='wrench' cl='ui inline avatar image'
                        |posts
                    .ui.header view post
                    if can_edit
                        a.ui.big.fluid.button(href="/post/#{_id}/edit")
                            i.pencil.icon
                            |edit
                    +image_view key='image_id' label='image' direct=true
                    //- +voting_full
                    //- +viewing
                .eight.wide.column
                    h1.ui.header #{title} 
                    +textarea_view key='description' icon='content' label='description' direct=true
                    +array_view key='location_tags' label='location tags' icon='marker' direct=true
                    +array_view key='tags' label='tags' icon='tags' direct=true
                    +text_view key='contact_info' label='contact info' icon='info' direct=true
                    div
                    +comments
                    +post_reservations
                .four.wide.column 
                    +number_view key='hourly_rate' label='hourly rate' icon='money' direct=true
                    div
                    +post_history
                    //- +post_subscription
                    //- +multi_user_view key='associated_members' label='associated members' icon='groups' direct=true

                    
                
template(name='post_history')
    +ismall name='rss'
    .ui.inline.header
        |activity
    .ui.list
        each post_events
            .item #{text} #{when}
            
template(name='post_subscription')
    //- +ismall name='renew-subscription'
    //- .ui.inline.header
    //-     |subscription settings
    .ui.button.subscribe subscribe to updates
    .ui.list
        each subscribers
            .item #{text} #{when}
            
template(name='post_reservations')
    .ui.header
        +ismall name='invoice'
        |post reservations
    .ui.button.new_reservation
        |new reservation
    each reservations
        .ui.segment
            .ui.header #{when}
            .ui.header by #{_author_username}
            +view_button
            +edit_button
