template(name='login')
    .ui.padded.stackable.grid
        .centered.row
            .eight.wide.column
                h1.ui.center.aligned.header
                    | gold run login
                .ui.inline.small.header 
                    +i name='user-male'
                    |username
                .ui.fluid.large.input(class=login_class)
                    input.username(type='text')
                .spacer
                .ui.inline.small.header 
                    +i name='password'
                    | password
                .ui.fluid.large.input(class=login_class)
                    input.password(type='password')
                //- if username
                //- if logging_in
                .ui.fluid.big.basic.button.enter(title="login #{username}" class=enter_class)
                    +i name='internal' classes='ui mini inline image'
                    |login
                    strong #{username}
                    //- i.right.chevron.icon
                .ui.center.aligned.basic.segment    
                    a.ui.compact.small.basic.button(href='/forgot_password')
                        +i name='forgot-password' classes='ui mini inline image'                    
                        |forgot password
