template(name='register')
    .ui.padded.stackable.grid
        .centered.row
            .ten.wide.column
                .ui.header gold run registration
                .ui.fluid.labeled.input(class=login_class)
                    .ui.small.inline.header 
                        i.user.grey.icon
                        |username
                    input.username(type='text')
                .ui.fluid.labeled.input(class=login_class)
                    .ui.small.inline.header 
                        i.lock.grey.icon
                        | password
                    input.password(type='password')
                .ui.fluid.labeled.input(class=login_class)
                    .ui.small.inline.header 
                        i.lock.grey.icon
                        | password again
                    input.password2(type='password')
                if username
                    if registering
                        .ui.fluid.large.button.enter(class=enter_class)
                            i.user.plus.icon
                            |register '#{username}'
                    else
                        .ui.small.header username "#{username}" found
                        a.ui.button(href='/login') login
                        
                        
                .ui.center.aligned.basic.segment    
                    //- .ui.small.header By clicking Register, you agree to our 
                    //-     a(href='https://henry-health.com/privacy-policy/' target="_window") Privacy Policy
                    .ui.small.header or
                        a.ui.sign.in.button(href='/login') 
                            |login
                            i.right.chevron.icon
                    
