template(name='thoughts')
    .ui.stackable.padded.grid
        .row
            .four.wide.column
                .ui.grey.header 
                    i.brain.icon
                    |thoughts
                +cloud filter='thought'
            .seven.wide.column.largescroll
                each thoughts 
                    .ui.segment.pointer.select_thought(class=thought_segment_class)
                        each tags 
                            .ui.large.label #{this}
                        | by #{_author_username} #{when}
                        if points
                            .ui.label #{points}pts
                        //- a.ui.icon.button(href="/m/thought/#{_id}/view")
                        //-     i.chevron.right.icon
            .five.wide.column
                if selected_thought_doc
                    .ui.icon.right.floated.button.unselect_thought
                        i.remove.icon
                    with selected_thought_doc
                        +selected_thought
                else 
                    .ui.small.button.new_thought 
                        i.plus.icon
                        |new thought 
                    i.refresh.link.icon.refresh_thoughts_stats
                    with thoughts_stats_doc
                        .ui.small.grey.header #{total_thoughts} total thoughts 
                        .ui.small.grey.header #{week_thoughts_count} thoughts this week
                        .ui.small.grey.header #{day_thoughts_count} thoughts today
                    


template(name='selected_thought')
    if editing_thought 
        +array_edit key='tags' direct=true
        div
        .ui.icon.large.button.save_thought(title='save thought') 
            i.checkmark.green.large.icon
        .ui.icon.small.button.delete_thought(title='delete thought') 
            i.remove.icon
    else 
        +array_view key='tags' direct=true
        div
        .ui.icon.large.button.edit_thought(title='edit thought') 
            i.pencil.blue.large.icon
        div
        +voting_full
        
    //- +comments
