template(name='time_session_card_template')
    .ui.segment 
        with result 
            a.ui.header(href="/m/time_session/#{_id}/view") #{title}
            div
            .ui.horizontal.list 
                .item(title='views')
                    i.eye.icon 
                    |#{views}
                .item(title='points')
                    i.thumbs.up.outline.icon
                    |#{points}
                if time_session_list_id 
                    .item(title='time_session list')
                        i.list.icon 
                        |#{time_session_list.title}
                .item(title='tags')
                    i.grey.tags.icon 
                    each five_tags
                        .ui.small.label #{this}

template(name='time_session_view')
    with current_doc
        .ui.stackable.padded.grid
            .row 
                .four.wide.column
                    a.ui.fluid.button(href="/m/time_session")
                        i.left.chevron.icon
                        |time sessions
                    a.ui.fluid.button(href="/m/time_session/#{_id}/edit") 
                        i.pencil.icon
                        |edit
                    //- +multi_user_edit key='subscriber_ids' label='subscriptions' direct=true
                    +author_info
                    div
                    +creation_info
                    div
                    +viewing
                    .ui.grey.header
                        i.small.grey.thumbs.up.outline.icon
                        |voting
                    +voting_full
                .eight.wide.column
                    if task_id
                        .ui.fluid.button.goto_task
                            i.up.chevron.icon
                            |task
                    .ui.header #{title}
                    .ui.header from {{from_now start_timestamp}}
                    +datetime_view key='start_datetime' label='start date/time' direct=true
                    +datetime_view key='end_datetime' label='end date/time' direct=true
            
                    | !{description}
                    each tags 
                        .ui.label #{this}
                    div
                    +comments


template(name='time_session_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row 
                .eight.wide.column
                    a.ui.fluid.large.button(href="/m/time_session/#{_id}/view") 
                        i.checkmark.icon
                        |save
                    +datetime_edit key='start_datetime' label='start date/time' direct=true
                    +datetime_edit key='end_datetime' label='end date/time' direct=true
                .eight.wide.column
                    .ui.header editing time session
                    +text_edit key='title' label='title' direct=true
                    +html_edit key='description' label='description' direct=true
                    div 
                    +array_edit key='tags' label='tags' direct=true
            
